Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(backend): audit the cross-tenant probes POST /practice-sessions/ was already rejecting (#2146)
  backend/openapi.json
  backend/src/routers/practice_sessions.py
  backend/src/schemas/checkin.py
  backend/tests/security/test_idor.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

docs: stop presenting MCP as the adepthood-Creek Vault transport
  NORTH-STAR.md
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: none

feat(backend): re-vendor Creek's /v1 bundle at contract 0.8.0 and raise the pin
  .secrets.baseline
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/tests/fixtures/creek_v1/README.md
  backend/tests/fixtures/creek_v1/examples/capabilities/empty.json
  backend/tests/fixtures/creek_v1/examples/capabilities/success.json
  backend/tests/fixtures/creek_v1/examples/upload/care-escalation.json
  backend/tests/fixtures/creek_v1/examples/upload/empty.json
  backend/tests/fixtures/creek_v1/examples/upload/incompatible-version.json
  backend/tests/fixtures/creek_v1/examples/upload/malformed-input.json
  backend/tests/fixtures/creek_v1/examples/upload/refusal.json
  backend/tests/fixtures/creek_v1/examples/upload/success.json
  backend/tests/fixtures/creek_v1/examples/upload/unavailable-service.json
  backend/tests/fixtures/creek_v1/manifest.json
  backend/tests/fixtures/creek_v1/retry-policy.json
  backend/tests/fixtures/creek_v1/schemas/CapabilitiesResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/ErrorEnvelope.schema.json
  backend/tests/fixtures/creek_v1/schemas/NotApplicableExample.schema.json
  backend/tests/fixtures/creek_v1/schemas/UploadRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/UploadResponse.schema.json
  backend/tests/fixtures/creek_v1/vendor.json
  backend/tests/scripts/test_creek_contract_drift.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_upload.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

docs(adr): record operator-side ontologization as ADR 0005
  backend/tests/test_adr_references.py
  docs/adr/0005-operator-side-ontologization.md
Due: backend-tests-coverage

fix(design): ease the bottom fade and dissolve the reader into its own sheet
  frontend/src/components/layout/BottomFade.tsx
  frontend/src/components/layout/__tests__/BottomFade.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): reveal the reader's chapter controls only at the essay's end
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Course/__tests__/readerGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): let the Creek drift gate install its dependency again
  .github/workflows/creek-contract-drift.yml
Due: none

test(full-stack): make journey coverage a checked claim, not a belief
  .github/workflows/e2e.yml
  AGENTS.md
  CLAUDE.md
  frontend/__tests__/journeyLedger.test.ts
  frontend/__tests__/journeyLedger.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): reveal the reader's chapter controls at the essay's end, over an honest bottom fade (#2302)
  frontend/src/components/layout/BottomFade.tsx
  frontend/src/components/layout/__tests__/BottomFade.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Course/__tests__/readerGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(test): judge a spec turned off by its registrations, not by its text
  frontend/__tests__/journeyLedger.test.ts
  frontend/__tests__/journeyLedger.ts
  frontend/e2e/README.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): answer a refused upload capability honestly rather than "try again"
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_upload.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
  docs/creek-vault-mcp-contract.md
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/seedCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(adr): record operator-side ontologization as ADR 0005 (#2303)
  backend/tests/test_adr_references.py
  docs/adr/0005-operator-side-ontologization.md
Due: backend-tests-coverage

test(full-stack): make journey coverage a checked claim, not a belief (#2304)
  .github/workflows/e2e.yml
  AGENTS.md
  CLAUDE.md
  frontend/__tests__/journeyLedger.test.ts
  frontend/__tests__/journeyLedger.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(full-stack): cover the custom-practice adoption journey end to end
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-catalog.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(full-stack): cover the course read-and-mark-progress journey
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/course.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(full-stack): cover the practice session-logging journey end to end
  .github/workflows/e2e.yml
  backend/tests/e2e/server.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/e2e/practice.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(full-stack): cover the custom-practice adoption journey end to end (#2306)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-catalog.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(full-stack): cover the course read-and-mark-progress journey (#2307)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/course.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(full-stack): cover the practice session-logging journey end to end (#2308)
  .github/workflows/e2e.yml
  backend/tests/e2e/server.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/e2e/practice.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(e2e): declare the seed-upload journey the copy change touches
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(backend): re-vendor Creek's /v1 bundle at contract 0.8.0 and raise the pin (#2301)
  .github/workflows/creek-contract-drift.yml
  .secrets.baseline
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_upload.py
  backend/tests/fixtures/creek_v1/README.md
  backend/tests/fixtures/creek_v1/examples/capabilities/empty.json
  backend/tests/fixtures/creek_v1/examples/capabilities/success.json
  backend/tests/fixtures/creek_v1/examples/upload/care-escalation.json
  backend/tests/fixtures/creek_v1/examples/upload/empty.json
  backend/tests/fixtures/creek_v1/examples/upload/incompatible-version.json
  backend/tests/fixtures/creek_v1/examples/upload/malformed-input.json
  backend/tests/fixtures/creek_v1/examples/upload/refusal.json
  backend/tests/fixtures/creek_v1/examples/upload/success.json
  backend/tests/fixtures/creek_v1/examples/upload/unavailable-service.json
  backend/tests/fixtures/creek_v1/manifest.json
  backend/tests/fixtures/creek_v1/retry-policy.json
  backend/tests/fixtures/creek_v1/schemas/CapabilitiesResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/ErrorEnvelope.schema.json
  backend/tests/fixtures/creek_v1/schemas/NotApplicableExample.schema.json
  backend/tests/fixtures/creek_v1/schemas/UploadRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/UploadResponse.schema.json
  backend/tests/fixtures/creek_v1/vendor.json
  backend/tests/scripts/test_creek_contract_drift.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
  frontend/e2e/journeys.json
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/seedCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): surface crashes without surfacing what the person wrote
  DEPLOYMENT.md
  frontend/Dockerfile
  frontend/src/__tests__/index.test.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/index.ts
  frontend/src/observability/__tests__/sentry.test.ts
  frontend/src/observability/__tests__/sentryEnvelope.test.ts
  frontend/src/observability/sentry.ts
  frontend/src/observability/sentryEnvelope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend,backend): close two holes review found in the monitoring seam
  backend/tests/test_error_monitoring.py
  frontend/e2e/journeys.json
  frontend/src/observability/__tests__/sentry.test.ts
  frontend/src/observability/sentry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend,frontend): error monitoring so production failures are visible (#2312)
  .pre-commit-config.yaml
  DEPLOYMENT.md
  backend/.env.example
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/errors.py
  backend/src/main.py
  backend/src/sentry.py
  backend/tests/test_error_monitoring.py
  backend/tests/test_global_exception_handler.py
  frontend/Dockerfile
  frontend/e2e/journeys.json
  frontend/src/__tests__/index.test.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/index.ts
  frontend/src/observability/__tests__/sentry.test.ts
  frontend/src/observability/__tests__/sentryEnvelope.test.ts
  frontend/src/observability/sentry.ts
  frontend/src/observability/sentryEnvelope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend,frontend): erase an account and everything the schema hangs off it (#2313)
  .gitignore
  backend/migrations/versions/c2d3e4f5a6b8_add_account_deletion_audit.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/models/__init__.py
  backend/src/models/account_deletion_audit.py
  backend/src/routers/users.py
  backend/src/schemas/account_deletion.py
  backend/src/services/account_deletion.py
  backend/tests/helpers/account_seed.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_account_deletion_policy.py
  docs/your-data.md
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/users-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(ops): a Postgres restore runbook with a restore that was actually run
  DEPLOYMENT.md
  backend/tests/test_backup_restore_runbook.py
Due: backend-tests-coverage

feat(backend): implement CreekVaultClient.upload against the /v1 route
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/journal_upload.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_upload.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
  frontend/e2e/journeys.json
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/seedCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): per-user ontologized corpus store with tier-scoped, frequency-aware retrieval
  backend/migrations/versions/c3d4e5f6a7b9_add_corpusfragment_table.py
  backend/src/domain/account_deletion.py
  backend/src/domain/corpus.py
  backend/src/domain/frequencies.py
  backend/src/models/__init__.py
  backend/src/models/corpus_fragment.py
  backend/src/services/corpus_store.py
  backend/tests/domain/test_corpus_scoring.py
  backend/tests/integration/test_schema_provenance.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_frequency_classification.py
Due: backend-tests-coverage

fix(ops): define every connection variable the restore steps expand
  DEPLOYMENT.md
  backend/tests/test_backup_restore_runbook.py
Due: backend-tests-coverage

docs(legal): privacy policy and terms of service, linked from Settings
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/legalLinks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(ops): point the two manual backup steps at the issue tracking them
  DEPLOYMENT.md
Due: none

docs(ops): Postgres backup and restore runbook, with a proven restore (#2316)
  DEPLOYMENT.md
  backend/tests/test_backup_restore_runbook.py
Due: backend-tests-coverage

feat(backend): per-user ontologized corpus store with tier-scoped, frequency-aware retrieval (#2318)
  backend/migrations/versions/c3d4e5f6a7b9_add_corpusfragment_table.py
  backend/src/domain/account_deletion.py
  backend/src/domain/corpus.py
  backend/src/domain/frequencies.py
  backend/src/models/__init__.py
  backend/src/models/corpus_fragment.py
  backend/src/services/corpus_store.py
  backend/tests/domain/test_corpus_scoring.py
  backend/tests/integration/test_schema_provenance.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_frequency_classification.py
Due: backend-tests-coverage

docs(plan): backlog triage and supersession review across both repos
  plan/2026-08-21_BACKLOG_TRIAGE_SUPERSESSION.md
Due: none

feat(backend): implement CreekVaultClient.upload against the /v1 route (#2322)
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/journal_upload.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_upload.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
  frontend/e2e/journeys.json
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/seedCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(legal): state the context window the code sends, and the third encrypted column
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

chore(frontend): set the app's store identity in app.json
  frontend/__tests__/appStoreIdentity.test.ts
  frontend/app.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover the depth-ring and account-deletion journeys end to end
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/depth.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): draw the Google sign-in button to Google's mandatory branding
  frontend/src/components/Button.tsx
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/design/ATTRIBUTION
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/components/GoogleSignInButton.tsx
  frontend/src/features/Auth/components/__tests__/GoogleSignInButton.test.tsx
  frontend/src/features/Auth/components/__tests__/googleBranding.test.ts
  frontend/src/features/Auth/components/googleBranding.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
