Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(backend): authorize the goal group named in a goal update's body
  backend/scripts/dast/README.md
  backend/src/dependencies/ownership.py
  backend/src/routers/goals.py
  backend/tests/security/test_idor.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

fix(backend): authorize the goal group named in a goal update's body (#2120)
  backend/scripts/dast/README.md
  backend/src/dependencies/ownership.py
  backend/src/routers/goals.py
  backend/tests/security/test_idor.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

fix(ralph): reach the do-not-auto-merge hold through the bridge issue's marker
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(ralph): reach the do-not-auto-merge hold through the bridge issue's marker (#2125)
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

test(full-stack): add static wiring guards for screens, routers and API wrappers
  backend/tests/test_router_wiring.py
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/__tests__/wiring/screensMounted.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(full-stack): add static wiring guards for screens, routers and API wrappers (#2129)
  backend/tests/test_router_wiring.py
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/__tests__/wiring/screensMounted.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): add a Postgres-backed integration lane with an alembic-built schema
  .github/workflows/backend-ci.yml
  backend/pyproject.toml
  backend/tests/integration/__init__.py
  backend/tests/integration/conftest.py
  backend/tests/integration/pg_lane.py
  backend/tests/integration/test_pg_array_columns.py
  backend/tests/integration/test_pg_unique_indexes.py
  backend/tests/integration/test_schema_provenance.py
  backend/tests/test_integration_lane_guard.py
Due: backend-tests-coverage

test(backend): add a Postgres-backed integration lane with an alembic-built schema (#2130)
  .github/workflows/backend-ci.yml
  backend/pyproject.toml
  backend/tests/integration/__init__.py
  backend/tests/integration/conftest.py
  backend/tests/integration/pg_lane.py
  backend/tests/integration/test_pg_array_columns.py
  backend/tests/integration/test_pg_unique_indexes.py
  backend/tests/integration/test_schema_provenance.py
  backend/tests/test_integration_lane_guard.py
Due: backend-tests-coverage

test(full-stack): drive the unmocked API client against a live backend through three journeys
  .github/workflows/e2e.yml
  .gitignore
  backend/tests/e2e/__init__.py
  backend/tests/e2e/server.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/auth.e2e.test.ts
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journal.e2e.test.ts
  frontend/e2e/laneState.ts
  frontend/e2e/setupEnv.ts
  frontend/jest.e2e.config.js
  frontend/package.json
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(full-stack): drive the unmocked API client against a live backend through three journeys (#2131)
  .github/workflows/e2e.yml
  .gitignore
  backend/tests/e2e/__init__.py
  backend/tests/e2e/server.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/auth.e2e.test.ts
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journal.e2e.test.ts
  frontend/e2e/laneState.ts
  frontend/e2e/setupEnv.ts
  frontend/jest.e2e.config.js
  frontend/package.json
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): authorize body-carried practice ids on POST /journal/
  backend/scripts/dast/README.md
  backend/src/dependencies/ownership.py
  backend/src/routers/journal.py
  backend/tests/security/test_idor.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): authorize body-carried practice ids on POST /journal/ (#2132)
  backend/scripts/dast/README.md
  backend/src/dependencies/ownership.py
  backend/src/routers/journal.py
  backend/tests/security/test_idor.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): bind a configured Creek Vault to the one user it belongs to
  backend/.env.example
  backend/src/dependencies/creek_vault.py
  backend/src/domain/creek_vault.py
  backend/src/routers/invitations.py
  backend/src/routers/journal.py
  backend/src/routers/stages.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_telemetry.py
  backend/src/services/creek_vault_write.py
  backend/tests/routers/test_invitations.py
  backend/tests/test_contract_version_docs.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_wheel_api.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

docs(backend): record what the vault owner binding cannot reach
  backend/.env.example
  backend/tests/test_creek_vault_tenancy.py
  docs/adr/0004-creek-vault-http-application-boundary.md
Due: backend-tests-coverage

security(backend): bind a configured Creek Vault to the one user it belongs to (#2135)
  backend/.env.example
  backend/src/dependencies/creek_vault.py
  backend/src/domain/creek_vault.py
  backend/src/routers/invitations.py
  backend/src/routers/journal.py
  backend/src/routers/stages.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_telemetry.py
  backend/src/services/creek_vault_write.py
  backend/tests/routers/test_invitations.py
  backend/tests/test_contract_version_docs.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_wheel_api.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

perf(backend): length-check a vault string before stripping it
  backend/src/services/creek_vault_payload.py
  backend/tests/test_creek_vault_http_client.py
Due: backend-tests-coverage

perf(backend): length-check a vault string before stripping it (#2136)
  backend/src/services/creek_vault_payload.py
  backend/tests/test_creek_vault_http_client.py
Due: backend-tests-coverage

perf(tooling): stop re-verifying what is already green; refuse contended suite runs
  .claude/agents/shared/adepthood-constraints.md
  .claude/skills/stay-green/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/scripts/test_check_all_receipt_wiring.py
  backend/tests/scripts/test_gate_receipts.py
  scripts/README.md
  scripts/backend/check-all.sh
  scripts/backend/test.sh
  scripts/quality/verified.sh
  scripts/ralph/PROMPT.md
Due: backend-tests-coverage

fix(tooling): close five ways a gate receipt could certify a green nobody earned
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/scripts/test_gate_receipts.py
  scripts/backend/test.sh
  scripts/quality/verified.sh
Due: backend-tests-coverage

docs(tooling): stop claiming a push-time gate that does not fire locally
  .claude/skills/stay-green/SKILL.md
  CLAUDE.md
  scripts/ralph/PROMPT.md
Due: none

perf(tooling): stop re-verifying what is already green, and make contention refuse instead of mislead (#2140)
  .claude/agents/shared/adepthood-constraints.md
  .claude/skills/stay-green/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/scripts/test_check_all_receipt_wiring.py
  backend/tests/scripts/test_gate_receipts.py
  scripts/README.md
  scripts/backend/check-all.sh
  scripts/backend/test.sh
  scripts/quality/verified.sh
  scripts/ralph/PROMPT.md
Due: backend-tests-coverage

fix(tests): give the concurrency fixture the writer queue SQLite lacks
  backend/conftest.py
  backend/tests/test_concurrency_fixture.py
Due: backend-tests-coverage

fix(tests): give the concurrency fixture the writer queue SQLite lacks (#2141)
  backend/conftest.py
  backend/tests/test_concurrency_fixture.py
Due: backend-tests-coverage

fix(backend): degrade an unusable CREEK_VAULT_URL instead of 500ing every journal write
  backend/.env.example
  backend/src/main.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_url.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_url_defects.py
  backend/tests/test_creek_vault_url_startup_config.py
  backend/tests/test_creek_vault_write.py
  docs/adr/0004-creek-vault-http-application-boundary.md
Due: backend-tests-coverage

fix(backend): degrade an unusable CREEK_VAULT_URL instead of 500ing every journal write (#2142)
  backend/.env.example
  backend/src/main.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_url.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_url_defects.py
  backend/tests/test_creek_vault_url_startup_config.py
  backend/tests/test_creek_vault_write.py
  docs/adr/0004-creek-vault-http-application-boundary.md
Due: backend-tests-coverage

fix(backend): remediate cross-tenant references forged before the BOLAs closed
  backend/migrations/env.py
  backend/migrations/versions/c1d2e3f4a5b7_quarantine_cross_tenant_references.py
  backend/tests/security/test_cross_tenant_invariants.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

fix(backend): remediate cross-tenant references forged before the BOLAs closed (#2143)
  backend/migrations/env.py
  backend/migrations/versions/c1d2e3f4a5b7_quarantine_cross_tenant_references.py
  backend/tests/security/test_cross_tenant_invariants.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(frontend): add a "Your private vault" settings surface with one-promise copy
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/vaultCopy.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): pin nanoid to a patched 3.3.x via overrides
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(backend): audit the cross-tenant probes POST /practice-sessions/ was already rejecting
  backend/src/routers/practice_sessions.py
  backend/src/schemas/__init__.py
  backend/src/schemas/checkin.py
  backend/tests/security/test_idor.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

feat(backend): forward a user document to the vault's creek.upload seam
  backend/src/domain/creek_vault.py
  backend/src/errors.py
  backend/src/routers/journal.py
  backend/src/schemas/journal_upload.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_upload.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

test(backend): teach every vault fake the new upload protocol member
  backend/tests/routers/test_invitations.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

feat(backend): forward intimate documents to the vault, per owner ruling
  backend/src/routers/journal.py
  backend/src/services/creek_vault_upload.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

fix(backend): declare the goal tier CHECK constraint the migration created
  backend/src/models/goal.py
  backend/tests/domain/test_stage_progress_queries.py
  backend/tests/domain/test_wheel.py
  backend/tests/domain/test_wheel_chord.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_goal_tier_constraint.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

docs(backend): correct three docstrings that still claimed intimate uploads are withheld
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/schemas/journal_upload.py
  backend/src/services/creek_vault_upload.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_journal_upload.py
Due: backend-tests-coverage

fix(backend): declare the goal tier CHECK constraint the migration created (#2153)
  backend/src/models/goal.py
  backend/tests/domain/test_stage_progress_queries.py
  backend/tests/domain/test_wheel.py
  backend/tests/domain/test_wheel_chord.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_goal_tier_constraint.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

feat(backend): rate-limit the document upload endpoint
  backend/src/routers/journal.py
  backend/tests/test_journal_upload.py
Due: backend-tests-coverage

feat(backend): forward a user document to the vault's creek.upload seam (#2149)
  backend/src/domain/creek_vault.py
  backend/src/errors.py
  backend/src/routers/journal.py
  backend/src/schemas/journal_upload.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_upload.py
  backend/tests/routers/test_invitations.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_upload.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_wheel_api.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

fix(backend): make shared goal templates an operator surface, not a user one
  backend/src/dependencies/ownership.py
  backend/src/routers/goal_groups.py
  backend/tests/security/test_idor.py
  backend/tests/test_goal_group_shared_template_authority.py
  backend/tests/test_goal_groups_api.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

fix(backend): make shared goal templates an operator surface, not a user one (#2155)
  backend/src/dependencies/ownership.py
  backend/src/routers/goal_groups.py
  backend/tests/security/test_idor.py
  backend/tests/test_goal_group_shared_template_authority.py
  backend/tests/test_goal_groups_api.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage
