Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(frontend): revert chord tag and surface error hint on failed PATCH
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): collapse duplicated Practice session-view scaffolding into shared primitives
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/formatTime.ts
  frontend/src/features/Practice/views/shared/MeditationCardShell.tsx
  frontend/src/features/Practice/views/shared/PrimaryButton.tsx
  frontend/src/features/Practice/views/shared/SaveButton.tsx
  frontend/src/features/Practice/views/shared/SessionContainer.tsx
  frontend/src/features/Practice/views/shared/SessionTimerLabel.tsx
  frontend/src/features/Practice/views/shared/__tests__/MeditationCardShell.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/PrimaryButton.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/SaveButton.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/SessionContainer.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/SessionTimerLabel.test.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): chord journaling — tag an entry with a primary + optional secondary Aspect (#1113)
  backend/migrations/versions/a5b6c7d8e9f0_add_journalentry_chord_aspects.py
  backend/src/domain/wheel.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/domain/test_wheel_chord.py
  backend/tests/test_journal_chord_model.py
  backend/tests/test_journal_chord_router.py
  backend/tests/test_journal_chord_schema.py
  backend/tests/test_migrations.py
  frontend/src/api/__tests__/privacySchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): collapse duplicated Practice session-view scaffolding into shared primitives (#1116)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/formatTime.ts
  frontend/src/features/Practice/views/shared/MeditationCardShell.tsx
  frontend/src/features/Practice/views/shared/PrimaryButton.tsx
  frontend/src/features/Practice/views/shared/SaveButton.tsx
  frontend/src/features/Practice/views/shared/SessionContainer.tsx
  frontend/src/features/Practice/views/shared/SessionTimerLabel.tsx
  frontend/src/features/Practice/views/shared/__tests__/MeditationCardShell.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/PrimaryButton.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/SaveButton.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/SessionContainer.test.tsx
  frontend/src/features/Practice/views/shared/__tests__/SessionTimerLabel.test.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): delete orphaned representative_goal() dead export
  backend/src/services/completion_candidates.py
  backend/tests/services/test_completion_candidates.py
Due: backend-tests-coverage

feat(backend): expose cycle_number on program-calendar for cold-start Map indicator
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_program_gating.py
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): delete orphaned representative_goal() dead export (#1119)
  backend/src/services/completion_candidates.py
  backend/tests/services/test_completion_candidates.py
Due: backend-tests-coverage

perf(backend): bound the practice-session gather in invitation generation
  backend/src/services/invitations.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage

feat(backend): expose cycle_number on program-calendar for cold-start Map indicator (#1120)
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_program_gating.py
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): add accent.onPrimary token + collapse test comments
  frontend/src/components/Button.tsx
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/semanticTokens.test.ts
  frontend/src/design/__tests__/semanticTokensDark.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): vendor the Archetypal Wavelength curriculum as one source of truth (#1118)
  backend/src/curriculum/__init__.py
  backend/src/curriculum/archetypal_wavelength.json
  backend/src/seed_stages.py
  backend/tests/test_curriculum.py
  backend/tests/test_seed_stages.py
  docs/curriculum.md
Due: backend-tests-coverage

perf(backend): bound the practice-session gather in invitation generation (#1121)
  backend/src/services/invitations.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage

refactor(frontend): add accent.onPrimary token + collapse test comments (#1122)
  frontend/src/components/Button.tsx
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/semanticTokens.test.ts
  frontend/src/design/__tests__/semanticTokensDark.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): fix two stale/lying docstrings (safety wiring, phantom sibling)
  backend/src/domain/safety.py
  backend/src/services/practice_session_idempotency.py
Due: backend-tests-coverage

refactor(frontend): extract shared TierMarkerOverlay for habit tile + goal modal
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/TierMarkerOverlay.tsx
  frontend/src/features/Habits/__tests__/TierMarkerOverlay.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared TierMarkerOverlay for habit tile + goal modal (#1150)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/TierMarkerOverlay.tsx
  frontend/src/features/Habits/__tests__/TierMarkerOverlay.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): fix two stale/lying docstrings (safety wiring, phantom sibling) (#1149)
  backend/src/domain/safety.py
  backend/src/services/practice_session_idempotency.py
Due: backend-tests-coverage

feat(frontend): torus/spiral visual for the Wavelength explainer
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/TorusSpiralVisual.tsx
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/TorusSpiralVisual.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/torusGeometry.test.ts
  frontend/src/features/Map/torusGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): torus/spiral visual for the Wavelength explainer (#1151)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/TorusSpiralVisual.tsx
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/TorusSpiralVisual.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/torusGeometry.test.ts
  frontend/src/features/Map/torusGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): dedup JournalTag union, id-merge helpers, token import (#1083)
  frontend/src/api/index.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): dedup JournalTag union, id-merge helpers, token import (#1083) (#1152)
  frontend/src/api/index.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): serve the Wavelength explainer from the vendored content pipeline
  backend/content/CONTENT_VERSION
  backend/content/manifest.json
  backend/content/markdown/resources/wavelength-explainer.md
  backend/tests/test_wavelength_explainer_resource.py
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(ralph): key CI-pending detection off gh pr checks exit code, not text grep
  .claude/commands/ralph-tick.md
  .github/workflows/ralph-recap-tests.yml
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(ralph): key CI-pending detection off gh pr checks exit code, not text grep (#1154)
  .claude/commands/ralph-tick.md
  .github/workflows/ralph-recap-tests.yml
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(safety): normalize invisible/confusable code points before crisis screening
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

fix(safety): flag passive/indirect suicidal ideation missed by crisis matcher
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

feat(frontend): wire the Metta "Return" offer to the live contraction signal
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Today/__tests__/contractionSignal.test.tsx
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/contractionSignal.ts
  frontend/src/features/Today/useMettaReturn.ts
  frontend/src/store/__tests__/useContractionSignalStore.test.ts
  frontend/src/store/useContractionSignalStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(safety): normalize invisible/confusable code points before crisis screening (#1155)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

feat(frontend): wire the Metta "Return" offer to the live contraction signal (#1157)
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Today/__tests__/contractionSignal.test.tsx
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/contractionSignal.ts
  frontend/src/features/Today/useMettaReturn.ts
  frontend/src/store/__tests__/useContractionSignalStore.test.ts
  frontend/src/store/useContractionSignalStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): serve the Wavelength explainer from the vendored content pipeline (#1153)
  backend/content/CONTENT_VERSION
  backend/content/manifest.json
  backend/content/markdown/resources/wavelength-explainer.md
  backend/tests/test_wavelength_explainer_resource.py
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(safety): flag passive/indirect suicidal ideation missed by crisis matcher (#1156)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

feat(frontend): launch a guided Metta session from the Return weekly focus
  frontend/src/features/Today/MettaSessionModal.tsx
  frontend/src/features/Today/ReturnArcCard.tsx
  frontend/src/features/Today/__tests__/MettaSessionModal.test.tsx
  frontend/src/features/Today/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Today/__tests__/mettaSessionCopy.test.ts
  frontend/src/features/Today/mettaSessionCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): warm completion state for a finished Metta "Return" arc
  backend/src/domain/metta_return.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/ReturnCompletionCard.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Today/__tests__/ReturnCompletionCard.test.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/features/Today/__tests__/returnCopy.test.ts
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): launch a guided Metta session from the Return weekly focus (#1158)
  frontend/src/features/Today/MettaSessionModal.tsx
  frontend/src/features/Today/ReturnArcCard.tsx
  frontend/src/features/Today/__tests__/MettaSessionModal.test.tsx
  frontend/src/features/Today/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Today/__tests__/mettaSessionCopy.test.ts
  frontend/src/features/Today/mettaSessionCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): keep the Log Units footer inside the GoalModal on phones
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): warm completion state for a finished Metta "Return" arc (#1159)
  backend/src/domain/metta_return.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/ReturnCompletionCard.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Today/__tests__/ReturnCompletionCard.test.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/features/Today/__tests__/returnCopy.test.ts
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): exclude locked habits from Today's daily habit count
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): migrate remaining session views onto shared primitives
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): migrate remaining session views onto shared primitives (#1176)
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): collapse duplicated meditation_timer presets into spec tables
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage
