Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(frontend): speak plainly on the sign-in, reset and invitation screens
  frontend/e2e/screen-title-heading.browser.e2e.test.ts
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/__tests__/CancelResetScreen.test.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
  frontend/src/features/Auth/__tests__/ResetPasswordScreen.test.tsx
  frontend/src/features/Invitations/__tests__/invitationCopy.test.ts
  frontend/src/features/Invitations/invitationCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover a quick-launched journaling session once Green opens
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-quick-launch-green.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): higher-self, marginalia and email prompts in voice
  backend/src/domain/resonance.py
  backend/src/routers/auth.py
  backend/src/services/email_templates.py
  backend/src/services/marginalia.py
Due: backend-tests-coverage

fix(frontend): refresh the session token once, keyed by the token carried
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/__tests__/tokenRotation.test.ts
  frontend/src/api/index.ts
  frontend/src/api/tokenRotation.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/context/__tests__/ResumedSessionDayBoundary.test.tsx
  frontend/src/context/__tests__/ResumedSessionRefreshRace.integration.test.tsx
  frontend/src/features/Auth/__tests__/useAppleAuth.test.tsx
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): prove a resumed session refreshes once in the browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habits-day-rollover.browser.e2e.test.ts
  frontend/e2e/habits-resumed-session.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): rebuild Sentry events from an allowlist, never shipping exception messages
  backend/src/sentry.py
  backend/src/telemetry_safety.py
  backend/tests/helpers/sentry_capture.py
  backend/tests/helpers/telemetry_canaries.py
  backend/tests/security/test_telemetry_sentinels.py
  backend/tests/test_error_monitoring.py
  backend/tests/test_legal_documents.py
  backend/tests/test_telemetry_safety.py
Due: backend-tests-coverage

fix(privacy): log and report the route template, never the raw request path
  backend/src/errors.py
  backend/src/middleware/logging.py
  backend/src/observability.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/security/test_feedback_repr.py
  backend/tests/security/test_telemetry_sentinels.py
Due: backend-tests-coverage

test(e2e): make the withheld-offer check bite and correct the reload note
  frontend/e2e/practice-quick-launch-green.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover the retry error path and drop an unreachable guard
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/tokenRotation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): print exception types and frames, never messages, in every log line
  backend/Dockerfile
  backend/src/errors.py
  backend/src/observability.py
  backend/tests/security/test_telemetry_sentinels.py
Due: backend-tests-coverage

fix(backend): refuse plaintext journal writes in production, not only at boot
  backend/src/main.py
  backend/src/services/journal_encryption.py
  backend/tests/services/test_journal_encryption.py
  backend/tests/test_journal_encryption_startup_config.py
Due: backend-tests-coverage

test(backend): classify every textual column and read every encrypted one raw
  backend/src/services/encryption_inventory.py
  backend/tests/support/encrypted_rows.py
  backend/tests/test_column_classification.py
  backend/tests/test_journal_text_at_rest.py
Due: backend-tests-coverage

feat(backend): add encryption audit and re-encrypt sweep for operators
  backend/scripts/journal_encryption_sweep.py
  backend/tests/scripts/test_journal_encryption_sweep.py
Due: backend-tests-coverage

docs(deploy): correct the rotation claim and document the encryption sweep
  DEPLOYMENT.md
  backend/.env.example
  backend/tests/test_encryption_runbook.py
Due: backend-tests-coverage

test(e2e): build the browser lane's frontend env fail-closed on the demo flag
  frontend/__tests__/frontendEnv.test.ts
  frontend/e2e/browserGlobalSetup.ts
  frontend/e2e/browserGlobalTeardown.ts
  frontend/e2e/frontendEnv.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): classify the requests a demo habit tile must never send
  frontend/__tests__/demoTileBrowserSupport.test.ts
  frontend/e2e/demoTileBrowserSupport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): stop shipping error messages and free-text names in frontend crash reports
  frontend/src/observability/__tests__/sentry.test.ts
  frontend/src/observability/__tests__/sentryEnvelope.test.ts
  frontend/src/observability/sentryEnvelope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): never sign out over a refresh orphaned by a session boundary
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/__tests__/tokenRotation.test.ts
  frontend/src/api/tokenRotation.ts
  frontend/src/context/__tests__/ResumedSessionRefreshRace.integration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): harden the content-free telemetry chokepoints
  backend/src/observability.py
  backend/src/routers/promotions.py
  backend/src/sentry.py
  backend/src/services/journal_encryption.py
  backend/tests/helpers/dockerfile_cmd.py
  backend/tests/security/test_client_ip.py
  backend/tests/security/test_telemetry_sentinels.py
Due: backend-tests-coverage

docs(privacy): draft the telemetry egress inventory for owner review
  docs/qa/telemetry-egress-inventory.md
Due: none

refactor(backend): settle a resonance pass from its metered usage, not its adapter
  backend/src/routers/journal.py
Due: backend-tests-coverage

test(backend): pin production winning over conflicting environment signals
  backend/tests/services/test_journal_encryption.py
  backend/tests/test_journal_encryption_startup_config.py
Due: backend-tests-coverage

test(backend): prove an applied sweep that skips a concurrent edit exits 1
  backend/tests/scripts/test_journal_encryption_sweep.py
Due: backend-tests-coverage

fix(backend): keep plaintext out of sweep database errors
  DEPLOYMENT.md
  backend/scripts/journal_encryption_sweep.py
  backend/tests/scripts/test_journal_encryption_sweep.py
  backend/tests/test_encryption_runbook.py
Due: backend-tests-coverage

test(e2e): prove a demo habit tile stays local in a demo-configured build
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habits-demo-tile.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): require the deployed key0 fingerprint before a sweep writes
  DEPLOYMENT.md
  backend/.env.example
  backend/scripts/journal_encryption_sweep.py
  backend/src/main.py
  backend/src/services/journal_encryption.py
  backend/tests/scripts/test_journal_encryption_sweep.py
  backend/tests/services/test_journal_encryption.py
  backend/tests/test_encryption_runbook.py
  backend/tests/test_journal_encryption_startup_config.py
Due: backend-tests-coverage

refactor(privacy): split the Sentry rebuild helpers to xenon grade A
  backend/src/sentry.py
Due: backend-tests-coverage

feat(backend): stop inviting users into depth rings they declined
  backend/src/domain/depth_preferences.py
  backend/src/domain/invitations.py
  backend/src/routers/invitations.py
  backend/src/services/invitations.py
  backend/tests/domain/test_depth_rings.py
  backend/tests/domain/test_invitations.py
  backend/tests/routers/test_invitations.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage

fix(backend): keep the contraction reflection quiet when habits are declined
  backend/src/routers/journal.py
  backend/tests/routers/test_contraction_reflection.py
Due: backend-tests-coverage

fix(e2e): keep the default browser lane off the demo flag by value
  frontend/__tests__/frontendEnv.test.ts
  frontend/e2e/frontendEnv.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): fail closed for vault-selected reflection and detection
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_reflect.py
  backend/src/services/reflection_boundary.py
  backend/tests/security/test_app_provider_construction_chokepoint.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/security/test_credential_repr.py
  backend/tests/security/test_vault_boundary_no_fallback.py
  backend/tests/support/reflecting_vault.py
  backend/tests/test_account_egress_barrier_llm.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_generation_settlement_lines.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_reflection_boundary.py
Due: backend-tests-coverage

test(backend): pin that a journal-only save reaches no provider or vault
  backend/tests/routers/test_journal_journal_only.py
Due: backend-tests-coverage

fix(privacy): remove the silent operator fallback for vault-bound classification
  backend/src/services/frequency_source.py
  backend/tests/services/test_frequency_source.py
Due: backend-tests-coverage

feat(frontend): quiet declined depth rings on the Journal surfaces
  frontend/src/features/Depth/DepthGate.tsx
  frontend/src/features/Depth/__tests__/DepthGate.test.tsx
  frontend/src/features/Depth/depthRings.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(dast): read scan evidence from the app's content-free access record
  .github/workflows/dast-deep.yml
  backend/scripts/dast/scan_evidence.py
  backend/src/middleware/logging.py
  backend/tests/middleware/test_canonical_host.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/scripts/dast/test_deep_scan_workflow.py
  backend/tests/scripts/dast/test_scan_evidence.py
  backend/tests/scripts/dast/test_scan_evidence_reads_the_app_log.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

feat(frontend): explain a refused vault-bound reflection
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Journal/__tests__/resonanceExplainerCopy.test.ts
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/resonanceExplainerCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): absorb every formatting failure and render chains iteratively
  backend/src/observability.py
  backend/tests/security/test_telemetry_sentinels.py
Due: backend-tests-coverage

Wave 34a: make encrypted journal storage verifiable and operable (B02) (#3081)
  DEPLOYMENT.md
  backend/.env.example
  backend/scripts/journal_encryption_sweep.py
  backend/src/main.py
  backend/src/services/encryption_inventory.py
  backend/src/services/journal_encryption.py
  backend/tests/scripts/test_journal_encryption_sweep.py
  backend/tests/services/test_journal_encryption.py
  backend/tests/support/encrypted_rows.py
  backend/tests/test_column_classification.py
  backend/tests/test_encryption_runbook.py
  backend/tests/test_journal_encryption_startup_config.py
  backend/tests/test_journal_text_at_rest.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
