Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(journal): never let a carried-words retry lower a tier the writer chose
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): select several promoted quotes and fold them into a review at once (#2976)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-fold-selected-promoted-quotes.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/components/__tests__/webAria.test.ts
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/components/webAria.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PromotedQuotesFold.tsx
  frontend/src/features/Journal/PromotedQuotesScreen.tsx
  frontend/src/features/Journal/QuoteInclusionHint.tsx
  frontend/src/features/Journal/QuoteRow.tsx
  frontend/src/features/Journal/QuoteSelectionControls.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/PromotedQuotesScreenFold.test.tsx
  frontend/src/features/Journal/__tests__/QuoteRow.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanelSelection.test.tsx
  frontend/src/features/Journal/__tests__/quoteBatch.test.ts
  frontend/src/features/Journal/__tests__/quoteFoldCopy.test.ts
  frontend/src/features/Journal/__tests__/usePromotedQuoteHandoff.test.tsx
  frontend/src/features/Journal/__tests__/useQuoteSelection.test.tsx
  frontend/src/features/Journal/__tests__/useReflectionModeFoldIn.test.tsx
  frontend/src/features/Journal/quoteBatch.ts
  frontend/src/features/Journal/quoteFoldCopy.ts
  frontend/src/features/Journal/reflectionCopy.ts
  frontend/src/features/Journal/usePromotedQuoteHandoff.ts
  frontend/src/features/Journal/useQuoteSelection.ts
  frontend/src/features/Journal/useReflectionMode.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/store/__tests__/usePromotedQuoteHandoffStore.test.ts
  frontend/src/store/usePromotedQuoteHandoffStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): retire a removed quote from the inclusion warning, per quote
  frontend/e2e/journeys.json
  frontend/src/features/Journal/QuoteInclusionHint.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanelSelection.test.tsx
  frontend/src/features/Journal/__tests__/inclusionMark.test.ts
  frontend/src/features/Journal/__tests__/useReflectionModeFoldIn.test.tsx
  frontend/src/features/Journal/inclusionMark.ts
  frontend/src/features/Journal/quoteFoldCopy.ts
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): keep stage annotations clear of the wave at every viewport
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapGeometry.ts
  frontend/e2e/mapStates.ts
  frontend/src/design/__tests__/mapGeometry.test.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/useStageAnchors.test.ts
  frontend/src/features/Map/hooks/useStageAnchors.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): narrow the panel's selection to the quotes still listed
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanelSelection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): release held words only on a server-confirmed tier
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): retire a removed quote from the inclusion warning, per quote (#2977)
  frontend/e2e/journeys.json
  frontend/src/features/Journal/QuoteInclusionHint.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanelSelection.test.tsx
  frontend/src/features/Journal/__tests__/inclusionMark.test.ts
  frontend/src/features/Journal/__tests__/useReflectionModeFoldIn.test.tsx
  frontend/src/features/Journal/inclusionMark.ts
  frontend/src/features/Journal/quoteFoldCopy.ts
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): hand the lens its drag inside the Map scroller
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapStates.ts
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): keep stage annotations clear of the wave at every viewport (#2978)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapGeometry.ts
  frontend/e2e/mapStates.ts
  frontend/src/design/__tests__/mapGeometry.test.ts
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/useStageAnchors.test.ts
  frontend/src/features/Map/hooks/useStageAnchors.ts
  frontend/src/features/Map/magnifierGeometry.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): serialize tier writes and treat a failed one as unknown
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
  frontend/src/features/Journal/__tests__/journalReconnectLoad.test.ts
  frontend/src/features/Journal/journalReconnectLoad.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): screenshot and measure every action row at both viewports
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/e2e/actionRows.ts
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/actionRows.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): state the Action rows rules in DESIGN.md
  frontend/src/design/DESIGN.md
Due: frontend-eslint, frontend-prettier, frontend-tests

ci: publish the action-row sweep on every e2e run
  .github/workflows/e2e.yml
  .gitignore
  backend/tests/scripts/test_browser_lane_artifact_uploads.py
Due: backend-tests-coverage

fix(e2e): hold rows below a scroller's fold to the action-row rules
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/e2e/actionRows.ts
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/actionRows.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci: give the browser lane room for the action-row sweep
  .github/workflows/e2e.yml
  backend/tests/scripts/test_browser_lane_artifact_uploads.py
Due: backend-tests-coverage

test(frontend): contain a test abandoned mid real-timer act()
  frontend/__tests__/fixtures/timeoutCascadeRealTimers.test.tsx
  frontend/__tests__/timeoutCascade.test.ts
  frontend/jest.setup.js
  frontend/src/testing/__tests__/asyncSettle.test.tsx
  frontend/src/testing/asyncSettle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): a queued tier tap is the writer's choice; retries never replace it
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTierQueue.test.tsx
  frontend/src/features/Journal/__tests__/useTierWriteQueue.test.tsx
  frontend/src/features/Journal/useTierWriteQueue.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(e2e): warm the web bundle before the first browser journey
  frontend/__tests__/bundleWarmup.test.ts
  frontend/e2e/browserGlobalSetup.ts
  frontend/e2e/bundleWarmup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): contain a test abandoned between act() scopes
  frontend/__tests__/fixtures/timeoutCascadeBetweenActs.test.tsx
  frontend/__tests__/fixtures/timeoutCascadeRealTimers.test.tsx
  frontend/__tests__/timeoutCascade.test.ts
  frontend/jest.setup.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): set Map chrome, lens and modal labels on the type ramp
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/StageExpressionsSection.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapTypeRamp.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): add opt-in resonance yield lane
  backend/pyproject.toml
  backend/tests/live/__init__.py
  backend/tests/live/fixtures/resonance_yield_entry.md
  backend/tests/live/resonance_lane.py
  backend/tests/live/test_resonance_yield.py
  backend/tests/test_live_resonance_lane_guard.py
Due: backend-tests-coverage

test(frontend): settle Settings and session suites without a deadline
  frontend/src/context/__tests__/ResumedSessionScope.integration.test.tsx
  frontend/src/features/Settings/__tests__/CorpusConsentScreen.test.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/depthSwitchesHaveEffect.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): settle JournalPhotographScreen without a deadline
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): an action-row sweep, the rules in DESIGN.md, and room for the browser lane (#2981)
  .github/workflows/e2e.yml
  .gitignore
  backend/tests/scripts/test_browser_lane_artifact_uploads.py
  frontend/__tests__/bundleWarmup.test.ts
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/e2e/actionRows.ts
  frontend/e2e/browserGlobalSetup.ts
  frontend/e2e/bundleWarmup.ts
  frontend/e2e/journeys.json
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/actionRows.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(map): set the Map grid's static labels on the type ramp
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/__tests__/mapTypeRamp.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): give every waitFor one named, measured budget
  frontend/jest.setup.js
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/testing/__tests__/asyncBudget.test.tsx
  frontend/src/testing/asyncBudget.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): settle Course and AdminFeedback suites without a deadline
  frontend/src/features/AdminFeedback/__tests__/AdminFeedbackScreen.test.tsx
  frontend/src/features/AdminFeedback/__tests__/triageFlows.test.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenUnmatchedStage.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): sequence the embeddings-handle test on events, not a ratio
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(map): keep the lens caption on the glass at the ramp sizes
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapGeometry.ts
  frontend/src/design/__tests__/mapGeometry.test.ts
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): sit margin notes beside the passages they annotate
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-margin-alignment.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenMarginAlignment.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/marginAnchorMeasure.test.ts
  frontend/src/features/Journal/__tests__/marginLayout.test.ts
  frontend/src/features/Journal/computeMarginSlots.ts
  frontend/src/features/Journal/marginAnchorMeasure.ts
  frontend/src/features/Journal/marginLayout.ts
  frontend/src/features/Journal/useMarginSlots.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): make the held-words Retry and queued-tap tests exercise what they claim
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): keep margin notes beside their passages when a banner lands above them
  frontend/e2e/journal-margin-alignment.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenMarginAlignment.test.tsx
  frontend/src/features/Journal/__tests__/marginLayout.test.ts
  frontend/src/features/Journal/marginLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): bump PyJWT 2.13.0 -> 2.15.1 for CVE-2026-102274
  backend/requirements-lock.txt
  backend/requirements.txt
Due: backend-tests-coverage

test(backend): wait for the barrier arrival before probing voice-draft races
  backend/tests/support/barrier_arrivals.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

fix(frontend): keep a note with no drawn passage out of the margin's lead
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenMarginAlignment.test.tsx
  frontend/src/features/Journal/__tests__/drawnNoteIdsAgreement.test.tsx
  frontend/src/features/Journal/__tests__/marginLayout.test.ts
  frontend/src/features/Journal/marginLayout.ts
  frontend/src/features/Journal/renderedSpans.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): wait for the revocation to reach the barrier mid-sweep
  backend/tests/support/barrier_arrivals.py
  backend/tests/test_account_egress_barrier_consent.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

fix(journal): never revert the tier control below a queued system write
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
  frontend/src/features/Journal/__tests__/useTierWriteQueue.test.tsx
  frontend/src/features/Journal/useTierWriteQueue.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): leaving without held words abandons them for good
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): the leave dialog says so when held words come back
  frontend/src/features/Journal/HeldWordsLeaveDialog.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReconnectLoad.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): run no resonance pass over a page whose save failed
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceDurable.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
