Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(frontend): pin the voice drafts shelf's append order after a retry
  frontend/src/features/Journal/__tests__/VoiceDraftsShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): offer a note's first letter with its price before asking
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/resonance.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
  frontend/src/features/Journal/__tests__/resonanceExplainerCopy.test.ts
  frontend/src/features/Journal/resonanceCost.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover the priced essay ask and register its journey
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/api-key-remove.browser.e2e.test.ts
  frontend/e2e/journal-essay-economy.e2e.test.ts
  frontend/e2e/journal-resonance-refill.browser.e2e.test.ts
  frontend/e2e/journal-vault-withdrawal.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance-explainer.browser.e2e.test.ts
  frontend/e2e/voice-drafts-shelf.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): charge a double-tapped first essay ask only once
  backend/src/routers/journal.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

fix(backend): never refund an essay letter that was already stored
  backend/src/routers/journal.py
  backend/tests/test_essay_endpoint.py
Due: backend-tests-coverage

test(backend): pin the monthly rollover on the essay balance read
  backend/tests/test_essay_endpoint.py
Due: backend-tests-coverage

fix(frontend): say the letter offer also sends earlier letter excerpts
  frontend/src/features/Journal/__tests__/resonanceExplainerCopy.test.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin who pays on the letter offer at screen level
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): record the day a habit accept logged on the suggestion
  backend/migrations/versions/e7a3c5f1d902_completion_suggestion_logged_on.py
  backend/src/models/completion_suggestion.py
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/checkin.py
  backend/tests/test_completion_accept_dismiss.py
  backend/tests/test_completion_suggestion_model.py
  backend/tests/test_goal_completions.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(api): expose the logged day on CompletionSuggestionResponse
  backend/openapi.json
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/marginLayout.test.ts
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/suggestionFacts.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): name the day a settled offer logged, not one re-derived
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/suggestionFacts.test.ts
  frontend/src/features/Journal/suggestionFacts.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): pin the settled offer to the day the server logged
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin that a same-day log never takes the midday anchor
  backend/tests/test_completion_accept_dismiss.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(vault): harden mounted pilot credentials
  backend/Dockerfile
  backend/scripts/managed_vault_pilot_evidence.py
  backend/src/services/creek_provisioning_client.py
  backend/src/services/managed_vault_rollout.py
  backend/src/services/secure_mounted_secret.py
  backend/tests/scripts/test_managed_vault_pilot_evidence.py
  backend/tests/test_creek_provisioning_client.py
  backend/tests/test_docker_runtime_identity.py
  backend/tests/test_managed_vault_rollout.py
  backend/tests/test_secure_mounted_secret.py
  backend/tests/test_vault_activation.py
  docs/managed-vault-pilot.md
  docs/qa/managed-vault-pilot-evidence.template.json
  docs/qa/managed-vault-pilot-proof.md
Due: backend-tests-coverage

feat(vault): deliver content-free fleet alerts
  backend/openapi.json
  backend/src/routers/vault_provisioning_internal.py
  backend/src/services/managed_vault_rollout.py
  backend/tests/scripts/test_managed_vault_pilot_evidence.py
  backend/tests/test_managed_vault_rollout.py
  backend/tests/test_rate_limits.py
  backend/tests/test_vault_activation.py
  docs/managed-vault-pilot.md
  docs/qa/managed-vault-pilot-proof.md
Due: backend-tests-coverage

fix(vault): close pilot deployment preparation gaps
  DEPLOYMENT.md
  backend/.env.example
  backend/Dockerfile
  backend/docker/backend-entrypoint.sh
  backend/docker/verify-secrets-mount.sh
  backend/scripts/managed_vault_pilot_evidence.py
  backend/src/main.py
  backend/src/services/creek_provisioning_client.py
  backend/src/services/managed_vault_activation_config.py
  backend/src/services/managed_vault_rollout.py
  backend/src/services/secure_mounted_secret.py
  backend/tests/scripts/test_backend_secret_mount_verifier.py
  backend/tests/scripts/test_managed_vault_pilot_evidence.py
  backend/tests/test_cors.py
  backend/tests/test_creek_provisioning_client.py
  backend/tests/test_docker_runtime_identity.py
  backend/tests/test_managed_vault_rollout.py
  backend/tests/test_secure_mounted_secret.py
  backend/tests/test_vault_activation.py
  docs/managed-vault-pilot.md
  docs/qa/managed-vault-pilot-evidence.template.json
  docs/qa/managed-vault-pilot-proof.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/globalSetup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(vault): gate deployed pilot evidence
  backend/scripts/managed_vault_pilot_evidence.py
  backend/tests/scripts/test_managed_vault_pilot_evidence.py
  docs/managed-vault-pilot.md
  docs/qa/managed-vault-pilot-evidence.template.json
  docs/qa/managed-vault-pilot-proof.md
Due: backend-tests-coverage

fix(backend): re-read the entry under the resonance pass's hold, re: #2998
  backend/src/routers/journal.py
  backend/src/services/creek_vault_reflect.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

feat(backend): refuse uncapped models on the server-paid path
  backend/src/services/botmason.py
  backend/tests/routers/test_server_paid_model_guard_routes.py
  backend/tests/services/test_botmason_server_paid_model_guard.py
Due: backend-tests-coverage

fix(journal): name everything a resonance pass sends to the model, re: #2998
  backend/tests/test_legal_documents.py
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/resonanceExplainerCopy.test.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(vault): close managed-pilot deployment gaps (#3000)
  DEPLOYMENT.md
  backend/.env.example
  backend/Dockerfile
  backend/docker/backend-entrypoint.sh
  backend/docker/verify-secrets-mount.sh
  backend/openapi.json
  backend/scripts/managed_vault_pilot_evidence.py
  backend/src/main.py
  backend/src/routers/vault_provisioning_internal.py
  backend/src/services/creek_provisioning_client.py
  backend/src/services/managed_vault_activation_config.py
  backend/src/services/managed_vault_rollout.py
  backend/src/services/secure_mounted_secret.py
  backend/tests/scripts/test_backend_secret_mount_verifier.py
  backend/tests/scripts/test_managed_vault_pilot_evidence.py
  backend/tests/test_cors.py
  backend/tests/test_creek_provisioning_client.py
  backend/tests/test_docker_runtime_identity.py
  backend/tests/test_managed_vault_rollout.py
  backend/tests/test_rate_limits.py
  backend/tests/test_secure_mounted_secret.py
  backend/tests/test_vault_activation.py
  docs/managed-vault-pilot.md
  docs/qa/managed-vault-pilot-evidence.template.json
  docs/qa/managed-vault-pilot-proof.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/globalSetup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): daily ceiling on charged generations per user
  backend/src/domain/dates.py
  backend/src/errors.py
  backend/src/models/wallet_audit.py
  backend/src/services/usage.py
  backend/src/services/wallet.py
  backend/tests/services/test_generation_daily_ceiling.py
Due: backend-tests-coverage

feat(backend): add the generationslot lease table
  backend/migrations/versions/a1c3e5f7b9d2_add_generation_slot_lease.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/generation_slot.py
  backend/tests/test_migration_generation_slot.py
Due: backend-tests-coverage

test(backend): pin the explainer's habit and practice disclosure, re: #2998
  backend/tests/test_legal_documents.py
Due: backend-tests-coverage

feat(backend): per-user generation minute bucket and slot lease
  backend/src/rate_limit.py
  backend/src/rate_limit_keys.py
  backend/src/services/botmason.py
  backend/src/services/creek_vault_client.py
  backend/src/services/generation_guardrails.py
  backend/tests/services/test_generation_slots.py
Due: backend-tests-coverage

feat(backend): enforce the generation guardrails on the charged routes
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/tests/routers/test_generation_guardrails_api.py
Due: backend-tests-coverage

refactor(backend): release the connection on every exit of the in-hold re-read, re: #2998
  backend/src/routers/journal.py
Due: backend-tests-coverage

feat(frontend): honest copy for the generation guardrail refusals
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
  frontend/src/features/Journal/__tests__/generationRefusal.test.ts
  frontend/src/features/Journal/generationRefusal.ts
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: record the delivered generation guardrails
  DEPLOYMENT.md
  backend/src/middleware/rate_limit.py
  frontend/e2e/journeys.json
  prompts/claude-comms/2026-09-05-resonance-economy-decision.md
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(settings): let navigation own the managed-vault activation title
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): free exits stay free once the minute is spent
  backend/tests/routers/test_generation_guardrails_api.py
Due: backend-tests-coverage

refactor(backend): drop the unreachable Retry-After floor
  backend/src/domain/dates.py
Due: backend-tests-coverage

test(e2e): walk managed-vault activation for its one title heading
  frontend/e2e/journeys.json
  frontend/e2e/screen-title-heading.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): gather a pass's grounding and prior letters under its hold, re: #2998
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

refactor(backend): extract the ceiling-checked spend from preflight
  backend/src/services/wallet.py
Due: backend-tests-coverage

fix(frontend): retry a failed inbox page at its own offset
  frontend/src/features/AdminFeedback/__tests__/triageFlows.test.tsx
  frontend/src/features/AdminFeedback/components/InboxList.tsx
  frontend/src/features/AdminFeedback/useFeedbackInbox.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): retry the drawer's failed page and keep the entries shown
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): keep a live generation's slot lease alive with a heartbeat
  backend/src/models/generation_slot.py
  backend/src/services/botmason.py
  backend/src/services/creek_vault_client.py
  backend/src/services/generation_guardrails.py
  backend/tests/services/test_generation_slots.py
  prompts/claude-comms/2026-09-05-resonance-economy-decision.md
Due: backend-tests-coverage

test(backend): pin the generation lease expiry boundary to the instant
  backend/tests/services/test_generation_slots.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
