Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(frontend): prompt 14B — practice timer race + sound leak, map clamp, course unmount (#308)
  frontend/@types/expo-av.d.ts
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend-practice): ritual-07 review polish
  frontend/src/features/Practice/engine/adapters/haptics.ts
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/formatTime.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): address ritual-03 review (list endpoint, migration ID, custom_name)
  backend/migrations/versions/83b01b64cad3_user_practice_overrides.py
  backend/src/routers/user_practices.py
  backend/src/schemas/practice.py
  backend/tests/test_user_practice_customization.py
Due: backend-tests-coverage

fix(backend): address PR #311 review feedback (ritual-04)
  backend/src/domain/practice_insights.py
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_practice_insights.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

feat(frontend-practice): mode views + audio/haptics adapters (ritual-07) (#310)
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-haptics.js
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
  frontend/src/features/Practice/engine/adapters/__tests__/haptics.test.ts
  frontend/src/features/Practice/engine/adapters/audio.ts
  frontend/src/features/Practice/engine/adapters/haptics.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/__tests__/CountUpTimerView.test.tsx
  frontend/src/features/Practice/views/__tests__/IntervalBellView.test.tsx
  frontend/src/features/Practice/views/__tests__/MeditationTimerView.test.tsx
  frontend/src/features/Practice/views/__tests__/MetronomeView.test.tsx
  frontend/src/features/Practice/views/__tests__/RepCounterView.test.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
  frontend/src/features/Practice/views/__tests__/fixtures.ts
  frontend/src/features/Practice/views/__tests__/formatTime.test.ts
  frontend/src/features/Practice/views/formatTime.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): defensive read paths + task-ref comment cleanup
  backend/migrations/versions/83b01b64cad3_user_practice_overrides.py
  backend/src/routers/user_practices.py
  backend/src/schemas/practice.py
  backend/tests/test_user_practice_customization.py
Due: backend-tests-coverage

feat(backend): session analytics + insights endpoint (ritual-04) (#311)
  backend/migrations/versions/f0a1b2c3d4e5_practice_session_metadata.py
  backend/src/domain/practice_insights.py
  backend/src/models/practice_session.py
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_insights.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

feat(frontend-practice): 5-4-3-2-1 + tarot preset views (ritual-08)
  frontend/src/features/Practice/data/tarot.ts
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/SenseGroundingView.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/tarot.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): user-practice customization (ritual-03) (#312)
  backend/migrations/versions/83b01b64cad3_user_practice_overrides.py
  backend/src/domain/practice_resolution.py
  backend/src/models/user_practice.py
  backend/src/routers/user_practices.py
  backend/src/schemas/practice.py
  backend/tests/domain/test_practice_resolution.py
  backend/tests/test_user_practice_customization.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

feat(frontend-practice): ritual configurator sheet + per-mode forms (ritual-09)
  frontend/src/api/__tests__/userPractices-customize.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/CountUpForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/IntervalBellForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/MeditationTimerForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/MetronomeForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/RepCounterForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/configurator/__tests__/SenseGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TarotForm.test.tsx
  frontend/src/features/Practice/configurator/forms/CountUpForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/MeditationTimerForm.tsx
  frontend/src/features/Practice/configurator/forms/MetronomeForm.tsx
  frontend/src/features/Practice/configurator/forms/RepCounterForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TarotForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/validation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-practice): frequency banner + practice switcher sheet (ritual-10)
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
  frontend/src/features/Practice/data/__tests__/colorPalette.test.ts
  frontend/src/features/Practice/data/colorPalette.ts
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-practice): address ritual-08 review feedback
  frontend/src/features/Practice/data/tarot.ts
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/SenseGroundingView.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-practice): address ritual-09 review feedback
  frontend/src/api/index.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/validation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): practice submit medium items (BUG-PRACTICE-007, -009)
  backend/src/routers/practice_sessions.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(backend): journal length cap + soft delete (BUG-JOURNAL-001/-007/-008)
  backend/migrations/versions/a0b1c2d3e4f5_journal_soft_delete.py
  backend/src/dependencies/ownership.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/services/journal.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): llm stream passthrough, cancel, idempotency, refund
  backend/migrations/versions/b1c2d3e4f5a6_chat_spend_idempotency.py
  backend/src/models/__init__.py
  backend/src/models/chat_spend.py
  backend/src/models/wallet_audit.py
  backend/src/routers/botmason.py
  backend/src/services/chat_stream.py
  backend/src/services/wallet.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

docs(qa): mark prompt 12B wave 2 done in INDEX
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

refactor(backend): extract helpers to satisfy xenon A-rank gate
  backend/src/routers/practice_sessions.py
  backend/src/services/chat_stream.py
Due: backend-tests-coverage

feat(frontend-practice): ritual configurator sheet + per-mode forms (ritual-09) (#314)
  frontend/src/api/__tests__/userPractices-customize.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/CountUpForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/IntervalBellForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/MeditationTimerForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/MetronomeForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/RepCounterForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/configurator/__tests__/SenseGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TarotForm.test.tsx
  frontend/src/features/Practice/configurator/forms/CountUpForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/MeditationTimerForm.tsx
  frontend/src/features/Practice/configurator/forms/MetronomeForm.tsx
  frontend/src/features/Practice/configurator/forms/RepCounterForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TarotForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/validation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend-practice): address ritual-10 review feedback
  frontend/src/api/__tests__/validateFrequencyResponse.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-practice): 5-4-3-2-1 + tarot preset views (ritual-08) (#313)
  frontend/src/features/Practice/data/tarot.ts
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/SenseGroundingView.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/tarot.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-habits): paint tile borders by list position (Beige → Clear Light)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-journal): un-mirror empty-state heading inside inverted FlatList
  frontend/src/features/Journal/Journal.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): make Map loading/error screens visible
  frontend/src/features/Map/Map.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): address PR #316 review — stream idempotency, dead code, TOCTOU
  backend/src/models/journal_entry.py
  backend/src/models/wallet_audit.py
  backend/src/routers/botmason.py
  backend/src/routers/practice_sessions.py
  backend/src/services/chat_idempotency.py
  backend/src/services/chat_stream.py
  backend/src/services/wallet.py
  backend/tests/test_botmason_api.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(frontend-journal): un-mirror empty-state heading inside inverted FlatList (#318)
  frontend/src/features/Journal/Journal.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-practice): frequency banner + practice switcher sheet (ritual-10) (#315)
  frontend/src/api/__tests__/validateFrequencyResponse.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
  frontend/src/features/Practice/data/__tests__/colorPalette.test.ts
  frontend/src/features/Practice/data/colorPalette.ts
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend-habits): cover position-based tile coloring + tighten prop API
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-habits): paint tile borders by list position (Beige → Clear Light) (#317)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): address PR #316 COMMENTS — savepoint, column type, stuck-tombstone test
  backend/src/models/chat_spend.py
  backend/src/services/chat_idempotency.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

feat(habits): add additive/subtractive direction toggle to goal editor
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): 12B wave 2 — BotMason streaming, journal soft-delete, practice idempotency (#316)
  backend/migrations/versions/a0b1c2d3e4f5_journal_soft_delete.py
  backend/migrations/versions/b1c2d3e4f5a6_chat_spend_idempotency.py
  backend/src/dependencies/ownership.py
  backend/src/models/__init__.py
  backend/src/models/chat_spend.py
  backend/src/models/journal_entry.py
  backend/src/routers/botmason.py
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/services/chat_idempotency.py
  backend/src/services/chat_stream.py
  backend/src/services/journal.py
  backend/tests/test_botmason_api.py
  backend/tests/test_journal_api.py
  backend/tests/test_practice_sessions.py
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: backend-tests-coverage

feat(backend): seed 10 stage-aligned preset practices (ritual-02)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(backend): unify forked migration heads + harden review nit (ritual-02)
  .github/workflows/backend-ci.yml
  backend/migrations/versions/c5ed9dd1dabc_merge_ritual_03_and_ritual_04_heads.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(backend): address ritual-02 review comments
  .github/workflows/backend-ci.yml
  backend/migrations/versions/c5ed9dd1dabc_merge_ritual_03_and_ritual_04_heads.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(backend): harden ritual-02 per LGTM-with-notes reviews
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(backend): re-point merge migration to current heads + fix journal drift
  backend/migrations/versions/c5ed9dd1dabc_merge_ritual_03_and_ritual_04_heads.py
  backend/src/models/journal_entry.py
Due: backend-tests-coverage

feat(backend): seed 10 stage-aligned preset practices (ritual-02) (#319)
  .github/workflows/backend-ci.yml
  backend/migrations/versions/c5ed9dd1dabc_merge_ritual_03_and_ritual_04_heads.py
  backend/src/models/journal_entry.py
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

refactor(habits): address reviewer nits on direction toggle
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): add additive/subtractive direction toggle to goal editor (#321)
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
