Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

test(frontend): drop issue refs and API-narration from tab tests
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): open the app into the Journal (initial route + tab order) (#1029)
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): guarantee onboarding lands in the Journal after Welcome
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): collapse multi-line test comments to one line
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): onboarding lands in the Journal after Welcome (#1030)
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): warm first-prompt empty state for a new journal
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): warm first-prompt empty state for a new journal (#1031)
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: rewrite README Features as journal floor + opt-in rings
  README.md
Due: none

docs: rewrite README Features as journal floor + opt-in rings (#1032)
  README.md
Due: none

docs: point Candle & Ink to the implemented design system
  CLAUDE.md
  DESIGN.md
  README.md
Due: none

docs: point Candle & Ink to the implemented design system (#1033)
  CLAUDE.md
  DESIGN.md
  README.md
Due: none

refactor(backend): retire BotMason chatbot residue, reframe as reflection
  backend/src/models/journal_entry.py
  backend/src/models/user.py
  backend/src/services/botmason.py
Due: backend-tests-coverage

refactor(backend): retire BotMason chatbot residue, reframe as reflection (#1035)
  backend/src/models/journal_entry.py
  backend/src/models/user.py
  backend/src/services/botmason.py
Due: backend-tests-coverage

feat(backend): add UserDepthPreferences model + migration (rings default on)
  backend/migrations/versions/e2f3a4b5c6d8_add_user_depth_preferences.py
  backend/src/models/__init__.py
  backend/src/models/user.py
  backend/src/models/user_depth_preferences.py
  backend/tests/models/test_user_depth_preferences.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): add UserDepthPreferences model + migration (rings default on) (#1036)
  backend/migrations/versions/e2f3a4b5c6d8_add_user_depth_preferences.py
  backend/src/models/__init__.py
  backend/src/models/user.py
  backend/src/models/user_depth_preferences.py
  backend/tests/models/test_user_depth_preferences.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): add get/update depth-preferences endpoints + schema
  backend/src/domain/depth_preferences.py
  backend/src/main.py
  backend/src/routers/depth_preferences.py
  backend/src/schemas/depth_preferences.py
  backend/tests/test_depth_preferences_api.py
Due: backend-tests-coverage

feat(backend): add get/update depth-preferences endpoints + schema (#1037)
  backend/src/domain/depth_preferences.py
  backend/src/main.py
  backend/src/routers/depth_preferences.py
  backend/src/schemas/depth_preferences.py
  backend/tests/test_depth_preferences_api.py
Due: backend-tests-coverage

feat(frontend): depth-preferences API client + store
  frontend/src/api/__tests__/depthPreferences-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/store/__tests__/useDepthPreferencesStore.test.ts
  frontend/src/store/useDepthPreferencesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): depth-preferences API client + store (#1038)
  frontend/src/api/__tests__/depthPreferences-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/store/__tests__/useDepthPreferencesStore.test.ts
  frontend/src/store/useDepthPreferencesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): "Choose your depths" Settings section (ring toggles)
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/store/useDepthPreferencesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): "Choose your depths" Settings section (ring toggles) (#1039)
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/store/useDepthPreferencesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): render ring tabs conditionally from enabled preferences
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): render ring tabs conditionally from enabled preferences (#1040)
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): compute per-Aspect wholeness and expose a wheel endpoint
  backend/src/domain/wheel.py
  backend/src/routers/stages.py
  backend/src/schemas/wheel.py
  backend/tests/domain/test_wheel.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

feat(backend): compute per-Aspect wholeness and expose a wheel endpoint (#1041)
  backend/src/domain/wheel.py
  backend/src/routers/stages.py
  backend/src/schemas/wheel.py
  backend/tests/domain/test_wheel.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

feat(frontend): render the Map as a wheel-of-wholeness balance reading
  frontend/src/api/__tests__/wheel-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/hooks/__tests__/useWheelBalance.test.tsx
  frontend/src/features/Map/hooks/useWheelBalance.ts
  frontend/src/features/Map/wheelBalance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): address review — drop bypasses on the wheel Map reading
  frontend/src/api/index.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/hooks/useWheelBalance.ts
  frontend/src/features/Map/wheelBalance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): render the Map as a wheel-of-wholeness balance reading (#1042)
  frontend/src/api/__tests__/wheel-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/hooks/__tests__/useWheelBalance.test.tsx
  frontend/src/features/Map/hooks/useWheelBalance.ts
  frontend/src/features/Map/wheelBalance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add cycle_number to StageProgress + migration
  backend/migrations/versions/f2a3b4c5d6e8_add_stageprogress_cycle_number.py
  backend/src/models/stage_progress.py
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_migrations.py
  backend/tests/test_stage_progress_model.py
  backend/tests/test_stage_progress_schema.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

feat(backend): add cycle_number to StageProgress + migration (#1048)
  backend/migrations/versions/f2a3b4c5d6e8_add_stageprogress_cycle_number.py
  backend/src/models/stage_progress.py
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_migrations.py
  backend/tests/test_stage_progress_model.py
  backend/tests/test_stage_progress_schema.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

feat(backend): loop the program at Stage 10 with an explicit begin-again
  backend/src/routers/stages.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

feat(backend): loop the program at Stage 10 with an explicit begin-again (#1049)
  backend/src/routers/stages.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

feat(frontend): warm begin-again affordance + cycle indicator
  frontend/src/api/__tests__/beginAgain-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/beginAgain.test.ts
  frontend/src/features/Map/beginAgain.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): guard begin-again against a double-press cycle skip
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): warm begin-again affordance + cycle indicator (#1051)
  frontend/src/api/__tests__/beginAgain-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/beginAgain.test.ts
  frontend/src/features/Map/beginAgain.ts
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add InvitationSignal model + migration
  backend/migrations/versions/b3c4d5e6f7a8_add_invitation_signal.py
  backend/src/models/__init__.py
  backend/src/models/invitation_signal.py
  backend/tests/test_invitation_signal.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): add InvitationSignal model + migration (#1052)
  backend/migrations/versions/b3c4d5e6f7a8_add_invitation_signal.py
  backend/src/models/__init__.py
  backend/src/models/invitation_signal.py
  backend/tests/test_invitation_signal.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): readiness-signal computation + non-repeating invitation generation
  backend/src/domain/invitations.py
  backend/src/services/invitations.py
  backend/tests/domain/test_invitations.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage

fix(backend): use a plain type alias for py3.11 compat
  backend/src/services/invitations.py
Due: backend-tests-coverage

feat(backend): readiness-signal computation + non-repeating invitation generation (#1053)
  backend/src/domain/invitations.py
  backend/src/services/invitations.py
  backend/tests/domain/test_invitations.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage
