Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(tooling): install the pre-push hook type so the local gate actually fires
  .claude/skills/stay-green/SKILL.md
  .pre-commit-config.yaml
  CLAUDE.md
  backend/tests/scripts/test_pre_push_hook_installation.py
  scripts/dev-setup.sh
  scripts/ralph/PROMPT.md
Due: backend-tests-coverage

ci(frontend): stop pre-commit config changes from pulling in the frontend pipeline
  .github/workflows/frontend-ci.yml
Due: none

fix(frontend): unblock the audit gate — fix nanoid, time-box the two unfixable advisories
  frontend/.audit-allowlist.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): unblock the audit gate — fix nanoid, time-box the two unfixable advisories (#2170)
  frontend/.audit-allowlist.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(tooling): install the pre-push hook type so the local gate actually fires (#2156)
  .claude/skills/stay-green/SKILL.md
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  backend/tests/scripts/test_pre_push_hook_installation.py
  scripts/dev-setup.sh
  scripts/ralph/PROMPT.md
Due: backend-tests-coverage

fix(backend): read Creek's own capability document, and stop guessing an upload route
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_url_defects.py
  backend/tests/test_creek_vault_wheel.py
Due: backend-tests-coverage

chore(frontend)!: core SDK bump — expo 52→57, RN 0.76.9→0.86.2, React 18.3→19
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(frontend): regenerate the lockfile against the SDK 57 manifest
  frontend/package-lock.json
Due: frontend-eslint, frontend-tests

refactor(frontend): migrate the ritual audio adapter from expo-av to expo-audio
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-audio.js
  frontend/src/features/Practice/engine/adapters/audio.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): migrate the audio test surface from expo-av to expo-audio
  frontend/jest.setup.js
  frontend/src/__mocks__/expo-av.js
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.audio.test.tsx
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): capture the document reference in effect cleanups, not the global
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Journal/webSelectionListener.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(agents): add distributed model-release artifact cleanup
  .github/workflows/ecosystem-distribute.yml
  .github/workflows/model-release-cleanup.yml
  CLAUDE.md
  prompts/model-release-cleanup.md
Due: none

fix(frontend): finish the React 19 / RN 0.86 migration so the suite is green
  frontend/jest.config.js
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/components/TextField.tsx
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/__tests__/webSelectionListener.test.tsx
  frontend/src/features/Journal/capture/__tests__/cleanupPageFiles.test.ts
  frontend/src/features/Journal/capture/cleanupPageFiles.ts
  frontend/src/features/Journal/webSelectionListener.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
  frontend/src/features/Welcome/WelcomeScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(frontend): clear the SDK-tied dependabot guards and close the doctor gaps
  .github/dependabot.yml
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): transform expo's virtual env module in the e2e lane
  frontend/jest.e2e.config.js
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(backend): read Creek's own capability document, and stop guessing an upload route (#2172)
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_url_defects.py
  backend/tests/test_creek_vault_wheel.py
Due: backend-tests-coverage

fix(backend): send /v1's required contract-version header, and negotiate against the set
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
  backend/tests/test_creek_vault_url_defects.py
  backend/tests/test_creek_vault_wheel.py
  docs/adr/0004-creek-vault-http-application-boundary.md
Due: backend-tests-coverage

chore(deps): upgrade react-native-chart-kit to 7, and render it in a test
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/Habits/components/__tests__/StatsModal.realCharts.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): send /v1's required contract-version header, and negotiate against the set (#2176)
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
  backend/tests/test_creek_vault_url_defects.py
  backend/tests/test_creek_vault_wheel.py
  docs/adr/0004-creek-vault-http-application-boundary.md
Due: backend-tests-coverage

feat(practice): lay the stage picker out as a colour-coded column-major grid
  frontend/src/features/Practice/components/StageSelector.tsx
  frontend/src/features/Practice/components/__tests__/StageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): upgrade react-native-chart-kit to 7, and render it in a test (#2187)
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/Habits/components/__tests__/StatsModal.realCharts.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): drop the retired MCP pins, and fix the two things that were hiding behind them
  .pre-commit-config.yaml
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/routers/gumroad.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

feat(practice): lay the stage picker out as a colour-coded column-major grid (#2188)
  frontend/src/features/Practice/components/StageSelector.tsx
  frontend/src/features/Practice/components/__tests__/StageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(tooling): declare uvicorn for the mypy hook, which was getting it from mcp
  .pre-commit-config.yaml
Due: none

fix(frontend): stop dropping reflection fields, and stop one bad sender failing a list
  frontend/src/api/__tests__/journalReflectionFields.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop dropping reflection fields, and stop one bad sender failing a list (#2190)
  frontend/src/api/__tests__/journalReflectionFields.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): cover the non-UTF-8 webhook body branch
  backend/tests/routers/test_gumroad_webhook.py
Due: backend-tests-coverage

fix(backend): audit cross-tenant practice-session probes instead of silently rejecting
  backend/src/routers/practice_sessions.py
  backend/src/schemas/__init__.py
  backend/src/schemas/checkin.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

chore(deps): drop the retired MCP pins, and fix the two things that were hiding behind them (#2189)
  .pre-commit-config.yaml
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/routers/gumroad.py
  backend/tests/routers/test_gumroad_webhook.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

fix(ralph): give the non-actionable merge states their own tokens
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(backend): audit cross-tenant practice-session probes instead of silently rejecting (#2192)
  backend/src/routers/practice_sessions.py
  backend/src/schemas/__init__.py
  backend/src/schemas/checkin.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(frontend): make the rate-limit message true on every surface that emits it
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): give the non-actionable merge states their own tokens (#2193)
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(frontend): make the rate-limit message true on every surface that emits it (#2194)
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): commit the OpenAPI document behind a drift gate
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/openapi.json
  backend/tests/scripts/test_export_openapi.py
  scripts/backend/export_openapi.py
Due: backend-tests-coverage

fix(ralph): make a self-skipped review a terminal state, not an endless wait
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(ralph): make a self-skipped review a terminal state, not an endless wait (#2197)
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(ralph): check the bridge marker even when a bot body carries a changelog link
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

docs(ralph): correct the marker-route header, which this change made false
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
