Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(design): warm-dark showcase surface + accent callout band
  frontend/src/components/layout/CalloutBand.tsx
  frontend/src/components/layout/ShowcaseCard.tsx
  frontend/src/components/layout/__tests__/CalloutBand.test.tsx
  frontend/src/components/layout/__tests__/ShowcaseCard.test.tsx
  frontend/src/design/ATTRIBUTION
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/showcaseTokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): warm-dark showcase surface + accent callout band (#854)
  frontend/src/components/layout/CalloutBand.tsx
  frontend/src/components/layout/ShowcaseCard.tsx
  frontend/src/components/layout/__tests__/CalloutBand.test.tsx
  frontend/src/components/layout/__tests__/ShowcaseCard.test.tsx
  frontend/src/design/ATTRIBUTION
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/showcaseTokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): shared motion vocabulary + editorial empty/loading/celebration states
  frontend/src/components/feedback/Celebration.tsx
  frontend/src/components/feedback/EmptyState.tsx
  frontend/src/components/feedback/Skeleton.tsx
  frontend/src/components/feedback/__tests__/Celebration.test.tsx
  frontend/src/components/feedback/__tests__/EmptyState.test.tsx
  frontend/src/components/feedback/__tests__/Skeleton.test.tsx
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/hooks/__tests__/useEntrance.test.tsx
  frontend/src/hooks/useEntrance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): shared motion vocabulary + editorial empty/loading/celebration states (#855)
  frontend/src/components/feedback/Celebration.tsx
  frontend/src/components/feedback/EmptyState.tsx
  frontend/src/components/feedback/Skeleton.tsx
  frontend/src/components/feedback/__tests__/Celebration.test.tsx
  frontend/src/components/feedback/__tests__/EmptyState.test.tsx
  frontend/src/components/feedback/__tests__/Skeleton.test.tsx
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/hooks/__tests__/useEntrance.test.tsx
  frontend/src/hooks/useEntrance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(today): editorial Today hub as the home tab
  frontend/src/features/Today/Today.styles.ts
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(today): make the habits-done count reactive
  frontend/src/features/Today/TodayScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(today): editorial Today hub as the home tab (#856)
  frontend/src/features/Today/Today.styles.ts
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): editorial library shelf
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): editorial library shelf (#857)
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): warm Candle & Ink catalog, detail, and begin-a-session hero
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/hooks/useRecentPractices.ts
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/storage/recentPracticesStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): warm Candle & Ink catalog, detail, and begin-a-session hero (#858)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/hooks/useRecentPractices.ts
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/storage/recentPracticesStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): immersive session — showcase header, celebration, soft reflection sheet
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): immersive session — showcase header, celebration, soft reflection sheet (#860)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): immersive reading experience
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentCard.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): immersive reading experience (#861)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentCard.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): single responsive row grid (re-architecture)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/stageData.test.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/store/__tests__/useStageStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): single responsive row grid (re-architecture) (#862)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/stageData.test.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/store/__tests__/useStageStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): journey narrative with achievement
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/journeyNarrative.test.ts
  frontend/src/features/Map/journeyNarrative.ts
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramProgression.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): journey narrative with achievement (#863)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/journeyNarrative.test.ts
  frontend/src/features/Map/journeyNarrative.ts
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramProgression.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(auth): branded editorial first impression
  frontend/src/features/Auth/AuthBrandBand.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/ForgotPasswordScreen.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/auth.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(auth): branded editorial first impression (#864)
  frontend/src/features/Auth/AuthBrandBand.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/ForgotPasswordScreen.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/auth.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(settings): editorial settings hub + warm adoption
  frontend/src/App.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(settings): editorial settings hub + warm adoption (#865)
  frontend/src/App.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(welcome): first-run program onboarding
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
  frontend/src/features/Welcome/welcomeContent.ts
  frontend/src/storage/__tests__/welcomeStorage.test.ts
  frontend/src/storage/welcomeStorage.ts
  frontend/src/store/__tests__/useWelcomeStore.test.tsx
  frontend/src/store/useWelcomeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(welcome): first-run program onboarding (#868)
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
  frontend/src/features/Welcome/welcomeContent.ts
  frontend/src/storage/__tests__/welcomeStorage.test.ts
  frontend/src/storage/welcomeStorage.ts
  frontend/src/store/__tests__/useWelcomeStore.test.tsx
  frontend/src/store/useWelcomeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(backend): index CompletionSuggestion target FKs
  backend/migrations/versions/c5d6e7f8a9b0_index_completion_suggestion_target_fks.py
  backend/src/models/completion_suggestion.py
  backend/tests/test_completion_suggestion_model.py
Due: backend-tests-coverage

perf(backend): index CompletionSuggestion target FKs (#876)
  backend/migrations/versions/c5d6e7f8a9b0_index_completion_suggestion_target_fks.py
  backend/src/models/completion_suggestion.py
  backend/tests/test_completion_suggestion_model.py
Due: backend-tests-coverage

feat(backend): optional status filter on the suggestions list
  backend/src/routers/journal.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

feat(backend): optional status filter on the suggestions list (#877)
  backend/src/routers/journal.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

feat(practice): extend the showcase ground through mode-view interiors
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/__snapshots__/MindfulAnchorView.test.tsx.snap
  frontend/src/features/Practice/views/__tests__/sessionSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): extend the showcase ground through mode-view interiors (#878)
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/__snapshots__/MindfulAnchorView.test.tsx.snap
  frontend/src/features/Practice/views/__tests__/sessionSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor: remove dead API client methods + orphaned single-stage endpoint
  backend/src/routers/stages.py
  backend/tests/test_stages_api.py
  frontend/src/api/__tests__/goalGroups-api.test.ts
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs: add root DESIGN.md north-star design reference
  DESIGN.md
Due: none

docs: add root DESIGN.md north-star design reference (#880)
  DESIGN.md
Due: none

refactor: remove dead API client methods + orphaned single-stage endpoint (#879)
  backend/src/routers/stages.py
  backend/tests/test_stages_api.py
  frontend/src/api/__tests__/goalGroups-api.test.ts
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs: weave the north-star thesis through the docs + audit pass
  AGENTS.md
  CLAUDE.md
  NORTH-STAR.md
  README.md
  docs/content.md
Due: none

docs: weave the north-star thesis through the docs + audit pass (#881)
  AGENTS.md
  CLAUDE.md
  NORTH-STAR.md
  README.md
  docs/content.md
Due: none

fix(ci): push code-review verdicts off the COMMENTS default (#882)
  .github/workflows/claude-code-review.yml
Due: none

fix(deploy): ship backend/content in the runtime image
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  backend/tests/test_dockerfile_ships_content.py
Due: backend-tests-coverage

fix(deploy): ship backend/content in the runtime image (#883)
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  backend/tests/test_dockerfile_ships_content.py
Due: backend-tests-coverage
