Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(vault): gate managed activation pilot (#2877)
  backend/.env.example
  backend/openapi.json
  backend/scripts/dast/contract_fuzz.sh
  backend/scripts/dast/schemathesis.toml
  backend/src/main.py
  backend/src/routers/vault_activation.py
  backend/src/schemas/vault_activation.py
  backend/src/services/managed_vault_rollout.py
  backend/tests/scripts/dast/test_contract_fuzz_catches_a_planted_bug.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/test_managed_vault_rollout.py
  backend/tests/test_vault_activation.py
  docs/adr/0007-demand-provisioned-confidential-vaults.md
  docs/managed-vault-pilot.md
  frontend/e2e/globalSetup.ts
  frontend/e2e/journeys.json
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): keep follow-up unit logs responsive (#2876)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): hydrate timezone before resumed session (#2847)
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): confirm the dropped marker value instead of a first-render 0
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/markerDrag.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.markerDrag.test.tsx
  frontend/src/features/Habits/markerDrag.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(reflections): window source feeds by the review's own calendar period
  backend/openapi.json
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/src/routers/reflections.py
  backend/src/schemas/reflection.py
  backend/tests/security/test_idor.py
  backend/tests/test_reflections_api.py
  backend/tests/test_reflections_window.py
  frontend/e2e/journal-promoted-quote-reflection.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/reflections-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/reflectionCopy.ts
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): resume a session on its own calendar, not on UTC
  frontend/e2e/journeys.json
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/context/__tests__/ResumedSessionDayBoundary.test.tsx
  frontend/src/context/__tests__/ResumedSessionScope.integration.test.tsx
  frontend/src/features/Auth/__tests__/useAppleAuth.test.tsx
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitsFocusRefetch.test.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Journal/__tests__/useHabitsSummaryRefresh.test.tsx
  frontend/src/features/Journal/useHabitsSummary.ts
  frontend/src/hooks/useRefetchOnReturn.ts
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/utils/dayRollover.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): a Voice Drafts shelf that reaches the listing endpoint
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/voice-drafts-shelf.e2e.test.ts
  frontend/src/api/__tests__/voiceDrafts.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/VoiceDraftsShelf.styles.ts
  frontend/src/features/Journal/VoiceDraftsShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/VoiceDraftsShelfScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): realign four Expo SDK pins so frontend-quality can pass
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(journal): print review dates in the account's zone, not the device's
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/reflectionCopyDates.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): keep a crowded goal bar's markers draggable
  frontend/src/features/Habits/__tests__/markerDrag.test.ts
  frontend/src/features/Habits/markerDrag.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): step back half a day, not a whole one, to name a review's last day
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Journal/__tests__/reflectionCopyDates.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(reflections): use the shared DAYS_PER_WEEK constant
  backend/src/routers/reflections.py
Due: backend-tests-coverage

refactor(backend): one owner for the completion backfill window
  backend/src/domain/dates.py
  backend/src/services/checkin.py
  backend/tests/domain/test_dates.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

feat(backend): completion suggestions carry units and day; accept logs them
  backend/migrations/versions/d4e7c9a1b830_completion_suggestion_facts.py
  backend/openapi.json
  backend/src/models/completion_suggestion.py
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/checkin.py
  backend/tests/security/test_idor.py
  backend/tests/test_completion_accept_dismiss.py
  backend/tests/test_completion_suggestion_model.py
  backend/tests/test_migrations.py
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): guard required fields once and stop fallbacks masking server status
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/ForgotPasswordScreen.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/requiredFieldValidation.test.ts
  frontend/src/features/Auth/__tests__/useAuthSubmit.test.tsx
  frontend/src/features/Auth/components/AuthErrorBanner.tsx
  frontend/src/features/Auth/components/__tests__/AuthErrorBanner.test.tsx
  frontend/src/features/Auth/requiredFieldValidation.ts
  frontend/src/features/Auth/useAuthSubmit.ts
  frontend/src/features/Auth/useSignupForm.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): detection extracts amount, unit and day per completion hit
  backend/src/domain/detection.py
  backend/src/domain/detection_facts.py
  backend/src/routers/journal.py
  backend/src/services/completion_candidates.py
  backend/src/services/stub_completions.py
  backend/tests/domain/test_detection_facts.py
  backend/tests/services/test_completion_candidates.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_detection_service.py
  backend/tests/test_stub_completions.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(auth): retract the required-field message on the right edit, not any edit
  frontend/src/features/Auth/__tests__/ForgotPasswordScreen.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/useAuthSubmit.test.tsx
  frontend/src/features/Auth/useAuthSubmit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): withdraw only as much of the guard's verdict as the user has earned
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/useAuthSubmit.test.tsx
  frontend/src/features/Auth/useAuthSubmit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): key the habit accept so a retried offer logs its units once
  backend/src/domain/detection.py
  backend/src/domain/detection_facts.py
  backend/src/models/completion_suggestion.py
  backend/src/routers/journal.py
  backend/tests/domain/test_detection_facts.py
  backend/tests/test_completion_accept_dismiss.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_migrations.py
  backend/tests/test_stub_completions.py
Due: backend-tests-coverage

feat(journal): habit offer card shows the amount and day it will log
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/services/__tests__/goalLookup.test.ts
  frontend/src/features/Habits/services/goalLookup.ts
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/suggestionFacts.test.ts
  frontend/src/features/Journal/suggestionFacts.ts
  frontend/src/features/Journal/useResonance.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/utils/__tests__/backfillWindow.test.ts
  frontend/src/utils/__tests__/backfillWindowDrift.test.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/backfillWindow.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(auth): pin the timezone clear, and its ordering, on both wipe doors
  frontend/e2e/journeys.json
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): retain each cycle's program anchor across begin-again
  backend/migrations/versions/a1f7c2b9d604_stageprogress_past_cycle_anchors.py
  backend/src/domain/stage_authority.py
  backend/src/models/stage_progress.py
  backend/src/routers/stages.py
  backend/tests/e2e/program_anchor.py
  backend/tests/test_migrations.py
  backend/tests/test_stage_reconciliation.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

fix(backend): window a past-cycle review on its own retained anchor
  backend/openapi.json
  backend/src/domain/cycle_calendar.py
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/src/routers/reflections.py
  backend/src/schemas/reflection.py
  backend/tests/domain/test_cycle_calendar.py
  backend/tests/security/test_idor.py
  backend/tests/test_reflections_api.py
  backend/tests/test_reflections_window.py
Due: backend-tests-coverage

feat(frontend): say when a review's period cannot be reconstructed
  frontend/e2e/journal-return-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/map.e2e.test.ts
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): anchor the e2e day to the account zone, hold two seams
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): assert the left-pad and publish anchor_status as its enum
  backend/openapi.json
  backend/src/routers/reflections.py
  backend/src/schemas/reflection.py
  backend/tests/domain/test_cycle_calendar.py
  backend/tests/test_stages_api.py
  frontend/src/__tests__/wiring/openapiConformance.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): stop telling a writer they wrote nothing when we do not know
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): make OwnedResourcePublic enforce its own no-user_id rule
  backend/src/schemas/_base.py
  backend/tests/security/test_owned_resource_base.py
Due: backend-tests-coverage

refactor(backend): give the idempotency digest one owner
  backend/src/security/idempotency.py
  backend/src/services/goal_completion_idempotency.py
  backend/src/services/practice_session_idempotency.py
  backend/tests/test_idempotency_contract.py
Due: backend-tests-coverage

feat(backend): derive prose redaction in repr from the column type
  backend/src/models/_prose_repr.py
  backend/tests/security/test_prose_redacting_repr.py
Due: backend-tests-coverage

fix(frontend): synthesize practice bells in-app instead of shipping empty mp3s
  frontend/assets/sounds/bell-bowl.mp3
  frontend/assets/sounds/bell-chime.mp3
  frontend/assets/sounds/bell-end.mp3
  frontend/assets/sounds/bell-gong.mp3
  frontend/assets/sounds/bell-half.mp3
  frontend/assets/sounds/bell-start.mp3
  frontend/e2e/journeys.json
  frontend/src/__mocks__/expo-audio.js
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenQuickLaunch.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.audio.test.tsx
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
  frontend/src/features/Practice/engine/adapters/__tests__/bellSynth.test.ts
  frontend/src/features/Practice/engine/adapters/audio.ts
  frontend/src/features/Practice/engine/adapters/bellSynth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(feedback): accept private beta reports with an allowlisted envelope
  backend/migrations/versions/b4d2e7a9c1f3_add_feedback_report.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/main.py
  backend/src/models/feedback.py
  backend/src/routers/admin.py
  backend/src/routers/feedback.py
  backend/src/schemas/admin.py
  backend/src/schemas/feedback.py
  backend/src/services/feedback.py
  backend/tests/security/test_feedback_repr.py
  backend/tests/security/test_idor.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_data_export_api.py
  backend/tests/test_feedback_api.py
  backend/tests/test_feedback_retention.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_legal_documents.py
  backend/tests/test_migrations.py
  backend/tests/test_rate_limits.py
  docs/legal/privacy-policy.md
  docs/your-data.md
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(feedback): scope the policy allowlist check to the paragraph that enumerates
  backend/tests/test_legal_documents.py
Due: backend-tests-coverage

test(feedback): seed the receipt route for the authorization matrix
  backend/scripts/dast/seeds.py
Due: backend-tests-coverage

test(feedback): pin the public reference, and drop the avoidable suppressions
  backend/tests/test_feedback_api.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
