Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

test(api): guard journal.list() canonical URL (no 307)
  frontend/__tests__/api.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(issues): spec habit/practice check-off from journal resonance
  prompts/github-issues/habit-resonance/habit-resonance-01-completion-suggestion-model.md
  prompts/github-issues/habit-resonance/habit-resonance-02-detection-domain.md
  prompts/github-issues/habit-resonance/habit-resonance-03-candidate-service.md
  prompts/github-issues/habit-resonance/habit-resonance-04-endpoint-wiring.md
  prompts/github-issues/habit-resonance/habit-resonance-05-accept-dismiss-endpoints.md
  prompts/github-issues/habit-resonance/habit-resonance-06-api-client.md
  prompts/github-issues/habit-resonance/habit-resonance-07-check-it-off-card.md
  prompts/github-issues/habit-resonance/habit-resonance-08-practice-checkoff.md
  prompts/github-issues/habit-resonance/habit-resonance-epic.md
Due: none

ci(review): block only CHANGES_REQUESTED, not COMMENTS
  .github/workflows/claude-code-review.yml
Due: none

refactor(nav): dry the default-theme test mock + clarify tab border
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/test-utils/navMocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(api): guard journal.list() canonical URL (no 307) (#813)
  frontend/__tests__/api.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): warm editorial navigation theme (headers + bottom tab bar) (#809)
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/theme.test.ts
  frontend/src/navigation/theme.ts
  frontend/src/test-utils/navMocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(design): add "Candle & Ink, Act II" screen re-imagination epic
  prompts/github-issues/README.md
  prompts/github-issues/design-act2/design-act2-01-editorial-scaffolding.md
  prompts/github-issues/design-act2/design-act2-02-showcase-surface-and-callout.md
  prompts/github-issues/design-act2/design-act2-03-motion-and-empty-states.md
  prompts/github-issues/design-act2/design-act2-04-today-hub.md
  prompts/github-issues/design-act2/design-act2-05-journal-shelf-library.md
  prompts/github-issues/design-act2/design-act2-06-practice-catalog-and-begin.md
  prompts/github-issues/design-act2/design-act2-07-practice-player-immersion.md
  prompts/github-issues/design-act2/design-act2-08-course-immersive-reading.md
  prompts/github-issues/design-act2/design-act2-09-map-journey-narrative.md
  prompts/github-issues/design-act2/design-act2-10-auth-first-impression.md
  prompts/github-issues/design-act2/design-act2-11-settings-hub.md
  prompts/github-issues/design-act2/design-act2-12-program-onboarding.md
  prompts/github-issues/design-act2/design-act2-epic.md
Due: none

feat(design): warm dark mode + useTheme() mode context
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/design/ThemeContext.tsx
  frontend/src/design/__tests__/ThemeContext.test.tsx
  frontend/src/design/__tests__/semanticTokensDark.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/navigation/__tests__/theme.test.ts
  frontend/src/navigation/theme.ts
  frontend/src/test-utils/navMocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): warm dark mode + useTheme() mode context (#823)
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/design/ThemeContext.tsx
  frontend/src/design/__tests__/ThemeContext.test.tsx
  frontend/src/design/__tests__/semanticTokensDark.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/navigation/__tests__/theme.test.ts
  frontend/src/navigation/theme.ts
  frontend/src/test-utils/navMocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(review): post the verdict deterministically via structured output
  .github/workflows/claude-code-review.yml
Due: none

ci(review): tolerate the anti-tamper self-skip on workflow-editing PRs
  .github/workflows/claude-code-review.yml
Due: none

ci(review): post the verdict deterministically via structured output (#837)
  .github/workflows/claude-code-review.yml
Due: none

feat(backend): add completion-suggestion model + migration
  backend/migrations/versions/a3b4c5d6e7f9_add_completion_suggestion.py
  backend/src/models/__init__.py
  backend/src/models/completion_suggestion.py
  backend/src/models/journal_entry.py
  backend/tests/test_completion_suggestion_model.py
Due: backend-tests-coverage

ci(review): author the verdict comment as claude, not github-actions[bot]
  .github/workflows/claude-code-review.yml
Due: none

ci(review): author the verdict comment as claude, not github-actions[bot] (#840)
  .github/workflows/claude-code-review.yml
Due: none

feat(backend): add completion-suggestion model + migration (#838)
  backend/migrations/versions/a3b4c5d6e7f9_add_completion_suggestion.py
  backend/src/models/__init__.py
  backend/src/models/completion_suggestion.py
  backend/src/models/journal_entry.py
  backend/tests/test_completion_suggestion_model.py
Due: backend-tests-coverage

docs(design): add Map layout-legibility fix (act2-13) for garbled render
  prompts/github-issues/README.md
  prompts/github-issues/design-act2/design-act2-09-map-journey-narrative.md
  prompts/github-issues/design-act2/design-act2-13-map-layout-legibility.md
  prompts/github-issues/design-act2/design-act2-epic.md
Due: none

feat(backend): add completion-detection domain service (LLM pass)
  backend/src/domain/detection.py
  backend/tests/test_detection_service.py
Due: backend-tests-coverage

ci(review): revert to GITHUB_TOKEN for posting (app token 401s)
  .github/workflows/claude-code-review.yml
Due: none

ci(review): revert to GITHUB_TOKEN for posting (app token 401s) (#844)
  .github/workflows/claude-code-review.yml
Due: none

fix(detection): cap detected labels at the DB column size (255, not 280)
  backend/src/domain/detection.py
  backend/tests/test_detection_service.py
Due: backend-tests-coverage

ci(review): post the verdict with GEOFFE_GA_PAT (real author), fall back to GITHUB_TOKEN
  .github/workflows/claude-code-review.yml
Due: none

ci(review): post the verdict with GEOFFE_GA_PAT (real author), fall back to GITHUB_TOKEN (#845)
  .github/workflows/claude-code-review.yml
Due: none

feat(backend): add completion-detection domain service (LLM pass) (#843)
  backend/src/domain/detection.py
  backend/tests/test_detection_service.py
Due: backend-tests-coverage

fix(ci): push code-review verdicts off the COMMENTS default
  .github/workflows/claude-code-review.yml
Due: none

docs(design): re-architect Map issue (act2-13) from patch to layout rebuild
  prompts/github-issues/README.md
  prompts/github-issues/design-act2/design-act2-09-map-journey-narrative.md
  prompts/github-issues/design-act2/design-act2-13-map-grid-rearchitecture.md
  prompts/github-issues/design-act2/design-act2-13-map-layout-legibility.md
  prompts/github-issues/design-act2/design-act2-epic.md
Due: none

feat(backend): gather completion candidates from a user's habits
  backend/src/services/completion_candidates.py
  backend/tests/services/test_completion_candidates.py
Due: backend-tests-coverage

feat(backend): gather completion candidates from a user's habits (#846)
  backend/src/services/completion_candidates.py
  backend/tests/services/test_completion_candidates.py
Due: backend-tests-coverage

feat(backend): run completion detection on the resonance press
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/schemas/marginalia.py
  backend/src/services/marginalia.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

feat(backend): run completion detection on the resonance press (#847)
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/schemas/marginalia.py
  backend/src/services/marginalia.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

feat(backend): accept/dismiss endpoints for completion suggestions
  backend/src/routers/goal_completions.py
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/checkin.py
  backend/tests/routers/test_goal_completions_streak_dedup.py
  backend/tests/test_completion_accept_dismiss.py
Due: backend-tests-coverage

feat(backend): accept/dismiss endpoints for completion suggestions (#849)
  backend/src/routers/goal_completions.py
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/checkin.py
  backend/tests/routers/test_goal_completions_streak_dedup.py
  backend/tests/test_completion_accept_dismiss.py
Due: backend-tests-coverage

feat(frontend): suggestions API client + types + useResonance surfacing
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/__tests__/resonance.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): suggestions API client + types + useResonance surfacing (#850)
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/__tests__/resonance.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): "Check it off?" margin card for completion suggestions
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): "Check it off?" margin card for completion suggestions (#851)
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat: check off practices from the journal resonance pass
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/completion_candidates.py
  backend/tests/services/test_completion_candidates.py
  backend/tests/test_completion_accept_dismiss.py
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat: check off practices from the journal resonance pass (#852)
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/completion_candidates.py
  backend/tests/services/test_completion_candidates.py
  backend/tests/test_completion_accept_dismiss.py
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(design): editorial screen scaffold + section rhythm (Act II foundation)
  frontend/src/components/layout/EditorialSection.tsx
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/EditorialSection.test.tsx
  frontend/src/components/layout/__tests__/ScreenHeader.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/design/__tests__/rhythmTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): editorial screen scaffold + section rhythm (Act II foundation) (#853)
  frontend/src/components/layout/EditorialSection.tsx
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/EditorialSection.test.tsx
  frontend/src/components/layout/__tests__/ScreenHeader.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/design/__tests__/rhythmTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
