Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(journal): render lightweight markdown (#2798)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-markdown.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/journalMarkdown.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): await final save before closing
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-close-save.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(plan): re-verify the triage review and record what the fleet overtook
  plan/2026-08-21_BACKLOG_TRIAGE_SUPERSESSION.md
Due: none

fix(journal): await final save before closing (#2799)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-close-save.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): keep entry titles on one line
  backend/src/schemas/journal.py
  backend/src/schemas/journal_title.py
  backend/src/schemas/prompt.py
  backend/tests/test_journal_title_schema.py
  backend/tests/test_prompts_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-title-single-line.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): keep entry titles on one line (#2800)
  backend/src/schemas/journal.py
  backend/src/schemas/journal_title.py
  backend/src/schemas/prompt.py
  backend/tests/test_journal_title_schema.py
  backend/tests/test_prompts_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-title-single-line.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(map): continue stages in Course
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map-continue-course.browser.e2e.test.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): continue stages in Course (#2801)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map-continue-course.browser.e2e.test.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(wallet): keep BYOK resonance off BotMason balance
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_transcription_endpoint.py
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance-credit-exhausted.browser.e2e.test.ts
  frontend/e2e/resonance-explainer.browser.e2e.test.ts
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/resonance.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceExplainerDialog.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenJustSaved.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceGate.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/apiKeyContextTestKit.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(wallet): keep BYOK resonance off BotMason balance (#2802)
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_transcription_endpoint.py
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance-credit-exhausted.browser.e2e.test.ts
  frontend/e2e/resonance-explainer.browser.e2e.test.ts
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/resonance.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceExplainerDialog.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenJustSaved.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceGate.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/apiKeyContextTestKit.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): extend the login JWT to a 30-day sliding session
  backend/src/models/revoked_token.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
  prompts/security/README.md
Due: backend-tests-coverage

feat(frontend): renew the session at half-life and cover it across the seam
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/session-lifetime.e2e.test.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/utils/__tests__/token.test.ts
  frontend/src/utils/token.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(backend): regenerate the OpenAPI document for the refresh docstring
  backend/openapi.json
Due: backend-tests-coverage

feat(auth): extend the login session to a 30-day sliding window (#2805)
  backend/openapi.json
  backend/src/models/revoked_token.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/session-lifetime.e2e.test.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/utils/__tests__/token.test.ts
  frontend/src/utils/token.ts
  prompts/security/README.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(frontend): align Expo SDK patches
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(frontend): align Expo SDK patches (#2807)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(journal): add resonance refill recovery
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-resonance-refill.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceRefillDialog.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add resonance refill recovery (#2808)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-resonance-refill.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceRefillDialog.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): stabilize responsive entry controls
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): stabilize responsive entry controls (#2809)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): use accent for carryover tiles
  frontend/e2e/habit-reorder.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): use accent for carryover tiles (#2810)
  frontend/e2e/habit-reorder.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): prefill daily morning page titles
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-morning-page-title.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenQuickLaunch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): prefill daily morning page titles (#2811)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-morning-page-title.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenQuickLaunch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): keep corpus in drawer
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-corpus-drawer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/features/Journal/corpusDestination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): keep corpus in drawer (#2812)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-corpus-drawer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/features/Journal/corpusDestination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): title the player with the ritual's own name (#2785)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
  frontend/src/features/Practice/components/__tests__/PracticeIdentityHeader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(qa): add full-stack release runbook
  docs/qa/full-stack-qa-runbook.md
Due: none

docs(qa): add full-stack release runbook (#2820)
  docs/qa/full-stack-qa-runbook.md
Due: none

docs(qa): record full-stack run findings
  docs/qa/runs/2026-09-11-full-stack.md
Due: none

docs(qa): record full-stack run findings (#2831)
  docs/qa/runs/2026-09-11-full-stack.md
Due: none

test(journal): await the phone breakpoint
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): await the phone breakpoint (#2845)
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(vault): queue classification follow-ups
  backend/migrations/versions/a3f7c9e1b2d4_durable_vault_pipeline_follow_up.py
  backend/src/models/vault_pipeline_run.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/helpers/account_seed.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_vault_journal_withdraw_real_creek.py
  backend/tests/test_vault_pipeline_live_http.py
Due: backend-tests-coverage

test(vault): make live follow-up timing deterministic
  backend/tests/test_vault_pipeline_live_http.py
Due: backend-tests-coverage

test(vault): await the actual background poll
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(vault): serialize classification follow-ups
  backend/migrations/versions/a3f7c9e1b2d4_durable_vault_pipeline_follow_up.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/vault_pipeline_follow_up.py
  backend/src/models/vault_pipeline_run.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/integration/test_vault_pipeline_follow_up_concurrency.py
  backend/tests/test_creek_vault_pipeline.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

fix(vault): queue classification follow-ups (#2839)
  backend/migrations/versions/a3f7c9e1b2d4_durable_vault_pipeline_follow_up.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/vault_pipeline_follow_up.py
  backend/src/models/vault_pipeline_run.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/helpers/account_seed.py
  backend/tests/integration/test_vault_pipeline_follow_up_concurrency.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_vault_journal_withdraw_real_creek.py
  backend/tests/test_vault_pipeline_live_http.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage
