Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(frontend): send email field to auth endpoints
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(issues): draft Gumroad-gated access epic and first sub-issue
  prompts/github-issues/phase-6-01-gumroad-api-and-webhooks.md
  prompts/github-issues/phase-6-epic.md
Due: none

docs(issues): draft remaining Phase 6 Gumroad sub-issues (02-06)
  prompts/github-issues/phase-6-02-course-entitlement-and-signup-gating.md
  prompts/github-issues/phase-6-03-frontend-onboarding-flow.md
  prompts/github-issues/phase-6-04-botmason-token-wallet.md
  prompts/github-issues/phase-6-05-token-credits-and-revocation.md
  prompts/github-issues/phase-6-06-admin-override-endpoints.md
  prompts/github-issues/phase-6-epic.md
Due: none

docs: add architecture review and phase 7 cleanup epic
  prompts/claude-comms/architecture-review-2026-04-12.md
  prompts/github-issues/README.md
  prompts/github-issues/phase-7-01-extract-service-layer.md
  prompts/github-issues/phase-7-02-decompose-use-habits.md
  prompts/github-issues/phase-7-03-unify-state-management.md
  prompts/github-issues/phase-7-04-optimize-n-plus-1-queries.md
  prompts/github-issues/phase-7-05-complete-stubs.md
  prompts/github-issues/phase-7-06-centralize-error-handling.md
  prompts/github-issues/phase-7-07-enforce-design-tokens.md
  prompts/github-issues/phase-7-08-frontend-integration-tests.md
  prompts/github-issues/phase-7-09-shared-data-loader.md
  prompts/github-issues/phase-7-10-streamline-ci.md
  prompts/github-issues/phase-7-epic.md
Due: none

fix(frontend): strip trailing slash from API base URL
  frontend/src/__tests__/config.test.ts
  frontend/src/config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

chore(ci): streamline pre-commit and CI (phase-7-10)
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements-dev.txt
Due: backend-tests-coverage

refactor(frontend): decompose useHabits god hook into service + thin hooks
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): reuse ShowToast type from habitManager
  frontend/src/features/Habits/hooks/useHabitActions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): create database schema on deploy via Alembic
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/alembic.ini
  backend/migrations/.gitkeep
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/145d340640ce_initial_schema.py
  backend/requirements-lock.txt
  backend/requirements.txt
Due: backend-tests-coverage

refactor(backend): extract service layer from routers (phase 7-01)
  backend/src/routers/botmason.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/services/botmason.py
  backend/src/services/chat_stream.py
  backend/src/services/energy.py
  backend/src/services/journal.py
  backend/src/services/streaks.py
  backend/src/services/wallet.py
  backend/tests/services/__init__.py
  backend/tests/services/test_energy.py
  backend/tests/services/test_streaks.py
  backend/tests/services/test_wallet.py
  backend/tests/test_botmason_api.py
  backend/tests/test_energy_api.py
  backend/tests/test_energy_integration.py
Due: backend-tests-coverage

chore(scripts): port quality-gate scripts from adepthood-linters
  scripts/README.md
  scripts/backend/analyze_mutations.py
  scripts/backend/check-all.sh
  scripts/backend/complexity.sh
  scripts/backend/coverage.sh
  scripts/backend/fix-all.sh
  scripts/backend/format.sh
  scripts/backend/lint.sh
  scripts/backend/mutation.sh
  scripts/backend/pr-status.sh
  scripts/backend/security.sh
  scripts/backend/test.sh
  scripts/backend/typecheck.sh
  scripts/frontend/check-all.sh
  scripts/frontend/fix-all.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
  scripts/frontend/pr-status.sh
  scripts/frontend/test.sh
  scripts/frontend/typecheck.sh
Due: none

chore(claude): import agents from adepthood-linters (reference only)
  .claude/agents/chief-architect.md
  .claude/agents/dependency-checker.md
  .claude/agents/documentation.md
  .claude/agents/performance.md
  .claude/agents/quality-reviewer.md
  .claude/agents/refactorer.md
  .claude/agents/security-auditor.md
  .claude/agents/test-generator.md
Due: none

refactor(backend): extract service layer from routers (phase 7-01) (#207)
  backend/src/routers/botmason.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/services/botmason.py
  backend/src/services/chat_stream.py
  backend/src/services/energy.py
  backend/src/services/journal.py
  backend/src/services/streaks.py
  backend/src/services/wallet.py
  backend/tests/services/__init__.py
  backend/tests/services/test_energy.py
  backend/tests/services/test_streaks.py
  backend/tests/services/test_wallet.py
  backend/tests/test_botmason_api.py
  backend/tests/test_energy_api.py
  backend/tests/test_energy_integration.py
Due: backend-tests-coverage

fix(backend): create database schema on deploy via Alembic (#208)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/alembic.ini
  backend/migrations/.gitkeep
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/145d340640ce_initial_schema.py
  backend/requirements-lock.txt
  backend/requirements.txt
Due: backend-tests-coverage

chore(pre-commit): expand hygiene hooks and add shellcheck
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  scripts/backend/format.sh
  scripts/backend/lint.sh
  scripts/dev-setup.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
Due: none

chore(quality): expand ruff ruleset and add mutation/dead-code/docstring tools
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/src/main.py
  backend/src/models/journal_entry.py
  backend/src/routers/auth.py
  backend/tests/test_botmason_api.py
  backend/tests/test_cors.py
  backend/tests/test_models.py
  backend/tests/test_stages_api.py
  backend/tests/test_stages_history.py
Due: backend-tests-coverage

chore: adopt adepthood-linters (tranche 2/5: strict pre-commit + ruff) (#209)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/src/main.py
  backend/src/models/journal_entry.py
  backend/src/routers/auth.py
  backend/tests/test_botmason_api.py
  backend/tests/test_cors.py
  backend/tests/test_models.py
  backend/tests/test_stages_api.py
  backend/tests/test_stages_history.py
  scripts/backend/format.sh
  scripts/backend/lint.sh
  scripts/dev-setup.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
Due: backend-tests-coverage

fix(backend): store datetimes as TIMESTAMP WITH TIME ZONE
  backend/migrations/versions/78b1620cafde_convert_datetime_columns_to_timestamptz.py
  backend/src/models/content_completion.py
  backend/src/models/goal_completion.py
  backend/src/models/journal_entry.py
  backend/src/models/llm_usage_log.py
  backend/src/models/login_attempt.py
  backend/src/models/practice_session.py
  backend/src/models/prompt_response.py
  backend/src/models/stage_progress.py
  backend/src/models/user.py
Due: backend-tests-coverage

fix(backend): store datetimes as TIMESTAMP WITH TIME ZONE (#210)
  backend/migrations/versions/78b1620cafde_convert_datetime_columns_to_timestamptz.py
  backend/src/models/content_completion.py
  backend/src/models/goal_completion.py
  backend/src/models/journal_entry.py
  backend/src/models/llm_usage_log.py
  backend/src/models/login_attempt.py
  backend/src/models/practice_session.py
  backend/src/models/prompt_response.py
  backend/src/models/stage_progress.py
  backend/src/models/user.py
Due: backend-tests-coverage

refactor(frontend): rewrite user-facing error messages to be actionable
  frontend/__tests__/DatePicker.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/components/DatePicker.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): rewrite user-facing error messages to be actionable (#211)
  frontend/__tests__/DatePicker.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/components/DatePicker.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use SecureStore-compatible keys for auth/LLM/push tokens
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/__tests__/llmKeyStorage.test.ts
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/llmKeyStorage.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use SecureStore-compatible keys for auth/LLM/push tokens (#212)
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/__tests__/llmKeyStorage.test.ts
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/llmKeyStorage.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(prompts): add comprehensive bug-remediation audit reports
  prompts/2026-04-14-bug-remediation/00-INDEX.md
  prompts/2026-04-14-bug-remediation/01-auth-and-signup-bugs.md
  prompts/2026-04-14-bug-remediation/02-habits-bugs.md
  prompts/2026-04-14-bug-remediation/03-practice-sessions-bugs.md
  prompts/2026-04-14-bug-remediation/04-journal-botmason-bugs.md
  prompts/2026-04-14-bug-remediation/05-course-stages-goals-bugs.md
  prompts/2026-04-14-bug-remediation/06-backend-infrastructure-bugs.md
  prompts/2026-04-14-bug-remediation/07-frontend-infrastructure-bugs.md
Due: none

refactor(frontend): unify state management with normalized stores (phase-7-03)
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): unify state management with normalized stores (phase-7-03) (#213)
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(backend): collapse stage history N+1 into a single JOIN (phase-7-04)
  backend/src/domain/stage_progress.py
  backend/src/load_options.py
  backend/src/routers/goal_groups.py
  backend/src/routers/habits.py
  backend/tests/domain/test_stage_progress_queries.py
Due: backend-tests-coverage

refactor(backend): keep stage history aggregation under xenon's rank-A budget
  backend/src/domain/stage_progress.py
Due: backend-tests-coverage

perf(backend): collapse stage history N+1 into a single JOIN (phase-7-04) (#214)
  backend/src/domain/stage_progress.py
  backend/src/load_options.py
  backend/src/routers/goal_groups.py
  backend/src/routers/habits.py
  backend/tests/domain/test_stage_progress_queries.py
Due: backend-tests-coverage

docs(prompts): add comprehensive bug-remediation audit reports (#215)
  prompts/2026-04-14-bug-remediation/00-INDEX.md
  prompts/2026-04-14-bug-remediation/01-auth-and-signup-bugs.md
  prompts/2026-04-14-bug-remediation/02-habits-bugs.md
  prompts/2026-04-14-bug-remediation/03-practice-sessions-bugs.md
  prompts/2026-04-14-bug-remediation/04-journal-botmason-bugs.md
  prompts/2026-04-14-bug-remediation/05-course-stages-goals-bugs.md
  prompts/2026-04-14-bug-remediation/06-backend-infrastructure-bugs.md
  prompts/2026-04-14-bug-remediation/07-frontend-infrastructure-bugs.md
Due: none

fix(auth): ship the top-5 signup blockers (BUG-AUTH-001/002/003/005/010)
  backend/migrations/versions/e8376b41c6a1_unique_lower_email_index.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): ship the top-5 signup blockers (BUG-AUTH-001/002/003/005/010) (#216)
  backend/migrations/versions/e8376b41c6a1_unique_lower_email_index.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): deduplicate case-variant emails before creating unique index
  backend/migrations/versions/e8376b41c6a1_unique_lower_email_index.py
Due: backend-tests-coverage

fix(course,stages,goals): phase 2 bug remediation
  backend/migrations/versions/a1b2c3d4e5f6_goal_group_id_ondelete_set_null.py
  backend/migrations/versions/b2c3d4e5f6a7_goalgroup_shared_template_check.py
  backend/migrations/versions/c3d4e5f6a7b8_goal_tier_enum.py
  backend/src/domain/goals.py
  backend/src/domain/stage_progress.py
  backend/src/models/goal.py
  backend/src/models/goal_group.py
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/src/schemas/goal.py
  backend/src/seed_content.py
  backend/src/seed_stages.py
  backend/tests/domain/test_goals.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_course_api.py
  backend/tests/test_stages_api.py
  frontend/src/features/Course/ContentCard.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): simplify is_stage_unlocked to reduce cyclomatic complexity
  backend/src/domain/stage_progress.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
