Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-eslint, app-prettier, app-typecheck, app-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^app/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # App (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: app-eslint
        name: app eslint
        language: system
        entry: bash -lc 'cd app && npm run lint'
        pass_filenames: false
        files: ^app/
        exclude: ^app/(?:node_modules|dist|build|coverage)/

      - id: app-prettier
        name: app prettier (write)
        entry: bash -lc 'cd app && npx prettier --write .'
        language: system
        files: ^app/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^app/(?:node_modules|dist|build|coverage)/|^app/(?:tsconfig\.json|package-lock\.json)$

      - id: app-typecheck
        name: app typecheck
        entry: bash -lc 'cd app && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^app/.*\.(ts|tsx)$
        exclude: ^app/(?:node_modules|dist|build|coverage)/

      - id: app-tests
        name: app tests
        entry: bash -lc 'cd app && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^app/
        exclude: ^app/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -lc 'if [ -f .venv/bin/activate ]; then source .venv/bin/activate; fi; cd backend && pytest'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd app --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix: ensure backend tests run in repo venv
  .pre-commit-config.yaml
  backend/app/models/goal_completion.py
  backend/app/models/journal_entry.py
  backend/app/models/practice_session.py
  backend/app/models/prompt_response.py
  backend/app/models/user.py
  backend/app/routers/practice.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

chore: restore backend test hook
  .pre-commit-config.yaml
Due: none

fix: handle ISO date in DatePicker
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  app/__tests__/DatePicker.test.tsx
  app/components/DatePicker.tsx
Due: app-eslint, app-prettier, app-typecheck, app-tests

fix: use local timezone in date quick actions
  app/components/DatePicker.tsx
Due: app-eslint, app-prettier, app-typecheck, app-tests

bug: fix imports broken by refactoring
  backend/.bandit
  backend/.coveragerc
  backend/__init__.py
  backend/conftest.py
  backend/pyproject.toml
  backend/src/__init__.py
  backend/src/main.py
  backend/src/routers/energy.py
  backend/src/schemas/__init__.py
  backend/tests/domain/__init__.py
  backend/tests/domain/test_energy.py
  backend/tests/domain/test_goals.py
  backend/tests/domain/test_milestones.py
  backend/tests/domain/test_streaks.py
  backend/tests/schemas/__init__.py
  backend/tests/schemas/test_goal_schema.py
  backend/tests/test_energy_api.py
  backend/tests/test_health.py
  backend/tests/test_models.py
  backend/tests/test_practice_sessions.py
  frontend/src/App.tsx
  mypy.ini
Due: backend-tests-coverage

docs: describe new directory layout
  README.md
Due: none

feat: update readme with clearer description of the aptitude course
  README.md
Due: none

test: verify cors preflight
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

feat: add frontend auth client
  backend/src/main.py
  backend/src/routers/auth.py
  backend/src/routers/practice.py
  backend/tests/test_auth.py
  backend/tests/test_practice_sessions.py
  frontend/src/api/client.ts
Due: backend-tests-coverage

feat: add habit schema and CRUD API
  backend/src/main.py
  backend/src/routers/habits.py
  backend/src/schemas/__init__.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

feat: add goal router and tests
  backend/src/main.py
  backend/src/routers/goals.py
  backend/src/schemas/__init__.py
  backend/src/schemas/goal_completion.py
  backend/src/schemas/goal_group.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

feat: add goal completion endpoint
  backend/src/main.py
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix: secure CORS configuration
  .pre-commit-config.yaml
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

fix: secure auth storage
  backend/requirements.txt
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

refactor: harden goal routes
  backend/src/routers/goals.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

chore: run backend tests without requiring venv
  .pre-commit-config.yaml
Due: none

chore: enforce backend test coverage
  .pre-commit-config.yaml
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

test(frontend): cover api request composition
  frontend/__tests__/api.test.ts
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
Due: none

bug: use environment variable for origin
  backend/src/main.py
Due: backend-tests-coverage

feat: add habit stats endpoint
  backend/src/main.py
  backend/src/routers/habits.py
  backend/src/schemas/__init__.py
  backend/src/schemas/habit_stats.py
  backend/tests/test_habit_stats_api.py
Due: backend-tests-coverage

bug: fix hanging comma
  backend/src/main.py
Due: backend-tests-coverage

feat(frontend): add robust api client
  frontend/__tests__/api.test.ts
  frontend/src/api/index.ts
  frontend/src/config.ts
  frontend/src/services/energyApi.ts
Due: none

test: cover CORS credentialed POST
  backend/src/main.py
  backend/src/routers/goals.py
  backend/src/schemas/__init__.py
  backend/src/schemas/goal_completion.py
  backend/src/schemas/goal_group.py
  backend/tests/test_cors.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

feat: add goals and goal group CRUD APIs
  backend/src/main.py
  backend/src/routers/goals.py
  backend/src/schemas/__init__.py
  backend/src/schemas/goal_completion.py
  backend/src/schemas/goal_group.py
  backend/tests/test_cors.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

test: add habits api client tests
  frontend/src/api/habits.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.api.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
Due: none

feat: implement goal API client
  frontend/src/api/habits.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: none

feat: log habit completions via API
  frontend/src/api/__tests__/habits.test.ts
  frontend/src/api/habits.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/services/habitsApi.ts
Due: none

docs: add comprehensive refactor roadmap as GitHub issue templates
  prompts/github-issues/README.md
  prompts/github-issues/phase-1-01-database-setup.md
  prompts/github-issues/phase-1-02-habits-router-to-db.md
  prompts/github-issues/phase-1-03-auth-router-to-db.md
  prompts/github-issues/phase-1-04-practice-router-to-db.md
  prompts/github-issues/phase-1-05-goal-completions-to-db.md
  prompts/github-issues/phase-1-06-energy-idempotency-fix.md
  prompts/github-issues/phase-1-07-consolidate-api-clients.md
  prompts/github-issues/phase-1-08-connect-habits-to-api.md
  prompts/github-issues/phase-1-09-async-storage-persistence.md
  prompts/github-issues/phase-1-10-auth-context-and-screens.md
  prompts/github-issues/phase-1-11-align-habit-types.md
  prompts/github-issues/phase-1-epic.md
  prompts/github-issues/phase-2-01-extract-habits-hook.md
  prompts/github-issues/phase-2-02-mode-enum.md
  prompts/github-issues/phase-2-03-global-state-layer.md
  prompts/github-issues/phase-2-04-delete-dead-files.md
  prompts/github-issues/phase-2-05-unify-design-constants.md
  prompts/github-issues/phase-2-06-consolidate-pytest-config.md
  prompts/github-issues/phase-2-07-consistent-error-responses.md
  prompts/github-issues/phase-2-epic.md
  prompts/github-issues/phase-3-01-journal-feature.md
  prompts/github-issues/phase-3-02-practice-screen.md
  prompts/github-issues/phase-3-03-course-feature.md
  prompts/github-issues/phase-3-04-map-real-progress.md
  prompts/github-issues/phase-3-05-stages-backend.md
  prompts/github-issues/phase-3-epic.md
  prompts/github-issues/phase-4-01-uuid-ids.md
  prompts/github-issues/phase-4-02-eliminate-ts-ignore.md
  prompts/github-issues/phase-4-03-auth-security-hardening.md
  prompts/github-issues/phase-4-04-notification-persistence.md
  prompts/github-issues/phase-4-05-type-safe-navigation.md
  prompts/github-issues/phase-4-06-integration-e2e-tests.md
  prompts/github-issues/phase-4-07-document-magic-numbers.md
  prompts/github-issues/phase-4-08-cors-production-fix.md
  prompts/github-issues/phase-4-epic.md
Due: none

docs: expand Phase 3 from 5 to 14 issues after spec reconciliation
  prompts/github-issues/README.md
  prompts/github-issues/phase-3-01-journal-feature.md
  prompts/github-issues/phase-3-01-stages-backend.md
  prompts/github-issues/phase-3-02-course-backend.md
  prompts/github-issues/phase-3-02-practice-screen.md
  prompts/github-issues/phase-3-03-course-feature.md
  prompts/github-issues/phase-3-03-journal-backend.md
  prompts/github-issues/phase-3-04-map-real-progress.md
  prompts/github-issues/phase-3-04-practice-backend.md
  prompts/github-issues/phase-3-05-stages-backend.md
  prompts/github-issues/phase-3-05-weekly-prompts-backend.md
  prompts/github-issues/phase-3-06-journal-chat-ui.md
  prompts/github-issues/phase-3-07-botmason-ai.md
  prompts/github-issues/phase-3-08-journal-search-tags.md
  prompts/github-issues/phase-3-09-practice-screen.md
  prompts/github-issues/phase-3-10-practice-journal-link.md
  prompts/github-issues/phase-3-11-course-screen.md
  prompts/github-issues/phase-3-12-course-journal-deeplink.md
  prompts/github-issues/phase-3-13-map-real-progress.md
  prompts/github-issues/phase-3-14-goal-groups.md
  prompts/github-issues/phase-3-epic.md
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(backend): add database engine, session management, and /health endpoint
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  backend/conftest.py
  backend/requirements.txt
  backend/src/database.py
  backend/src/main.py
  backend/tests/test_database.py
  prompts/github-issues/phase-1-08-connect-habits-to-api.md
  prompts/github-issues/phase-2-02-mode-enum.md
  prompts/github-issues/phase-2-07-consistent-error-responses.md
Due: backend-tests-coverage

fix(frontend): address code review — habitsApi, unused import, test dates
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/services/habitsApi.ts
Due: none

Fix CI: remove unused type-ignore comments and fix CORS test expectation
  backend/tests/test_cors.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habits_api.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage
