Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(habits): the mode bar stops painting over Prev/Next
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): the mode bar stops painting over Prev/Next (#2586)
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(return): a habit set down in a Return you left is still yours to take back
  backend/openapi.json
  backend/src/dependencies/ownership.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/routers/test_metta_return_habit_release.py
  backend/tests/security/test_idor.py
  frontend/e2e/journeys.json
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnRecommitSection.tsx
  frontend/src/features/Return/ReturnRestingCard.tsx
  frontend/src/features/Return/ReturnStack.tsx
  frontend/src/features/Return/__tests__/ReturnRestingCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnStack.test.tsx
  frontend/src/features/Return/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): an entry is marked as reached only once a provider was actually asked
  backend/src/routers/journal.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/src/services/frequency_classification.py
  backend/src/services/frequency_source.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/services/test_frequency_classification.py
  backend/tests/services/test_frequency_source.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_corpus_import.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(infra): a guard that fails when a hook restates a pinned tool version
  backend/tests/scripts/test_precommit_tool_versions.py
Due: backend-tests-coverage

chore(infra): ruff lints from the environment the app installs
  .pre-commit-config.yaml
Due: none

chore(infra): one bandit, at one version, over one tree
  .pre-commit-config.yaml
  scripts/backend/security.sh
Due: none

chore(infra): delete isort, which nothing ran and ruff already replaced
  .claude/skills/continue-epic/SKILL.md
  .claude/skills/preflight/SKILL.md
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/tests/scripts/test_precommit_staged_file_gating.py
  scripts/backend/fix-all.sh
Due: backend-tests-coverage

chore(infra): one version per tool, from the file the app installs (#2591)
  .claude/skills/continue-epic/SKILL.md
  .claude/skills/preflight/SKILL.md
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/tests/scripts/test_precommit_staged_file_gating.py
  backend/tests/scripts/test_precommit_tool_versions.py
  scripts/backend/fix-all.sh
  scripts/backend/security.sh
Due: backend-tests-coverage

fix(backend): a spent balance in detection names the account
  backend/src/routers/journal.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

fix(ralph): the picker only dispatches an issue somebody has specced
  .claude/commands/ralph-tick.md
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/issue-templates.md
  .claude/skills/flare/SKILL.md
  .claude/skills/flare/references/decomposition.md
  .claude/skills/flare/references/label-guide.md
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/FLEET.md
  scripts/ralph/RECAP.md
  scripts/ralph/pick-next.sh
  scripts/ralph/recap.py
  scripts/ralph/test_pick_next.sh
  scripts/ralph/test_recap_stats.py
Due: none

fix(ci): the startup check stops calling itself a health check
  .github/workflows/scheduled-health.yml
  backend/tests/scripts/test_check_scheduled_runs.py
  backend/tests/workflow_text.py
  scripts/ci/check_scheduled_runs.sh
Due: backend-tests-coverage

fix(backend): a spent balance in detection names the account (#2596)
  backend/src/routers/journal.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

fix(ci): the startup check stops calling itself a health check (#2597)
  .github/workflows/scheduled-health.yml
  backend/tests/scripts/test_check_scheduled_runs.py
  backend/tests/workflow_text.py
  scripts/ci/check_scheduled_runs.sh
Due: backend-tests-coverage

fix(ralph): an empty pick names which of its two causes actually applies
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
Due: none

fix(ralph): the picker only dispatches an issue somebody has specced (#2595)
  .claude/commands/ralph-tick.md
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/issue-templates.md
  .claude/skills/flare/SKILL.md
  .claude/skills/flare/references/decomposition.md
  .claude/skills/flare/references/label-guide.md
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/FLEET.md
  scripts/ralph/RECAP.md
  scripts/ralph/pick-next.sh
  scripts/ralph/recap.py
  scripts/ralph/test_pick_next.sh
  scripts/ralph/test_recap_stats.py
Due: none

docs(ops): the deployment guide names the origins that actually answer
  DEPLOYMENT.md
  backend/tests/test_deployment_origins.py
Due: backend-tests-coverage

docs(ops): the deployment guide names the origins that actually answer (#2598)
  DEPLOYMENT.md
  backend/tests/test_deployment_origins.py
Due: backend-tests-coverage

test(backend): tie Creek's note kinds and classification shape to the bundle
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_write.py
  backend/tests/creek_bundle_facts.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
Due: backend-tests-coverage

feat(backend): the Host header stops authoring the URLs this app mints
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/canonical_host.py
  backend/src/middleware/logging.py
  backend/src/request_host.py
  backend/tests/middleware/test_canonical_host.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/test_allowed_hosts_startup_config.py
Due: backend-tests-coverage

docs(process): record the 2026-09-01 backlog prioritization audit
  prompts/claude-comms/backlog-prioritization-audit-2026-09-01.md
Due: none

feat(backend): the Host header stops authoring the URLs this app mints (#2599)
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/canonical_host.py
  backend/src/middleware/logging.py
  backend/src/request_host.py
  backend/tests/middleware/test_canonical_host.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/test_allowed_hosts_startup_config.py
Due: backend-tests-coverage

fix(infra): the frontend guard proves the install came from the lockfile
  .pre-commit-config.yaml
  backend/tests/scripts/test_frontend_lockfile_freshness.py
  scripts/frontend/bundle.sh
  scripts/frontend/cross-boundary-drift.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
  scripts/frontend/lockfile-drift.mjs
  scripts/frontend/require-node-modules.sh
  scripts/frontend/sdk-align.sh
  scripts/frontend/test.sh
  scripts/frontend/typecheck.sh
  scripts/ralph/FLEET.md
Due: backend-tests-coverage

test(backend): tie Creek's note kinds and classification shape to the bundle (#2601)
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_write.py
  backend/tests/creek_bundle_facts.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
Due: backend-tests-coverage

test(backend): name the reopened deferral in the classification guard failure
  backend/tests/test_creek_contract_conformance.py
Due: backend-tests-coverage

docs(process): pause loop-tooling issue inflow under the MVP moratorium
  .claude/skills/flare/SKILL.md
  CLAUDE.md
Due: none

docs(process): backlog audit record + loop-tooling issue-inflow moratorium (#2604)
  .claude/skills/flare/SKILL.md
  CLAUDE.md
  prompts/claude-comms/backlog-prioritization-audit-2026-09-01.md
Due: none

fix(infra): the frontend guard proves the install came from the lockfile (#2602)
  .pre-commit-config.yaml
  backend/tests/scripts/test_frontend_lockfile_freshness.py
  scripts/frontend/bundle.sh
  scripts/frontend/cross-boundary-drift.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
  scripts/frontend/lockfile-drift.mjs
  scripts/frontend/require-node-modules.sh
  scripts/frontend/sdk-align.sh
  scripts/frontend/test.sh
  scripts/frontend/typecheck.sh
  scripts/ralph/FLEET.md
Due: backend-tests-coverage

test(backend): name the reopened deferral in the classification guard failure (#2605)
  backend/tests/test_creek_contract_conformance.py
Due: backend-tests-coverage

feat(backend): expanded essays become a shelf the writer can actually see
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/security/test_idor.py
  backend/tests/test_voice_drafts_listing.py
Due: backend-tests-coverage

feat(backend): a connected vault classifies and links what it is given
  backend/migrations/versions/c7e4b91a2d38_vault_pipeline_run_log.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/creek_vault.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/vault_pipeline_run.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/services/test_frequency_source.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_corpus_import.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_tier_ceiling.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_document_upload_to_a_vault.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_vault_pipeline_triggers.py
  backend/tests/vault_client_doubles.py
Due: backend-tests-coverage

feat(backend): expanded essays become a shelf the writer can actually see (#2606)
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/security/test_idor.py
  backend/tests/test_voice_drafts_listing.py
Due: backend-tests-coverage

fix(backend): read the newest attempt per stage, not the newest few rows
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(backend): let go of the connection before dialling, and bound the pass
  backend/migrations/versions/c7e4b91a2d38_vault_pipeline_run_log.py
  backend/src/models/vault_pipeline_run.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

feat(backend): a connected vault classifies and links what it is given (#2609)
  backend/migrations/versions/c7e4b91a2d38_vault_pipeline_run_log.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/creek_vault.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/vault_pipeline_run.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/services/test_frequency_source.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_corpus_import.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_tier_ceiling.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_document_upload_to_a_vault.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_vault_pipeline_triggers.py
  backend/tests/vault_client_doubles.py
Due: backend-tests-coverage

test(backend): a bracketed host cannot match, and the refusal that keeps that safe is pinned
  backend/src/request_host.py
  backend/tests/middleware/test_canonical_host.py
  backend/tests/test_allowed_hosts_startup_config.py
Due: backend-tests-coverage

test(backend): a bracketed host cannot match, and the refusal that keeps that safe is pinned (#2610)
  backend/src/request_host.py
  backend/tests/middleware/test_canonical_host.py
  backend/tests/test_allowed_hosts_startup_config.py
Due: backend-tests-coverage

chore(frontend): realign the SDK 57 pins with what Expo now expects
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(frontend): realign the SDK 57 pins with what Expo now expects (#2611)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests
