Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(habits): reorder across signed ranges (#2724)
  frontend/Dockerfile
  frontend/__tests__/expoPlistCompatibility.test.ts
  frontend/e2e/journeys.json
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/@expo+plist+0.8.1.patch
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(e2e): measure the habits grid only once it has been laid out
  frontend/e2e/habits-viewport.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(dev): allow 127.0.0.1 on every dev CORS port, and stop calling a blocked request an offline device (#2723)
  README.md
  backend/src/main.py
  backend/tests/test_cors.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/corsRejectionIsNotOffline.test.ts
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/serverErrorIsNotOffline.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/api/networkSignal.ts
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(e2e): measure the habits grid only once it has been laid out (#2725)
  frontend/e2e/habits-viewport.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): keep a timed writing session as a habit, placed where the writer chooses (#2721)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-habit-offer.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitOrdering.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitOrdering.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/SaveAsHabitOffer.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/SaveAsHabitOffer.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOfferSlot.test.tsx
  frontend/src/features/Journal/__tests__/saveAsHabitCopy.test.ts
  frontend/src/features/Journal/saveAsHabitCopy.ts
  frontend/src/storage/__tests__/writingHabitOfferStorage.test.ts
  frontend/src/storage/writingHabitOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): page every list over a total order so no row repeats or vanishes
  backend/openapi.json
  backend/src/routers/admin.py
  backend/src/routers/habits.py
  backend/src/routers/prompts.py
  backend/src/schemas/pagination.py
  backend/tests/test_pagination_total_order.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

feat(practice): keep a timed writing session as the Journaling practice at Green
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-habit-offer.e2e.test.ts
  frontend/e2e/journal-practice-offer.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/OfferAction.tsx
  frontend/src/features/Journal/SaveAsPracticeStep.tsx
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/SaveAsPracticeStep.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
  frontend/src/features/Journal/__tests__/keepAsPractice.test.ts
  frontend/src/features/Journal/__tests__/saveAsPracticeCopy.test.ts
  frontend/src/features/Journal/keepAsPractice.ts
  frontend/src/features/Journal/saveAsPracticeCopy.ts
  frontend/src/storage/__tests__/writingOfferStorage.test.ts
  frontend/src/storage/writingHabitOfferStorage.ts
  frontend/src/storage/writingOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): page every collection over a total order (#2731)
  backend/openapi.json
  backend/src/routers/admin.py
  backend/src/routers/habits.py
  backend/src/routers/prompts.py
  backend/src/schemas/pagination.py
  backend/tests/test_pagination_total_order.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

feat(practice): keep a timed writing session as a Journaling practice (#2732)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-habit-offer.e2e.test.ts
  frontend/e2e/journal-practice-offer.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/OfferAction.tsx
  frontend/src/features/Journal/SaveAsPracticeStep.tsx
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/SaveAsPracticeStep.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
  frontend/src/features/Journal/__tests__/keepAsPractice.test.ts
  frontend/src/features/Journal/__tests__/saveAsPracticeCopy.test.ts
  frontend/src/features/Journal/keepAsPractice.ts
  frontend/src/features/Journal/saveAsPracticeCopy.ts
  frontend/src/storage/__tests__/writingOfferStorage.test.ts
  frontend/src/storage/writingHabitOfferStorage.ts
  frontend/src/storage/writingOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(practice): quick-launch a saved Journaling practice into a timed page
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionLaunch.test.tsx
  frontend/src/features/Journal/__tests__/quickLaunchCopy.test.ts
  frontend/src/features/Journal/__tests__/quickLaunchWriting.test.ts
  frontend/src/features/Journal/__tests__/useQuickLaunchedSession.test.tsx
  frontend/src/features/Journal/quickLaunchCopy.ts
  frontend/src/features/Journal/quickLaunchWriting.ts
  frontend/src/features/Journal/useQuickLaunchedSession.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenQuickLaunch.test.tsx
  frontend/src/features/Practice/components/QuickLaunchWriting.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(infra): say what the isort removal actually left uncovered
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/tests/scripts/test_complexity_gate.py
  backend/tests/scripts/test_migrations_lint_exclusion.py
Due: backend-tests-coverage

fix(e2e): point the quick-launch coverage gap at an issue that will still be open
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

docs(practice): say why quick-launch stays tappable during a running session
  frontend/src/features/Practice/PracticeScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(infra): say what the migrations lint exclusion actually covers (#2735)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/tests/scripts/test_complexity_gate.py
  backend/tests/scripts/test_migrations_lint_exclusion.py
Due: backend-tests-coverage

feat(practice): quick-launch a saved Journaling practice into a timed page (#2733)
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionLaunch.test.tsx
  frontend/src/features/Journal/__tests__/quickLaunchCopy.test.ts
  frontend/src/features/Journal/__tests__/quickLaunchWriting.test.ts
  frontend/src/features/Journal/__tests__/useQuickLaunchedSession.test.tsx
  frontend/src/features/Journal/quickLaunchCopy.ts
  frontend/src/features/Journal/quickLaunchWriting.ts
  frontend/src/features/Journal/useQuickLaunchedSession.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenQuickLaunch.test.tsx
  frontend/src/features/Practice/components/QuickLaunchWriting.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): bind stage copy to the curriculum row end to end
  backend/tests/e2e/stage_copy.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/stage-copy.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): pin the provider error tuple to each SDK's real transport
  backend/requirements.txt
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_transport_stacks.py
Due: backend-tests-coverage

test(e2e): bind stage copy to the curriculum row end to end (#2736)
  backend/tests/e2e/stage_copy.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/stage-copy.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(deps): ignore @react-native-community/slider, Expo owns the pin
  .github/dependabot.yml
Due: none

feat(backend): let the stub provider answer the resonance ask in its own shape
  backend/src/domain/resonance.py
  backend/src/services/botmason.py
  backend/src/services/stub_completions.py
  backend/tests/test_stub_completions.py
Due: backend-tests-coverage

test(e2e): press the resonance pass end to end, both endings
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-invitation.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): press the resonance pass end to end, both endings (#2739)
  backend/src/domain/resonance.py
  backend/src/services/botmason.py
  backend/src/services/stub_completions.py
  backend/tests/test_stub_completions.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-invitation.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(deps): ignore @react-native-community/slider, Expo owns the pin (#2738)
  .github/dependabot.yml
Due: none

test(backend): pin that a transport failure is retried, not merely attempted
  backend/tests/services/test_botmason_transport_stacks.py
Due: backend-tests-coverage

test(frontend): budget arrow-label words instead of inferring them
  frontend/src/features/Map/__tests__/stageCanonDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin the provider error tuple to each SDK's real transport (#2737)
  backend/requirements.txt
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_transport_stacks.py
Due: backend-tests-coverage

test(e2e): press password recovery through the email that carries it
  backend/src/services/email.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/services/test_email_capture.py
  backend/tests/test_email_startup_config.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/password-recovery.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(frontend): budget arrow-label words instead of inferring them (#2746)
  frontend/src/features/Map/__tests__/stageCanonDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): narrow an existing capture file, not only one this creates
  backend/src/services/email.py
  backend/tests/services/test_email_capture.py
Due: backend-tests-coverage

fix(backend): allow the idempotency key headers through CORS
  backend/src/main.py
  backend/tests/test_cors.py
  frontend/src/api/__tests__/requestHeaderVocabularyDrift.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Settings/__tests__/byokDisclosure.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(e2e): press password recovery through the email that carries it (#2747)
  backend/src/services/email.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/services/test_email_capture.py
  backend/tests/test_email_startup_config.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/password-recovery.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): render a failed check-off beside the card that failed
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenJustSaved.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceGate.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/authContextTestKit.ts
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCare.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCompletedPasses.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCreek.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceNoNotes.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): declare the failed-check-off journey as a rendering gap
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(backend): allow the idempotency key headers through CORS (#2749)
  backend/src/main.py
  backend/tests/test_cors.py
  frontend/src/api/__tests__/requestHeaderVocabularyDrift.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Settings/__tests__/byokDisclosure.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): deduplicate cross-path offers
  backend/src/routers/journal.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

fix(frontend): repair journal and reorder journeys
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/tests/test_completion_detection_endpoint.py
  frontend/e2e/habit-reorder.browser.e2e.test.ts
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
  frontend/e2e/journal-promoted-quote-reflection.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): close promotion and detection races
  backend/src/routers/journal.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/test_completion_detection_endpoint.py
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(e2e): verify short journal habit offers
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/stub_completions.py
  backend/tests/test_stub_completions.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): let only a complaint's own author retire it
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/optimisticRemove.ts
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): let the Return be begun from the entry that offers it
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/ContractionReflectionNote.tsx
  frontend/src/features/Journal/ReturnConfirmDialog.tsx
  frontend/src/features/Journal/__tests__/ContractionReflectionNote.test.tsx
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
