Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(habits): a demo tile's fabricated id no longer rides a reveal or reorder PUT (#2492)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): a fabricated id can no longer delete or re-target a real row
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/serverIds.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/serverIds.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): a fabricated id can no longer delete or re-target a real row (#2495)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/serverIds.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/serverIds.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): a value no column can hold is a 422, not a 500
  .secrets.baseline
  backend/openapi.json
  backend/src/database.py
  backend/src/errors.py
  backend/src/schemas/depth_preferences.py
  backend/src/schemas/partial_update.py
  backend/src/schemas/ui_flags.py
  backend/src/security/__init__.py
  backend/src/security/pg_text_guard.py
  backend/tests/schemas/test_partial_update.py
  backend/tests/security/test_pg_text_guard.py
  backend/tests/security/test_unstorable_text_rejected.py
Due: backend-tests-coverage

fix(backend): a value no column can hold is a 422, not a 500 (#2496)
  .secrets.baseline
  backend/openapi.json
  backend/src/database.py
  backend/src/errors.py
  backend/src/schemas/depth_preferences.py
  backend/src/schemas/partial_update.py
  backend/src/schemas/ui_flags.py
  backend/src/security/__init__.py
  backend/src/security/pg_text_guard.py
  backend/tests/schemas/test_partial_update.py
  backend/tests/security/test_pg_text_guard.py
  backend/tests/security/test_unstorable_text_rejected.py
Due: backend-tests-coverage

fix(backend): declare the refusals the API actually sends
  backend/openapi.json
  backend/scripts/dast/contract_fuzz.sh
  backend/src/error_responses.py
  backend/src/main.py
  backend/src/routers/admin.py
  backend/src/routers/auth.py
  backend/src/routers/botmason.py
  backend/src/routers/corpus.py
  backend/src/routers/course.py
  backend/src/routers/data_export.py
  backend/src/routers/depth_preferences.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/goals.py
  backend/src/routers/gumroad.py
  backend/src/routers/habits.py
  backend/src/routers/invitations.py
  backend/src/routers/journal.py
  backend/src/routers/metta_return.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practice_share.py
  backend/src/routers/practice_tags.py
  backend/src/routers/practices.py
  backend/src/routers/promotions.py
  backend/src/routers/prompts.py
  backend/src/routers/reflections.py
  backend/src/routers/stages.py
  backend/src/routers/transcription.py
  backend/src/routers/ui_flags.py
  backend/src/routers/user_practices.py
  backend/src/routers/users.py
  backend/src/routers/vault_config.py
  backend/tests/helpers/openapi_errors.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/test_error_contract_live_bodies.py
  backend/tests/test_openapi_error_contract.py
Due: backend-tests-coverage

fix(backend): declare the refusals the API actually sends (#2499)
  backend/openapi.json
  backend/scripts/dast/contract_fuzz.sh
  backend/src/error_responses.py
  backend/src/main.py
  backend/src/routers/admin.py
  backend/src/routers/auth.py
  backend/src/routers/botmason.py
  backend/src/routers/corpus.py
  backend/src/routers/course.py
  backend/src/routers/data_export.py
  backend/src/routers/depth_preferences.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/goals.py
  backend/src/routers/gumroad.py
  backend/src/routers/habits.py
  backend/src/routers/invitations.py
  backend/src/routers/journal.py
  backend/src/routers/metta_return.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practice_share.py
  backend/src/routers/practice_tags.py
  backend/src/routers/practices.py
  backend/src/routers/promotions.py
  backend/src/routers/prompts.py
  backend/src/routers/reflections.py
  backend/src/routers/stages.py
  backend/src/routers/transcription.py
  backend/src/routers/ui_flags.py
  backend/src/routers/user_practices.py
  backend/src/routers/users.py
  backend/src/routers/vault_config.py
  backend/tests/helpers/openapi_errors.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/test_error_contract_live_bodies.py
  backend/tests/test_openapi_error_contract.py
Due: backend-tests-coverage

fix(backend): declare the media type each export actually streams
  backend/openapi.json
  backend/scripts/dast/README.md
  backend/scripts/dast/contract_fuzz.sh
  backend/src/routers/data_export.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/scripts/dast/test_rate_limit_override.py
  backend/tests/test_data_export_api.py
  frontend/src/__tests__/wiring/openapiConformance.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): declare the media type each export actually streams (#2500)
  backend/openapi.json
  backend/scripts/dast/README.md
  backend/scripts/dast/contract_fuzz.sh
  backend/src/routers/data_export.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/scripts/dast/test_rate_limit_override.py
  backend/tests/test_data_export_api.py
  frontend/src/__tests__/wiring/openapiConformance.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

ci(backend): the contract fuzzer stops running on a timer and starts gating pull requests
  .github/workflows/dast-contract.yml
  backend/scripts/dast/README.md
  backend/tests/scripts/dast/test_contract_workflow.py
Due: backend-tests-coverage

ci(backend): the contract fuzzer stops running on a timer and starts gating pull requests (#2501)
  .github/workflows/dast-contract.yml
  backend/scripts/dast/README.md
  backend/tests/scripts/dast/test_contract_workflow.py
Due: backend-tests-coverage

fix(ci): a lane's frontend hooks gate its own diff instead of a downloaded tsc
  .gitignore
  .pre-commit-config.yaml
  backend/tests/scripts/test_frontend_bin_resolution.py
  backend/tests/scripts/test_precommit_staged_file_gating.py
  frontend/.gitignore
  scripts/dev-setup.sh
  scripts/frontend/bundle.sh
  scripts/frontend/cross-boundary-drift.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
  scripts/frontend/require-node-modules.sh
  scripts/frontend/test.sh
  scripts/frontend/typecheck.sh
  scripts/ralph/FLEET.md
  scripts/ralph/fleet.sh
  scripts/ralph/test_fleet.sh
Due: frontend-eslint, frontend-tests, backend-tests-coverage

fix(ci): a lane's frontend hooks gate its own diff instead of a downloaded tsc (#2502)
  .gitignore
  .pre-commit-config.yaml
  backend/tests/scripts/test_frontend_bin_resolution.py
  backend/tests/scripts/test_precommit_staged_file_gating.py
  frontend/.gitignore
  scripts/dev-setup.sh
  scripts/frontend/bundle.sh
  scripts/frontend/cross-boundary-drift.sh
  scripts/frontend/format.sh
  scripts/frontend/lint.sh
  scripts/frontend/require-node-modules.sh
  scripts/frontend/test.sh
  scripts/frontend/typecheck.sh
  scripts/ralph/FLEET.md
  scripts/ralph/fleet.sh
  scripts/ralph/test_fleet.sh
Due: frontend-eslint, frontend-tests, backend-tests-coverage

fix(backend): a recipe mode is a member of a set, not a string containing one
  backend/openapi.json
  backend/src/models/practice_recipe.py
  backend/src/schemas/practice_recipe.py
  backend/tests/test_practice_recipe_mode.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

fix(backend): a recipe mode is a member of a set, not a string containing one (#2504)
  backend/openapi.json
  backend/src/models/practice_recipe.py
  backend/src/schemas/practice_recipe.py
  backend/tests/test_practice_recipe_mode.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

fix(backend): a user's vault is dialled at the address it was checked at
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_pinned_transport.py
  backend/src/services/creek_vault_url_resolution.py
  backend/src/services/creek_vault_url_user.py
  backend/tests/security/test_ssrf_vault_url.py
  backend/tests/security/test_vault_destination_pin.py
  backend/tests/security/test_vault_host_resolution.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_url_user_rules.py
  backend/tests/test_per_user_vault_config.py
Due: backend-tests-coverage

fix(backend): a user's vault is dialled at the address it was checked at (#2505)
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_pinned_transport.py
  backend/src/services/creek_vault_url_resolution.py
  backend/src/services/creek_vault_url_user.py
  backend/tests/security/test_ssrf_vault_url.py
  backend/tests/security/test_vault_destination_pin.py
  backend/tests/security/test_vault_host_resolution.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_url_user_rules.py
  backend/tests/test_per_user_vault_config.py
Due: backend-tests-coverage

fix(habits): a dropped offline check-in leaves a record the user can see
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/DroppedCheckInNotice.tsx
  frontend/src/features/Habits/components/__tests__/DroppedCheckInNotice.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/store/__tests__/useDroppedCheckInStore.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/useDroppedCheckInStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): a dropped offline check-in leaves a record the user can see (#2507)
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/DroppedCheckInNotice.tsx
  frontend/src/features/Habits/components/__tests__/DroppedCheckInNotice.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/store/__tests__/useDroppedCheckInStore.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/useDroppedCheckInStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): the relay password joins the scrub list, and leaves two reprs
  backend/src/routers/journal.py
  backend/src/sentry.py
  backend/src/services/email.py
  backend/tests/security/test_credential_repr.py
  backend/tests/services/test_email.py
  backend/tests/test_error_monitoring.py
Due: backend-tests-coverage

fix(backend): the relay password joins the scrub list, and leaves two reprs (#2508)
  backend/src/routers/journal.py
  backend/src/sentry.py
  backend/src/services/email.py
  backend/tests/security/test_credential_repr.py
  backend/tests/services/test_email.py
  backend/tests/test_error_monitoring.py
Due: backend-tests-coverage

fix(ci): the commit-msg gate reads the file it was handed
  .pre-commit-config.yaml
  backend/tests/scripts/test_commitlint_message_path.py
Due: backend-tests-coverage

fix(ci): the commit-msg gate reads the file it was handed (#2509)
  .pre-commit-config.yaml
  backend/tests/scripts/test_commitlint_message_path.py
Due: backend-tests-coverage

fix(ci): a finished grooming run stops reporting failure, and five silent crons learn to speak
  .github/workflows/_claude-scan.yml
  .github/workflows/_report-failure.yml
  .github/workflows/creek-contract-drift.yml
  .github/workflows/graph-build.yml
  .github/workflows/graph-federate.yml
  .github/workflows/graph-semantic.yml
  .github/workflows/graph-tests.yml
  .github/workflows/issue-evidence.yml
  .github/workflows/scan-groom.yml
  .github/workflows/scheduled-health.yml
  backend/tests/fixtures/claude_runs/synthesized-auth-failure-401.json
  backend/tests/fixtures/claude_runs/synthesized-no-result-message.json
  backend/tests/fixtures/claude_runs/turn-cap-overrun-41-turns.json
  backend/tests/fixtures/claude_runs/turn-cap-overrun-44-turns.json
  backend/tests/fixtures/claude_runs/usage-limit-weekly.json
  backend/tests/scripts/test_check_scheduled_runs.py
  backend/tests/scripts/test_classify_claude_outcome.py
  backend/tests/scripts/test_scheduled_workflow_legibility.py
  backend/tests/test_workflow_permissions.py
  scripts/ci/check_scheduled_runs.sh
  scripts/ci/classify_claude_outcome.sh
  scripts/graph/report_workflow_failure.sh
  scripts/graph/test_report_workflow_failure.sh
  scripts/graph/test_run_tests.sh
Due: backend-tests-coverage

fix(ci): a finished grooming run stops reporting failure, and five silent crons learn to speak (#2511)
  .github/workflows/_claude-scan.yml
  .github/workflows/_report-failure.yml
  .github/workflows/creek-contract-drift.yml
  .github/workflows/graph-build.yml
  .github/workflows/graph-federate.yml
  .github/workflows/graph-semantic.yml
  .github/workflows/graph-tests.yml
  .github/workflows/issue-evidence.yml
  .github/workflows/scan-groom.yml
  .github/workflows/scheduled-health.yml
  backend/tests/fixtures/claude_runs/synthesized-auth-failure-401.json
  backend/tests/fixtures/claude_runs/synthesized-no-result-message.json
  backend/tests/fixtures/claude_runs/turn-cap-overrun-41-turns.json
  backend/tests/fixtures/claude_runs/turn-cap-overrun-44-turns.json
  backend/tests/fixtures/claude_runs/usage-limit-weekly.json
  backend/tests/scripts/test_check_scheduled_runs.py
  backend/tests/scripts/test_classify_claude_outcome.py
  backend/tests/scripts/test_scheduled_workflow_legibility.py
  backend/tests/test_workflow_permissions.py
  scripts/ci/check_scheduled_runs.sh
  scripts/ci/classify_claude_outcome.sh
  scripts/graph/report_workflow_failure.sh
  scripts/graph/test_report_workflow_failure.sh
  scripts/graph/test_run_tests.sh
Due: backend-tests-coverage

fix(ci): a run the action declined to make is not a run that failed
  .github/workflows/_claude-scan.yml
  .github/workflows/scan-groom.yml
  backend/tests/scripts/test_classify_claude_outcome.py
  backend/tests/scripts/test_scheduled_workflow_legibility.py
  scripts/ci/classify_claude_outcome.sh
Due: backend-tests-coverage

docs(ci): the classifier's header says what the classifier now does
  backend/tests/scripts/test_classify_claude_outcome.py
  scripts/ci/classify_claude_outcome.sh
Due: backend-tests-coverage

fix(ci): a run the action declined to make is not a run that failed (#2513)
  .github/workflows/_claude-scan.yml
  .github/workflows/scan-groom.yml
  backend/tests/scripts/test_classify_claude_outcome.py
  backend/tests/scripts/test_scheduled_workflow_legibility.py
  scripts/ci/classify_claude_outcome.sh
Due: backend-tests-coverage

test(backend): pin the four accidents that keep a lone surrogate off the wire
  backend/src/errors.py
  backend/src/services/creek_vault_payload.py
  backend/tests/security/test_lone_surrogate_responses.py
  backend/tests/security/test_validator_message_escaping.py
Due: backend-tests-coverage

test(backend): pin the four accidents that keep a lone surrogate off the wire (#2514)
  backend/src/errors.py
  backend/src/services/creek_vault_payload.py
  backend/tests/security/test_lone_surrogate_responses.py
  backend/tests/security/test_validator_message_escaping.py
Due: backend-tests-coverage

test(frontend): the map journey moves the calendar and reads, never posts
  backend/tests/e2e/program_anchor.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(frontend): the map journey moves the calendar and reads, never posts (#2515)
  backend/tests/e2e/program_anchor.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): tell a server-issued habit id from one this device minted
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/serverIds.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/serverIds.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(habits): the log-unit contract says which id actually goes on the wire
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): tell a server-issued habit id from one this device minted (#2516)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/serverIds.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/serverIds.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): point the groom promotion at the label the repo actually defines
  .claude/skills/scan-issue-writer/SKILL.md
  .claude/skills/scan-issue-writer/references/issue-body-template.md
  .github/workflows/scan-groom.yml
  backend/tests/scripts/test_scan_label_vocabulary.py
  prompts/scans/groom.md
  prompts/templates/scan-issue-body.md
  scripts/setup-scan-labels.sh
Due: backend-tests-coverage

fix(ci): point the groom promotion at the label the repo actually defines (#2517)
  .claude/skills/scan-issue-writer/SKILL.md
  .claude/skills/scan-issue-writer/references/issue-body-template.md
  .github/workflows/scan-groom.yml
  backend/tests/scripts/test_scan_label_vocabulary.py
  prompts/scans/groom.md
  prompts/templates/scan-issue-body.md
  scripts/setup-scan-labels.sh
Due: backend-tests-coverage

docs(ops): a pinned vault dials past the ambient proxy, and DEPLOYMENT names both symptoms
  DEPLOYMENT.md
  backend/tests/test_vault_egress_docs.py
Due: backend-tests-coverage

docs(ops): a pinned vault dials past the ambient proxy, and DEPLOYMENT names both symptoms (#2518)
  DEPLOYMENT.md
  backend/tests/test_vault_egress_docs.py
Due: backend-tests-coverage

feat(backend): a resumed sweep gets a row of its own
  backend/migrations/versions/4e1a9c72bd60_corpus_sweep_log.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/corpus_consent.py
  backend/src/models/corpus_sweep.py
  backend/src/routers/corpus.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_consent.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/test_adr_references.py
  backend/tests/test_migrations.py
  docs/adr/0006-consent-as-an-auditable-event.md
Due: backend-tests-coverage
