Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(graph): verify shipped report is placeholder-free and key surprises by (label, file)
  .github/workflows/graph-semantic.yml
  scripts/graph/README.md
  scripts/graph/check_placeholder_labels.py
  scripts/graph/test_check_placeholder_labels.sh
  scripts/graph/test_wiki_export.sh
  scripts/graph/wiki_export.py
Due: none

feat(graph): cluster, label, and wiki-export the knowledge graph in CI (#1847)
  .github/workflows/graph-semantic.yml
  scripts/graph/README.md
  scripts/graph/check_placeholder_labels.py
  scripts/graph/test_check_placeholder_labels.sh
  scripts/graph/test_wiki_export.sh
  scripts/graph/wiki_export.py
Due: none

chore(ralph): record completion of issue 1809 (total 625)
  scripts/ralph/state.json
Due: none

fix(return): guard empty-selection release in the let-go moment
  frontend/src/features/Return/ReturnLetGoCard.tsx
  frontend/src/features/Return/__tests__/ReturnLetGoCard.test.tsx
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Return/returnCopy.ts
  frontend/src/features/Return/useMettaReturn.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add POST /journal/transcribe-page stateless page transcription (#1849)
  backend/migrations/versions/f9a0b1c2d3e4_llmusagelog_journal_entry_id_nullable.py
  backend/src/main.py
  backend/src/models/llm_usage_log.py
  backend/src/routers/transcription.py
  backend/src/schemas/transcription.py
  backend/src/services/llm_usage.py
  backend/src/services/wallet.py
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

chore(ralph): record completion of issue 1789 (total 626)
  scripts/ralph/state.json
Due: none

fix(frontend): cancel leaked animation frames to end teardown flake
  frontend/__tests__/animationFrameCleanup.test.ts
  frontend/jest.setup.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add journal.transcribePage API client with typed error taxonomy
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): cancel leaked animation frames to end teardown flake (#1850)
  frontend/__tests__/animationFrameCleanup.test.ts
  frontend/jest.setup.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1843 (total 627)
  scripts/ralph/state.json
Due: none

fix(return): sync recommitted with revealed and harden let-go fallbacks
  backend/src/routers/metta_return.py
  backend/tests/routers/test_metta_return_habit_release.py
  frontend/src/features/Return/ReturnLetGoCard.tsx
  frontend/src/features/Return/__tests__/ReturnLetGoCard.test.tsx
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Return/returnCopy.ts
  frontend/src/features/Return/useMettaReturn.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): add journal.transcribePage API client with typed error taxonomy (#1852)
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1790 (total 628)
  scripts/ralph/state.json
Due: none

feat(graph): add graph-first scan preambles and /graph skill
  .claude/skills/graph/SKILL.md
  prompts/scans/a11y.md
  prompts/scans/bugs.md
  prompts/scans/complexity.md
  prompts/scans/coverage.md
  prompts/scans/dead-code.md
  prompts/scans/deps.md
  prompts/scans/docs.md
  prompts/scans/groom.md
  prompts/scans/mutation.md
  prompts/scans/perf.md
  prompts/scans/security.md
  prompts/scans/todo.md
  prompts/scans/types.md
  scripts/graph/test_scan_graph_preamble.sh
Due: none

docs(graph): tighten scan/skill graph-artifact accuracy
  .claude/skills/graph/SKILL.md
  prompts/scans/docs.md
Due: none

feat(graph): add graph-first scan preambles and /graph skill (#1853)
  .claude/skills/graph/SKILL.md
  prompts/scans/a11y.md
  prompts/scans/bugs.md
  prompts/scans/complexity.md
  prompts/scans/coverage.md
  prompts/scans/dead-code.md
  prompts/scans/deps.md
  prompts/scans/docs.md
  prompts/scans/groom.md
  prompts/scans/mutation.md
  prompts/scans/perf.md
  prompts/scans/security.md
  prompts/scans/todo.md
  prompts/scans/types.md
  scripts/graph/test_scan_graph_preamble.sh
Due: none

chore(ralph): record completion of issue 1810 (total 629)
  scripts/ralph/state.json
Due: none

fix(backend): re-parent metta_return_habit_release migration onto single head
  backend/migrations/versions/d9e0f1a2b3c4_add_metta_return_habit_release.py
Due: backend-tests-coverage

feat(journal): add photograph capture flow from library photo to finished entry
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenJustSaved.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/__tests__/saveFinishedEntry.test.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
  frontend/src/features/Journal/saveFinishedEntry.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add photograph capture flow from library photo to finished entry (#1854)
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenJustSaved.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/__tests__/saveFinishedEntry.test.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
  frontend/src/features/Journal/saveFinishedEntry.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1791 (total 630)
  scripts/ralph/state.json
Due: none

feat(graph): wire the graph memory loop (save-result + weekly reflect → LESSONS.md)
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/shared/adepthood-constraints.md
  .claude/skills/graph/SKILL.md
  .github/workflows/weekly-playbook.yml
  graph/memory/query_20260718_000507_which_module_computes_habit_streaks_and_what_depen.md
  graph/reflections/LESSONS.md
  scripts/graph/README.md
  scripts/graph/test_memory_loop.sh
  scripts/ralph/PROMPT.md
Due: none

feat(journal): add entry-date picker to the capture flow
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/saveFinishedEntry.test.ts
  frontend/src/features/Journal/saveFinishedEntry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(graph): wire the graph memory loop (save-result + weekly reflect → LESSONS.md) (#1855)
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/shared/adepthood-constraints.md
  .claude/skills/graph/SKILL.md
  .github/workflows/weekly-playbook.yml
  graph/memory/query_20260718_000507_which_module_computes_habit_streaks_and_what_depen.md
  graph/reflections/LESSONS.md
  scripts/graph/README.md
  scripts/graph/test_memory_loop.sh
  scripts/ralph/PROMPT.md
Due: none

chore(ralph): record completion of issue 1811 (total 631)
  scripts/ralph/state.json
Due: none

feat(return): "which habits to let go of" on entering a Return, "which to re-commit to" after the metta weeks (#1848)
  backend/migrations/versions/d9e0f1a2b3c4_add_metta_return_habit_release.py
  backend/src/models/__init__.py
  backend/src/models/metta_return_habit_release.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/models/test_metta_return_habit_release.py
  backend/tests/routers/test_metta_return_habit_release.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnLetGoCard.tsx
  frontend/src/features/Return/ReturnStack.tsx
  frontend/src/features/Return/__tests__/ReturnCompletionCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnLetGoCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnStack.test.tsx
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Return/returnCopy.ts
  frontend/src/features/Return/useMettaReturn.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(journal): add entry-date picker to the capture flow (#1856)
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/saveFinishedEntry.test.ts
  frontend/src/features/Journal/saveFinishedEntry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completions of issues 1813 and 1792 (total 633); fleet paused
  scripts/ralph/state.json
Due: none

chore(ralph): resume fleet at 2 lanes
  scripts/ralph/state.json
Due: none

test(backend): pin the transcribe-page no-image-persistence guarantee
  backend/.env.example
  backend/src/schemas/transcription.py
  backend/tests/test_transcription_endpoint.py
  backend/tests/test_transcription_privacy.py
  backend/tests/transcription_helpers.py
Due: backend-tests-coverage

feat(journal): multi-page capture session with reorder and page cap
  frontend/__tests__/App.bootstrap.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/captureSession.test.ts
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/captureSession.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): multi-page capture session with reorder and page cap (#1858)
  frontend/__tests__/App.bootstrap.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/captureSession.test.ts
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/captureSession.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1793 (total 634)
  scripts/ralph/state.json
Due: none

test(backend): make transcribe-route lookup robust to FastAPI include_router change
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

test(backend): pin the transcribe-page no-image-persistence guarantee (#1857)
  backend/.env.example
  backend/src/schemas/transcription.py
  backend/tests/test_transcription_endpoint.py
  backend/tests/test_transcription_privacy.py
  backend/tests/transcription_helpers.py
Due: backend-tests-coverage

chore(ralph): record completion of issue 1798 (total 635)
  scripts/ralph/state.json
Due: none

chore(ralph): reset groom+deslop counters at completion 635
  scripts/ralph/state.json
Due: none

fix(map): guard useBeginAgainGuard against state updates on unmounted component
  frontend/src/features/Map/hooks/__tests__/useBeginAgainGuard.test.tsx
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(backend): pin backend deps to CI-resolved versions
  backend/requirements-dev.txt
  backend/requirements.txt
Due: backend-tests-coverage

feat(journal): progressive per-page transcription across a multi-page session
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/transcriptionRun.ts
  frontend/src/features/Journal/useTranscriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
