Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

docs(qa): add 2026-04-18 journal bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/12-journal.md
Due: none

docs(qa): add 2026-04-18 BotMason, wallet & LLM pricing bug report (15 bugs)
  prompts/2026-04-18-bug-remediation/13-botmason-wallet-llm.md
Due: none

docs(qa): add 2026-04-18 course, stages & progression bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/14-course-stages-progression.md
Due: none

docs(qa): add 2026-04-18 weekly prompts bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/15-weekly-prompts.md
Due: none

docs(qa): add 2026-04-18 frontend Habits + Journal bug report (36 bugs)
  prompts/2026-04-18-bug-remediation/16-frontend-features-habits-journal.md
Due: none

docs(qa): add 2026-04-18 frontend Practice/Course/Map bug report (29 bugs)
  prompts/2026-04-18-bug-remediation/17-frontend-features-practice-course-map.md
Due: none

docs(qa): add 2026-04-18 frontend design/state/storage/tests report (24 bugs)
  prompts/2026-04-18-bug-remediation/18-frontend-design-state-tests.md
Due: none

docs(qa): compile 2026-04-18 bug remediation audit index (281 bugs)
  prompts/2026-04-18-bug-remediation/00-INDEX.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#241)
  README.md
Due: none

Update claude.yml
  .github/workflows/claude.yml
Due: none

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

docs(qa): add 2026-04-18 auth bug remediation report (19 bugs) (#239)
  prompts/2026-04-18-bug-remediation/00-INDEX.md
  prompts/2026-04-18-bug-remediation/01-auth-signup-login.md
  prompts/2026-04-18-bug-remediation/02-frontend-auth-context.md
  prompts/2026-04-18-bug-remediation/03-frontend-navigation.md
  prompts/2026-04-18-bug-remediation/04-frontend-api-client.md
  prompts/2026-04-18-bug-remediation/05-backend-app-cors.md
  prompts/2026-04-18-bug-remediation/06-backend-database-migrations.md
  prompts/2026-04-18-bug-remediation/07-backend-models-schemas.md
  prompts/2026-04-18-bug-remediation/08-backend-observability-admin.md
  prompts/2026-04-18-bug-remediation/09-habits-streaks.md
  prompts/2026-04-18-bug-remediation/10-goals-completions-groups.md
  prompts/2026-04-18-bug-remediation/11-practices-sessions.md
  prompts/2026-04-18-bug-remediation/12-journal.md
  prompts/2026-04-18-bug-remediation/13-botmason-wallet-llm.md
  prompts/2026-04-18-bug-remediation/14-course-stages-progression.md
  prompts/2026-04-18-bug-remediation/15-weekly-prompts.md
  prompts/2026-04-18-bug-remediation/16-frontend-features-habits-journal.md
  prompts/2026-04-18-bug-remediation/17-frontend-features-practice-course-map.md
  prompts/2026-04-18-bug-remediation/18-frontend-design-state-tests.md
Due: none

chore(deps): consolidate dependabot bumps (10 PRs)
  .github/workflows/backend-ci.yml
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/async-storage.js
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

chore(deps): consolidate dependabot bumps (10 PRs) (#242)
  .github/workflows/backend-ci.yml
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/async-storage.js
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

docs(qa): add executable 15-prompt remediation plan for 281 bugs
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
  prompts/2026-04-18-bug-remediation/remediation-plan/01-unblock-auth-nav-flash.md
  prompts/2026-04-18-bug-remediation/remediation-plan/02-close-credit-minting-chain.md
  prompts/2026-04-18-bug-remediation/remediation-plan/03-close-stage-skip-chain.md
  prompts/2026-04-18-bug-remediation/remediation-plan/04-centralize-sanitize-user-text.md
  prompts/2026-04-18-bug-remediation/remediation-plan/05-centralize-date-utils-tz.md
  prompts/2026-04-18-bug-remediation/remediation-plan/06-db-unique-constraints-toctou.md
  prompts/2026-04-18-bug-remediation/remediation-plan/07-normalize-idor-ordering.md
  prompts/2026-04-18-bug-remediation/remediation-plan/08-optimistic-mutation-hook.md
  prompts/2026-04-18-bug-remediation/remediation-plan/09-server-derived-timestamps.md
  prompts/2026-04-18-bug-remediation/remediation-plan/10-observability-e2e.md
  prompts/2026-04-18-bug-remediation/remediation-plan/11-backend-auth-models-schemas-cors.md
  prompts/2026-04-18-bug-remediation/remediation-plan/12-backend-feature-routers.md
  prompts/2026-04-18-bug-remediation/remediation-plan/13-frontend-api-client.md
  prompts/2026-04-18-bug-remediation/remediation-plan/14-frontend-feature-screens.md
  prompts/2026-04-18-bug-remediation/remediation-plan/15-frontend-design-state-tests.md
Due: none

fix(qa): address review findings in bug-remediation plan
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
  prompts/2026-04-18-bug-remediation/remediation-plan/01-unblock-auth-nav-flash.md
  prompts/2026-04-18-bug-remediation/remediation-plan/04-centralize-sanitize-user-text.md
  prompts/2026-04-18-bug-remediation/remediation-plan/09-server-derived-timestamps.md
  prompts/2026-04-18-bug-remediation/remediation-plan/10-observability-e2e.md
  prompts/2026-04-18-bug-remediation/remediation-plan/11-backend-auth-models-schemas-cors.md
Due: none

fix(qa): address second-pass review feedback on remediation plan
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
  prompts/2026-04-18-bug-remediation/remediation-plan/03-close-stage-skip-chain.md
  prompts/2026-04-18-bug-remediation/remediation-plan/07-normalize-idor-ordering.md
  prompts/2026-04-18-bug-remediation/remediation-plan/08-optimistic-mutation-hook.md
  prompts/2026-04-18-bug-remediation/remediation-plan/10-observability-e2e.md
  prompts/2026-04-18-bug-remediation/remediation-plan/12-backend-feature-routers.md
Due: none

docs(qa): add executable 15-prompt remediation plan for 281 bugs (#243)
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
  prompts/2026-04-18-bug-remediation/remediation-plan/01-unblock-auth-nav-flash.md
  prompts/2026-04-18-bug-remediation/remediation-plan/02-close-credit-minting-chain.md
  prompts/2026-04-18-bug-remediation/remediation-plan/03-close-stage-skip-chain.md
  prompts/2026-04-18-bug-remediation/remediation-plan/04-centralize-sanitize-user-text.md
  prompts/2026-04-18-bug-remediation/remediation-plan/05-centralize-date-utils-tz.md
  prompts/2026-04-18-bug-remediation/remediation-plan/06-db-unique-constraints-toctou.md
  prompts/2026-04-18-bug-remediation/remediation-plan/07-normalize-idor-ordering.md
  prompts/2026-04-18-bug-remediation/remediation-plan/08-optimistic-mutation-hook.md
  prompts/2026-04-18-bug-remediation/remediation-plan/09-server-derived-timestamps.md
  prompts/2026-04-18-bug-remediation/remediation-plan/10-observability-e2e.md
  prompts/2026-04-18-bug-remediation/remediation-plan/11-backend-auth-models-schemas-cors.md
  prompts/2026-04-18-bug-remediation/remediation-plan/12-backend-feature-routers.md
  prompts/2026-04-18-bug-remediation/remediation-plan/13-frontend-api-client.md
  prompts/2026-04-18-bug-remediation/remediation-plan/14-frontend-feature-screens.md
  prompts/2026-04-18-bug-remediation/remediation-plan/15-frontend-design-state-tests.md
Due: none

fix(docs): rewrite 23 broken docstring summaries, correct hook count
  CLAUDE.md
  backend/src/models/goal.py
  backend/src/models/goal_completion.py
  backend/src/models/journal_entry.py
  backend/src/models/stage_progress.py
  backend/src/models/user.py
  backend/src/models/user_practice.py
  backend/tests/domain/test_goals.py
  backend/tests/test_auth.py
  backend/tests/test_cors.py
  backend/tests/test_course_api.py
  backend/tests/test_integration.py
  backend/tests/test_migrations.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

refactor(frontend): introduce authStatus state machine in AuthContext
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): gate RootNavigator on authStatus, add re-auth overlay
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): reset all stores on logout + harden 401 path
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/store/__tests__/registry.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/__tests__/useUserStore.test.ts
  frontend/src/store/registry.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
  frontend/src/store/useUserStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(remediation-plan): tick row 01 — auth nav flash PR open
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(frontend): address PR #245 review — race, missing tests, hardening
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/notificationStorage.ts
  frontend/src/store/__tests__/registry.test.ts
  frontend/src/store/registry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(frontend): ignore jest coverage/ output
  frontend/.gitignore
Due: frontend-eslint, frontend-tests

refactor(frontend): introduce authStatus state machine in AuthContext (#245)
  frontend/.gitignore
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/notificationStorage.ts
  frontend/src/store/__tests__/registry.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/__tests__/useUserStore.test.ts
  frontend/src/store/registry.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
  frontend/src/store/useUserStore.ts
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add User.is_admin column + require_admin dependency
  backend/migrations/versions/b9c0d1e2f3a4_add_user_is_admin.py
  backend/src/dependencies/__init__.py
  backend/src/dependencies/auth.py
  backend/src/models/user.py
  backend/src/routers/admin.py
  backend/tests/test_admin_usage_stats.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): require admin on POST /user/balance/add
  backend/conftest.py
  backend/src/routers/botmason.py
  backend/tests/test_botmason_api.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

fix(backend): clamp BalanceAddRequest.amount to [1, 1_000_000]
  backend/src/routers/botmason.py
  backend/src/schemas/botmason.py
  backend/tests/test_botmason_api.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(qa): tick prompt 02 row in remediation index
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(backend): address PR #246 review feedback
  backend/migrations/versions/b9c0d1e2f3a4_add_user_is_admin.py
  backend/src/routers/admin.py
  backend/src/routers/botmason.py
  backend/src/schemas/botmason.py
  backend/tests/test_botmason_api.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_rate_limits.py
  frontend/src/api/__tests__/errorMessages.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): add User.is_admin column + require_admin dependency (#246)
  backend/conftest.py
  backend/migrations/versions/b9c0d1e2f3a4_add_user_is_admin.py
  backend/src/dependencies/__init__.py
  backend/src/dependencies/auth.py
  backend/src/models/user.py
  backend/src/routers/admin.py
  backend/src/routers/botmason.py
  backend/src/schemas/botmason.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_botmason_api.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_rate_limits.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(backend): audit legacy completed_stages gaps
  backend/migrations/versions/c0d1e2f3a4b5_audit_completed_stages_gaps.py
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/tests/test_admin_stage_progress.py
Due: backend-tests-coverage

fix(backend): chain-validate stage unlock (BUG-STAGE-001)
  backend/src/domain/stage_progress.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

fix(backend): server-derive stage progress (BUG-SCHEMA-006)
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

fix(backend): gate practices & course content on stage unlock
  backend/src/routers/course.py
  backend/src/routers/user_practices.py
  backend/tests/test_course_api.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(backend): gate weekly prompts on user_week (BUG-PROMPT-001/-002)
  backend/src/routers/prompts.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
