Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(habits): sync backfillMissedDays/setNewStartDate to the server (#1519)
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wipe the in-memory BYOK LLM key on session teardown
  frontend/src/api/index.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wipe the in-memory BYOK LLM key on session teardown (#1522)
  frontend/src/api/index.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): restore native scroll by splitting ContentContainer's height contract
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ContentContainer.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): note the navigator-supplied bounded height at Practice fill sites
  frontend/src/features/Practice/PracticeScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): restore native scroll by splitting ContentContainer's height contract (#1523)
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ContentContainer.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): in-panel re-promotion in the reflection sources feed
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): in-panel re-promotion in the reflection sources feed (#1524)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add shared ScreenDrawer side-panel component and header hamburger trigger
  frontend/src/components/drawer/DrawerItem.tsx
  frontend/src/components/drawer/DrawerToggle.tsx
  frontend/src/components/drawer/ScreenDrawer.tsx
  frontend/src/components/drawer/__tests__/DrawerItem.test.tsx
  frontend/src/components/drawer/__tests__/DrawerToggle.test.tsx
  frontend/src/components/drawer/__tests__/ScreenDrawer.test.tsx
  frontend/src/components/drawer/__tests__/useScreenDrawer.test.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/components/drawer/useScreenDrawer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add shared ScreenDrawer side-panel component and header hamburger trigger (#1525)
  frontend/src/components/drawer/DrawerItem.tsx
  frontend/src/components/drawer/DrawerToggle.tsx
  frontend/src/components/drawer/ScreenDrawer.tsx
  frontend/src/components/drawer/__tests__/DrawerItem.test.tsx
  frontend/src/components/drawer/__tests__/DrawerToggle.test.tsx
  frontend/src/components/drawer/__tests__/ScreenDrawer.test.tsx
  frontend/src/components/drawer/__tests__/useScreenDrawer.test.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/components/drawer/useScreenDrawer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): move overflow menu and pagination controls into the Habits screen drawer
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsPaginationVisibility.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/UnlockAll.test.tsx
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/HabitsDrawer.tsx
  frontend/src/features/Habits/components/__tests__/HabitsDrawer.test.tsx
  frontend/src/features/Habits/hooks/__tests__/usePaginationBarVisibility.test.tsx
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/hooks/usePaginationBarVisibility.ts
  frontend/src/storage/__tests__/paginationVisibilityStorage.test.ts
  frontend/src/storage/paginationVisibilityStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): move overflow menu and pagination controls into the Habits screen drawer (#1526)
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsPaginationVisibility.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/UnlockAll.test.tsx
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/HabitsDrawer.tsx
  frontend/src/features/Habits/components/__tests__/HabitsDrawer.test.tsx
  frontend/src/features/Habits/hooks/__tests__/usePaginationBarVisibility.test.tsx
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/hooks/usePaginationBarVisibility.ts
  frontend/src/storage/__tests__/paginationVisibilityStorage.test.ts
  frontend/src/storage/paginationVisibilityStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): add header drawer for catalog, customize, and create navigation
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/PracticeDrawer.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.handle.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDrawer.test.tsx
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): add header drawer for catalog, customize, and create navigation (#1527)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/PracticeDrawer.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.handle.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDrawer.test.tsx
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(maintenance): gate producer scans on total open-backlog size (#1492)
  .github/workflows/_claude-scan.yml
  .github/workflows/deslop.yml
  .github/workflows/hopper.yml
Due: none

feat(course): add stage-grouped header drawer with lazy chapter list
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenUnmatchedStage.test.tsx
  frontend/src/features/Course/__tests__/stageDisplay.test.ts
  frontend/src/features/Course/stageDisplay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): add stage-grouped header drawer with lazy chapter list (#1532)
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenUnmatchedStage.test.tsx
  frontend/src/features/Course/__tests__/stageDisplay.test.ts
  frontend/src/features/Course/stageDisplay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add header drawer listing past entries for quick navigation
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/recency.ts
  frontend/src/features/Journal/usePagedJournal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add header drawer listing past entries for quick navigation (#1538)
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/recency.ts
  frontend/src/features/Journal/usePagedJournal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): add Map screen drawer with stage legend and jump-to-stage
  frontend/src/features/Map/MapDrawer.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/stageLegend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): share journey read between header and drawer
  frontend/src/features/Map/MapDrawer.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/hooks/__tests__/useJourneySummary.test.tsx
  frontend/src/features/Map/hooks/useJourneySummary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): Map screen drawer — stage legend, jump-to-stage, and journey summary (#1545)
  frontend/src/features/Map/MapDrawer.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/hooks/__tests__/useJourneySummary.test.tsx
  frontend/src/features/Map/hooks/useJourneySummary.ts
  frontend/src/features/Map/stageLegend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): list an entry's promotions so reopened highlights persist
  backend/src/routers/promotions.py
  backend/tests/test_promotions_api.py
  frontend/src/api/__tests__/promotions.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): list an entry's promotions so reopened highlights persist (#1546)
  backend/src/routers/promotions.py
  backend/tests/test_promotions_api.py
  frontend/src/api/__tests__/promotions.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): configure logging to output to stdout in containerized environments
  backend/src/main.py
Due: backend-tests-coverage

feat(ci): add weekly playbook-rules curation action
  .github/workflows/weekly-playbook.yml
  CLAUDE.md
Due: none

fix(journal): use Unicode code-point offsets for quote/marginalia anchors
  backend/src/routers/promotions.py
  backend/tests/test_detection_service.py
  backend/tests/test_marginalia_reanchoring.py
  backend/tests/test_promotions_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/codePoints.test.ts
  frontend/src/features/Journal/__tests__/highlightSegments.test.ts
  frontend/src/features/Journal/codePoints.ts
  frontend/src/features/Journal/highlightSegments.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): use Unicode code-point offsets for quote/marginalia anchors (#1548)
  backend/src/routers/promotions.py
  backend/tests/test_detection_service.py
  backend/tests/test_marginalia_reanchoring.py
  backend/tests/test_promotions_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/codePoints.test.ts
  frontend/src/features/Journal/__tests__/highlightSegments.test.ts
  frontend/src/features/Journal/codePoints.ts
  frontend/src/features/Journal/highlightSegments.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): honour blank-essay contract on the fetch path
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): honour blank-essay contract on the fetch path (#1550)
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): extract HabitsStatTile data-loading into useHabitsSummary hook
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/useHabitsSummary.test.tsx
  frontend/src/features/Journal/useHabitsSummary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): extract HabitsStatTile data-loading into useHabitsSummary hook (#1551)
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/useHabitsSummary.test.tsx
  frontend/src/features/Journal/useHabitsSummary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): mark AspectChordControl expanded chips disabled for a11y
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): mark AspectChordControl expanded chips disabled for a11y (#1552)
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): include trace_id in root logger formatter for correlation
  backend/src/main.py
Due: backend-tests-coverage

fix(backend): attach TraceIdLogFilter to handler, not logger, for proper propagation
  backend/src/main.py
Due: backend-tests-coverage

refactor(journal): extract shared JournalModalShell for the two modals
  frontend/src/features/Journal/EditConfirmDialog.tsx
  frontend/src/features/Journal/JournalModalShell.tsx
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/JournalModalShell.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): share one optimistic-remove-with-revert primitive
  frontend/src/features/Journal/__tests__/optimisticRemove.test.ts
  frontend/src/features/Journal/optimisticRemove.ts
  frontend/src/features/Journal/usePromotions.ts
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): retire orphaned buildHighlightSegments and its false docstring
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/highlightSegments.test.ts
  frontend/src/features/Journal/highlightSegments.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): retire three corroborated duplications/orphans (#1553)
  frontend/src/features/Journal/EditConfirmDialog.tsx
  frontend/src/features/Journal/JournalModalShell.tsx
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/JournalModalShell.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/highlightSegments.test.ts
  frontend/src/features/Journal/__tests__/optimisticRemove.test.ts
  frontend/src/features/Journal/highlightSegments.ts
  frontend/src/features/Journal/optimisticRemove.ts
  frontend/src/features/Journal/usePromotions.ts
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
