Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor(api): drop dead default-export aggregate and 9 unused schema aliases
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(api): drop dead default-export aggregate and 9 unused schema aliases (#1371)
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(components): drop DatePicker's silently-ignored props and duplicate slot
  frontend/src/components/DatePicker.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(components): drop DatePicker's silently-ignored props and duplicate slot (#1372)
  frontend/src/components/DatePicker.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(components): extract shared ErrorFallback from duplicated boundaries
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ErrorFallback.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorFallback.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(components): extract shared ErrorFallback from duplicated boundaries (#1373)
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ErrorFallback.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorFallback.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(store): drop dead loading/error state from depth-preferences store
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
  frontend/src/store/__tests__/useDepthPreferencesStore.test.ts
  frontend/src/store/useDepthPreferencesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(store): drop dead loading/error state from depth-preferences store (#1374)
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
  frontend/src/store/__tests__/useDepthPreferencesStore.test.ts
  frontend/src/store/useDepthPreferencesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): bring the Edit Habit settings modal into Candle & Ink
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/ModalHeader.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEditModalsTokens.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): bring the Edit Habit settings modal into Candle & Ink (#1375)
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/ModalHeader.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEditModalsTokens.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): route the primary load path through toLocalHabit's sanitizers
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): route the primary load path through toLocalHabit's sanitizers (#1376)
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): make useHabitActions return a referentially stable object
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): make useHabitActions return a referentially stable object (#1377)
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(security): strip the Unicode Tags block in sanitize_user_text
  backend/src/security/text_sanitize.py
  backend/tests/security/test_text_sanitize.py
Due: backend-tests-coverage

fix(security): strip the Unicode Tags block in sanitize_user_text (#1378)
  backend/src/security/text_sanitize.py
  backend/tests/security/test_text_sanitize.py
Due: backend-tests-coverage

refactor(backend): remove dead calendar start-date gate from energy planner
  backend/src/domain/energy.py
  backend/tests/domain/test_energy.py
Due: backend-tests-coverage

refactor(backend): remove dead calendar start-date gate from energy planner (#1380)
  backend/src/domain/energy.py
  backend/tests/domain/test_energy.py
Due: backend-tests-coverage

fix(backend): stop BotMason generate_response from masking internal bugs as provider errors
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

fix(backend): stop BotMason generate_response from masking internal bugs as provider errors (#1381)
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

feat(backend): implement proportional drip calendar lock for course content
  backend/src/domain/course.py
  backend/src/domain/program_calendar.py
  backend/src/routers/course.py
  backend/tests/domain/test_course.py
  backend/tests/test_course_api.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_course_local_content.py
  backend/tests/test_program_calendar.py
Due: backend-tests-coverage

fix(backend): replace assert with explicit error in _content_item_is_locked
  backend/src/routers/course.py
Due: backend-tests-coverage

fix(security): re-normalize to NFC after stripping in sanitize_user_text
  backend/src/security/text_sanitize.py
  backend/tests/security/test_text_sanitize.py
Due: backend-tests-coverage

fix(security): re-normalize to NFC after stripping in sanitize_user_text (#1411)
  backend/src/security/text_sanitize.py
  backend/tests/security/test_text_sanitize.py
Due: backend-tests-coverage

docs: add issue draft for shared max screen width (#1409)
  plans/github-issues/ISSUE_max-screen-width.md
Due: none

feat(practice): wire expo-audio adapter into the ritual session
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.audio.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): wire expo-audio adapter into the ritual session (#1412)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.audio.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): cap content to a shared max screen width across all screens
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ContentContainer.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/__tests__/useResponsive.test.ts
  frontend/src/design/tokens.ts
  frontend/src/design/useResponsive.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileContentWidth.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): cap content to a shared max screen width across all screens (#1413)
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ContentContainer.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/__tests__/useResponsive.test.ts
  frontend/src/design/tokens.ts
  frontend/src/design/useResponsive.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileContentWidth.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): remove test-only geometry outputs pole and contentOffset
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/waveGeometry.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
  frontend/src/features/Map/waveGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): remove test-only geometry outputs pole and contentOffset (#1414)
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/waveGeometry.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
  frontend/src/features/Map/waveGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin rate-limit boundaries at exactly N requests
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

test(backend): pin rate-limit boundaries at exactly N requests (#1415)
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

refactor(backend): drop botmason _import_optional indirection for typed SDK clients
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

refactor(backend): drop botmason _import_optional indirection for typed SDK clients (#1416)
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

feat(practice): thread bell_tone through the interval-bell cue pipeline
  frontend/assets/sounds/bell-bowl.mp3
  frontend/assets/sounds/bell-chime.mp3
  frontend/assets/sounds/bell-gong.mp3
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.test.tsx
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
  frontend/src/features/Practice/engine/adapters/audio.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): thread bell_tone through the interval-bell cue pipeline (#1418)
  frontend/assets/sounds/bell-bowl.mp3
  frontend/assets/sounds/bell-chime.mp3
  frontend/assets/sounds/bell-gong.mp3
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.test.tsx
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
  frontend/src/features/Practice/engine/adapters/audio.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(course): extract shared deriveCurrentStage into a feature-neutral domain module
  frontend/src/domain/__tests__/stageProgression.test.ts
  frontend/src/domain/stageProgression.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(course): extract shared deriveCurrentStage into a feature-neutral domain module (#1420)
  frontend/src/domain/__tests__/stageProgression.test.ts
  frontend/src/domain/stageProgression.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
