Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(ci): stop the Dependabot bridge's dedup losing a match to SIGPIPE
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/ralph-recap-tests.yml
  scripts/ralph/bridge-issue-exists.sh
  scripts/ralph/test_bridge_issue_exists.sh
Due: none

fix(map): one server-owned answer for the current stage, plus five Map fixes (#2382)
  frontend/e2e/journeys.json
  frontend/src/domain/__tests__/stageProgression.test.ts
  frontend/src/domain/stageProgression.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenUnmatchedStage.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/StageExpressionsSection.tsx
  frontend/src/features/Map/WaveOverlay.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
  frontend/src/features/Map/__tests__/StageExpressionsSection.test.tsx
  frontend/src/features/Map/__tests__/beginAgain.test.ts
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/beginAgain.ts
  frontend/src/features/Map/hooks/useStageAnchors.ts
  frontend/src/features/Map/journeyNarrative.ts
  frontend/src/features/Map/magnifierGeometry.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/features/Map/stageLegend.ts
  frontend/src/features/Map/waveGeometry.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(ci): enrol the two openapi guards the new lane just caught
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/features/Seed/__tests__/importVocabularyDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): hold a bridge issue by its marker, not only by its PR's Closes line
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
Due: none

fix(ci): one PR's unknown dedup must not end the reconciler batch
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/test_bridge_issue_exists.sh
Due: none

fix(ci): make the e2e exclusion structural, not incidental
  backend/tests/scripts/test_cross_boundary_drift.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/jest.setup.crossBoundary.js
  scripts/frontend/cross-boundary-drift.sh
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): the shelf re-reads itself when the writer comes back to it
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenRefocus.test.tsx
  frontend/src/features/Journal/useEntryDeletion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): quiet the shelf's weight and small-caps so the writing is the loud part
  frontend/src/features/Journal/JournalHero.styles.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Journal/__tests__/JournalShelfHierarchy.test.ts
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): three tooling fixes — issue-evidence checker, bridge dedup SIGPIPE, picker marker route (#2384)
  .claude/commands/ralph-tick.md
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/issue-evidence.yml
  .github/workflows/ralph-recap-tests.yml
  backend/scripts/issue_evidence.py
  backend/tests/scripts/test_issue_evidence.py
  prompts/audits/contract-drift-audit.md
  scripts/ralph/FLEET.md
  scripts/ralph/bridge-issue-exists.sh
  scripts/ralph/issue-evidence.sh
  scripts/ralph/pick-next.sh
  scripts/ralph/test_bridge_issue_exists.sh
  scripts/ralph/test_issue_evidence.sh
  scripts/ralph/test_pick_next.sh
Due: backend-tests-coverage

feat(backend): granting consent ontologizes the writing already there
  backend/migrations/versions/d7e8f9a0b1c3_corpusconsentevent_fragments_added.py
  backend/src/models/corpus_consent.py
  backend/src/routers/corpus.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_consent.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(backend): a course read must advance a lagging current_stage
  backend/src/domain/stage_authority.py
  backend/tests/test_stage_reconciliation.py
Due: backend-tests-coverage

refactor(backend): retire POST /journal/upload, which had no caller left
  backend/openapi.json
  backend/src/dependencies/document_payload.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/journal_upload.py
  backend/src/services/corpus_import.py
  backend/tests/test_document_upload_to_a_vault.py
  docs/creek-vault-mcp-contract.md
  frontend/src/features/Seed/__tests__/importSeedDocument.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(ci): run the frontend guards that read backend source on backend PRs (#2380)
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  backend/tests/scripts/test_cross_boundary_drift.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/jest.config.js
  frontend/jest.setup.crossBoundary.js
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/constants/__tests__/stageOntologyDrift.test.ts
  frontend/src/features/Seed/__tests__/importVocabularyDrift.test.ts
  frontend/src/features/Seed/__tests__/uploadCapDrift.test.ts
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/testing/__tests__/crossBoundaryReport.test.ts
  frontend/src/testing/backendSource.ts
  frontend/src/testing/crossBoundaryReport.ts
  frontend/tsconfig.eslint.json
  scripts/frontend/cross-boundary-drift.sh
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(frontend): check a declared route against the client, not only the schema
  frontend/__tests__/journeyLedger.test.ts
  frontend/__tests__/journeyLedger.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): name the second blocker under seed.upload-document
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(journal): the shelf shows what was just written, and stops shouting it (#2386)
  frontend/src/features/Journal/JournalHero.styles.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Journal/__tests__/JournalShelfHierarchy.test.ts
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenRefocus.test.tsx
  frontend/src/features/Journal/useEntryDeletion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): make the backfill's deadline a bound, and stop it starving old history
  backend/migrations/versions/b1c2d3e4f5a7_journalentry_corpus_attempted_at.py
  backend/openapi.json
  backend/src/models/journal_entry.py
  backend/src/routers/corpus.py
  backend/src/schemas/corpus.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_ingest.py
  backend/src/services/frequency_classification.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_frequency_classification.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

fix(e2e): point the uncovered map journey at the tracker that stays open
  frontend/__tests__/journeyLedger.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): check a declared route against the client, not only the schema (#2387)
  frontend/__tests__/journeyLedger.test.ts
  frontend/__tests__/journeyLedger.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): a grant reaches the writing already there, the third stage-entry site, and one retired route (#2388)
  backend/migrations/versions/b1c2d3e4f5a7_journalentry_corpus_attempted_at.py
  backend/migrations/versions/d7e8f9a0b1c3_corpusconsentevent_fragments_added.py
  backend/openapi.json
  backend/src/dependencies/document_payload.py
  backend/src/domain/stage_authority.py
  backend/src/models/corpus_consent.py
  backend/src/models/journal_entry.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/corpus.py
  backend/src/schemas/journal_upload.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_consent.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/src/services/frequency_classification.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_frequency_classification.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_document_upload_to_a_vault.py
  backend/tests/test_legal_documents.py
  backend/tests/test_rate_limits.py
  backend/tests/test_stage_reconciliation.py
  docs/creek-vault-mcp-contract.md
  docs/legal/privacy-policy.md
  frontend/e2e/journeys.json
  frontend/src/features/Seed/__tests__/importSeedDocument.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs: fix the backend run command and name the web dev port
  CLAUDE.md
  README.md
Due: none

docs: fix the backend run command and name the web dev port (#2394)
  CLAUDE.md
  README.md
Due: none

fix(backend): replace BotMason's retired Anthropic default, gate the allowlist
  .github/workflows/live-model-check.yml
  DEPLOYMENT.md
  backend/.env.example
  backend/pyproject.toml
  backend/src/services/botmason.py
  backend/src/services/llm_pricing.py
  backend/tests/live/__init__.py
  backend/tests/live/model_lane.py
  backend/tests/live/test_anthropic_model_catalogue.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_live_model_lane_guard.py
  backend/tests/test_llm_pricing.py
Due: backend-tests-coverage

fix(backend): record why a resonance pass discarded every margin note
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_resonance_service.py
Due: backend-tests-coverage

fix(frontend): give the journal entry screen a way out of itself
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): hold the intro walkthrough to the width the rest of the app uses
  frontend/e2e/journeys.json
  frontend/src/features/Welcome/Welcome.styles.ts
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreenContentWidth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): let the Aspect chooser fold up, and colour it by stage
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): revive the Anthropic default model, and make a zero-note resonance pass diagnosable (#2398)
  .github/workflows/live-model-check.yml
  DEPLOYMENT.md
  backend/.env.example
  backend/pyproject.toml
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/llm_pricing.py
  backend/tests/live/__init__.py
  backend/tests/live/model_lane.py
  backend/tests/live/test_anthropic_model_catalogue.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_live_model_lane_guard.py
  backend/tests/test_llm_pricing.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_resonance_service.py
Due: backend-tests-coverage

test(backend): fail the suite on a duplicate Alembic revision id
  backend/tests/test_migrations.py
Due: backend-tests-coverage

fix(ci): stop the weekly playbook reading a gh failure as "zero open issues"
  .github/workflows/weekly-playbook.yml
  backend/tests/scripts/test_playbook_wip_gate.py
  scripts/ralph/playbook-wip-gate.sh
Due: backend-tests-coverage

fix(frontend): three dogfooding defects on the web build — no exit from an entry, a full-bleed walkthrough, an Aspect chooser that will not fold (#2400)
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreenContentWidth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(full-stack): let a 5xx reach the browser as a 5xx, not as "you appear to be offline"
  backend/src/errors.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/logging.py
  backend/src/middleware/unhandled_exception.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/middleware/test_unhandled_exception_cors.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/serverErrorIsNotOffline.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix: two gates that reported success while the condition they catch was present (#2389, #2385) (#2405)
  .github/workflows/weekly-playbook.yml
  backend/tests/scripts/test_playbook_wip_gate.py
  backend/tests/test_migrations.py
  scripts/ralph/playbook-wip-gate.sh
Due: backend-tests-coverage

fix(frontend): offer resonance on an entry that already exists
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceGate.test.tsx
  frontend/src/hooks/__tests__/useIdle.test.ts
  frontend/src/hooks/useIdle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend,frontend): a resonance pass now leaves a note or an explanation
  backend/openapi.json
  backend/src/domain/resonance.py
  backend/src/models/wallet_audit.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/wallet.py
  backend/tests/services/test_wallet.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_resonance_service.py
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonanceNoNotes.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): parse model JSON that arrives in a markdown fence
  backend/src/domain/resonance.py
  backend/tests/test_detection_service.py
  backend/tests/test_resonance_service.py
Due: backend-tests-coverage

fix(full-stack): let a 5xx reach the browser as a 5xx, not as "you appear to be offline" (#2409)
  backend/src/errors.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/logging.py
  backend/src/middleware/unhandled_exception.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/middleware/test_unhandled_exception_cors.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/serverErrorIsNotOffline.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend,backend): make Get Resonance reachable, and never silent (#2414)
  backend/openapi.json
  backend/src/domain/resonance.py
  backend/src/models/wallet_audit.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/wallet.py
  backend/tests/services/test_wallet.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_resonance_service.py
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceGate.test.tsx
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonanceNoNotes.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/hooks/__tests__/useIdle.test.ts
  frontend/src/hooks/useIdle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(ci): stop an unset repo variable reaching the SDK as an empty base URL
  .github/workflows/graph-semantic.yml
  scripts/graph/run_with_optional_env.sh
  scripts/graph/test_run_with_optional_env.sh
Due: none

fix(ci): stop an unset repo variable reaching the SDK as an empty base URL (#2419)
  .github/workflows/graph-semantic.yml
  scripts/graph/run_with_optional_env.sh
  scripts/graph/test_run_with_optional_env.sh
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
