Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(ci): a transport failure is not a verdict
  .claude/commands/ralph-tick.md
  .claude/skills/await-claude-review/SKILL.md
  .github/workflows/graph-semantic.yml
  .github/workflows/graph-tests.yml
  scripts/graph/README.md
  scripts/graph/anthropic_preflight.sh
  scripts/graph/report_workflow_failure.sh
  scripts/graph/test_anthropic_preflight.sh
  scripts/graph/test_report_workflow_failure.sh
  scripts/graph/test_run_tests.sh
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/recap.py
  scripts/ralph/test_pr_ready.sh
  scripts/ralph/test_recap_stats.py
  scripts/ralph/test_watch_pr.sh
  scripts/ralph/watch-pr.sh
Due: none

docs: record the consent-event contract as ADR 0006, and stop calling the Creek seam MCP (#2352)
  NORTH-STAR.md
  backend/tests/test_adr_references.py
  backend/tests/test_contract_version_docs.py
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/adr/0005-operator-side-ontologization.md
  docs/adr/0006-consent-as-an-auditable-event.md
  docs/creek-vault-mcp-contract.md
  graph/ontology-spine.md
Due: backend-tests-coverage

feat(backend,frontend): data export — endpoint and in-app flow (#2339)
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/ownership.py
  backend/src/main.py
  backend/src/routers/data_export.py
  backend/src/services/account_deletion.py
  backend/src/services/data_export.py
  backend/tests/test_data_export_api.py
  backend/tests/test_data_export_manifest.py
  backend/tests/test_data_export_rendering.py
  docs/your-data.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/data-export.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/api/__tests__/dataExport-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ExportDataScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/saveDataExport.test.ts
  frontend/src/features/Settings/saveDataExport.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): the calendar offers, the record remembers — one rule for stage progression
  backend/openapi.json
  backend/src/domain/stage_authority.py
  backend/src/domain/stage_progress.py
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/src/schemas/stage.py
  backend/src/services/higher_self_grounding.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_authority.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_program_gating.py
  backend/tests/test_stage_reconciliation.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

fix(e2e): the map.advance-stage ledger entry named a route this PR retires
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(ci): pass the tracking marker to jq as a variable, and cover the guard
  scripts/graph/report_workflow_failure.sh
  scripts/graph/test_report_workflow_failure.sh
Due: none

feat(backend): route an imported document to whichever corpus the account has
  backend/openapi.json
  backend/src/dependencies/document_payload.py
  backend/src/domain/corpus_import.py
  backend/src/domain/document_text.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/corpus_import.py
  backend/src/schemas/journal_upload.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/tests/test_corpus_import.py
  backend/tests/test_journal_upload.py
Due: backend-tests-coverage

feat(frontend): let a person delete one journal entry
  docs/your-data.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-delete.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/features/Journal/DeleteEntryDialog.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/DeleteEntryDialog.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDelete.test.tsx
  frontend/src/features/Journal/__tests__/useEntryDeletion.test.tsx
  frontend/src/features/Journal/deleteEntryCopy.ts
  frontend/src/features/Journal/useEntryDeletion.ts
  frontend/src/features/Journal/usePagedJournal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): find the tracking issue by label first, then fall back to the scan
  scripts/graph/report_workflow_failure.sh
  scripts/graph/test_report_workflow_failure.sh
Due: none

feat(frontend): let a person delete one journal entry (#2357)
  docs/your-data.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-delete.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/features/Journal/DeleteEntryDialog.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/DeleteEntryDialog.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDelete.test.tsx
  frontend/src/features/Journal/__tests__/useEntryDeletion.test.tsx
  frontend/src/features/Journal/deleteEntryCopy.ts
  frontend/src/features/Journal/useEntryDeletion.ts
  frontend/src/features/Journal/usePagedJournal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): a transport failure is not a verdict (#2353)
  .claude/commands/ralph-tick.md
  .claude/skills/await-claude-review/SKILL.md
  .github/workflows/graph-semantic.yml
  .github/workflows/graph-tests.yml
  scripts/graph/README.md
  scripts/graph/anthropic_preflight.sh
  scripts/graph/report_workflow_failure.sh
  scripts/graph/test_anthropic_preflight.sh
  scripts/graph/test_report_workflow_failure.sh
  scripts/graph/test_run_tests.sh
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/recap.py
  scripts/ralph/test_pr_ready.sh
  scripts/ralph/test_recap_stats.py
  scripts/ralph/test_watch_pr.sh
  scripts/ralph/watch-pr.sh
Due: none

test(backend): make the user-isolation test actually test isolation
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

feat(backend): route an imported document to whichever corpus the account has (#2356)
  backend/openapi.json
  backend/src/dependencies/document_payload.py
  backend/src/domain/corpus_import.py
  backend/src/domain/document_text.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/corpus_import.py
  backend/src/schemas/journal_upload.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/tests/test_corpus_import.py
  backend/tests/test_journal_upload.py
Due: backend-tests-coverage

fix(settings): offer a consent switch for uploads, which now have a writer
  frontend/src/features/Settings/__tests__/CorpusConsentScreen.test.tsx
  frontend/src/features/Settings/corpusConsentCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): offer a consent switch for uploads, which now have a writer (#2361)
  frontend/src/features/Settings/__tests__/CorpusConsentScreen.test.tsx
  frontend/src/features/Settings/corpusConsentCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): follow the group bump through to the mypy hook's pins
  .pre-commit-config.yaml
Due: none

refactor(backend): delete the root-logger trace_id filter that never fired
  backend/src/main.py
  backend/src/middleware/logging.py
  backend/src/observability.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/test_logging_config.py
  backend/tests/test_observability.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

fix(tooling): move the contract-drift audit out of the scan directory
  .gitignore
  prompts/audits/contract-drift-audit.md
Due: none

docs(legal): the policy catches up with a delete and a second kind of material
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

feat(frontend): import a document into whichever corpus you actually have
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-import.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/importDocument.test.ts
  frontend/src/api/__tests__/uploadDocument.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/importSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/importVocabularyDrift.test.ts
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/__tests__/seedRun.test.ts
  frontend/src/features/Seed/__tests__/uploadSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/importSeedDocument.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
  frontend/src/features/Seed/uploadSeedDocument.ts
  frontend/src/features/Seed/useSeedRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): collapse the four copy-pasted duplicate-key guards into one helper
  backend/src/seed_helpers.py
  backend/src/seed_practice_recipes.py
  backend/src/seed_practices.py
  backend/tests/test_seed_helpers.py
Due: backend-tests-coverage

feat(backend): the calendar offers, the record remembers — one rule for stage progression (#2354)
  backend/openapi.json
  backend/src/domain/stage_authority.py
  backend/src/domain/stage_progress.py
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/src/schemas/stage.py
  backend/src/services/higher_self_grounding.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_authority.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_program_gating.py
  backend/tests/test_stage_reconciliation.py
  backend/tests/test_stages_api.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(tooling): move the contract-drift audit out of the scan directory (#2373)
  .gitignore
  prompts/audits/contract-drift-audit.md
Due: none

fix(tooling): delete the inert radon thresholds that contradict the enforced floor
  backend/pyproject.toml
  backend/tests/scripts/test_complexity_gate.py
Due: backend-tests-coverage

fix(ci): run the frontend guards that read backend source on backend PRs
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  backend/tests/scripts/test_cross_boundary_drift.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/jest.config.js
  frontend/jest.setup.crossBoundary.js
  frontend/src/constants/__tests__/stageOntologyDrift.test.ts
  frontend/src/features/Seed/__tests__/uploadCapDrift.test.ts
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/testing/__tests__/crossBoundaryReport.test.ts
  frontend/src/testing/backendSource.ts
  frontend/src/testing/crossBoundaryReport.ts
  frontend/tsconfig.eslint.json
  scripts/frontend/cross-boundary-drift.sh
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): import a document into whichever corpus you actually have (#2375)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-import.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/importDocument.test.ts
  frontend/src/api/__tests__/uploadDocument.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/importSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/importVocabularyDrift.test.ts
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/__tests__/seedRun.test.ts
  frontend/src/features/Seed/__tests__/uploadSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/importSeedDocument.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
  frontend/src/features/Seed/uploadSeedDocument.ts
  frontend/src/features/Seed/useSeedRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(ci): prove the new lane fails on a backend-only change, not merely green
  backend/src/services/corpus_consent.py
Due: backend-tests-coverage

fix(frontend): take the server's answer for which stage someone is in
  frontend/e2e/journeys.json
  frontend/src/domain/__tests__/stageProgression.test.ts
  frontend/src/domain/stageProgression.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenUnmatchedStage.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(legal): the policy catches up with a delete and a second kind of material (#2376)
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

fix(frontend): drop the ApiGoalGroup user_id ghost
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): drop stage responses that resolve after a reset or a newer load
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): give the cold-start loading state a timeout and a way forward
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): assert Zod schemas conform to the exported OpenAPI document
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/promotionSchemas.test.ts
  frontend/src/api/__tests__/promotions.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): announce locked and current state on the grid's stage nodes
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/stageLegend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

revert: "test(ci): prove the new lane fails on a backend-only change"
  backend/src/services/corpus_consent.py
Due: backend-tests-coverage

fix(backend): retire three pieces of dead configuration — root-logger trace filter, duplicated seed guards, inert radon thresholds (#2378)
  backend/pyproject.toml
  backend/src/main.py
  backend/src/middleware/logging.py
  backend/src/observability.py
  backend/src/seed_helpers.py
  backend/src/seed_practice_recipes.py
  backend/src/seed_practices.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/scripts/test_complexity_gate.py
  backend/tests/test_logging_config.py
  backend/tests/test_observability.py
  backend/tests/test_seed_helpers.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

fix(map): stop announcing a next stage when the final one completes
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/beginAgain.test.ts
  frontend/src/features/Map/beginAgain.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): assert Zod schemas conform to the exported OpenAPI document (#2381)
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/promotionSchemas.test.ts
  frontend/src/api/__tests__/promotions.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): retire the path banners, the duplicated fits, and the dead re-exports
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/StageExpressionsSection.tsx
  frontend/src/features/Map/WaveOverlay.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
  frontend/src/features/Map/__tests__/StageExpressionsSection.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/hooks/useStageAnchors.ts
  frontend/src/features/Map/journeyNarrative.ts
  frontend/src/features/Map/magnifierGeometry.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/features/Map/stageLegend.ts
  frontend/src/features/Map/waveGeometry.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(tooling): re-run the evidence an issue cites, so a stale premise reports itself
  .github/workflows/issue-evidence.yml
  .github/workflows/ralph-recap-tests.yml
  backend/scripts/issue_evidence.py
  backend/tests/scripts/test_issue_evidence.py
  prompts/audits/contract-drift-audit.md
  scripts/ralph/issue-evidence.sh
  scripts/ralph/test_issue_evidence.sh
Due: backend-tests-coverage
