Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(frontend-habits): position-based stage display + web date picker
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): address review feedback on Squarespace integration
  .pre-commit-config.yaml
  backend/.env.example
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/src/seed_content.py
  backend/src/services/squarespace.py
  backend/tests/test_squarespace_endpoints.py
  docs/content.md
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/SiteResourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(roadmap): add grounding-techniques feature epic and sub-issues
  prompts/github-issues/README.md
  prompts/github-issues/grounding-techniques-01-tallied-mode-backend.md
  prompts/github-issues/grounding-techniques-02-mindful-anchor-mode-backend.md
  prompts/github-issues/grounding-techniques-03-presets-shapes-and-colors.md
  prompts/github-issues/grounding-techniques-04-presets-touch-grass-and-mindful-eating.md
  prompts/github-issues/grounding-techniques-05-tallied-view-frontend.md
  prompts/github-issues/grounding-techniques-06-mindful-anchor-view-frontend.md
  prompts/github-issues/grounding-techniques-epic.md
Due: none

feat(backend): add tallied_grounding practice mode (#337)
  backend/migrations/versions/a1b2c3d4e5f7_add_tallied_grounding_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

style(frontend-habits): trim multi-line comment blocks per CLAUDE.md
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-habits): position-based stage display + web date picker (#335)
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(roadmap): add customizable-practices feature epic and sub-issues
  prompts/github-issues/README.md
  prompts/github-issues/custom-practices-01-random-interval-bell-backend.md
  prompts/github-issues/custom-practices-02-card-meditation-backend.md
  prompts/github-issues/custom-practices-03-share-link-feature.md
  prompts/github-issues/custom-practices-04-rws-deck-content.md
  prompts/github-issues/custom-practices-05-random-interval-bell-frontend.md
  prompts/github-issues/custom-practices-06-card-meditation-frontend.md
  prompts/github-issues/custom-practices-07-catalog-and-create-flow.md
  prompts/github-issues/custom-practices-epic.md
Due: none

fix(backend): structurally derive tallied_grounding ceilings + boundary test (#337)
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

fix(course): rate-limit CMS proxy endpoints (30/minute)
  backend/src/routers/course.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

feat(course): integrate Squarespace as the CMS for course content (#334)
  .pre-commit-config.yaml
  backend/.env.example
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/content_config.py
  backend/src/routers/course.py
  backend/src/schemas/course.py
  backend/src/seed_content.py
  backend/src/services/squarespace.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_rate_limits.py
  backend/tests/test_seed_content.py
  backend/tests/test_squarespace_endpoints.py
  backend/tests/test_squarespace_service.py
  docs/content.md
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/SiteResourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): tighten migration test exception classes + promote tallied caps (#337)
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

fix(practice): pin frequency banner to client-derived stage
  backend/src/routers/user_practices.py
  backend/tests/test_frequency_endpoint.py
  frontend/src/api/index.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): strip PR-ref comments + tighten tallied test ceiling derivation
  backend/migrations/versions/a1b2c3d4e5f7_add_tallied_grounding_mode.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

fix(course): move Squarespace auth POST to /course section
  backend/src/services/squarespace.py
  backend/tests/test_squarespace_service.py
Due: backend-tests-coverage

fix(practice): address PR #354 review feedback
  backend/src/routers/user_practices.py
  backend/tests/test_frequency_endpoint.py
  frontend/src/api/index.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(course): gate _fetch_and_clean retry on _requires_auth
  backend/src/services/squarespace.py
  backend/tests/test_squarespace_service.py
Due: backend-tests-coverage

refactor(course): extract _retry_if_session_expired helper
  backend/src/services/squarespace.py
Due: backend-tests-coverage

feat(backend): add tallied_grounding practice mode (#337) (#343)
  backend/migrations/versions/a1b2c3d4e5f7_add_tallied_grounding_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

feat(backend): add mindful_anchor practice mode
  backend/migrations/versions/f4a5b6c7d8e9_add_mindful_anchor_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

refactor(backend): extract mindful_anchor validator helpers for xenon A grade
  backend/src/schemas/practice_mode_config.py
Due: backend-tests-coverage

fix(backend): address PR #344 mindful_anchor review feedback
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

refactor(backend): split session metadata validation for xenon A rank
  backend/src/routers/practice_sessions.py
Due: backend-tests-coverage

fix(backend): reject mindful_anchor chosen_option_key not in catalog
  backend/src/routers/practice_sessions.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(practice): pin frequency banner to client-derived stage (#354)
  backend/src/routers/user_practices.py
  backend/tests/test_frequency_endpoint.py
  frontend/src/api/index.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(course): move Squarespace auth POST to /course section (#355)
  backend/src/services/squarespace.py
  backend/tests/test_squarespace_service.py
Due: backend-tests-coverage

feat(backend): add mindful_anchor practice mode (#344)
  backend/migrations/versions/f4a5b6c7d8e9_add_mindful_anchor_mode.py
  backend/src/domain/practice_modes.py
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(course): post password to fetch URL; 404 is fetch error
  backend/src/services/squarespace.py
  backend/tests/test_squarespace_service.py
Due: backend-tests-coverage

refactor(course): extract _raise_for_auth_response helper
  backend/src/services/squarespace.py
Due: backend-tests-coverage

feat(course): replace site resources with curated philosophy pages
  backend/src/content_config.py
  backend/tests/test_squarespace_endpoints.py
Due: backend-tests-coverage

fix(course): post password to fetch URL; 404 is fetch error (#356)
  backend/src/content_config.py
  backend/src/services/squarespace.py
  backend/tests/test_squarespace_endpoints.py
  backend/tests/test_squarespace_service.py
Due: backend-tests-coverage

feat(backend): add card_meditation practice mode (#347)
  backend/migrations/versions/a2b3c4d5e6f8_add_card_meditation_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

fix(backend): address card_meditation review feedback (#347, PR #357)
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_resolution.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(course): render chapter HTML in iframe on web
  frontend/src/features/Course/ChapterReader.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): add web-platform test, dedupe webview style wrapper
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.web.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add card_meditation practice mode (#347)
  backend/migrations/versions/a2b3c4d5e6f8_add_card_meditation_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/domain/test_practice_resolution.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(course): render chapter HTML in iframe on web (#358)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.web.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): add share-link feature (generate, preview, import)
  backend/migrations/versions/f5b6c7d8e9a0_add_practice_share_link.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/practice_share_link.py
  backend/src/routers/practice_share.py
  backend/src/schemas/practice_share.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_share.py
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/api/practiceShare.ts
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/components/__tests__/ShareSheet.test.tsx
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
  frontend/src/features/Practice/screens/__tests__/SharePreviewScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(practice): atomic use_count + bounded share-link list
  backend/src/models/practice_share_link.py
  backend/src/routers/practice_share.py
  backend/tests/test_practice_share.py
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/components/__tests__/ShareSheet.test.tsx
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): ship Rider-Waite-Smith deck content + card asset folder
  frontend/assets/cards/README.md
  frontend/assets/cards/_placeholder.png
  frontend/assets/cards/rws/.gitkeep
  frontend/src/features/Practice/data/assetResolver.ts
  frontend/src/features/Practice/data/decks/__tests__/rws.test.ts
  frontend/src/features/Practice/data/decks/index.ts
  frontend/src/features/Practice/data/decks/rws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): fix prettier-mangled snake_case + regex in cards README
  frontend/assets/cards/README.md
Due: frontend-eslint, frontend-prettier, frontend-tests
