Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

refactor(backend): remove dead placeholder seed rows suppressed by the manifest
  backend/src/main.py
  backend/src/seed_content.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_content.py
  docs/content.md
Due: backend-tests-coverage

feat(full-stack): server-persisted per-episode dismissal of the Metta Return offer
  backend/migrations/versions/a7b8c9d0e1f2_add_metta_return_offer_dismissal.py
  backend/src/domain/metta_return.py
  backend/src/models/__init__.py
  backend/src/models/metta_return_offer_dismissal.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/useMettaReturn.ts
  frontend/src/storage/__tests__/returnOfferStorage.test.ts
  frontend/src/storage/returnOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): collapse duplicated meditation_timer presets into spec tables (#1178)
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

refactor(backend): extract shared DB-probe helper + deterministic 503 tests
  .secrets.baseline
  backend/conftest.py
  backend/src/main.py
  backend/tests/test_database.py
  backend/tests/test_health.py
Due: backend-tests-coverage

feat(full-stack): server-persisted per-episode dismissal of the Metta Return offer (#1180)
  backend/migrations/versions/a7b8c9d0e1f2_add_metta_return_offer_dismissal.py
  backend/src/domain/metta_return.py
  backend/src/models/__init__.py
  backend/src/models/metta_return_offer_dismissal.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/useMettaReturn.ts
  frontend/src/storage/__tests__/returnOfferStorage.test.ts
  frontend/src/storage/returnOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): extract shared DB-probe helper + deterministic 503 tests (#1181)
  .secrets.baseline
  backend/conftest.py
  backend/src/main.py
  backend/tests/test_database.py
  backend/tests/test_health.py
Due: backend-tests-coverage

fix(backend): reconcile third divergent additive-streak path
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

refactor(backend): remove dead placeholder seed rows suppressed by the manifest (#1179)
  backend/src/main.py
  backend/src/seed_content.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_content.py
  docs/content.md
Due: backend-tests-coverage

feat(backend): wire in the LLM cost-metering write path
  backend/src/models/llm_usage_log.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/llm_usage.py
  backend/src/services/marginalia.py
  backend/tests/routers/test_contraction_reflection.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_llm_usage_metering.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

docs(ralph): missing claude-review usually means a merge conflict
  .claude/commands/ralph-tick.md
Due: none

docs(ralph): missing claude-review usually means a merge conflict (#1185)
  .claude/commands/ralph-tick.md
Due: none

test(backend): harden five coverage-theater regression guards
  backend/tests/security/test_password_reset_timing.py
  backend/tests/services/test_contraction_service.py
  backend/tests/services/test_email.py
  backend/tests/services/test_invitations_service.py
  backend/tests/services/test_wallet.py
Due: backend-tests-coverage

fix(frontend): include own drafts when resolving the active practice
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): reconcile third divergent additive-streak path (#1184)
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(frontend): clamp usePagination goLast so backward paging works on the last page
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): clamp usePagination goLast so backward paging works on the last page (#1188)
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared Habits emoji-picker + fix placeholder drift
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitEmojiPicker.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEmojiPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared Habits emoji-picker + fix placeholder drift (#1189)
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitEmojiPicker.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEmojiPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared EnergyCostReturnEditor for both habit modals
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/EnergyCostReturnEditor.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/EnergyCostReturnEditor.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): wire in the LLM cost-metering write path (#1186)
  backend/src/models/llm_usage_log.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/llm_usage.py
  backend/src/services/marginalia.py
  backend/tests/routers/test_contraction_reflection.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_llm_usage_metering.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

refactor(backend): collapse marginalia reanchor twins; drop unreachable botmason fallback
  backend/src/services/botmason.py
  backend/src/services/marginalia.py
  backend/tests/test_marginalia_reanchoring.py
Due: backend-tests-coverage

refactor(frontend): unify the "10 habits" ceiling into one shared constant
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.energySliders.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.habitCeiling.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reorderIcons.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.replay.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reveal.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1b.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.templateStep.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.templateStepError.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.templatesRace.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Habits/constants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): unify the "10 habits" ceiling into one shared constant (#1192)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.energySliders.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.habitCeiling.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reorderIcons.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.replay.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reveal.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1b.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.templateStep.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.templateStepError.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.templatesRace.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Habits/constants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared EnergyCostReturnEditor for both habit modals (#1190)
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/EnergyCostReturnEditor.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/EnergyCostReturnEditor.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): collapse marginalia reanchor twins; drop unreachable botmason fallback (#1191)
  backend/src/services/botmason.py
  backend/src/services/marginalia.py
  backend/tests/test_marginalia_reanchoring.py
Due: backend-tests-coverage

test(frontend): consolidate redundant & misnamed Habits tests
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): consolidate redundant & misnamed Habits tests (#1193)
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy up residual Habits dead code + log-0 coercion
  frontend/src/features/Habits/HabitDefaults.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Habits/components/parseEnergyValue.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): collapse triplicated Spiral-Dynamics color resolver
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy up residual Habits dead code + log-0 coercion (#1194)
  frontend/src/features/Habits/HabitDefaults.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Habits/components/parseEnergyValue.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): collapse triplicated Spiral-Dynamics color resolver (#1195)
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy Course feature dead styles, guard idiom, naming (#1138)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Course/__tests__/Course.styles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): harden StageSelector completed-checkmark test
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy Course feature dead styles, guard idiom, naming (#1138) (#1196)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Course/__tests__/Course.styles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): include own drafts when resolving the active practice (#1198)
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): delete orphaned useRouteParams navigation hook
  frontend/src/navigation/__tests__/useRouteParams.test.tsx
  frontend/src/navigation/hooks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): harden StageSelector completed-checkmark test (#1197)
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
