Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(frontend): pin the ascending order of revealedDelimiters
  frontend/src/features/Journal/__tests__/journalMarkdownCaret.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): make the scope-key migration total, legible and honest
  backend/migrations/versions/e3a9d1c4b6f2_review_cadence_scope_vocabulary.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

fix(backend): one canonical spelling per reflection scope
  backend/src/domain/reflection_hierarchy.py
  backend/tests/domain/test_reflection_hierarchy.py
  backend/tests/test_journal_scope_api.py
Due: backend-tests-coverage

test(backend): make three changed tests able to fail
  backend/tests/domain/test_reflection_hierarchy.py
  backend/tests/security/test_idor.py
  backend/tests/test_program_calendar.py
  backend/tests/test_reflections_window.py
Due: backend-tests-coverage

docs(frontend): stop the journey ledger claiming coverage it does not have
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): leave no string-built SQL in the demotion archive
  backend/migrations/versions/e3a9d1c4b6f2_review_cadence_scope_vocabulary.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

docs(marketing): add three print-ready promotional flyers
  marketing/flyers/README.md
  marketing/flyers/assets/flyer.css
  marketing/flyers/assets/fonts.css
  marketing/flyers/assets/fonts/ATTRIBUTION
  marketing/flyers/assets/fonts/gf-2b70215ed4.woff2
  marketing/flyers/assets/fonts/gf-3100e775e8.woff2
  marketing/flyers/assets/fonts/gf-33faca8b57.woff2
  marketing/flyers/assets/fonts/gf-34b9c504ca.woff2
  marketing/flyers/assets/fonts/gf-7234ed860a.woff2
  marketing/flyers/assets/fonts/gf-747fb031bc.woff2
  marketing/flyers/assets/fonts/gf-a2930b27d1.woff2
  marketing/flyers/assets/fonts/gf-cf8daee3b8.woff2
  marketing/flyers/assets/fonts/gf-db397149a9.woff2
  marketing/flyers/assets/fonts/gf-dea6bd9ca6.woff2
  marketing/flyers/assets/fonts/gf-f554218b51.woff2
  marketing/flyers/assets/fonts/gf-fc4b2566cc.woff2
  marketing/flyers/assets/fonts/licenses/fraunces-OFL.txt
  marketing/flyers/assets/fonts/licenses/inter-OFL.txt
  marketing/flyers/assets/fonts/licenses/spectral-OFL.txt
  marketing/flyers/assets/qr-aptitude-guru.png
  marketing/flyers/assets/qr-aptitude-guru.svg
  marketing/flyers/build.sh
  marketing/flyers/out/flyer-1-journal.pdf
  marketing/flyers/out/flyer-1-journal.png
  marketing/flyers/out/flyer-2-wavelength.pdf
  marketing/flyers/out/flyer-2-wavelength.png
  marketing/flyers/out/flyer-3-course.pdf
  marketing/flyers/out/flyer-3-course.png
  marketing/flyers/pngtool.py
  marketing/flyers/src/flyer-1-journal.html
  marketing/flyers/src/flyer-2-wavelength.html
  marketing/flyers/src/flyer-3-course.html
Due: none

feat(marketing): add wall posters and per-flyer scan tracking
  marketing/flyers/README.md
  marketing/flyers/assets/flyer.css
  marketing/flyers/assets/poster.css
  marketing/flyers/assets/qr-aptitude-guru.png
  marketing/flyers/assets/qr-aptitude-guru.svg
  marketing/flyers/assets/qr-handout-grocery.svg
  marketing/flyers/assets/qr-handout-library.svg
  marketing/flyers/assets/qr-handout-studio.svg
  marketing/flyers/assets/qr-poster-grocery.svg
  marketing/flyers/assets/qr-poster-library.svg
  marketing/flyers/assets/qr-poster-studio.svg
  marketing/flyers/assets/qr-targets.json
  marketing/flyers/out/flyer-1-journal.pdf
  marketing/flyers/out/flyer-1-journal.png
  marketing/flyers/out/flyer-2-wavelength.pdf
  marketing/flyers/out/flyer-2-wavelength.png
  marketing/flyers/out/flyer-3-course.pdf
  marketing/flyers/out/flyer-3-course.png
  marketing/flyers/out/handout-1-library.pdf
  marketing/flyers/out/handout-1-library.png
  marketing/flyers/out/handout-2-grocery.pdf
  marketing/flyers/out/handout-2-grocery.png
  marketing/flyers/out/handout-3-studio.pdf
  marketing/flyers/out/handout-3-studio.png
  marketing/flyers/out/poster-1-library.pdf
  marketing/flyers/out/poster-1-library.png
  marketing/flyers/out/poster-2-grocery.pdf
  marketing/flyers/out/poster-2-grocery.png
  marketing/flyers/out/poster-3-studio.pdf
  marketing/flyers/out/poster-3-studio.png
  marketing/flyers/src/handout-1-library.html
  marketing/flyers/src/handout-2-grocery.html
  marketing/flyers/src/handout-3-studio.html
  marketing/flyers/src/poster-1-library.html
  marketing/flyers/src/poster-2-grocery.html
  marketing/flyers/src/poster-3-studio.html
  marketing/flyers/verify-qr.py
Due: none

fix(frontend): realign the six drifted Expo pins to SDK 57.0.24
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

test(backend): assert Vary carries Authorization, not that it equals it
  backend/tests/test_practice_sessions.py
  backend/tests/test_practice_stats_api.py
Due: backend-tests-coverage

feat(frontend): keep the feedback draft per user and wipe it with them
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/storage/__tests__/feedbackDraftStorage.test.ts
  frontend/src/storage/feedbackDraftStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): expose feedback hints, descriptions and radio state on the web
  frontend/src/components/RadioOption.tsx
  frontend/src/components/webAria.ts
  frontend/src/features/Feedback/FeedbackField.tsx
  frontend/src/features/Feedback/__tests__/feedbackControls.test.tsx
  frontend/src/features/Feedback/components/CategoryStep.tsx
  frontend/src/features/Feedback/components/ImpactPicker.tsx
  frontend/src/features/Feedback/components/optionStyles.ts
  frontend/src/features/Feedback/feedbackTestIds.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add the feedback envelope, bounds and per-category questions
  frontend/src/features/Feedback/__tests__/appBuildAndTokens.test.ts
  frontend/src/features/Feedback/__tests__/feedbackBoundsDrift.test.ts
  frontend/src/features/Feedback/__tests__/feedbackContext.test.ts
  frontend/src/features/Feedback/__tests__/feedbackOutcome.test.ts
  frontend/src/features/Feedback/__tests__/feedbackPayload.test.ts
  frontend/src/features/Feedback/__tests__/pythonSource.ts
  frontend/src/features/Feedback/appBuild.ts
  frontend/src/features/Feedback/feedbackBounds.ts
  frontend/src/features/Feedback/feedbackCategories.ts
  frontend/src/features/Feedback/feedbackContext.ts
  frontend/src/features/Feedback/feedbackControlTokens.ts
  frontend/src/features/Feedback/feedbackOutcome.ts
  frontend/src/features/Feedback/feedbackPayload.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): persist the feedback attempt before sending, for its sender only
  frontend/src/features/Feedback/__tests__/FeedbackComposer.test.tsx
  frontend/src/features/Feedback/__tests__/feedbackOutcome.test.ts
  frontend/src/features/Feedback/__tests__/useFeedbackDraft.test.ts
  frontend/src/features/Feedback/feedbackOutcome.ts
  frontend/src/features/Feedback/useFeedbackDraft.ts
  frontend/src/features/Feedback/useFeedbackSubmit.ts
  frontend/src/storage/__tests__/feedbackDraftStorage.test.ts
  frontend/src/storage/feedbackDraftStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): validate feedback receipts and require the idempotency key
  frontend/src/api/__tests__/feedbackClient.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): announce feedback outcomes on iOS and keep the heading to its title
  frontend/src/features/Feedback/FeedbackComposerScreen.tsx
  frontend/src/features/Feedback/__tests__/FeedbackComposer.test.tsx
  frontend/src/features/Feedback/components/SubmitStatus.tsx
  frontend/src/features/Feedback/feedbackAnnounce.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): open the composer from the shell header and Settings
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover the feedback journey in a browser spec
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/feedback-composer.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add the beta feedback composer
  frontend/eslint.config.cjs
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/components/Button.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Feedback/FeedbackComposerScreen.tsx
  frontend/src/features/Feedback/FeedbackField.tsx
  frontend/src/features/Feedback/SendFeedbackButton.tsx
  frontend/src/features/Feedback/__tests__/FeedbackComposer.test.tsx
  frontend/src/features/Feedback/__tests__/composerHarness.tsx
  frontend/src/features/Feedback/__tests__/feedbackControls.test.tsx
  frontend/src/features/Feedback/__tests__/feedbackFocus.test.ts
  frontend/src/features/Feedback/__tests__/feedbackPrivacy.test.tsx
  frontend/src/features/Feedback/__tests__/feedbackPrivacyPolicyDrift.test.ts
  frontend/src/features/Feedback/__tests__/useFeedbackDraft.test.ts
  frontend/src/features/Feedback/components/AttachedContextPreview.tsx
  frontend/src/features/Feedback/components/CategoryStep.tsx
  frontend/src/features/Feedback/components/ImpactPicker.tsx
  frontend/src/features/Feedback/components/QuestionFields.tsx
  frontend/src/features/Feedback/components/SubmitStatus.tsx
  frontend/src/features/Feedback/components/optionStyles.ts
  frontend/src/features/Feedback/feedbackCopy.ts
  frontend/src/features/Feedback/feedbackFocus.ts
  frontend/src/features/Feedback/feedbackTestIds.ts
  frontend/src/features/Feedback/navigation.ts
  frontend/src/features/Feedback/useComposerModel.ts
  frontend/src/features/Feedback/useFeedbackDraft.ts
  frontend/src/features/Feedback/useFeedbackSubmit.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): return focus to the Settings row when the composer closes
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/shared/SettingsRow.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): fix the feedback spec's strict-mode locator and check Settings focus return
  frontend/e2e/feedback-composer.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): left-align tab titles so the header controls fit on iOS phones
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin that a feedback edit after logout is written nowhere
  frontend/src/features/Feedback/__tests__/useFeedbackDraft.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): bind the feedback privacy guards to what they claim
  frontend/src/features/Feedback/__tests__/feedbackPrivacy.test.tsx
  frontend/src/features/Feedback/__tests__/feedbackPrivacyPolicyDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add the pure feedback triage rules and a secret-shape redactor
  backend/src/domain/feedback_triage.py
  backend/src/security/secret_shapes.py
  backend/tests/security/test_secret_shapes.py
  backend/tests/test_feedback_triage_domain.py
Due: backend-tests-coverage

feat(backend): add feedback triage state, operator notes and audit trail
  backend/migrations/versions/c7e4a2f9b1d8_feedback_triage.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/feedback.py
  backend/src/models/feedback_triage.py
  backend/tests/test_data_export_manifest.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

refactor(backend): move the admin request context into dependencies
  backend/src/dependencies/admin.py
  backend/src/routers/admin.py
Due: backend-tests-coverage

feat(backend): add the admin beta feedback inbox and triage routes
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/main.py
  backend/src/routers/admin_feedback.py
  backend/src/schemas/feedback_admin.py
  backend/src/services/feedback.py
  backend/src/services/feedback_triage.py
  backend/tests/helpers/feedback_triage.py
  backend/tests/security/test_feedback_repr.py
  backend/tests/security/test_idor.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_admin_feedback_authz.py
  backend/tests/test_admin_feedback_draft.py
  backend/tests/test_admin_feedback_inbox.py
  backend/tests/test_admin_feedback_mutations.py
  backend/tests/test_data_export_api.py
  backend/tests/test_feedback_api.py
  backend/tests/test_feedback_retention.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

docs(legal): disclose operator triage of beta feedback reports
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

refactor(frontend): share the clipboard and text-file handoffs
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Settings/saveDataExport.ts
  frontend/src/utils/clipboard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add the operator beta feedback inbox and its adminFeedback client
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/AdminFeedback/AdminFeedbackScreen.tsx
  frontend/src/features/AdminFeedback/AdminInboxSettingsSection.tsx
  frontend/src/features/AdminFeedback/__tests__/AdminFeedbackScreen.test.tsx
  frontend/src/features/AdminFeedback/__tests__/AdminInboxSettingsSection.test.tsx
  frontend/src/features/AdminFeedback/__tests__/DraftPanel.test.tsx
  frontend/src/features/AdminFeedback/__tests__/fixtures.ts
  frontend/src/features/AdminFeedback/__tests__/layout.test.ts
  frontend/src/features/AdminFeedback/__tests__/useAdminCapability.test.tsx
  frontend/src/features/AdminFeedback/components/DetailPane.tsx
  frontend/src/features/AdminFeedback/components/DraftPanel.tsx
  frontend/src/features/AdminFeedback/components/EvidenceSection.tsx
  frontend/src/features/AdminFeedback/components/InboxList.tsx
  frontend/src/features/AdminFeedback/components/TriageActions.tsx
  frontend/src/features/AdminFeedback/copy.ts
  frontend/src/features/AdminFeedback/layout.ts
  frontend/src/features/AdminFeedback/useAdminCapability.ts
  frontend/src/features/AdminFeedback/useFeedbackDetail.ts
  frontend/src/features/AdminFeedback/useFeedbackInbox.ts
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover the admin feedback triage journey across the seam
  backend/tests/e2e/promote_admin.py
  backend/tests/test_e2e_promote_admin.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/admin-feedback-triage.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneDatabase.ts
  frontend/e2e/map.e2e.test.ts
  frontend/e2e/stage-copy.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): bring the triage service and detail view to xenon rank A
  backend/src/routers/admin_feedback.py
  backend/src/services/feedback_triage.py
Due: backend-tests-coverage

fix(backend): serialise concurrent triage mutations and duplicate links
  backend/src/routers/admin_feedback.py
  backend/src/services/advisory_lock_namespaces.py
  backend/src/services/feedback_triage.py
  backend/tests/integration/test_feedback_triage_races.py
Due: backend-tests-coverage

test(backend): pin triage event timestamps to UTC, not merely tz-tagged
  backend/tests/test_admin_feedback_mutations.py
Due: backend-tests-coverage

fix(backend): record the unlink when a canonical report is deleted
  backend/src/services/account_deletion.py
  backend/src/services/feedback_triage.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_feedback_retention.py
Due: backend-tests-coverage

test(backend): cover the retention sweep's unreported-rowcount branch
  backend/tests/test_feedback_retention.py
Due: backend-tests-coverage

test(frontend): cover the inbox's triage flows, and fetch each filter once
  frontend/src/features/AdminFeedback/__tests__/triageFlows.test.tsx
  frontend/src/features/AdminFeedback/useFeedbackInbox.ts
  frontend/src/utils/__tests__/clipboard.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
