Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(privacy): drop the throttle key and raw path from slowapi's exceeded warning
  backend/src/observability.py
  backend/tests/security/test_telemetry_sentinels.py
  docs/qa/telemetry-egress-inventory.md
Due: backend-tests-coverage

chore(e2e): register the vault-bound fail-closed reflection journey
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(privacy): report a frontend error type only when name is a class-shaped string
  frontend/src/observability/__tests__/sentryEnvelope.test.ts
  frontend/src/observability/sentryEnvelope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove journal-only use with every depth declined
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-only.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: draft the prompt-surface inventory by depth ring for the owner
  prompts/claude-comms/2026-10-06-b20-prompt-surface-inventory.md
Due: none

refactor(privacy): split uvicorn handler hardening out to keep xenon grade A
  backend/src/observability.py
Due: backend-tests-coverage

test(backend): pin that a $0 membership license claims one account
  backend/tests/routers/test_auth_signup_license.py
Due: backend-tests-coverage

test(backend): isolate the completion-detection dial in the pool-hold census
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

Wave 34: one token refresh per rotation (resumed sessions no longer sign out); quick-launch and demo-tile journeys proven in the browser (#3082)
  frontend/__tests__/demoTileBrowserSupport.test.ts
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/frontendEnv.test.ts
  frontend/e2e/browserGlobalSetup.ts
  frontend/e2e/browserGlobalTeardown.ts
  frontend/e2e/demoTileBrowserSupport.ts
  frontend/e2e/frontendEnv.ts
  frontend/e2e/habits-day-rollover.browser.e2e.test.ts
  frontend/e2e/habits-demo-tile.browser.e2e.test.ts
  frontend/e2e/habits-resumed-session.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-quick-launch-green.browser.e2e.test.ts
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/__tests__/tokenRotation.test.ts
  frontend/src/api/index.ts
  frontend/src/api/tokenRotation.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/context/__tests__/ResumedSessionDayBoundary.test.tsx
  frontend/src/context/__tests__/ResumedSessionRefreshRace.integration.test.tsx
  frontend/src/features/Auth/__tests__/useAppleAuth.test.tsx
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(backend): regenerate the OpenAPI document for the invitations listing
  backend/openapi.json
Due: backend-tests-coverage

feat(backend): gate Course completeness and inventory its sources and practices
  .secrets.baseline
  backend/scripts/content_completeness.py
  backend/src/curriculum/content_gaps.json
  backend/src/curriculum/practice_recommendations.json
  backend/src/curriculum/source_references.json
  backend/tests/scripts/test_content_completeness.py
  backend/tests/test_content_completeness_parity.py
Due: backend-tests-coverage

ci(backend): run the Course completeness gate in content-drift
  .github/workflows/backend-ci.yml
  backend/tests/scripts/test_stage_correspondence_drift_gate.py
Due: backend-tests-coverage

docs(curriculum): document the Course completeness gate and inventories
  docs/content.md
  docs/curriculum.md
Due: none

fix(frontend): name the Habits modal close control and meet the touch target
  frontend/e2e/habits-demo-tile.browser.e2e.test.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/ModalHeader.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/AddHabitModal.test.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/__tests__/HabitSettingsModal.test.tsx
  frontend/src/features/Habits/components/__tests__/ModalHeader.test.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
  frontend/src/features/Habits/components/__tests__/modalCloseLabels.test.ts
  frontend/src/features/Habits/components/modalCloseLabels.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): give up on a recurring unclassified check-in rejection
  frontend/e2e/journeys.json
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/replayPolicy.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/replayPolicy.ts
  frontend/src/storage/__tests__/checkInReplayState.test.ts
  frontend/src/storage/checkInReplayState.ts
  frontend/src/storage/habitStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove the unreachable missed-days modal
  frontend/__tests__/App.bootstrap.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/__tests__/HabitsPaginationVisibility.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.flatlist-config.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/HabitsTypeRamp.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/UnlockAll.test.tsx
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/services/__tests__/serverIds.test.ts
  frontend/src/features/Habits/services/serverIds.ts
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove the dead backfill and start-date-reset actions
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): drop missed-days references from the demo-tile spec and QA runbook
  docs/qa/full-stack-qa-runbook.md
  frontend/e2e/habits-demo-tile.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): share the browser lane's offline helpers
  frontend/e2e/journal-reconnect-load.browser.e2e.test.ts
  frontend/e2e/journal-save-retry.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin that a give-up forgets the dropped head's retry record
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): say what the practice-only session offer is offering
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
  frontend/src/features/Journal/saveAsPracticeCopy.ts
  prompts/claude-comms/2026-10-06-b20-prompt-surface-inventory.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover offline habit check-in replay in the browser lane
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/habits-offline-replay.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): drop a declined ring's invitation cards without a remount
  frontend/src/features/Depth/depthRings.ts
  frontend/src/features/Invitations/InvitationStack.tsx
  frontend/src/features/Invitations/__tests__/InvitationStack.test.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  prompts/claude-comms/2026-10-06-b20-prompt-surface-inventory.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): strip Course frontmatter once when counting chapter words
  backend/scripts/content_completeness.py
  backend/tests/scripts/test_content_completeness.py
  backend/tests/test_content_completeness_parity.py
Due: backend-tests-coverage

test(e2e): let the lane vault answer reflections for its vault-bound owner
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/fakeCreekVault.mjs
  frontend/e2e/journal-vault-withdrawal.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): queue offline taps in tap order across habits
  frontend/e2e/habits-offline-replay.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin that the free core never depends on payment
  backend/tests/test_free_core_access_invariants.py
Due: backend-tests-coverage

feat(backend): add content-free Voice Draft withdrawal obligation table
  backend/migrations/versions/e3b5d7f9a1c4_voice_draft_retraction.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/journal_entry.py
  backend/src/models/voice_draft_retraction.py
  backend/tests/test_migration_voice_draft_retraction.py
Due: backend-tests-coverage

test(e2e): register the zero-payment newcomer journey as uncovered
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(privacy): retain and retry essay withdrawal after Intimate reclassification
  backend/src/dependencies/creek_vault.py
  backend/src/main.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/creek_vault_withdraw.py
  backend/tests/test_creek_vault_voice_drafts.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

test(privacy): pin recovery, destination binding and crash boundaries for withdrawals
  backend/src/services/creek_vault_voice_drafts.py
  backend/tests/architecture/test_secondary_copy_call_sites.py
  backend/tests/test_vault_destination_binding.py
  backend/tests/test_voice_draft_mirroring.py
  backend/tests/test_voice_draft_retraction_recovery.py
Due: backend-tests-coverage

test(frontend): pin the whole quarantine record for a dropped check-in
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): tell a browser give-up apart from an outright rejection
  frontend/e2e/habits-offline-replay.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): drop membership constants only the held E5 branch uses
  backend/tests/routers/test_auth_signup_license.py
Due: backend-tests-coverage

test(e2e): cover Intimate reclassification withdrawing connected-vault copies
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-intimate-withdrawal.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): wait for the session offer to settle before asserting it absent
  frontend/e2e/journal-only.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(privacy): split withdrawal helpers to keep xenon grade A
  backend/src/routers/journal.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/creek_vault_withdraw.py
Due: backend-tests-coverage

test(frontend): count only the close's own shelf read in journal-close-save
  frontend/e2e/journal-close-save.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(privacy): classify the withdrawal-obligation plaintext columns
  backend/tests/test_column_classification.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
