Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(privacy): bind destinations only to copies that were sent, and harden the sweep
  backend/src/dependencies/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/creek_vault_withdraw.py
  backend/tests/test_vault_destination_binding.py
  backend/tests/test_voice_draft_mirroring.py
  backend/tests/test_voice_draft_retraction_recovery.py
Due: backend-tests-coverage

test(e2e): prove the Intimate withdrawal spec reaches the vault
  frontend/e2e/journal-intimate-withdrawal.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add marginalia inference provenance columns and migration
  backend/migrations/versions/b05e0a2de1cd_marginalia_inference_provenance.py
  backend/src/models/marginalia.py
  backend/tests/test_column_classification.py
  backend/tests/test_migration_marginalia_provenance.py
Due: backend-tests-coverage

feat(backend): stamp inference receipts; demo passes and letters are refunded
  backend/openapi.json
  backend/src/models/wallet_audit.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/creek_vault_reflect.py
  backend/src/services/inference_provenance.py
  backend/src/services/llm_usage.py
  backend/src/services/marginalia.py
  backend/tests/routers/test_generation_guardrails_api.py
  backend/tests/services/test_generation_daily_ceiling.py
  backend/tests/services/test_generation_settlement.py
  backend/tests/support/fake_llm.py
  backend/tests/test_account_egress_barrier_llm.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_generation_observability_logs.py
  backend/tests/test_inference_provenance.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

fix(backend): export manifest describes margin notes as AI notes
  backend/src/domain/data_export.py
  backend/tests/test_data_export_manifest.py
Due: backend-tests-coverage

fix(backend): drop journal encryption helpers duplicated by the B20 merge
  backend/src/services/journal_encryption.py
Due: backend-tests-coverage

test(privacy): tolerate the trace id stamp in the telemetry test; reword a docstring
  backend/src/services/creek_vault_withdraw.py
  backend/tests/test_voice_draft_retraction_recovery.py
Due: backend-tests-coverage

feat(frontend): label each margin note, letter and pass with its recorded source
  frontend/src/api/__tests__/provenanceSchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/VoiceDraftsShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/MarginNote.test.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
  frontend/src/features/Journal/__tests__/VoiceDraftsShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/sourceLabel.test.ts
  frontend/src/features/Journal/__tests__/useResonanceNoNotes.test.tsx
  frontend/src/features/Journal/sourceLabel.ts
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove a demo note's source label survives a cold reload
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/api-key-remove.browser.e2e.test.ts
  frontend/e2e/journal-essay-economy.e2e.test.ts
  frontend/e2e/journal-margin-note-source.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): add opt-in resonance yield lane
  backend/pyproject.toml
  backend/tests/live/__init__.py
  backend/tests/live/fixtures/resonance_yield_entry.md
  backend/tests/live/resonance_lane.py
  backend/tests/live/test_resonance_yield.py
  backend/tests/test_live_resonance_lane_guard.py
Due: backend-tests-coverage

feat(habits): score progress across cadence periods
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/starFill.test.ts
  frontend/src/features/Habits/starFill.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(privacy): recipient register with a derived egress-completeness gate
  backend/src/privacy/__init__.py
  backend/src/privacy/recipients.py
  backend/tests/security/test_recipient_register.py
  backend/tests/support/outbound_dials.py
Due: backend-tests-coverage

fix(backend): refuse unregistered LLM base URLs in production
  backend/src/main.py
  backend/src/services/botmason.py
  backend/tests/test_llm_base_url_startup_config.py
Due: backend-tests-coverage

test(privacy): policy-recipient reconciliation with strict-xfail known gaps
  backend/tests/security/test_recipient_policy_reconciliation.py
Due: backend-tests-coverage

test(privacy): commercial content canary across non-content recipients
  backend/tests/security/test_content_canary_sinks.py
Due: backend-tests-coverage

Wave 34c: declined depth rings stay quiet (B20); the $0 floor and free core are pinned (B21) (#3088)
  backend/openapi.json
  backend/src/domain/depth_preferences.py
  backend/src/domain/invitations.py
  backend/src/routers/invitations.py
  backend/src/routers/journal.py
  backend/src/services/invitations.py
  backend/tests/domain/test_depth_rings.py
  backend/tests/domain/test_invitations.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_contraction_reflection.py
  backend/tests/routers/test_invitations.py
  backend/tests/routers/test_journal_journal_only.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_free_core_access_invariants.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-only.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Depth/DepthGate.tsx
  frontend/src/features/Depth/__tests__/DepthGate.test.tsx
  frontend/src/features/Depth/depthRings.ts
  frontend/src/features/Invitations/InvitationStack.tsx
  frontend/src/features/Invitations/__tests__/InvitationStack.test.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
  frontend/src/features/Journal/saveAsPracticeCopy.ts
  prompts/claude-comms/2026-10-06-b20-prompt-surface-inventory.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): make the pass receipt honest about payer and failed detection
  backend/src/routers/journal.py
  backend/src/services/inference_provenance.py
  backend/src/services/marginalia.py
  backend/tests/test_inference_provenance.py
Due: backend-tests-coverage

fix(backend): provision calendar anchor from the habits read (#3071)
  backend/src/services/habit_auto_reveal.py
  backend/tests/services/test_habit_auto_reveal_cadence.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

docs(backend): name the habits read as a calendar-anchor provisioner
  backend/src/routers/stages.py
  backend/tests/e2e/program_anchor.py
Due: backend-tests-coverage

test(backend): sweep habit reveal across every program window (#3071)
  backend/tests/services/test_habit_auto_reveal_cadence.py
Due: backend-tests-coverage

feat(habits): count weekly and monthly streaks in completed periods on the server
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/routers/habits.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/tests/domain/test_period_streaks.py
  backend/tests/fixtures/streak_parity/cadence_streaks.json
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_cadence_streaks_api.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(privacy): read the destination with the client, and never confirm through the fallback
  backend/migrations/versions/e3b5d7f9a1c4_voice_draft_retraction.py
  backend/src/dependencies/creek_vault.py
  backend/src/main.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/tests/test_migration_voice_draft_retraction.py
  backend/tests/test_vault_destination_binding.py
  backend/tests/test_voice_draft_retraction_recovery.py
Due: backend-tests-coverage

feat(habits): count weekly and monthly streaks in completed periods on the client
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/periodStreaks.test.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(privacy): close the register-gap, dial-shape and claim-scope blind spots
  backend/tests/security/test_recipient_register.py
  backend/tests/support/outbound_dials.py
Due: backend-tests-coverage

test(e2e): a weekly sample habit is met by its week, not one session
  frontend/e2e/habits-demo-tile.browser.e2e.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): chain the provenance migration after B04's withdrawal migration
  backend/migrations/versions/b05e0a2de1cd_marginalia_inference_provenance.py
  backend/tests/test_migration_marginalia_provenance.py
Due: backend-tests-coverage

test(habits): pin a subtractive weekly habit begun mid-week
  backend/src/domain/streaks.py
  backend/tests/domain/test_period_streaks.py
  backend/tests/fixtures/streak_parity/cadence_streaks.json
  frontend/src/features/Habits/HabitUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): give anchor provisioning its own reveal helper
  backend/src/services/habit_auto_reveal.py
Due: backend-tests-coverage

fix(privacy): fail-closed tier eligibility via one egress predicate
  backend/src/domain/privacy_tier.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_reflect.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/creek_vault_write.py
  backend/src/services/frequency_classification.py
  backend/src/services/frequency_source.py
  backend/src/services/higher_self_grounding.py
  backend/tests/security/test_tier_guard_centralized.py
  backend/tests/services/test_frequency_classification.py
  backend/tests/services/test_frequency_source.py
  backend/tests/support/tier_guards.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_privacy_tier.py
Due: backend-tests-coverage

fix(habits): fire weekly and monthly milestone toasts on the period total
  backend/src/services/streaks.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): let the withdrawal migration have a successor on the one chain
  backend/tests/test_migration_voice_draft_retraction.py
Due: backend-tests-coverage

feat(privacy): content-free lineage shadow count for folded quotes
  backend/src/routers/journal.py
  backend/src/services/higher_self_grounding.py
  backend/src/services/privacy_lineage.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/support/lineage_canaries.py
  backend/tests/test_privacy_lineage.py
Due: backend-tests-coverage

test(backend): deselect the unarmed resonance lane instead of skipping it
  backend/src/domain/streaks.py
  backend/tests/live/__init__.py
  backend/tests/live/conftest.py
  backend/tests/live/resonance_lane.py
  backend/tests/scripts/test_live_lane_collection.py
  frontend/src/features/Habits/HabitUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(backend): name the habits read in the program-anchor show error (#3071)
  backend/tests/e2e/program_anchor.py
Due: backend-tests-coverage

test(frontend): pin each onboarding slot to its ring and opening day (#3071)
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits,resonance): finish epics #2813 and #2814: resonance yield lane, period-scored habits, period streaks (#3090)
  backend/pyproject.toml
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/routers/habits.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/tests/domain/test_period_streaks.py
  backend/tests/fixtures/streak_parity/cadence_streaks.json
  backend/tests/live/__init__.py
  backend/tests/live/conftest.py
  backend/tests/live/fixtures/resonance_yield_entry.md
  backend/tests/live/resonance_lane.py
  backend/tests/live/test_resonance_yield.py
  backend/tests/scripts/test_live_lane_collection.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_cadence_streaks_api.py
  backend/tests/test_habits_api.py
  backend/tests/test_live_resonance_lane_guard.py
  frontend/e2e/habits-demo-tile.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/periodStreaks.test.ts
  frontend/src/features/Habits/__tests__/starFill.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/starFill.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(privacy): split grounding's two sources out of gather_grounding
  backend/src/services/higher_self_grounding.py
Due: backend-tests-coverage

test(e2e): prove a habits-only account reaches Purple without the Course (#3071)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-reveal-without-course.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): keep a practice sitting whole across pause, background and clock jumps
  frontend/src/features/Practice/__tests__/motionInvariant.test.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.pauseResume.test.tsx
  frontend/src/features/Practice/engine/__tests__/reducer.clock.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.background.test.tsx
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/MetronomeView.reducedMotion.test.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.engineClock.test.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.background.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
