Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

perf(backend): skip the wasted COUNT(*) on the bare-list pagination path
  backend/src/schemas/pagination.py
  backend/tests/test_pagination.py
Due: backend-tests-coverage

perf(backend): skip the wasted COUNT(*) on the bare-list pagination path (#589)
  backend/src/schemas/pagination.py
  backend/tests/test_pagination.py
Due: backend-tests-coverage

feat(backend): add retention cleanup for persisted energy plans
  backend/src/services/energy.py
  backend/tests/test_energy_retention.py
Due: backend-tests-coverage

fix(backend): ship admin endpoint + guards for energy-plan cleanup
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/src/services/energy.py
  backend/tests/test_admin_energy_cleanup.py
Due: backend-tests-coverage

feat(backend): add retention cleanup for persisted energy plans (#590)
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/src/services/energy.py
  backend/tests/test_admin_energy_cleanup.py
  backend/tests/test_energy_retention.py
Due: backend-tests-coverage

feat(backend): implement real journal encryption at rest
  .pre-commit-config.yaml
  backend/migrations/versions/b7c8d9e0f1a2_encrypt_journal_messages.py
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/models/journal_entry.py
  backend/src/services/journal_encryption.py
  backend/tests/services/test_journal_encryption.py
Due: backend-tests-coverage

chore(deps): override markdown-it/linkify-it to clear high advisories
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): override markdown-it/linkify-it to clear high advisories (#593)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(backend): lazy-import the encryption service in the journal migration
  backend/migrations/versions/b7c8d9e0f1a2_encrypt_journal_messages.py
Due: backend-tests-coverage

fix(backend): guard journal search when encryption is enabled
  backend/migrations/versions/b7c8d9e0f1a2_encrypt_journal_messages.py
  backend/src/routers/journal.py
  backend/src/services/journal_encryption.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): batch the journal migration + verify message length cap
  backend/migrations/versions/b7c8d9e0f1a2_encrypt_journal_messages.py
  backend/src/models/journal_entry.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

docs(journal): add Journal Resonance epic for write-in journal redesign
  prompts/github-issues/README.md
  prompts/github-issues/journal-resonance/journal-resonance-01-marginalia-model.md
  prompts/github-issues/journal-resonance/journal-resonance-02-entry-document-fields.md
  prompts/github-issues/journal-resonance/journal-resonance-03-patch-entry-endpoint.md
  prompts/github-issues/journal-resonance/journal-resonance-04-resonance-service.md
  prompts/github-issues/journal-resonance/journal-resonance-05-resonance-endpoints.md
  prompts/github-issues/journal-resonance/journal-resonance-06-essay-endpoint.md
  prompts/github-issues/journal-resonance/journal-resonance-07-reanchor-on-edit.md
  prompts/github-issues/journal-resonance/journal-resonance-08-remove-chat-endpoints.md
  prompts/github-issues/journal-resonance/journal-resonance-09-editorial-tokens.md
  prompts/github-issues/journal-resonance/journal-resonance-10-api-client.md
  prompts/github-issues/journal-resonance/journal-resonance-11-writing-surface.md
  prompts/github-issues/journal-resonance/journal-resonance-12-get-resonance-button.md
  prompts/github-issues/journal-resonance/journal-resonance-13-wire-resonance.md
  prompts/github-issues/journal-resonance/journal-resonance-14-margin-notes.md
  prompts/github-issues/journal-resonance/journal-resonance-15-essay-modal.md
  prompts/github-issues/journal-resonance/journal-resonance-16-edit-confirm-stale.md
  prompts/github-issues/journal-resonance/journal-resonance-17-shelf-and-search.md
  prompts/github-issues/journal-resonance/journal-resonance-18-weekly-prompt-context-links.md
  prompts/github-issues/journal-resonance/journal-resonance-19-remove-chat-ui.md
  prompts/github-issues/journal-resonance/journal-resonance-20-resonance-economy.md
  prompts/github-issues/journal-resonance/journal-resonance-epic.md
Due: none

docs(practice): add practice frontend redesign epic + 7 sub-issues
  prompts/github-issues/README.md
  prompts/github-issues/practice-redesign-01-catalog-off-bottom-nav.md
  prompts/github-issues/practice-redesign-02-slim-frequency-chip.md
  prompts/github-issues/practice-redesign-03-change-practice-via-catalog.md
  prompts/github-issues/practice-redesign-04-retire-selector-switcher.md
  prompts/github-issues/practice-redesign-05-clarify-edit-affordances.md
  prompts/github-issues/practice-redesign-06-dedupe-tighten-copy.md
  prompts/github-issues/practice-redesign-07-minimalist-visual-pass.md
  prompts/github-issues/practice-redesign-epic.md
Due: none

docs(practice): expand redesign epic to end-to-end scope (08-10)
  prompts/github-issues/README.md
  prompts/github-issues/practice-redesign-08-wizard-minimalist-redesign.md
  prompts/github-issues/practice-redesign-09-recipe-modals-redesign.md
  prompts/github-issues/practice-redesign-10-wire-share-into-detail.md
  prompts/github-issues/practice-redesign-epic.md
Due: none

feat(frontend): replace tier labels with star icons and warm goal palette
  frontend/src/components/TierStar.tsx
  frontend/src/components/__tests__/TierStar.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): handle JournalEncryptionError + harden journal-encryption tests
  backend/migrations/versions/b7c8d9e0f1a2_encrypt_journal_messages.py
  backend/src/errors.py
  backend/src/main.py
  backend/src/services/journal_encryption.py
  backend/tests/services/test_journal_encryption.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

feat(backend): implement real journal encryption at rest (#591)
  .pre-commit-config.yaml
  backend/migrations/versions/b7c8d9e0f1a2_encrypt_journal_messages.py
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/errors.py
  backend/src/main.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/services/journal_encryption.py
  backend/tests/services/test_journal_encryption.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

test(frontend): fix TierStar test types and formatting for CI
  frontend/src/components/__tests__/TierStar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): per-item Zod schemas for goal-groups & course-content pages
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): per-item Zod schemas for goal-groups & course-content pages (#628)
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replace hand-rolled practiceTags validator with Zod
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): restore screen-reader parity and WCAG contrast for tier stars
  frontend/src/components/TierStar.tsx
  frontend/src/components/__tests__/TierStar.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): star goal-tier markers and warm "Candle & Ink" palette (#627)
  frontend/src/components/TierStar.tsx
  frontend/src/components/__tests__/TierStar.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): add practiceTags.update drift test (#629)
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replace hand-rolled practiceTags validator with Zod (#629)
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): make tier stars the on-bar markers, drop the label row
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): make tier stars the on-bar markers, drop label row (#630)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): greyscale met/unmet tier stars and softer habit font
  frontend/src/components/TierStar.tsx
  frontend/src/components/__tests__/TierStar.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): greyscale met/unmet tier stars and softer habit font (#631)
  frontend/src/components/TierStar.tsx
  frontend/src/components/__tests__/TierStar.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): tolerate omitted submitted_by_user_id in practiceItemSchema
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): support keyword search over encrypted journal entries
  backend/src/routers/journal.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(frontend): tolerate omitted submitted_by_user_id in practiceItemSchema (#632)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): harden encrypted-journal-search per review (#633)
  backend/src/routers/journal.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

feat(backend): support keyword search over encrypted journal entries (#633)
  backend/src/routers/journal.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

feat(frontend): move the practice catalog off the bottom nav
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): harden catalog-off-nav per review (#634)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): polish catalog browse button per review (#634)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): move the practice catalog off the bottom nav (#634)
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
