Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Polish journal timer and Markdown editing
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/markdownEditing.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Polish journal timer and Markdown editing (#2644)
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/markdownEditing.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): constrain timer and edit dialog
  frontend/src/features/Journal/EditConfirmDialog.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/EditConfirmDialog.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/writingTimerCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): constrain timer and edit dialog (#2646)
  frontend/src/features/Journal/EditConfirmDialog.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/EditConfirmDialog.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/writingTimerCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): disclose BYOK transmission path
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/byokDisclosure.test.ts
  frontend/src/features/Settings/byokDisclosure.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): disclose BYOK transmission path (#2669)
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/byokDisclosure.test.ts
  frontend/src/features/Settings/byokDisclosure.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(types): narrow vault clients at capability gate
  backend/src/routers/journal.py
  backend/src/services/creek_vault_pipeline.py
Due: backend-tests-coverage

test(vault): prove database and response-time guards
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_vault_pipeline_live_http.py
Due: backend-tests-coverage

test(vault): isolate background database races
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

refactor(vault): unify durable job polling
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(ci): preserve Python 3.11 compatibility
  backend/src/services/creek_vault_pipeline.py
Due: backend-tests-coverage

test(vault): isolate failed pipeline continuations
  backend/tests/test_vault_pipeline_triggers.py
Due: backend-tests-coverage

fix(vault): make corpus classification durable
  .secrets.baseline
  backend/migrations/versions/d8f3a2c1b4e6_durable_vault_pipeline_runs.py
  backend/src/dependencies/creek_vault.py
  backend/src/domain/creek_vault.py
  backend/src/main.py
  backend/src/models/vault_pipeline_run.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/creek_bundle_facts.py
  backend/tests/fixtures/creek_v1/examples/capabilities/empty.json
  backend/tests/fixtures/creek_v1/examples/capabilities/success.json
  backend/tests/fixtures/creek_v1/manifest.json
  backend/tests/fixtures/creek_v1/schemas/ClassificationRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/ClassificationResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/DriveAuthorizationExchangeRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/DriveAuthorizationRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/DriveAuthorizationResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/JobAcceptedResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/JobStatusResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/LinkRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/LinkResponse.schema.json
  backend/tests/fixtures/creek_v1/vendor.json
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_vault_pipeline_live_http.py
  backend/tests/test_vault_pipeline_triggers.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

fix(vault): bound durable job reconciliation
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

test(vault): exercise concurrent pipeline admission
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_vault_pipeline_live_http.py
Due: backend-tests-coverage

fix(vault): claim startup reconciliation work
  backend/migrations/versions/d8f3a2c1b4e6_durable_vault_pipeline_runs.py
  backend/src/models/vault_pipeline_run.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

refactor(vault): isolate recovery lease mechanics
  backend/src/models/vault_pipeline_run.py
  backend/src/services/creek_vault_pipeline.py
Due: backend-tests-coverage

fix(vault): continue after lost resume claims
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

Make Creek corpus classification durable (#2668)
  .secrets.baseline
  backend/migrations/versions/d8f3a2c1b4e6_durable_vault_pipeline_runs.py
  backend/src/dependencies/creek_vault.py
  backend/src/domain/creek_vault.py
  backend/src/main.py
  backend/src/models/vault_pipeline_run.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/creek_bundle_facts.py
  backend/tests/fixtures/creek_v1/examples/capabilities/empty.json
  backend/tests/fixtures/creek_v1/examples/capabilities/success.json
  backend/tests/fixtures/creek_v1/manifest.json
  backend/tests/fixtures/creek_v1/schemas/ClassificationRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/ClassificationResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/DriveAuthorizationExchangeRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/DriveAuthorizationRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/DriveAuthorizationResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/JobAcceptedResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/JobStatusResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/LinkRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/LinkResponse.schema.json
  backend/tests/fixtures/creek_v1/vendor.json
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_vault_pipeline_live_http.py
  backend/tests/test_vault_pipeline_triggers.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

fix(dev): reject stale database schemas
  README.md
  backend/src/database_schema.py
  backend/src/main.py
  backend/tests/integration/test_schema_startup.py
  backend/tests/middleware/test_unhandled_exception_cors.py
  backend/tests/scripts/test_dev_setup_migrations.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_url_startup_config.py
  backend/tests/test_database_schema.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_error_monitoring.py
  backend/tests/test_journal_encryption_startup_config.py
  backend/tests/test_lifespan_seeding.py
  scripts/dev-setup.sh
Due: backend-tests-coverage

fix(dev): reject stale database schemas (#2670)
  README.md
  backend/src/database_schema.py
  backend/src/main.py
  backend/tests/integration/test_schema_startup.py
  backend/tests/middleware/test_unhandled_exception_cors.py
  backend/tests/scripts/test_dev_setup_migrations.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_url_startup_config.py
  backend/tests/test_database_schema.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_error_monitoring.py
  backend/tests/test_journal_encryption_startup_config.py
  backend/tests/test_lifespan_seeding.py
  scripts/dev-setup.sh
Due: backend-tests-coverage

fix(habits): keep empty API state truthful
  DEPLOYMENT.md
  frontend/Dockerfile
  frontend/README.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/habits-empty.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/config.ts
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): keep empty API state truthful (#2671)
  DEPLOYMENT.md
  frontend/Dockerfile
  frontend/README.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/habits-empty.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/config.ts
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(web): complete corpus document imports
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/pickSeedDocuments.test.ts
  frontend/src/features/Seed/__tests__/readSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/pickSeedDocuments.ts
  frontend/src/features/Seed/readSeedDocument.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(web): complete corpus document imports (#2672)
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/pickSeedDocuments.test.ts
  frontend/src/features/Seed/__tests__/readSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/pickSeedDocuments.ts
  frontend/src/features/Seed/readSeedDocument.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(backend): vendor Creek voice draft contract
  .secrets.baseline
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/tests/creek_bundle_facts.py
  backend/tests/fixtures/creek_v1/examples/capabilities/empty.json
  backend/tests/fixtures/creek_v1/examples/capabilities/success.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/care-escalation.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/empty.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/incompatible-version.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/malformed-input.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/refusal.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/success.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/unavailable-service.json
  backend/tests/fixtures/creek_v1/manifest.json
  backend/tests/fixtures/creek_v1/schemas/CapabilitiesResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftAttribution.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftDeleteResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftReadResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftUpsertRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftUpsertResponse.schema.json
  backend/tests/fixtures/creek_v1/vendor.json
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

feat(backend): mirror Voice Drafts to Creek
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_voice_draft_http.py
  backend/tests/test_creek_vault_voice_drafts.py
  backend/tests/test_vault_pipeline_live_http.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

fix(backend): serialize Voice Draft privacy changes
  backend/src/routers/journal.py
  backend/src/services/voice_draft_privacy.py
  backend/tests/test_pg_advisory_lock.py
  backend/tests/test_voice_draft_mirroring.py
  docs/adr/0004-creek-vault-http-application-boundary.md
Due: backend-tests-coverage

feat(backend): mirror Voice Drafts to Creek (#2673)
  .secrets.baseline
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/voice_draft_privacy.py
  backend/tests/creek_bundle_facts.py
  backend/tests/fixtures/creek_v1/examples/capabilities/empty.json
  backend/tests/fixtures/creek_v1/examples/capabilities/success.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/care-escalation.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/empty.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/incompatible-version.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/malformed-input.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/refusal.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/success.json
  backend/tests/fixtures/creek_v1/examples/voice-drafts/unavailable-service.json
  backend/tests/fixtures/creek_v1/manifest.json
  backend/tests/fixtures/creek_v1/schemas/CapabilitiesResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftAttribution.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftDeleteResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftReadResponse.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftUpsertRequest.schema.json
  backend/tests/fixtures/creek_v1/schemas/VoiceDraftUpsertResponse.schema.json
  backend/tests/fixtures/creek_v1/vendor.json
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_creek_vault_voice_draft_http.py
  backend/tests/test_creek_vault_voice_drafts.py
  backend/tests/test_pg_advisory_lock.py
  backend/tests/test_vault_pipeline_live_http.py
  backend/tests/test_voice_draft_mirroring.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

docs: ratify vault lifecycle and giftable licenses
  NORTH-STAR.md
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0005-operator-side-ontologization.md
  docs/adr/0007-demand-provisioned-confidential-vaults.md
  docs/adr/0008-giftable-single-active-license-claims.md
Due: none

docs: ratify vault lifecycle and giftable licenses (#2675)
  NORTH-STAR.md
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0005-operator-side-ontologization.md
  docs/adr/0007-demand-provisioned-confidential-vaults.md
  docs/adr/0008-giftable-single-active-license-claims.md
Due: none

fix(ci): enforce ADR integrity for docs changes
  .github/workflows/backend-ci.yml
  backend/tests/scripts/test_cross_boundary_drift.py
  backend/tests/test_adr_references.py
  docs/adr/0007-demand-provisioned-confidential-vaults.md
Due: backend-tests-coverage

test(backend): remove pipeline clock timing flake
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(ci): restore backend gate integrity for docs and timing (#2681)
  .github/workflows/backend-ci.yml
  backend/tests/scripts/test_cross_boundary_drift.py
  backend/tests/test_adr_references.py
  backend/tests/test_creek_vault_pipeline.py
  docs/adr/0007-demand-provisioned-confidential-vaults.md
Due: backend-tests-coverage

fix(backend): preserve accepted Creek jobs across timeout
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(deps): align pydantic core lock
  backend/requirements-lock.txt
Due: backend-tests-coverage

fix(deps): retain Expo-managed compatibility pins
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(deps): preserve Zod schema semantics
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(backend): preserve accepted Creek jobs across timeout (#2676)
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

feat(habits): scaffolding again asks about the habits you already have
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/OnboardingReviewStep.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reviewStep.test.tsx
  frontend/src/features/Habits/components/__tests__/onboardingReview.test.ts
  frontend/src/features/Habits/components/onboardingReview.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
