Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

docs(ralph): thread graph-first orientation into fleet operating documents (#1834)
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/shared/adepthood-constraints.md
  scripts/ralph/PROMPT.md
Due: none

chore(ralph): state bump — merge #1834 (issue #1807, total 610)
  scripts/ralph/state.json
Due: none

chore(ralph): groom #60 reset at total 610
  scripts/ralph/state.json
Due: none

feat(course): drawer search over chapter titles with confirm-gated body search
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseDrawerSearch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): drawer search over chapter titles with confirm-gated body search (#1835)
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
  frontend/src/features/Course/__tests__/CourseDrawerSearch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1835 (issue #1774, total 611)
  scripts/ralph/state.json
Due: none

feat(backend): creek vault write path — store and classify entries behind the privacy gate
  backend/migrations/versions/c7d8e9f0a1b3_journalentry_vault_ref_tags.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): creek vault write path — store and classify entries behind the privacy gate (#1836)
  backend/migrations/versions/c7d8e9f0a1b3_journalentry_vault_ref_tags.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_write.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1836 (issue #952, total 612)
  scripts/ralph/state.json
Due: none

feat(map): enrich the magnifier lens caption with stage ontology
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): enrich the magnifier lens caption with stage ontology (#1837)
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1837 (issue #1776, total 613)
  scripts/ralph/state.json
Due: none

feat(map): show unlock estimate on locked EMPTINESS and UNITY title rows
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): show unlock estimate on locked EMPTINESS and UNITY title rows (#1838)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1838 (issue #1777, total 614)
  scripts/ralph/state.json
Due: none

feat(backend): route Higher Self reflections to Creek Vault behind care + privacy gates
  backend/src/routers/journal.py
  backend/src/services/creek_vault_reflect.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_journal_vault_read.py
Due: backend-tests-coverage

chore(ralph): raise max_workers to 3 (owner request)
  scripts/ralph/state.json
Due: none

feat(journal): prefillQuote param on JournalEntry with return-to-source affordance
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/reflectionCopy.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): prefillQuote param on JournalEntry with return-to-source affordance (#1841)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/reflectionCopy.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1841 (issue #1780)
  scripts/ralph/state.json
Due: none

feat(course): add Back/Next chapter navigation in the reader footer
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/chapterNav.test.ts
  frontend/src/features/Course/chapterNav.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): route Higher Self reflections to Creek Vault behind care + privacy gates (#1840)
  backend/src/routers/journal.py
  backend/src/services/creek_vault_reflect.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_journal_vault_read.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1840 (issue #953, total 616)
  scripts/ralph/state.json
Due: none

fix(course): resync read state on chapter navigation
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): passage selection in the chapter reader with write-a-note flow
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/ChapterReaderPassageSelection.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): consume Creek Vault classification for the wheel and invitations
  backend/src/domain/invitations.py
  backend/src/routers/invitations.py
  backend/src/routers/stages.py
  backend/src/schemas/wheel.py
  backend/src/services/creek_vault_wheel.py
  backend/src/services/invitations.py
  backend/tests/domain/test_invitations.py
  backend/tests/routers/test_invitations.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_creek_vault_client.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

feat(course): passage selection in the chapter reader with write-a-note flow (#1844)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/ChapterReaderPassageSelection.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1781 (total 617)
  scripts/ralph/state.json
Due: none

feat(graph): restore published knowledge graph on session start
  .claude/hooks/session-start.sh
  scripts/graph/test_session_start_restore.sh
Due: none

feat(backend): consume Creek Vault classification for the wheel and invitations (#1845)
  backend/src/domain/invitations.py
  backend/src/routers/invitations.py
  backend/src/routers/stages.py
  backend/src/schemas/wheel.py
  backend/src/services/creek_vault_wheel.py
  backend/src/services/invitations.py
  backend/tests/domain/test_invitations.py
  backend/tests/routers/test_invitations.py
  backend/tests/services/test_invitations_service.py
  backend/tests/test_creek_vault_client.py
  backend/tests/test_creek_vault_wheel.py
  backend/tests/test_wheel_api.py
Due: backend-tests-coverage

feat(graph): restore published knowledge graph on session start (#1846)
  .claude/hooks/session-start.sh
  scripts/graph/test_session_start_restore.sh
Due: none

chore(ralph): record completions of issues 954 and 1808 (total 619)
  scripts/ralph/state.json
Due: none

fix(course): guard mark-read against fast chapter navigation race
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): Back/Next chapter navigation buttons in the reader footer (#1842)
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Course/__tests__/chapterNav.test.ts
  frontend/src/features/Course/chapterNav.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1784 (total 620)
  scripts/ralph/state.json
Due: none

chore(ralph): reset groom counter at completion 620
  scripts/ralph/state.json
Due: none

feat(graph): cluster, label, and wiki-export the knowledge graph in CI
  .github/workflows/graph-semantic.yml
  scripts/graph/README.md
  scripts/graph/test_wiki_export.sh
  scripts/graph/wiki_export.py
Due: none

feat(return): let-go picker on entering a Return and re-commit after the metta weeks
  backend/migrations/versions/d9e0f1a2b3c4_add_metta_return_habit_release.py
  backend/src/models/__init__.py
  backend/src/models/metta_return_habit_release.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/models/test_metta_return_habit_release.py
  backend/tests/routers/test_metta_return_habit_release.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnLetGoCard.tsx
  frontend/src/features/Return/ReturnStack.tsx
  frontend/src/features/Return/__tests__/ReturnCompletionCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnLetGoCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnStack.test.tsx
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Return/returnCopy.ts
  frontend/src/features/Return/useMettaReturn.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(ralph): record deps adoptions 1820/1822/1824/1826 (total 624)
  scripts/ralph/state.json
Due: none

feat(backend): add POST /journal/transcribe-page stateless page transcription
  backend/migrations/versions/f9a0b1c2d3e4_llmusagelog_journal_entry_id_nullable.py
  backend/src/main.py
  backend/src/models/llm_usage_log.py
  backend/src/routers/transcription.py
  backend/src/schemas/transcription.py
  backend/src/services/llm_usage.py
  backend/src/services/wallet.py
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
