Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

refactor(practice): tidy dead code, dedup style/slug helpers, surface photo-picker errors
  frontend/src/features/Practice/components/ConfiguratorBody.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/data/decks/rws.ts
  frontend/src/features/Practice/recipes/types.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/utils/__tests__/slugify.test.ts
  frontend/src/features/Practice/utils/slugify.ts
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): tidy dead code, dedup style/slug helpers, surface photo-picker errors (#1615)
  frontend/src/features/Practice/components/ConfiguratorBody.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/data/decks/rws.ts
  frontend/src/features/Practice/recipes/types.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/utils/__tests__/slugify.test.ts
  frontend/src/features/Practice/utils/slugify.ts
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): add lock/unlock toggle to the Edit Habit modal
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitSettingsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): add lock/unlock toggle to the Edit Habit modal (#1625)
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitSettingsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): regroup the Edit Habit modal into titled sections
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEditModalsTokens.test.tsx
  frontend/src/features/Habits/components/__tests__/HabitSettingsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): regroup the Edit Habit modal into titled sections (#1632)
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEditModalsTokens.test.tsx
  frontend/src/features/Habits/components/__tests__/HabitSettingsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): unlock the calendar stage on its first local day
  backend/src/domain/program_calendar.py
  backend/src/domain/stage_progress.py
  backend/src/routers/user_practices.py
  backend/tests/test_program_calendar.py
  backend/tests/test_program_gating.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(backend): unlock the calendar stage on its first local day (#1638)
  backend/src/domain/program_calendar.py
  backend/src/domain/stage_progress.py
  backend/src/routers/user_practices.py
  backend/tests/test_program_calendar.py
  backend/tests/test_program_gating.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(practice): offer a copy when using a practice in another stage
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/components/CopyToStageDialog.tsx
  frontend/src/features/Practice/components/__tests__/CopyToStageDialog.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/utils/__tests__/copyPracticeToStage.test.ts
  frontend/src/features/Practice/utils/__tests__/stageDisplayName.test.ts
  frontend/src/features/Practice/utils/copyPracticeToStage.ts
  frontend/src/features/Practice/utils/stageDisplayName.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): offer a copy when using a practice in another stage (#1640)
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/components/CopyToStageDialog.tsx
  frontend/src/features/Practice/components/__tests__/CopyToStageDialog.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/utils/__tests__/copyPracticeToStage.test.ts
  frontend/src/features/Practice/utils/__tests__/stageDisplayName.test.ts
  frontend/src/features/Practice/utils/copyPracticeToStage.ts
  frontend/src/features/Practice/utils/stageDisplayName.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): allow customizing your own unapproved draft practice
  backend/src/routers/user_practices.py
  backend/tests/test_user_practice_customization.py
Due: backend-tests-coverage

fix(backend): allow customizing your own unapproved draft practice (#1643)
  backend/src/routers/user_practices.py
  backend/tests/test_user_practice_customization.py
Due: backend-tests-coverage

feat(journal): guide quote selection with instruction, live preview, honest confirm
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): guide quote selection with instruction, live preview, honest confirm (#1644)
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): make quote promotion lifecycle visible with anchored remove
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): make quote promotion lifecycle visible with anchored remove (#1645)
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): view your own unapproved draft on the user-practice detail path
  backend/src/routers/user_practices.py
  backend/tests/test_owner_practice_selection.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(backend): view your own unapproved draft on the user-practice detail path (#1646)
  backend/src/routers/user_practices.py
  backend/tests/test_owner_practice_selection.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(backend): correct curriculum stage ontology to APTITUDE canon
  backend/src/curriculum/archetypal_wavelength.json
  backend/src/seed_stages.py
  backend/tests/domain/test_wheel.py
  backend/tests/domain/test_wheel_chord.py
  backend/tests/test_curriculum.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_seed_stages.py
  backend/tests/test_wheel_api.py
  docs/curriculum.md
Due: backend-tests-coverage

feat(practice): allow assigning a practice to a future stage for forward planning
  backend/src/routers/practice_sessions.py
  backend/src/routers/user_practices.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_user_practices_api.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): correct curriculum stage ontology to APTITUDE canon (#1647)
  backend/src/curriculum/archetypal_wavelength.json
  backend/src/seed_stages.py
  backend/tests/domain/test_wheel.py
  backend/tests/domain/test_wheel_chord.py
  backend/tests/test_curriculum.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_seed_stages.py
  backend/tests/test_wheel_api.py
  docs/curriculum.md
Due: backend-tests-coverage

feat(backend): locked stages return a titles-only content listing
  backend/src/routers/course.py
  backend/tests/test_course_api.py
Due: backend-tests-coverage

fix(journal): gate journal-attested practice sessions by stage unlock
  backend/src/routers/journal.py
  backend/tests/test_completion_accept_dismiss.py
Due: backend-tests-coverage

feat(backend): locked stages return a titles-only content listing (#1649)
  backend/src/routers/course.py
  backend/tests/test_course_api.py
Due: backend-tests-coverage

feat(course): render chapters under every stage header with Map-legend styling
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): render chapters under every stage header with Map-legend styling (#1650)
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/__tests__/CourseDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): drawer rows show color + category + Aspect; row tap opens the stage modal
  frontend/src/features/Map/MapDrawer.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/stageLegend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): drawer rows show color + category + Aspect; row tap opens the stage modal (#1651)
  frontend/src/features/Map/MapDrawer.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/stageLegend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): add end-to-end promote-flow journey spec
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): add end-to-end promote-flow journey spec (#1652)
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): allow assigning a practice to a future stage for forward planning (#1648)
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/user_practices.py
  backend/tests/test_completion_accept_dismiss.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_user_practices_api.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): enforce a minimum interactive text size across the app
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Invitations/InvitationNote.tsx
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalHero.styles.ts
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Return/MettaSessionModal.tsx
  frontend/src/features/Return/ReturnArcCard.tsx
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnOfferCard.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): enforce a minimum interactive text size across the app (#1653)
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Invitations/InvitationNote.tsx
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalHero.styles.ts
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Return/MettaSessionModal.tsx
  frontend/src/features/Return/ReturnArcCard.tsx
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnOfferCard.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): rename stage-8 color from Turquoise to Teal per APTITUDE canon
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitDefaults.tsx
  frontend/src/features/Practice/data/__tests__/colorPalette.test.ts
  frontend/src/features/Practice/data/colorPalette.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): rename stage-8 color from Turquoise to Teal per APTITUDE canon (#1654)
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitDefaults.tsx
  frontend/src/features/Practice/data/__tests__/colorPalette.test.ts
  frontend/src/features/Practice/data/colorPalette.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): reconcile STAGE_DISPLAY personas and practice labels with course canon
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): reconcile STAGE_DISPLAY personas and practice labels with course canon (#1655)
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(course): deflake 'renders stage selector after loading' with a deterministic handshake
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): make rename step 1 of every practice-copy flow
  frontend/src/features/Practice/components/CopyToStageDialog.tsx
  frontend/src/features/Practice/components/__tests__/CopyToStageDialog.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/utils/__tests__/copyPracticeToStage.test.ts
  frontend/src/features/Practice/utils/copyPracticeToStage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(course): deflake 'renders stage selector after loading' with a deterministic handshake (#1656)
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
