Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

perf(frontend): stable keys for Practice editable form rows
  frontend/src/features/Practice/configurator/__tests__/form-stable-keys.test.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover the append-key path for SenseGrounding rows (#555)
  frontend/src/features/Practice/configurator/__tests__/form-stable-keys.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stable keys for Practice editable form rows (#555)
  frontend/src/features/Practice/configurator/__tests__/form-stable-keys.test.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): back practice-session idempotency with a DB table
  backend/migrations/versions/d0e1f2a3b4c5_add_practice_session_idempotency.py
  backend/src/models/__init__.py
  backend/src/models/practice_session_idempotency.py
  backend/src/routers/practice_sessions.py
  backend/src/services/practice_session_idempotency.py
  backend/tests/test_practice_session_idempotency.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(backend): back practice-session idempotency with a DB table (#556)
  backend/migrations/versions/d0e1f2a3b4c5_add_practice_session_idempotency.py
  backend/src/models/__init__.py
  backend/src/models/practice_session_idempotency.py
  backend/src/routers/practice_sessions.py
  backend/src/services/practice_session_idempotency.py
  backend/tests/test_practice_session_idempotency.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(backend): fold course completion into stage overall-progress
  backend/src/domain/stage_progress.py
  backend/tests/domain/test_stage_progress_queries.py
Due: backend-tests-coverage

fix(backend): fold course completion into stage overall-progress (#557)
  backend/src/domain/stage_progress.py
  backend/tests/domain/test_stage_progress_queries.py
Due: backend-tests-coverage

perf(frontend): index stages O(1) and stabilize per-render literals
  frontend/src/components/DatePicker.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/navigation/BottomTabs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(frontend): index stages O(1) and stabilize per-render literals (#558)
  frontend/src/components/DatePicker.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/navigation/BottomTabs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): restore days_of_week in goalSchema
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): restore days_of_week in goalSchema (#559)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): map provider errors on the non-stream chat path
  backend/src/routers/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(backend): map provider errors on the non-stream chat path (#560)
  backend/src/routers/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

test(backend): replace hollow model tests with schema assertions
  backend/tests/test_models.py
Due: backend-tests-coverage

test(backend): cover the remaining table models + FK (#561)
  backend/tests/test_models.py
Due: backend-tests-coverage

test(backend): replace hollow model tests with schema assertions (#561)
  backend/tests/test_models.py
Due: backend-tests-coverage

feat(frontend): add accessibility labels to Habits screen chrome
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): tighten Habits a11y test per review (#562)
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): align EnergyCTA a11y labels with visible text (#562)
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add accessibility labels to Habits screen chrome (#562)
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci: pin the claude workflow actions to commit shas
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: pin the claude workflow actions to commit shas (#563)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(frontend): make PromptListResponse.total nullable
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): make PromptListResponse.total nullable (#564)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): build configurator forms for tallied_grounding and mindful_anchor
  frontend/src/features/Practice/configurator/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove resolved mode scaffolding (#565)
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/configurator/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): build configurator forms for tallied_grounding and mindful_anchor (#565)
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/configurator/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: correct the alembic section in deployment.md
  DEPLOYMENT.md
Due: none

docs: correct the alembic section in deployment.md (#566)
  DEPLOYMENT.md
Due: none

feat(frontend): safe-area insets across Practice full-screen surfaces
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeSafeArea.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): constrain active-session ScrollView viewport below the notch (#567)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): safe-area insets across Practice full-screen surfaces (#567)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeSafeArea.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): cover the BotMason streaming paths
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_streaming.py
Due: backend-tests-coverage

test(backend): cover the BotMason streaming paths (#568)
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_streaming.py
Due: backend-tests-coverage

fix(frontend): validate journal.list and prompts.history envelopes
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use the ISO-8601 timestamp primitive for journal messages (#569)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): validate journal.list and prompts.history envelopes (#569)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci: match real workflow names in iteration-trigger
  .github/workflows/iteration-trigger.yml
Due: none

ci: match real workflow names in iteration-trigger (#570)
  .github/workflows/iteration-trigger.yml
Due: none

test(frontend): replace hollow snapshot with named style assertions
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Habits/components/__tests__/__snapshots__/OnboardingModal.step2.test.tsx.snap
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
