Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(frontend): journal search caption shows backend total, not loaded count (#1233)
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): harden weak/coverage-theater Journal tests (#1234)
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/EditConfirmDialog.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/highlightSegments.test.ts
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCare.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared note-card chrome across Journal notes
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/ContractionReflectionNote.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/noteCards.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared note-card chrome across Journal notes (#1235)
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/CompletionSuggestionNote.tsx
  frontend/src/features/Journal/ContractionReflectionNote.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/noteCards.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared RadioOption primitive for Journal editor controls
  frontend/src/components/RadioOption.tsx
  frontend/src/components/__tests__/RadioOption.test.tsx
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared RadioOption primitive for Journal editor controls (#1236)
  frontend/src/components/RadioOption.tsx
  frontend/src/components/__tests__/RadioOption.test.tsx
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): half-width Habits + Practices stat tiles under the hero
  frontend/jest.config.js
  frontend/src/__mocks__/expo-notifications.js
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/PracticesStatTile.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Journal/StatTile.tsx
  frontend/src/features/Journal/StatTileRow.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/PracticesStatTile.test.tsx
  frontend/src/features/Journal/__tests__/StatTile.test.tsx
  frontend/src/features/Journal/__tests__/StatTileRow.test.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/constants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): add scroll affordance to goal-editor chip rows
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): half-width Habits + Practices stat tiles under the hero (#1238)
  frontend/jest.config.js
  frontend/src/__mocks__/expo-notifications.js
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/PracticesStatTile.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Journal/StatTile.tsx
  frontend/src/features/Journal/StatTileRow.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/PracticesStatTile.test.tsx
  frontend/src/features/Journal/__tests__/StatTile.test.tsx
  frontend/src/features/Journal/__tests__/StatTileRow.test.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/constants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): add scroll affordance to goal-editor chip rows (#1239)
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(today): honest-simplify useMettaReturn — drop vestigial arc-snapshot revert
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/useMettaReturn.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(today): honest-simplify useMettaReturn — drop vestigial arc-snapshot revert (#1240)
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/useMettaReturn.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): carry the Return arc and invitation cards onto the shelf
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Today/InvitationStack.tsx
  frontend/src/features/Today/ReturnStack.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/InvitationStack.test.tsx
  frontend/src/features/Today/__tests__/ReturnStack.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): source invitation enums from the API schema
  frontend/src/api/index.ts
  frontend/src/features/Today/__tests__/invitationCopy.test.ts
  frontend/src/features/Today/invitationCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): source invitation enums from the API schema (#1242)
  frontend/src/api/index.ts
  frontend/src/features/Today/__tests__/invitationCopy.test.ts
  frontend/src/features/Today/invitationCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): remove orphaned list_stage_intros dead code
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

feat(return): trigger the Return from anywhere via a lifetime high-water mark
  backend/migrations/versions/d3e4f5a6b7c8_add_stageprogress_highest_stage_reached.py
  backend/src/domain/metta_return.py
  backend/src/models/stage_progress.py
  backend/src/routers/stages.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  backend/tests/test_migrations.py
  backend/tests/test_stages_api.py
  frontend/src/features/Today/__tests__/returnCopy.test.ts
  frontend/src/features/Today/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(journal): carry the Return arc and invitation cards onto the shelf (#1241)
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Today/InvitationStack.tsx
  frontend/src/features/Today/ReturnStack.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/InvitationStack.test.tsx
  frontend/src/features/Today/__tests__/ReturnStack.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): remove orphaned list_stage_intros dead code (#1244)
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

refactor(frontend): remove the Today tab and relocate its live cards
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/features/Invitations/InvitationNote.tsx
  frontend/src/features/Invitations/InvitationStack.tsx
  frontend/src/features/Invitations/__tests__/InvitationNote.test.tsx
  frontend/src/features/Invitations/__tests__/InvitationStack.test.tsx
  frontend/src/features/Invitations/__tests__/invitationCopy.test.ts
  frontend/src/features/Invitations/__tests__/useInvitations.test.tsx
  frontend/src/features/Invitations/invitationCopy.ts
  frontend/src/features/Invitations/useInvitations.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Return/MettaSessionModal.tsx
  frontend/src/features/Return/ReturnArcCard.tsx
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnOfferCard.tsx
  frontend/src/features/Return/ReturnStack.tsx
  frontend/src/features/Return/__tests__/MettaSessionModal.test.tsx
  frontend/src/features/Return/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnCompletionCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnOfferCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnStack.test.tsx
  frontend/src/features/Return/__tests__/contractionSignal.test.tsx
  frontend/src/features/Return/__tests__/mettaSessionCopy.test.ts
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Return/contractionSignal.ts
  frontend/src/features/Return/mettaSessionCopy.ts
  frontend/src/features/Return/returnCopy.ts
  frontend/src/features/Return/useMettaReturn.ts
  frontend/src/features/Today/Today.styles.ts
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove the Today tab and relocate its live cards (#1246)
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/features/Invitations/InvitationNote.tsx
  frontend/src/features/Invitations/InvitationStack.tsx
  frontend/src/features/Invitations/__tests__/InvitationNote.test.tsx
  frontend/src/features/Invitations/__tests__/InvitationStack.test.tsx
  frontend/src/features/Invitations/__tests__/invitationCopy.test.ts
  frontend/src/features/Invitations/__tests__/useInvitations.test.tsx
  frontend/src/features/Invitations/invitationCopy.ts
  frontend/src/features/Invitations/useInvitations.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Return/MettaSessionModal.tsx
  frontend/src/features/Return/ReturnArcCard.tsx
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnOfferCard.tsx
  frontend/src/features/Return/ReturnStack.tsx
  frontend/src/features/Return/__tests__/MettaSessionModal.test.tsx
  frontend/src/features/Return/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnCompletionCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnOfferCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnStack.test.tsx
  frontend/src/features/Return/__tests__/contractionSignal.test.tsx
  frontend/src/features/Return/__tests__/mettaSessionCopy.test.ts
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Return/contractionSignal.ts
  frontend/src/features/Return/mettaSessionCopy.ts
  frontend/src/features/Return/returnCopy.ts
  frontend/src/features/Return/useMettaReturn.ts
  frontend/src/features/Today/Today.styles.ts
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(course): read stage-cover colors from showcase tokens
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/Course.styles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(course): read stage-cover colors from showcase tokens (#1248)
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/Course.styles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): read the persisted high-water mark for the contraction Return offer
  backend/src/domain/contraction.py
  backend/src/routers/journal.py
  backend/tests/domain/test_contraction.py
  backend/tests/routers/test_contraction_reflection.py
Due: backend-tests-coverage

test(backend): pin BotMason retry/backoff subsystem behavior
  backend/tests/services/test_botmason_retry.py
Due: backend-tests-coverage

test(map): extract a shared harness to kill duplicated MapScreen mock scaffold
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(return): trigger the Return from anywhere on the map — lifetime high-water mark (#1245)
  backend/migrations/versions/d3e4f5a6b7c8_add_stageprogress_highest_stage_reached.py
  backend/src/domain/contraction.py
  backend/src/domain/metta_return.py
  backend/src/models/stage_progress.py
  backend/src/routers/journal.py
  backend/src/routers/stages.py
  backend/tests/domain/test_contraction.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_contraction_reflection.py
  backend/tests/routers/test_metta_return.py
  backend/tests/test_migrations.py
  backend/tests/test_stages_api.py
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(map): extract a shared harness to kill duplicated MapScreen mock scaffold (#1279)
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): copy goals before normalizing so updateGoal rollback stays clean
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): copy goals before normalizing so updateGoal rollback stays clean (#1280)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): stabilize ChapterReader body-fetch effect key
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): stabilize ChapterReader body-fetch effect key (#1281)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): seed journal persist refs on load so a failed re-tag reverts correctly
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(roadmap): add map-legibility epic (overlap, hyphenation, helix, labels, colors)
  prompts/github-issues/map-legibility-01-remove-overlapping-chrome.md
  prompts/github-issues/map-legibility-02-hyphenate-right-labels.md
  prompts/github-issues/map-legibility-03-remove-shadow-helix.md
  prompts/github-issues/map-legibility-04-corner-hugging-aspect-labels.md
  prompts/github-issues/map-legibility-05-left-column-contrast-and-watermarks.md
  prompts/github-issues/map-legibility-06-centerline-color-transitions.md
  prompts/github-issues/map-legibility-epic.md
Due: none

fix(frontend): seed journal persist refs on load so a failed re-tag reverts correctly (#1282)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): remove overlapping explainer trigger and balance summary
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/TorusSpiralVisual.tsx
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/TorusSpiralVisual.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
  frontend/src/features/Map/__tests__/torusGeometry.test.ts
  frontend/src/features/Map/torusGeometry.ts
  frontend/src/features/Map/wheelBalance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): fail-closed logout so a failed clearToken can't resurrect the session
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/authStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin BotMason retry/backoff subsystem behavior (#1264)
  backend/tests/services/test_botmason_retry.py
Due: backend-tests-coverage

fix(map): hyphenate right-column Aspect labels instead of shrink-to-fit
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
