Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(frontend): ruled page-margin + lit sheet edge
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): ruled page-margin + lit sheet edge (#690)
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): lift the marginalia notes off the page
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/__tests__/MarginNote.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): read Ralph recap channel ID from secrets, not vars (#688)
  .github/workflows/ralph-recap.yml
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(frontend): lift the marginalia notes off the page (#691)
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/__tests__/MarginNote.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): float the shelf entries as paper cards
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): finish the touchTarget migration + test the prompt card
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): float the shelf entries as paper cards (#692)
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): depth-reinforcing motion for the journal (reduced-motion safe)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/__tests__/motion.test.ts
  frontend/src/features/Journal/motion.ts
  frontend/src/hooks/__tests__/useReducedMotion.test.ts
  frontend/src/hooks/useReducedMotion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): depth-reinforcing motion for the journal (reduced-motion safe) (#693)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/__tests__/motion.test.ts
  frontend/src/features/Journal/motion.ts
  frontend/src/hooks/__tests__/useReducedMotion.test.ts
  frontend/src/hooks/useReducedMotion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): make recap metrics move — true total, rolling windows, real cycle time
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

fix(ralph): make recap metrics move — true total, rolling windows, real cycle time (#701)
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

chore(backend): adopt pydantic 2.13.4 (bump pydantic-core to 2.46.4)
  backend/requirements-lock.txt
Due: backend-tests-coverage

chore(backend): adopt pydantic 2.13.4 (bump pydantic-core to 2.46.4) (#702)
  backend/requirements-lock.txt
Due: backend-tests-coverage

ci(deps): pin styleq to react-native-web's range; ignore 0.2.x
  .github/dependabot.yml
Due: none

ci(deps): pin styleq to react-native-web's range; ignore 0.2.x (#703)
  .github/dependabot.yml
Due: none

chore(deps): adopt eslint-plugin-react-hooks 7.1.1
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): use a caret range for eslint-plugin-react-hooks
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): adopt eslint-plugin-react-hooks 7.1.1 (#714)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): adopt eslint-config-prettier 10.1.8
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): adopt eslint-config-prettier 10.1.8 (#724)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

ci(deps): pin expo-av to the Expo SDK 52 range; ignore 16.x
  .github/dependabot.yml
Due: none

docs(course): add course-cms-wiring epic + content-repo specs
  prompts/github-issues/course-cms-wiring/README.md
  prompts/github-issues/course-cms-wiring/content-repo/CR-A-convert-stage-intros-markdown.md
  prompts/github-issues/course-cms-wiring/content-repo/CR-B-frontmatter-and-manifest.md
  prompts/github-issues/course-cms-wiring/content-repo/CR-C-ci-validation.md
  prompts/github-issues/course-cms-wiring/content-repo/CR-D-release-and-consumption.md
  prompts/github-issues/course-cms-wiring/content-repo/README.md
  prompts/github-issues/course-cms-wiring/course-cms-01-manifest-stage-intros-schema.md
  prompts/github-issues/course-cms-wiring/course-cms-02-content-repository-intros.md
  prompts/github-issues/course-cms-wiring/course-cms-03-course-api-intro-endpoints.md
  prompts/github-issues/course-cms-wiring/course-cms-04-frontend-api-intro.md
  prompts/github-issues/course-cms-wiring/course-cms-05-course-screen-intro-card.md
  prompts/github-issues/course-cms-wiring/course-cms-06-vendor-first-pin.md
  prompts/github-issues/course-cms-wiring/course-cms-07-vendor-intros-pin.md
  prompts/github-issues/course-cms-wiring/course-cms-epic.md
Due: none

feat(frontend): rebuild Map as three-column spiral table
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageData.test.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/stageData.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(deps): pin expo-av to the Expo SDK 52 range; ignore 16.x (#725)
  .github/dependabot.yml
Due: none

ci(deps): pin expo-notifications to the Expo SDK 52 range; ignore later majors
  .github/dependabot.yml
Due: none

ci(deps): pin expo-notifications to the Expo SDK 52 range; ignore later majors (#728)
  .github/dependabot.yml
Due: none

refactor(frontend): validate the frequency response with Zod (audit-contracts)
  frontend/src/api/__tests__/frequencyResponseSchema.test.ts
  frontend/src/api/__tests__/validateFrequencyResponse.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): validate the frequency response with Zod (audit-contracts) (#730)
  frontend/src/api/__tests__/frequencyResponseSchema.test.ts
  frontend/src/api/__tests__/validateFrequencyResponse.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): honest recap times — split this-PR vs loop, add tick cadence
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(content): add optional stage_intros[] tier to the manifest (schema 1.1.0)
  backend/content/manifest.example.json
  backend/content/manifest.schema.json
  backend/tests/test_manifest_schema.py
  docs/adr/0001-git-content-pipeline.md
  docs/content.md
Due: backend-tests-coverage

fix(ralph): honest recap times — split this-PR vs loop, add tick cadence (#732)
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(content): add optional stage_intros[] tier to the manifest (schema 1.1.0) (#733)
  backend/content/manifest.example.json
  backend/content/manifest.schema.json
  backend/tests/test_manifest_schema.py
  docs/adr/0001-git-content-pipeline.md
  docs/content.md
Due: backend-tests-coverage

style(ralph): make recap section headers stand out, with padding above
  scripts/ralph/recap.py
Due: none

ci(deslop): move weekly audit to Sunday 00:00 UTC
  .github/workflows/weekly-deslop.yml
Due: none

feat(content): index and serve stage_intros through ContentRepository
  backend/src/services/content_repository.py
  backend/tests/fixtures/content/manifest.json
  backend/tests/fixtures/content/markdown/01-beige/00-introduction.md
  backend/tests/fixtures/content/markdown/02-purple/00-introduction.md
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

style(ralph): make recap section headers stand out, with padding above (#734)
  scripts/ralph/recap.py
Due: none

fix(ci): make de-slopify audit read code, not just lint output
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/detection-playbook.md
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

fix(ci): make the de-slopify audit read code, not just lint output (#736)
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/detection-playbook.md
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

feat(content): index and serve stage_intros through ContentRepository (#735)
  backend/src/services/content_repository.py
  backend/tests/fixtures/content/manifest.json
  backend/tests/fixtures/content/markdown/01-beige/00-introduction.md
  backend/tests/fixtures/content/markdown/02-purple/00-introduction.md
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
