Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(course): dim stage pills via fill-mix to keep glyph above AA contrast (#1756)
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Course/stageDisplay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1756 (issue #1749, total 589)
  scripts/ralph/state.json
Due: none

fix(course): render locked stage-pill with a tintable Lock icon for real AA contrast
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Course/__tests__/stageDisplay.test.ts
  frontend/src/features/Course/stageDisplay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): render locked stage-pill with a tintable Lock icon for real AA contrast (#1758)
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Course/__tests__/stageDisplay.test.ts
  frontend/src/features/Course/stageDisplay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1758 (issue #1757, total 590)
  scripts/ralph/state.json
Due: none

chore(ralph): groom #58 reset at total 590 (backlog drained)
  scripts/ralph/state.json
Due: none

feat(frontend): fade scrollable screens' bottom edge into the canvas ground
  frontend/src/components/layout/BottomFade.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/BottomFade.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/rhythmTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): fade scrollable screens' bottom edge into the canvas ground (#1762)
  frontend/src/components/layout/BottomFade.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/BottomFade.test.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/rhythmTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1762 (issue #1759, total 591)
  scripts/ralph/state.json
Due: none

fix(course): strip leading title heading of any ATX level in the reader
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripLeadingTitleHeading.test.ts
  frontend/src/features/Course/stripLeadingTitleHeading.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): strip leading title heading of any ATX level in the reader (#1765)
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripLeadingTitleHeading.test.ts
  frontend/src/features/Course/stripLeadingTitleHeading.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1765 (issue #1760, total 592)
  scripts/ralph/state.json
Due: none

feat(frontend): desk-ground BottomFade variant for the Course chapter reader
  frontend/src/components/layout/BottomFade.tsx
  frontend/src/components/layout/__tests__/BottomFade.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): desk-ground BottomFade variant for the Course chapter reader (#1767)
  frontend/src/components/layout/BottomFade.tsx
  frontend/src/components/layout/__tests__/BottomFade.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1767 (issue #1761, total 593)
  scripts/ralph/state.json
Due: none

fix(course): open the shelf drawer from the hamburger while reading a chapter
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): open the shelf drawer from the hamburger while reading a chapter (#1769)
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1769 (issue #1763, total 594)
  scripts/ralph/state.json
Due: none

fix(backend): prune stale pre-manifest StageContent rows during seeding
  backend/src/seed_content.py
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

fix(navigation): route drawer nav rows through the root stack Tabs route
  frontend/src/__tests__/navigation/drawerNavFromJournalEntry.test.tsx
  frontend/src/components/drawer/DrawerNavSection.tsx
  frontend/src/components/drawer/__tests__/DrawerNavSection.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawerNav.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(navigation): route drawer nav rows through the root stack Tabs route (#1783)
  frontend/src/__tests__/navigation/drawerNavFromJournalEntry.test.tsx
  frontend/src/components/drawer/DrawerNavSection.tsx
  frontend/src/components/drawer/__tests__/DrawerNavSection.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawerNav.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1783 (issue #1766, total 595)
  scripts/ralph/state.json
Due: none

fix(backend): gate seed prune warning on race-win verdict
  backend/src/seed_content.py
  backend/src/seed_helpers.py
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

docs(plan): journal photographer scoping — research findings, ADRs 1-4, implementation plan
  plan/2026-07-16_ADR_multipage_transport.md
  plan/2026-07-16_ADR_transcription_delivery_ux.md
  plan/2026-07-16_ADR_vision_call_location.md
  plan/2026-07-16_ADR_vision_model_fallback.md
  plan/2026-07-16_JOURNAL_PHOTOGRAPHER_IMPLEMENTATION_PLAN.md
  plan/2026-07-16_journal_photographer_research_findings.md
Due: none

feat(drawer): shared DrawerSearch component and fuzzy matcher utility
  frontend/src/components/drawer/DrawerSearch.tsx
  frontend/src/components/drawer/__tests__/DrawerSearch.test.tsx
  frontend/src/components/drawer/__tests__/fuzzyMatch.test.ts
  frontend/src/components/drawer/fuzzyMatch.ts
  frontend/src/components/drawer/index.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(drawer): shared DrawerSearch component and fuzzy matcher utility (#1785)
  frontend/src/components/drawer/DrawerSearch.tsx
  frontend/src/components/drawer/__tests__/DrawerSearch.test.tsx
  frontend/src/components/drawer/__tests__/fuzzyMatch.test.ts
  frontend/src/components/drawer/fuzzyMatch.ts
  frontend/src/components/drawer/index.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1785 (issue #1772, total 596)
  scripts/ralph/state.json
Due: none

docs(plan): record filed GitHub issue numbers for the journal photographer epic
  plan/2026-07-16_JOURNAL_PHOTOGRAPHER_IMPLEMENTATION_PLAN.md
Due: none

docs(plans): add graphify federated knowledge-graph epic spec
  plans/SPEC.md
Due: none

feat(backend): vision content blocks + per-model vision capability metadata
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_retry.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(backend): prune identical-URL duplicate fossils sharing one stage
  backend/src/seed_content.py
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

feat(backend): vision content blocks + per-model vision capability metadata (#1814)
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_retry.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1814 (issue #1786, total 597)
  scripts/ralph/state.json
Due: none

fix(backend): guard content-seed prune flush against the boot race
  backend/src/seed_content.py
  backend/tests/test_seed_race.py
Due: backend-tests-coverage

fix(backend): prune stale pre-manifest StageContent rows during seeding (#1782)
  backend/src/seed_content.py
  backend/src/seed_helpers.py
  backend/tests/test_seed_content.py
  backend/tests/test_seed_race.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1782 (issue #1764, total 598)
  scripts/ralph/state.json
Due: none

feat(backend): add handwriting transcription prompt builder
  backend/src/domain/transcription.py
  backend/tests/domain/test_transcription.py
Due: backend-tests-coverage

feat(backend): add handwriting transcription prompt builder (#1815)
  backend/src/domain/transcription.py
  backend/tests/domain/test_transcription.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1815 (issue #1787, total 599)
  scripts/ralph/state.json
Due: none

feat(backend): add Creek Vault MCP client seam with handshake and local fallback
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_client.py
  backend/tests/test_creek_vault_domain.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
