Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

chore(frontend): refresh metro to 0.84.6 and drop the image-size audit allowlist
  frontend/.audit-allowlist.json
  frontend/package-lock.json
  scripts/frontend/test_audit_gate.mjs
Due: frontend-eslint, frontend-prettier, frontend-tests

docs(ci): describe the audit-gate expiry generically in frontend-ci triggers
  .github/workflows/frontend-ci.yml
Due: none

test(journal): no resonance pass while carried words are held
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceDurable.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): keep the voice-readiness open area out from under its X
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): read Begin again in canvas ink on the parchment
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/__tests__/beginAgainContrast.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): fit the Map grid labels to ramp steps
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/mapTypeRamp.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): assert the Map route's census is on the type ramp
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Wave 22: metro 0.84.6 drops image-size, no resonance pass on an unsaved page, band clear of its X (#2988)
  .github/workflows/frontend-ci.yml
  frontend/.audit-allowlist.json
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/package-lock.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceDurable.test.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  scripts/frontend/test_audit_gate.mjs
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): set the grid's text on the type ramp
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsTypeRamp.test.tsx
  frontend/src/features/Habits/__tests__/habitGridType.test.ts
  frontend/src/features/Habits/habitGridType.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): hold the Habits tile and pager text inside their boxes
  frontend/e2e/habits-viewport.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): bump brace-expansion past the recursion DoS advisories
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(map): let aspect labels wrap instead of truncating on narrow phones
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapGeometry.ts
  frontend/src/design/__tests__/mapGeometry.test.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): keep Begin again above the fold on the completed desktop Map
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapGeometry.ts
  frontend/src/design/__tests__/mapGeometry.test.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): bump brace-expansion past the recursion DoS advisories (#2990)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(habits): stack the streak under the name on narrow tiles
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): keep achieved Habits headers tidy at 320 and 360
  frontend/e2e/habits-viewport.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): never cap aspect label lines, so no serif face can cut one
  frontend/e2e/journeys.json
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map, habits): Map grid labels and Habits grid text on the type ramp; Begin again readable (#2991)
  frontend/e2e/habits-viewport.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map-legibility.browser.e2e.test.ts
  frontend/e2e/mapGeometry.ts
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/design/__tests__/mapGeometry.test.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsTypeRamp.test.tsx
  frontend/src/features/Habits/__tests__/habitGridType.test.ts
  frontend/src/features/Habits/habitGridType.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/beginAgainContrast.test.ts
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/mapTypeRamp.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(components): add TitleHost and a ScreenHeader title-hidden mode
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/TitleHost.tsx
  frontend/src/components/layout/__tests__/ScreenHeaderTitleHidden.test.tsx
  frontend/src/components/layout/__tests__/TitleHost.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): put the Settings form family and SharePreview on the type ramp
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
  frontend/src/features/Practice/screens/__tests__/SharePreviewScreen.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/settingsTypeRamp.test.tsx
  frontend/src/features/Settings/shared/settingsFormLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): set player and details text on the type ramp
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/features/Practice/__tests__/practiceTypeRamp.test.ts
  frontend/src/features/Practice/components/PracticeStatsBlock.tsx
  frontend/src/features/Practice/components/StageSelector.tsx
  frontend/src/features/Practice/components/__tests__/StageSelector.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/views/shared/GroundingCompleteCard.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): drop screen titles the stack header already paints
  frontend/src/design/DESIGN.md
  frontend/src/features/AdminFeedback/AdminFeedbackScreen.tsx
  frontend/src/features/AdminFeedback/__tests__/AdminFeedbackScreen.test.tsx
  frontend/src/features/Journal/PromotedQuotesScreen.tsx
  frontend/src/features/Journal/VoiceDraftsShelfScreen.tsx
  frontend/src/features/Journal/__tests__/PromotedQuotesScreen.test.tsx
  frontend/src/features/Journal/__tests__/VoiceDraftsShelfScreen.test.tsx
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/SupportCareScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/ExportDataScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/SupportCareScreen.test.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
  frontend/src/testing/navigationOwnsTitle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): press the morning-pages X only once the pointer rests on it
  frontend/e2e/journal-morning-pages-dismiss.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): replace mode emoji with lucide icons
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/features/Practice/__tests__/practiceTypeRamp.test.ts
  frontend/src/features/Practice/components/ModeIcon.tsx
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModeIcon.test.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): let the stack header be each screen's one title heading
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/screen-title-heading.browser.e2e.test.ts
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/TitleHost.tsx
  frontend/src/components/layout/__tests__/ScreenHeaderTitleHidden.test.tsx
  frontend/src/components/layout/__tests__/TitleHost.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/SupportCareScreen.test.tsx
  frontend/src/testing/navigationOwnsTitle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): set player and details text on the type ramp (#2992)
  frontend/e2e/journal-morning-pages-dismiss.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/features/Practice/__tests__/practiceTypeRamp.test.ts
  frontend/src/features/Practice/components/PracticeStatsBlock.tsx
  frontend/src/features/Practice/components/StageSelector.tsx
  frontend/src/features/Practice/components/__tests__/StageSelector.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/views/shared/GroundingCompleteCard.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(navigation): make the Android stack title a header
  frontend/src/design/DESIGN.md
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/navScreenOptions.test.tsx
  frontend/src/navigation/navScreenOptions.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): replace mode emoji with lucide icons (#2993)
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/features/Practice/__tests__/practiceTypeRamp.test.ts
  frontend/src/features/Practice/components/ModeIcon.tsx
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModeIcon.test.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(economy): record the ratified 2026-09-05 resonance economy decision
  prompts/claude-comms/2026-09-05-resonance-economy-decision.md
Due: none

fix(settings): put the Settings family on the type ramp; navigation owns the screen title (#2994)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/screen-title-heading.browser.e2e.test.ts
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/__tests__/ScreenHeaderTitleHidden.test.tsx
  frontend/src/design/DESIGN.md
  frontend/src/features/AdminFeedback/AdminFeedbackScreen.tsx
  frontend/src/features/AdminFeedback/__tests__/AdminFeedbackScreen.test.tsx
  frontend/src/features/Journal/PromotedQuotesScreen.tsx
  frontend/src/features/Journal/VoiceDraftsShelfScreen.tsx
  frontend/src/features/Journal/__tests__/PromotedQuotesScreen.test.tsx
  frontend/src/features/Journal/__tests__/VoiceDraftsShelfScreen.test.tsx
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
  frontend/src/features/Practice/screens/__tests__/SharePreviewScreen.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/SupportCareScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/ExportDataScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/SupportCareScreen.test.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/settingsTypeRamp.test.tsx
  frontend/src/features/Settings/shared/settingsFormLayout.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/navScreenOptions.test.tsx
  frontend/src/navigation/navScreenOptions.tsx
  frontend/src/testing/navigationOwnsTitle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): set the reader's chrome and markdown faces on the type ramp
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/Course.styles.test.ts
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenColdStart.test.tsx
  frontend/src/features/Course/__tests__/courseTypeRamp.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): assert the Course landing's census sizes on the ramp
  frontend/e2e/journeys.json
  frontend/e2e/text-order.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract the 402 funding classifier into its own module
  frontend/src/features/Journal/fundingOutcome.ts
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): resume the voice drafts shelf from the page that failed
  frontend/src/features/Journal/VoiceDraftsShelfScreen.tsx
  frontend/src/features/Journal/__tests__/VoiceDraftsShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): hide the state icon from web screen readers, re: #2964
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenColdStart.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): note the voice drafts shelf's resume-on-retry in its journey
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(backend): lower the default monthly included balance to 20
  backend/src/services/usage.py
  backend/tests/test_botmason_api.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

test(course): bar every Course component from setting a font size, re: #2964
  frontend/src/features/Course/__tests__/courseTypeRamp.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): charge a note's first essay one wallet unit, with refunds
  backend/openapi.json
  backend/src/models/wallet_audit.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/test_account_egress_barrier_llm.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_llm_usage_metering.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage
