Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(journal): cover keyboard list nesting in the browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-list-indent.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): pin every pure editor module in the purity discovery
  frontend/src/features/Journal/__tests__/journalMarkdownPurity.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): kill two surviving toggle and textarea mutants
  frontend/src/features/Journal/__tests__/markdownInlineToggle.test.ts
  frontend/src/features/Journal/__tests__/webTextareaEdit.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): pin where indent adds its unit on a mixed indent
  frontend/src/features/Journal/__tests__/markdownIndent.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): cover every branch of the extracted growth hook
  frontend/src/features/Journal/__tests__/useGrowingFieldHeight.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): realign the five drifted Expo pins to SDK 57.0.25
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(journal): never let an inline toggle damage the source around it
  frontend/src/features/Journal/__tests__/markdownInlineToggle.test.ts
  frontend/src/features/Journal/markdownInlineToggle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): lay the live mirror behind the field so the caret shows
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/LiveMarkdownMirror.tsx
  frontend/src/features/Journal/LiveMarkdownStyles.ts
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/liveSelectionStyle.test.ts
  frontend/src/features/Journal/liveSelectionStyle.ts
  frontend/src/features/Journal/useLiveMirrorEnabled.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): keep list bullets, quote markers and delimiters at text contrast
  frontend/src/features/Journal/LiveMarkdownStyles.ts
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownStyles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): expose the toolbar's pressed state on web and to sight
  frontend/src/components/webAria.ts
  frontend/src/features/Journal/MarkdownFormatToolbar.tsx
  frontend/src/features/Journal/__tests__/MarkdownFormatToolbar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): match formatting shortcuts by physical key on non-Latin layouts
  frontend/src/features/Journal/__tests__/markdownCommands.test.ts
  frontend/src/features/Journal/markdownCommands.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): observe the title shortcut where it fires, and probe layering
  frontend/e2e/journal-live-markdown.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): make the command pass-through test able to fail
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): pin list levels for indents short of a whole unit
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/markdownIndent.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Wave 8: prove the feedback epic across the real seam, and close the server to prose disguised as tokens (#2927)
  backend/openapi.json
  backend/src/models/feedback.py
  backend/src/routers/admin_feedback.py
  backend/src/schemas/feedback.py
  backend/tests/helpers/sentry_capture.py
  backend/tests/integration/conftest.py
  backend/tests/integration/session_per_request.py
  backend/tests/integration/test_feedback_intake_race.py
  backend/tests/integration/test_feedback_triage_races.py
  backend/tests/security/test_feedback_repr.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_admin_feedback_inbox.py
  backend/tests/test_data_export_api.py
  backend/tests/test_error_monitoring.py
  backend/tests/test_feedback_api.py
  docs/qa/full-stack-qa-runbook.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/admin-feedback-triage.e2e.test.ts
  frontend/e2e/feedback-composer.browser.e2e.test.ts
  frontend/e2e/feedback-resilience.browser.e2e.test.ts
  frontend/e2e/feedbackBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Feedback/__tests__/FeedbackComposer.test.tsx
  frontend/src/features/Feedback/__tests__/appBuildAndTokens.test.ts
  frontend/src/features/Feedback/__tests__/feedbackBoundsDrift.test.ts
  frontend/src/features/Feedback/feedbackBounds.ts
  frontend/src/features/Feedback/feedbackContext.ts
  frontend/src/features/Feedback/feedbackControlTokens.ts
  frontend/src/storage/feedbackDraftStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): keep the live mirror's lines in register with the field
  frontend/e2e/journal-live-markdown.browser.e2e.test.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/LiveMarkdownStyles.ts
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownStyles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): judge Expo SDK alignment against the installed table
  .github/workflows/frontend-ci.yml
  backend/tests/scripts/test_sdk_alignment_gate.py
  scripts/frontend/sdk-align.sh
Due: backend-tests-coverage

build(frontend): pin SDK-managed dependencies exactly
  backend/tests/scripts/test_sdk_alignment_gate.py
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

ci(deps): group Expo SDK updates in Dependabot
  .github/dependabot.yml
  backend/tests/test_dependabot_ignores.py
Due: backend-tests-coverage

test(scripts): describe the offline SDK gate in its guard's docstring
  backend/tests/scripts/test_sdk_alignment_gate.py
Due: backend-tests-coverage

feat(backend): expose the scopes in progress for on-demand reviews
  backend/openapi.json
  backend/src/domain/reflection_hierarchy.py
  backend/src/routers/reflections.py
  backend/src/schemas/reflection.py
  backend/tests/domain/test_reflection_hierarchy.py
  backend/tests/security/test_idor.py
  backend/tests/test_reflections_api.py
  backend/tests/test_reflections_window.py
Due: backend-tests-coverage

feat(frontend): one primary journal invitation with an early-review picker
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-review-from-shelf.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/reflections-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalPrimaryInvitation.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/ReviewScopePicker.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/JournalPrimaryInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfHierarchy.test.ts
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDelete.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenRefocus.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionInvitationBand.test.tsx
  frontend/src/features/Journal/__tests__/ReviewScopePicker.test.tsx
  frontend/src/features/Journal/__tests__/reviewInvitationCopy.test.ts
  frontend/src/features/Journal/__tests__/reviewScopes.test.ts
  frontend/src/features/Journal/reviewInvitationCopy.ts
  frontend/src/features/Journal/reviewScopes.ts
  frontend/src/features/Journal/useDueReview.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): count GET /reflections/current among the ambient-budget paths
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

fix(ci): run the SDK guards when their inputs change
  .github/workflows/backend-ci.yml
  backend/tests/scripts/test_sdk_alignment_gate.py
Due: backend-tests-coverage

fix(frontend): re-read the open early-review picker when the shelf regains focus
  frontend/src/features/Journal/JournalPrimaryInvitation.tsx
  frontend/src/features/Journal/ReviewScopePicker.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenRefocus.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): recover a 409 on a review begun early by opening the live one
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/reviewScopes.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): name every review control by the words it shows
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/__tests__/JournalPrimaryInvitation.test.tsx
  frontend/src/features/Journal/__tests__/ReviewScopePicker.test.tsx
  frontend/src/features/Journal/__tests__/reviewInvitationCopy.test.ts
  frontend/src/features/Journal/reviewInvitationCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): drive the Continue row in the review-from-the-shelf journey
  frontend/e2e/journal-review-from-shelf.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(backend): run backend-compat to completion on every matrix leg
  .github/workflows/backend-ci.yml
  backend/tests/scripts/test_backend_compat_matrix.py
  backend/tests/workflow_text.py
Due: backend-tests-coverage

test(backend): guard direct-pin/lock agreement and the starlette canary
  backend/tests/scripts/test_backend_lock_consistency.py
Due: backend-tests-coverage

test(frontend): await shelf stage prompts instead of racing the empty state
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): re-measure slowapi's blind spot for included routes
  backend/tests/middleware/test_ambient_rate_limit.py
Due: backend-tests-coverage

chore(deps): adopt starlette 1.7.0 in the lock
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/middleware/rate_limit.py
  backend/src/rate_limit.py
Due: backend-tests-coverage

fix(backend): let workflow readers tolerate trailing inline comments
  backend/tests/scripts/test_backend_compat_matrix.py
  backend/tests/workflow_text.py
Due: backend-tests-coverage

docs(backend): name every reader of the unresolved requirements.txt
  backend/requirements.txt
  backend/tests/scripts/test_backend_compat_matrix.py
  backend/tests/scripts/test_backend_lock_consistency.py
Due: backend-tests-coverage

feat(frontend): expose button role on ConfirmDialog actions
  frontend/src/features/Habits/components/ConfirmDialog.tsx
  frontend/src/features/Habits/components/__tests__/ConfirmDialog.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): confirm API key removal with a rendered dialog on web
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): confirm vault disconnect and replace with a rendered dialog
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): guard against Alert.alert confirms that no-op on web
  frontend/src/__tests__/wiring/noAlertConfirm.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
