Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(habits): reset progress bar at local midnight, not all-time
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-habits): add habit, paginate, confirm delete
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/ConfirmDialog.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(habits): pin daily-reset edge cases — subtractive, TZ boundary, banner
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(ritual-practice): epic plan for build-your-own ritual screen
  prompts/github-issues/ritual-practice/README.md
  prompts/github-issues/ritual-practice/ritual-01-practice-modes-schema.md
  prompts/github-issues/ritual-practice/ritual-02-seed-preset-practices.md
  prompts/github-issues/ritual-practice/ritual-03-user-practice-customization.md
  prompts/github-issues/ritual-practice/ritual-04-session-analytics-insights.md
  prompts/github-issues/ritual-practice/ritual-05-frequency-copy-endpoint.md
  prompts/github-issues/ritual-practice/ritual-06-ritual-engine-hook.md
  prompts/github-issues/ritual-practice/ritual-07-mode-views.md
  prompts/github-issues/ritual-practice/ritual-08-preset-views.md
  prompts/github-issues/ritual-practice/ritual-09-ritual-configurator.md
  prompts/github-issues/ritual-practice/ritual-10-frequency-banner-switcher.md
  prompts/github-issues/ritual-practice/ritual-11-screen-integration.md
  prompts/github-issues/ritual-practice/ritual-12-post-session-insight-botmason.md
Due: none

refactor(habits): lift bevel greys into design tokens, add Return+blur dedup test
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wrap long BotMason responses in journal bubbles
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add lucide tab bar icons for bottom navigation
  frontend/src/navigation/BottomTabs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-habits): address Claude PR review feedback
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/ConfirmDialog.tsx
  frontend/src/features/Habits/components/__tests__/AddHabitModal.test.tsx
  frontend/src/features/Habits/components/__tests__/ConfirmDialog.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): assert each lucide icon renders in the bottom tab bar
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): thread userTimezone through milestone-toast bucketing
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): preserve drag order and stop date picker seizing the app (#299)
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(ritual-practice): epic plan for build-your-own ritual screen (#304)
  prompts/github-issues/ritual-practice/README.md
  prompts/github-issues/ritual-practice/ritual-01-practice-modes-schema.md
  prompts/github-issues/ritual-practice/ritual-02-seed-preset-practices.md
  prompts/github-issues/ritual-practice/ritual-03-user-practice-customization.md
  prompts/github-issues/ritual-practice/ritual-04-session-analytics-insights.md
  prompts/github-issues/ritual-practice/ritual-05-frequency-copy-endpoint.md
  prompts/github-issues/ritual-practice/ritual-06-ritual-engine-hook.md
  prompts/github-issues/ritual-practice/ritual-07-mode-views.md
  prompts/github-issues/ritual-practice/ritual-08-preset-views.md
  prompts/github-issues/ritual-practice/ritual-09-ritual-configurator.md
  prompts/github-issues/ritual-practice/ritual-10-frequency-banner-switcher.md
  prompts/github-issues/ritual-practice/ritual-11-screen-integration.md
  prompts/github-issues/ritual-practice/ritual-12-post-session-insight-botmason.md
Due: none

refactor(frontend): address reviewer nits on journal bubble wrap fix
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): explicit Save button + convex/recessed states for goal targets (#300)
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-habits): add habit, paginate, confirm delete (#301)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/ConfirmDialog.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/AddHabitModal.test.tsx
  frontend/src/features/Habits/components/__tests__/ConfirmDialog.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/hooks/usePagination.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wrap long BotMason responses in journal bubbles (#306)
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add lucide tab bar icons for bottom navigation (#305)
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-habits): modal coordinator, notifications, onboarding hardening
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-journal): abortcontroller, length cap, search debounce sync
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(qa): mark prompt 14a (habits + journal) done; defer 14b
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(frontend-habits): energy parse, reset confirm, drag stability
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/MissedDaysModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-habits): pr 302 review - date sync + pure-fn unit tests
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/features/Habits/components/__tests__/pureHelpers.test.ts
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Habits/components/parseEnergyValue.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add Practice.mode + mode_config (ritual-01)
  backend/migrations/versions/e9f0a1b2c3d4_practice_mode_and_mode_config.py
  backend/src/domain/practice_modes.py
  backend/src/models/practice.py
  backend/src/routers/practices.py
  backend/src/schemas/practice.py
  backend/src/schemas/practice_mode_config.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/security/test_idor.py
  backend/tests/test_migrations.py
  backend/tests/test_pagination.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

fix(frontend-habits/journal): prompt 14A — modal/onboarding/notif/journal hardening (#302)
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/components/__tests__/pureHelpers.test.ts
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Habits/components/parseEnergyValue.ts
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): extract interval-bell offset validator for xenon A
  backend/src/schemas/practice_mode_config.py
Due: backend-tests-coverage

fix(habits): reset progress bar at local midnight, not all-time (#303)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): make practice-mode backfill cross-dialect
  backend/migrations/versions/e9f0a1b2c3d4_practice_mode_and_mode_config.py
Due: backend-tests-coverage

fix(backend): address ritual-01 review (round-trip, bounds, error clarity)
  backend/migrations/versions/e9f0a1b2c3d4_practice_mode_and_mode_config.py
  backend/src/schemas/practice.py
  backend/src/schemas/practice_mode_config.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

feat(frontend-practice): add useRitualEngine hook + pure reducer/cues (ritual-06)
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.test.tsx
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend-practice): address ritual-06 review feedback + unflake Habits tz tests
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.test.tsx
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add Practice.mode + mode_config (ritual-01) (#307)
  backend/migrations/versions/e9f0a1b2c3d4_practice_mode_and_mode_config.py
  backend/src/domain/practice_modes.py
  backend/src/models/practice.py
  backend/src/routers/practices.py
  backend/src/schemas/practice.py
  backend/src/schemas/practice_mode_config.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/security/test_idor.py
  backend/tests/test_migrations.py
  backend/tests/test_pagination.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

refactor(frontend-practice): ritual-06 follow-up - config doc, restart, NaN guard
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.test.tsx
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-practice): useRitualEngine hook + pure reducer/cues (ritual-06) (#309)
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.test.tsx
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): user-practice customization (ritual-03)
  backend/migrations/versions/f0a1b2c3d4e5_user_practice_overrides.py
  backend/src/domain/practice_resolution.py
  backend/src/models/user_practice.py
  backend/src/routers/user_practices.py
  backend/src/schemas/practice.py
  backend/tests/domain/test_practice_resolution.py
  backend/tests/test_user_practice_customization.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

feat(frontend-practice): mode views + audio/haptics adapters (ritual-07)
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-haptics.js
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
  frontend/src/features/Practice/engine/adapters/__tests__/haptics.test.ts
  frontend/src/features/Practice/engine/adapters/audio.ts
  frontend/src/features/Practice/engine/adapters/haptics.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/__tests__/CountUpTimerView.test.tsx
  frontend/src/features/Practice/views/__tests__/IntervalBellView.test.tsx
  frontend/src/features/Practice/views/__tests__/MeditationTimerView.test.tsx
  frontend/src/features/Practice/views/__tests__/MetronomeView.test.tsx
  frontend/src/features/Practice/views/__tests__/RepCounterView.test.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
  frontend/src/features/Practice/views/__tests__/fixtures.ts
  frontend/src/features/Practice/views/__tests__/formatTime.test.ts
  frontend/src/features/Practice/views/formatTime.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): session analytics + insights endpoint (ritual-04)
  backend/migrations/versions/f0a1b2c3d4e5_practice_session_metadata.py
  backend/src/domain/practice_insights.py
  backend/src/models/practice_session.py
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_insights.py
  backend/tests/test_practice_session_metadata.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

fix(frontend-course-map): clamp progress, guard unmount setstate
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend-practice): use real expo-av types, add 102/103/104 regression cases
  frontend/@types/expo-av.d.ts
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-practice): race-safe start, sound cleanup, pause guard
  frontend/src/features/Practice/PracticeTimer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(qa): mark prompt 14b done in index
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
