Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(frontend): keep triage responses on their own report, refresh the inbox, keep failed notes
  frontend/src/features/AdminFeedback/AdminFeedbackScreen.tsx
  frontend/src/features/AdminFeedback/__tests__/triageFlows.test.tsx
  frontend/src/features/AdminFeedback/__tests__/useFeedbackDetail.test.tsx
  frontend/src/features/AdminFeedback/components/TriageActions.tsx
  frontend/src/features/AdminFeedback/useFeedbackDetail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): prove the operator inbox is reachable from Settings and RootStack
  frontend/e2e/journeys.json
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/navigation/__tests__/RootStack.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): write issue drafts in the operator's own words
  frontend/e2e/admin-feedback-triage.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/features/AdminFeedback/__tests__/AdminFeedbackScreen.test.tsx
  frontend/src/features/AdminFeedback/__tests__/DraftPanel.test.tsx
  frontend/src/features/AdminFeedback/components/DraftPanel.tsx
  frontend/src/features/AdminFeedback/copy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): draft issues from the operator's words only, never the reporter's
  backend/openapi.json
  backend/src/domain/feedback_triage.py
  backend/src/routers/admin_feedback.py
  backend/src/schemas/feedback_admin.py
  backend/src/services/feedback_triage.py
  backend/tests/helpers/feedback_triage.py
  backend/tests/security/test_idor.py
  backend/tests/test_admin_feedback_authz.py
  backend/tests/test_admin_feedback_draft.py
  backend/tests/test_admin_feedback_mutations.py
  backend/tests/test_feedback_triage_domain.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

test(backend): pin the operator draft text bounds as literal numbers
  backend/tests/test_admin_feedback_draft.py
Due: backend-tests-coverage

test(backend): cover a triage command on an unknown reference
  backend/tests/test_admin_feedback_mutations.py
Due: backend-tests-coverage

fix(backend): redact links of every scheme, and the app's own deep links whole
  backend/src/security/secret_shapes.py
  backend/tests/security/test_secret_shapes.py
Due: backend-tests-coverage

fix(backend): make the triage command dispatch fail closed
  backend/src/routers/admin_feedback.py
  backend/tests/test_admin_feedback_dispatch.py
Due: backend-tests-coverage

fix(backend): rate limit the admin feedback inbox and detail reads
  backend/src/routers/admin_feedback.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

test(frontend): read feedback retention from the backend in the policy drift test
  frontend/src/features/Feedback/__tests__/feedbackPrivacyPolicyDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin the feedback Idempotency-Key length bound on both sides
  backend/tests/test_feedback_api.py
Due: backend-tests-coverage

refactor(backend): read triage row keys through persisted_id, never "or 0"
  backend/src/routers/admin_feedback.py
  backend/src/services/feedback_triage.py
  backend/tests/test_feedback_triage_persisted_id.py
Due: backend-tests-coverage

fix(backend): close feedback context tokens to the shipped vocabulary
  backend/openapi.json
  backend/src/models/feedback.py
  backend/src/schemas/feedback.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_data_export_api.py
  backend/tests/test_feedback_api.py
  frontend/e2e/admin-feedback-triage.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Feedback/__tests__/FeedbackComposer.test.tsx
  frontend/src/features/Feedback/__tests__/appBuildAndTokens.test.ts
  frontend/src/features/Feedback/__tests__/feedbackBoundsDrift.test.ts
  frontend/src/features/Feedback/feedbackBounds.ts
  frontend/src/features/Feedback/feedbackContext.ts
  frontend/src/features/Feedback/feedbackControlTokens.ts
  frontend/src/storage/feedbackDraftStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): pin every forbidden feedback context class
  backend/tests/test_feedback_api.py
Due: backend-tests-coverage

refactor(backend): share the per-request Postgres client and Sentry capture
  backend/tests/helpers/sentry_capture.py
  backend/tests/integration/conftest.py
  backend/tests/integration/session_per_request.py
  backend/tests/integration/test_feedback_triage_races.py
  backend/tests/test_error_monitoring.py
Due: backend-tests-coverage

fix(backend): disarm Sentry for real after a test capture
  backend/tests/helpers/sentry_capture.py
  backend/tests/test_error_monitoring.py
Due: backend-tests-coverage

test(backend): prove the intake race and the feedback log/Sentry privacy
  backend/tests/integration/test_feedback_intake_race.py
  backend/tests/security/test_feedback_repr.py
Due: backend-tests-coverage

test(e2e): prove feedback retrieval, refusal, export and erasure at the seam
  frontend/e2e/admin-feedback-triage.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): keep the limiter note out of the admin reads' OpenAPI text
  backend/src/routers/admin_feedback.py
Due: backend-tests-coverage

test(e2e): real-browser feedback origins, wire==preview and lost-send recovery
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/feedback-composer.browser.e2e.test.ts
  frontend/e2e/feedback-resilience.browser.e2e.test.ts
  frontend/e2e/feedbackBrowserSupport.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(qa): register the feedback journeys and a manual feedback pass
  docs/qa/full-stack-qa-runbook.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(journal): spell underline <u>…</u> behind one named constant
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/journalMarkdown.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownBlocks.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownCaret.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownLines.test.ts
  frontend/src/features/Journal/journalMarkdown.ts
  frontend/src/features/Journal/journalMarkdownCaret.ts
  frontend/src/features/Journal/journalMarkdownInline.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): toggle bold, italic and underline over the source
  frontend/src/features/Journal/__tests__/fixtures/journalMarkdownCorpus.ts
  frontend/src/features/Journal/__tests__/journalMarkdown.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownPurity.test.ts
  frontend/src/features/Journal/__tests__/markdownInlineToggle.test.ts
  frontend/src/features/Journal/journalMarkdownInline.ts
  frontend/src/features/Journal/journalMarkdownTypes.ts
  frontend/src/features/Journal/markdownInlineToggle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): map Cmd/Ctrl+B/I/U to pure editor commands
  frontend/src/features/Journal/__tests__/markdownCommands.test.ts
  frontend/src/features/Journal/markdownCommands.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): extract LiveMarkdownBody from the entry screen
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/useGrowingFieldHeight.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): keep the admin build filter on the grammar stored rows use
  backend/openapi.json
  backend/src/routers/admin_feedback.py
  backend/src/schemas/feedback.py
  backend/tests/test_admin_feedback_inbox.py
Due: backend-tests-coverage

test(backend): pin that a Sentry test reset leaves no transport
  backend/tests/test_error_monitoring.py
Due: backend-tests-coverage

feat(journal): model the live mirror's runs from the shared document
  frontend/src/features/Journal/__tests__/markdownMirror.test.ts
  frontend/src/features/Journal/markdownMirror.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin that a keyed replay is read-only and logs nothing new
  backend/tests/test_feedback_api.py
Due: backend-tests-coverage

feat(journal): draw the body's Markdown live behind the textarea on web
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/LiveMarkdownMirror.tsx
  frontend/src/features/Journal/LiveMarkdownStyles.ts
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/useLiveMirrorEnabled.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): format the body with Cmd/Ctrl+B, I and U
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/editorPrimaryModifier.test.ts
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/__tests__/webTextareaEdit.test.ts
  frontend/src/features/Journal/editorPrimaryModifier.ts
  frontend/src/features/Journal/markdownEditing.ts
  frontend/src/features/Journal/webTextareaEdit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add Bold, Italic and Underline toolbar actions
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/MarkdownFormatToolbar.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/MarkdownFormatToolbar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): lay the live mirror over the field, pointer events off
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/LiveMarkdownMirror.tsx
  frontend/src/features/Journal/LiveMarkdownStyles.ts
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/useLiveMirrorEnabled.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): cover live Markdown editing in the browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-live-markdown.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): step an empty nested list item out one level on Return
  frontend/src/features/Journal/__tests__/journalMarkdownEditing.contract.test.ts
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/__tests__/markdownIndent.test.ts
  frontend/src/features/Journal/markdownEditing.ts
  frontend/src/features/Journal/markdownIndent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): indent and outdent list items over a selection
  frontend/src/features/Journal/__tests__/markdownIndent.test.ts
  frontend/src/features/Journal/markdownIndent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): outdent a nested list item on Backspace
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/markdownEditing.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): indent list items with Tab and outdent with Shift+Tab
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/MarkdownFormatToolbar.test.tsx
  frontend/src/features/Journal/__tests__/markdownCommands.test.ts
  frontend/src/features/Journal/markdownCommands.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add Indent and Outdent toolbar actions on list items
  frontend/src/features/Journal/MarkdownFormatToolbar.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/MarkdownFormatToolbar.test.tsx
  frontend/src/features/Journal/__tests__/journalMarkdownEditing.contract.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
