Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(backend): backdated journal entry creation and timestamp-ordered listing
  backend/migrations/versions/f8a9b0c1d2e3_add_journalentry_user_timestamp_id_index.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/test_journal_api.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

refactor(backend): keep domain/creek_vault.py free of schema imports
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_client.py
Due: backend-tests-coverage

feat(backend): backdated journal entry creation and timestamp-ordered listing (#1817)
  backend/migrations/versions/f8a9b0c1d2e3_add_journalentry_user_timestamp_id_index.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/test_journal_api.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1817 (issue #1788, total 600)
  scripts/ralph/state.json
Due: none

chore(ralph): groom #59 reset at total 600
  scripts/ralph/state.json
Due: none

feat(graph): add pinned graphify knowledge-graph build tooling
  .gitignore
  .graphifyignore
  .pre-commit-config.yaml
  scripts/graph/README.md
  scripts/graph/build.sh
  scripts/graph/requirements.txt
  scripts/graph/update.sh
Due: none

docs(graph): record graphifyy provenance verification
  scripts/graph/README.md
Due: none

fix(backend): degrade Creek Vault capability path on a non-JSON body
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_client.py
Due: backend-tests-coverage

chore(deps): add dependabot coverage for scripts/graph pip pin
  .github/dependabot.yml
Due: none

feat(backend): Creek Vault MCP client seam + capability handshake + local fallback (#1816)
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_client.py
  backend/tests/test_creek_vault_domain.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1816 (issue #951, total 601)
  scripts/ralph/state.json
Due: none

feat(graph): add pinned graphify knowledge-graph build tooling (#1818)
  .github/dependabot.yml
  .gitignore
  .graphifyignore
  .pre-commit-config.yaml
  scripts/graph/README.md
  scripts/graph/build.sh
  scripts/graph/requirements.txt
  scripts/graph/update.sh
Due: none

chore(ralph): state bump — merge #1818 (issue #1801, total 602)
  scripts/ralph/state.json
Due: none

docs(graph): add canonical APTITUDE / Wavelength ontology spine
  graph/ontology-spine.md
Due: none

docs(graph): add canonical APTITUDE / Wavelength ontology spine (#1827)
  graph/ontology-spine.md
Due: none

chore(ralph): state bump — merge #1827 (issue #1805, total 603)
  scripts/ralph/state.json
Due: none

feat(graph): steer sessions to graphify via CLAUDE.md + PreToolUse hook-guard
  .claude/settings.json
  CLAUDE.md
  scripts/graph/test_hook_guards.sh
Due: none

feat(full-stack): surface each Stage's integrated vs shadow expression on the stage-detail modal
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_stages_api.py
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/StageExpressionsSection.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/StageExpressionsSection.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/store/__tests__/useStageStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(graph): steer sessions to graphify via CLAUDE.md + PreToolUse hook-guard (#1828)
  .claude/settings.json
  CLAUDE.md
  scripts/graph/test_hook_guards.sh
Due: none

chore(ralph): state bump — merge #1828 (issue #1802, total 604)
  scripts/ralph/state.json
Due: none

ci(graph): publish a rolling knowledge-graph release on every main push
  .github/workflows/graph-build.yml
  scripts/graph/README.md
Due: none

ci(graph): disable checkout credential persistence
  .github/workflows/graph-build.yml
Due: none

feat(full-stack): surface each Stage's integrated vs shadow expression on the stage-detail modal (#1829)
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_stages_api.py
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/StageExpressionsSection.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/StageExpressionsSection.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/store/__tests__/useStageStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(ralph): state bump — merge #1829 (issue #1018, total 605)
  scripts/ralph/state.json
Due: none

chore(ralph): de-slop scan dispatched at total 605, counter reset
  scripts/ralph/state.json
Due: none

ci(graph): rolling knowledge-graph release + main freshness (#1830)
  .github/workflows/graph-build.yml
  scripts/graph/README.md
Due: none

chore(ralph): state bump — merge #1830 (issue #1803, total 606)
  scripts/ralph/state.json
Due: none

feat(graph): add weekly LLM semantic-extraction workflow for the docs corpus
  .github/workflows/graph-semantic.yml
  .graphifyignore
  scripts/graph/README.md
Due: none

feat(journal): drawer search over entry titles with confirm-gated body search
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
  frontend/src/features/Journal/usePagedJournal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(graph): pass explicit --out to the semantic extract step
  .github/workflows/graph-semantic.yml
Due: none

feat(graph): weekly LLM semantic extraction of the docs corpus (#1831)
  .github/workflows/graph-semantic.yml
  .graphifyignore
  scripts/graph/README.md
Due: none

chore(ralph): state bump — merge #1831 (issue #1804, total 607)
  scripts/ralph/state.json
Due: none

feat(journal): surface deep-search sweep in-flight and error states in drawer
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): drawer search over entry titles with confirm-gated body search (#1832)
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
  frontend/src/features/Journal/usePagedJournal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1832 (issue #1773, total 608)
  scripts/ralph/state.json
Due: none

feat(graph): nightly pan-graph federation of the five ecosystem repos
  .github/workflows/graph-federate.yml
  scripts/graph/README.md
Due: none

feat(graph): nightly pan-graph federation of the five ecosystem repos (#1833)
  .github/workflows/graph-federate.yml
  scripts/graph/README.md
Due: none

chore(ralph): state bump — merge #1833 (issue #1806, total 609)
  scripts/ralph/state.json
Due: none

docs(ralph): thread graph-first orientation into fleet operating documents
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/shared/adepthood-constraints.md
  scripts/ralph/PROMPT.md
Due: none

docs(fleet): correct the graph restore mechanism reference
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/shared/adepthood-constraints.md
  scripts/ralph/PROMPT.md
Due: none
