Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(deps): defer SDK-tied RN bump to Expo SDK 53 epic; adopt rest of group
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/components/onboardingValidation.ts
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/data/decks/rws.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Today/TodayScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): tile goal tooltip fraction shares the star's daily-normalized scale (#1304)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): re-apply and verify the dependencies label on bridge issues
  .github/workflows/dependabot-to-ralph-issue.yml
Due: none

fix(ci): link the Dependabot PR before the label-verify failure
  .github/workflows/dependabot-to-ralph-issue.yml
Due: none

refactor(habits): consolidate index-to-stage logic into one stageAtIndex helper
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): distinguish label-verify read flake from a permission gap
  .github/workflows/dependabot-to-ralph-issue.yml
Due: none

refactor(habits): consolidate index-to-stage logic into one stageAtIndex helper (#1316)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): adapt validation call sites to zod 4 API
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(ci): point both label-verify failures to the manual-label fix
  .github/workflows/dependabot-to-ralph-issue.yml
Due: none

refactor(habits): unify subtractive-polarity onto the any-non-additive rule
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): unify subtractive-polarity onto the any-non-additive rule (#1317)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): keep the reconciler batch going past a single label-verify failure
  .github/workflows/dependabot-to-ralph-issue.yml
Due: none

fix(ci): re-apply and verify the dependencies label on Dependabot bridge issues (#1315)
  .github/workflows/dependabot-to-ralph-issue.yml
Due: none

fix(frontend): anchor journal habits tile denominator to stage-unlocked habits
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): fit the full 10-tile habit set on one phone screen
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): key habit unlock off the habit's own stage, not list position
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): fit the full 10-tile habit set on one phone screen (#1345)
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): anchor journal habits tile denominator to stage-unlocked habits (#1344)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): gate tier/chord PATCH on failed entry load
  frontend/src/components/RadioOption.tsx
  frontend/src/components/__tests__/RadioOption.test.tsx
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): gate tier/chord PATCH on failed entry load (#1346)
  frontend/src/components/RadioOption.tsx
  frontend/src/components/__tests__/RadioOption.test.tsx
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): gate tier/chord controls during the in-flight entry load
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): lock habits by default with user-controlled unlock
  backend/migrations/versions/e6f7a8b9c0d2_add_habit_revealed.py
  backend/src/models/habit.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/__tests__/UnlockAll.test.tsx
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): gate tier/chord controls during the in-flight entry load (#1348)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): revert dismiss by re-inserting the row, not a stale snapshot
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): revert dismiss by re-inserting the row, not a stale snapshot (#1359)
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(storage): extract shared secure-string store factory
  frontend/SECURITY.md
  frontend/src/storage/__tests__/secureStringStore.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/llmKeyStorage.ts
  frontend/src/storage/secureStringStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): lock habits by default with user-controlled unlock (#1349)
  backend/migrations/versions/e6f7a8b9c0d2_add_habit_revealed.py
  backend/src/models/habit.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/__tests__/UnlockAll.test.tsx
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(storage): extract shared secure-string store factory (#1363)
  frontend/SECURITY.md
  frontend/src/storage/__tests__/secureStringStore.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/llmKeyStorage.ts
  frontend/src/storage/secureStringStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): paginate a second habit set covering stages 11-20
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): paginate a second habit set covering stages 11-20 (#1364)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsContent.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenA11y.test.tsx
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): compute missed-days modal dates in the user's timezone
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): compute missed-days modal dates in the user's timezone (#1365)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/__tests__/MissedDaysModal.test.tsx
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): extract a shared ModalHeader primitive across the Habits modals
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/ModalHeader.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/ModalHeader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): key goal-completion uniqueness on user-local day, not UTC day
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/d4e5f6a7b8c9_goal_completion_unique_per_day_and_index.py
  backend/migrations/versions/f7a8b9c0d1e3_goal_completion_local_day.py
  backend/src/models/goal_completion.py
  backend/src/services/checkin.py
  backend/tests/test_goal_completions.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

refactor(habits): extract a shared ModalHeader primitive across the Habits modals (#1366)
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/ModalHeader.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/ModalHeader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): key goal-completion uniqueness on user-local day, not UTC day (#1367)
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/d4e5f6a7b8c9_goal_completion_unique_per_day_and_index.py
  backend/migrations/versions/f7a8b9c0d1e3_goal_completion_local_day.py
  backend/src/models/goal_completion.py
  backend/src/services/checkin.py
  backend/tests/test_goal_completions.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

test(map): strengthen coverage-theater assertions in Map history/layout/copy-intent tests
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/copyIntentRule.test.ts
  frontend/src/features/Map/__tests__/mapLayout.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(map): strengthen coverage-theater assertions in Map history/layout/copy-intent tests (#1368)
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/copyIntentRule.test.ts
  frontend/src/features/Map/__tests__/mapLayout.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): guard useShelf load against stale-response race
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): guard useShelf load against stale-response race (#1370)
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
