Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(backend): an entry is marked as reached only once a provider was actually asked (#2589)
  backend/src/routers/journal.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/src/services/frequency_classification.py
  backend/src/services/frequency_source.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/services/test_frequency_classification.py
  backend/tests/services/test_frequency_source.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_corpus_import.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(e2e): point the Return recovery gap at its own tracking issue
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(return): a habit set down in a Return you left is still yours to take back (#2588)
  backend/openapi.json
  backend/src/dependencies/ownership.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/routers/test_metta_return_habit_release.py
  backend/tests/security/test_idor.py
  frontend/e2e/journeys.json
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnRecommitSection.tsx
  frontend/src/features/Return/ReturnRestingCard.tsx
  frontend/src/features/Return/ReturnStack.tsx
  frontend/src/features/Return/__tests__/ReturnRestingCard.test.tsx
  frontend/src/features/Return/__tests__/ReturnStack.test.tsx
  frontend/src/features/Return/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(full-stack): the app says where a reflection came from, and what would actually change it
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/src/schemas/voice_readiness.py
  backend/src/services/corpus_store.py
  backend/src/services/voice_readiness.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_voice_readiness.py
  backend/tests/test_corpus_voice_readiness_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/voice-readiness.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/storage/__tests__/voiceReadinessDismissalStorage.test.ts
  frontend/src/storage/voiceReadinessDismissalStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(full-stack): the app says where a reflection came from, and what would actually change it (#2616)
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/src/schemas/voice_readiness.py
  backend/src/services/corpus_store.py
  backend/src/services/voice_readiness.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_voice_readiness.py
  backend/tests/test_corpus_voice_readiness_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/voice-readiness.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/storage/__tests__/voiceReadinessDismissalStorage.test.ts
  frontend/src/storage/voiceReadinessDismissalStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): a timed-out test stops taking its neighbours down with it
  frontend/__tests__/fixtures/timeoutCascade.test.tsx
  frontend/__tests__/jestWorkerMemoryBound.test.ts
  frontend/__tests__/timeoutCascade.test.ts
  frontend/jest.config.js
  frontend/jest.setup.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): a timed-out test stops taking its neighbours down with it (#2618)
  frontend/__tests__/fixtures/timeoutCascade.test.tsx
  frontend/__tests__/jestWorkerMemoryBound.test.ts
  frontend/__tests__/timeoutCascade.test.ts
  frontend/jest.config.js
  frontend/jest.setup.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): a corpus write stops holding the pool while a provider thinks
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/test_corpus_import.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): a vault name lookup stops renting a database connection while it waits
  backend/src/dependencies/creek_vault.py
  backend/src/routers/vault_config.py
  backend/src/services/creek_vault_url_resolution.py
  backend/tests/security/test_resolver_seam.py
  backend/tests/security/test_ssrf_vault_url.py
  backend/tests/security/test_vault_host_resolution.py
Due: backend-tests-coverage

fix(backend): a corpus write stops holding the pool while a provider thinks (#2620)
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/test_corpus_import.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): a vault name lookup stops renting a database connection while it waits (#2624)
  backend/src/dependencies/creek_vault.py
  backend/src/routers/vault_config.py
  backend/src/services/creek_vault_url_resolution.py
  backend/tests/security/test_resolver_seam.py
  backend/tests/security/test_ssrf_vault_url.py
  backend/tests/security/test_vault_host_resolution.py
Due: backend-tests-coverage

fix(habits): a habit brought along from before the program stops moving its beginning
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): a name parser stops trusting the shapes an attacker picks
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): a name parser stops trusting the shapes an attacker picks (#2628)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(habits): the reorder pass stops handing the program's own first day to a carryover habit
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): the writing page takes a length, and says what came of it
  frontend/e2e/journeys.json
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionBanner.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/writingSession.test.ts
  frontend/src/features/Journal/__tests__/writingTimerCopy.test.ts
  frontend/src/features/Journal/__tests__/writingTimerLayout.test.tsx
  frontend/src/features/Journal/__tests__/writingTimerScope.test.ts
  frontend/src/features/Journal/__tests__/writingTimerView.test.ts
  frontend/src/features/Journal/writingSession.ts
  frontend/src/features/Journal/writingTimerCopy.ts
  frontend/src/features/Journal/writingTimerView.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): a resolver with two ways out lets go of the connection down both
  backend/src/dependencies/creek_vault.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/support/__init__.py
  backend/tests/support/outbound_boundary.py
Due: backend-tests-coverage

fix(habits): the reorder date commits with the order it describes, and every row names its own stage
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): the timer fits the space reserved for it, and reports only time spent
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/writingSession.test.ts
  frontend/src/features/Journal/__tests__/writingTimerLayout.test.tsx
  frontend/src/features/Journal/writingSession.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(habits): the empty-date guard gets a test that can fail again
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): the writing page takes a length, and says what came of it (#2629)
  frontend/e2e/journeys.json
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionBanner.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/writingSession.test.ts
  frontend/src/features/Journal/__tests__/writingTimerCopy.test.ts
  frontend/src/features/Journal/__tests__/writingTimerLayout.test.tsx
  frontend/src/features/Journal/__tests__/writingTimerScope.test.ts
  frontend/src/features/Journal/__tests__/writingTimerView.test.ts
  frontend/src/features/Journal/writingSession.ts
  frontend/src/features/Journal/writingTimerCopy.ts
  frontend/src/features/Journal/writingTimerView.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): a resolver with two ways out lets go of the connection down both (#2630)
  backend/src/dependencies/creek_vault.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/support/__init__.py
  backend/tests/support/outbound_boundary.py
Due: backend-tests-coverage

fix(habits): a habit brought along from before the program stops moving its beginning (#2625)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): scaffolding again keeps the habits you already built
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): a reading of the source says which routes dial while holding a connection
  backend/tests/architecture/__init__.py
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/security/test_resolver_seam.py
Due: backend-tests-coverage

fix(habits): letting the same habit go twice does not bring it back
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): the reading of the source stops trusting the paths it never walked
  backend/tests/architecture/marked_fixtures/__init__.py
  backend/tests/architecture/marked_fixtures/module_scope_xfail.py
  backend/tests/architecture/marked_fixtures/skipped.py
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_resolver_seam.py
Due: backend-tests-coverage

test(backend): a reading of the source says which routes dial while holding a connection (#2632)
  backend/tests/architecture/__init__.py
  backend/tests/architecture/marked_fixtures/__init__.py
  backend/tests/architecture/marked_fixtures/module_scope_xfail.py
  backend/tests/architecture/marked_fixtures/skipped.py
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/security/test_resolver_seam.py
Due: backend-tests-coverage

fix(habits): a habit you did not mention keeps its place and its beginning
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): scaffolding again keeps the habits you already built (#2633)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): a note about a finished session outlives a session you abandon
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): a note about a finished session outlives a session you abandon (#2635)
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): scaffolding again asks about the habits you already have
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/OnboardingReviewStep.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reviewStep.test.tsx
  frontend/src/features/Habits/components/__tests__/onboardingReview.test.ts
  frontend/src/features/Habits/components/onboardingReview.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): a habit brought along stops moving the program calendar
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reviewStep.test.tsx
  frontend/src/features/Habits/components/onboardingReview.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): polish the writing surface
  frontend/src/__tests__/index.test.ts
  frontend/src/components/drawer/DrawerToggle.tsx
  frontend/src/components/drawer/ScreenDrawer.tsx
  frontend/src/components/drawer/__tests__/ScreenDrawer.test.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/markdownEditing.ts
  frontend/src/index.ts
  frontend/src/utils/__tests__/webSelection.test.ts
  frontend/src/utils/webSelection.ts
  prompts/github-issues/journal-writing-surface-polish.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): polish the writing surface (#2637)
  frontend/src/__tests__/index.test.ts
  frontend/src/components/drawer/DrawerToggle.tsx
  frontend/src/components/drawer/ScreenDrawer.tsx
  frontend/src/components/drawer/__tests__/ScreenDrawer.test.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/markdownEditing.ts
  frontend/src/index.ts
  frontend/src/utils/__tests__/webSelection.test.ts
  frontend/src/utils/webSelection.ts
  prompts/github-issues/journal-writing-surface-polish.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): restore scrolling and atomic autosave
  backend/openapi.json
  backend/src/schemas/journal.py
  backend/tests/test_journal_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(frontend): align Expo SDK patch versions
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(frontend): align Expo SDK patch versions (#2641)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(journal): restore scrolling and atomic autosave (#2639)
  backend/openapi.json
  backend/src/schemas/journal.py
  backend/tests/test_journal_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
