Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

refactor(frontend): minimalist recipe-library modals pass (#668)
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): make practice sharing real — wire the ShareSheet into detail
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): make practice sharing real — wire the ShareSheet into detail (#669)
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): add a dedicated subtle-divider colour token
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): add a dedicated subtle-divider colour token (#670)
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): pin Anthropic SDK so the Claude headline actually fires
  .github/workflows/ralph-recap.yml
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(ralph): post Discord recap to a channel on every PR merge (#667)
  .github/workflows/ralph-recap-tests.yml
  .github/workflows/ralph-recap.yml
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

test(backend): cover the marginalia owner invariant at the write layer
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

test(backend): cover the marginalia owner invariant at the write layer (#671)
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

fix(backend): align journal GET/DELETE to 404 for other-user (match PATCH)
  backend/src/dependencies/ownership.py
  backend/src/routers/journal.py
  backend/tests/security/test_idor.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): align journal GET/DELETE to 404 for other-user (match PATCH) (#672)
  backend/src/dependencies/ownership.py
  backend/src/routers/journal.py
  backend/tests/security/test_idor.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(frontend): show friendly offline copy for raw fetch failures
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): accept the weekly_prompt journal tag in the list schema
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): keep the Get Resonance button from overlapping page content
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover the offline fetch fragment; drop a redundant comment
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): journal load failures + Get Resonance overlap (#673)
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): purge chat-era wording from user-facing error copy
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(roadmap): reconcile phase-6 epic + phase-7-05 stub doc with reality
  prompts/github-issues/phase-6-epic.md
  prompts/github-issues/phase-7-05-complete-stubs.md
Due: none

refactor(backend): retire chat-era debris in LLM service + model docs
  backend/src/models/chat_spend.py
  backend/src/models/llm_usage_log.py
  backend/src/services/botmason.py
Due: backend-tests-coverage

docs(audit): add 2026-06-28 v2 regression + post-pivot consistency audit
  prompts/github-issues/2026-06-28_ADEPTHOOD_AUDIT_v2.md
Due: none

feat(ci): add weekly de-slopify code-quality detector skill + action
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/detection-playbook.md
  .claude/skills/de-slopify/references/issue-templates.md
  .claude/skills/de-slopify/references/slop-taxonomy.md
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

docs(journal): add floating-page depth & polish epic
  prompts/github-issues/README.md
  prompts/github-issues/journal-depth-01-elevation-tokens.md
  prompts/github-issues/journal-depth-02-floating-writing-sheet.md
  prompts/github-issues/journal-depth-03-ruled-margins-and-texture.md
  prompts/github-issues/journal-depth-04-lift-marginalia-notes.md
  prompts/github-issues/journal-depth-05-floating-shelf-cards.md
  prompts/github-issues/journal-depth-06-motion-and-micro-interactions.md
  prompts/github-issues/journal-depth-epic.md
Due: none

fix(frontend): re-sync program anchor on every habit load so all nav screens align
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): save & reflect practice selection for the current stage
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(issues): epic to fix journal load failure + harden API route-contract
  prompts/github-issues/README.md
  prompts/github-issues/journal-load-fix-01-collection-trailing-slash.md
  prompts/github-issues/journal-load-fix-02-api-route-contract-audit.md
  prompts/github-issues/journal-load-fix-03-network-error-classification.md
  prompts/github-issues/journal-load-fix-04-backend-route-contract-guard.md
  prompts/github-issues/journal-load-fix-epic.md
Due: none

ci: skip claude-review on dependabot PRs (unblock the required check)
  .github/workflows/claude-code-review.yml
Due: none

ci: skip claude-review on dependabot PRs (unblock the required check) (#685)
  .github/workflows/claude-code-review.yml
Due: none

docs(journal): add floating-page depth & polish epic (#675)
  prompts/github-issues/README.md
  prompts/github-issues/journal-depth-01-elevation-tokens.md
  prompts/github-issues/journal-depth-02-floating-writing-sheet.md
  prompts/github-issues/journal-depth-03-ruled-margins-and-texture.md
  prompts/github-issues/journal-depth-04-lift-marginalia-notes.md
  prompts/github-issues/journal-depth-05-floating-shelf-cards.md
  prompts/github-issues/journal-depth-06-motion-and-micro-interactions.md
  prompts/github-issues/journal-depth-epic.md
Due: none

fix(frontend): re-sync program anchor on every habit load so all nav screens align (#674)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

style(frontend): prettier-format after merging main (#677)
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deslop): add detect-secrets to evidence + stop weekly report-issue flood (#676)
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

fix(ci): skip Ralph recap post when Discord config is unset
  .github/workflows/ralph-recap.yml
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

Refresh Practice screen on focus after catalog selection (#677)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Add de-slopify skill: comprehensive code-quality auditor (#676)
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/detection-playbook.md
  .claude/skills/de-slopify/references/issue-templates.md
  .claude/skills/de-slopify/references/slop-taxonomy.md
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

fix(ci): skip Ralph recap post when Discord config is unset (#686)
  .github/workflows/ralph-recap.yml
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(frontend): editorial elevation tokens (desk ground + paper shadow)
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): editorial elevation tokens (desk ground + paper shadow) (#687)
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): read Ralph recap channel ID from secrets, not vars
  .github/workflows/ralph-recap.yml
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(frontend): float the writing surface as a paper sheet
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): float the writing surface as a paper sheet (#689)
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
