Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(frontend): fetch current_stage from backend truth (BUG-FE-MAP/COURSE/PRACTICE-001/-002)
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/PracticeScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): extract create_user_practice validation helpers
  backend/src/routers/user_practices.py
Due: backend-tests-coverage

docs(remediation): tick Prompt 03 row with PR #247
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

refactor(backend): address PR #247 review — remove suppressors, consolidate constants
  backend/migrations/versions/c0d1e2f3a4b5_audit_completed_stages_gaps.py
  backend/src/domain/constants.py
  backend/src/domain/stage_progress.py
  backend/src/routers/admin.py
  backend/src/routers/course.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/src/schemas/admin.py
  backend/src/schemas/practice.py
  backend/src/schemas/stage.py
  backend/tests/test_admin_stage_progress.py
  backend/tests/test_stages_api.py
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/PracticeScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): fix 409 fixture to honor canonical invariant
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

refactor(backend): decouple next_stage_for from HTTP + audit repair
  backend/src/domain/stage_progress.py
  backend/src/routers/admin.py
  backend/src/routers/stages.py
  backend/tests/domain/test_next_stage_for.py
Due: backend-tests-coverage

refactor(backend): extract progress helpers to keep xenon A-grade
  backend/src/routers/stages.py
Due: backend-tests-coverage

chore(backend): audit legacy completed_stages gaps (#247)
  backend/migrations/versions/c0d1e2f3a4b5_audit_completed_stages_gaps.py
  backend/src/domain/constants.py
  backend/src/domain/stage_progress.py
  backend/src/routers/admin.py
  backend/src/routers/course.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/src/schemas/admin.py
  backend/src/schemas/practice.py
  backend/src/schemas/stage.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_admin_stage_progress.py
  backend/tests/test_course_api.py
  backend/tests/test_prompts_api.py
  backend/tests/test_stages_api.py
  backend/tests/test_user_practices_api.py
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): add sanitize_user_text helper with full unicode test matrix
  backend/src/security/__init__.py
  backend/src/security/text_sanitize.py
  backend/tests/security/__init__.py
  backend/tests/security/test_text_sanitize.py
Due: backend-tests-coverage

fix(backend): sanitize journal, weekly-prompt, and botmason-history inputs
  backend/src/routers/journal.py
  backend/src/routers/prompts.py
  backend/src/services/botmason.py
  backend/src/services/journal.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_input_sanitization.py
Due: backend-tests-coverage

fix(backend): validate X-Request-ID against strict allow-list
  backend/src/observability.py
  backend/tests/test_observability.py
Due: backend-tests-coverage

docs(frontend): document web JWT fallback XSS risk; add lint-rule note
  frontend/SECURITY.md
  frontend/src/storage/authStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(prompts): mark prompt 04 status row as complete
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(security): address PR #259 review (vacuous assertion, 422 path, doc accuracy)
  backend/src/errors.py
  backend/src/routers/journal.py
  backend/src/routers/prompts.py
  backend/src/security/text_sanitize.py
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_input_sanitization.py
  backend/tests/test_observability.py
  frontend/SECURITY.md
  frontend/src/storage/authStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(security): centralize sanitize_user_text + harden LLM/log boundaries (#259)
  backend/src/errors.py
  backend/src/observability.py
  backend/src/routers/journal.py
  backend/src/routers/prompts.py
  backend/src/security/__init__.py
  backend/src/security/text_sanitize.py
  backend/src/services/botmason.py
  backend/src/services/journal.py
  backend/tests/security/__init__.py
  backend/tests/security/test_text_sanitize.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/test_input_sanitization.py
  backend/tests/test_observability.py
  frontend/SECURITY.md
  frontend/src/storage/authStorage.ts
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): add User.timezone + dates domain utils
  backend/migrations/versions/d1e2f3a4b5c6_add_user_timezone.py
  backend/requirements.txt
  backend/src/domain/dates.py
  backend/src/models/user.py
  backend/tests/domain/test_dates.py
Due: backend-tests-coverage

fix(backend): compute streaks + daily completions in user TZ
  backend/src/domain/dates.py
  backend/src/domain/habit_stats.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/user_practices.py
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
Due: backend-tests-coverage

fix(frontend): centralize dateUtils; migrate Habit stats + streak
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(prompts): mark prompt 05 status row as complete
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

refactor(backend): split _resolve_zone to keep xenon rank A
  backend/src/domain/dates.py
Due: backend-tests-coverage

fix(tz): close PR #260 review feedback (write path, IANA validation, noqa)
  backend/src/domain/dates.py
  backend/src/domain/habit_stats.py
  backend/src/routers/auth.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/user_practices.py
  backend/src/services/streaks.py
  backend/src/services/users.py
  backend/tests/test_auth.py
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): split signup timezone validator to keep xenon rank A
  backend/src/routers/auth.py
Due: backend-tests-coverage

fix(tz): close PR #260 review round 2 (addDaysInTZ + AuthResponse wiring)
  backend/src/routers/auth.py
  backend/src/services/users.py
  backend/tests/services/test_streaks.py
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(tz): close PR #260 review round 3 (cold-start refresh + dayLabel anchor)
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(tz): close PR #260 review round 4 (backend recency gate + race guard)
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_auth.py
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): split _completed_user_dates to keep xenon rank A
  backend/src/services/streaks.py
Due: backend-tests-coverage

fix(tz): close PR #260 review round 5 (query order + JSON assertions)
  backend/src/routers/goal_completions.py
  backend/src/services/streaks.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(tz): close PR #260 review round 6 (habit_stats recency gate)
  backend/src/domain/habit_stats.py
  backend/tests/services/test_streaks.py
  backend/tests/test_habit_stats_api.py
Due: backend-tests-coverage

fix(tz): centralize date/TZ utils + close streak/completion drift (#260)
  backend/migrations/versions/d1e2f3a4b5c6_add_user_timezone.py
  backend/requirements.txt
  backend/src/domain/dates.py
  backend/src/domain/habit_stats.py
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/user_practices.py
  backend/src/services/streaks.py
  backend/src/services/users.py
  backend/tests/domain/test_dates.py
  backend/tests/services/test_streaks.py
  backend/tests/test_auth.py
  backend/tests/test_habit_stats_api.py
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): drop signup pre-check, serialize login lockout (BUG-AUTH-003/007)
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

feat(backend): derive practice duration server-side (BUG-PRACTICE-006)
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice.py
  backend/tests/test_cors.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_integration.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(backend): clamp EnergyPlanRequest values (BUG-SCHEMA-007)
  backend/src/schemas/energy.py
  backend/tests/test_energy_integration.py
Due: backend-tests-coverage

fix(frontend): use wall-clock for practice timer (BUG-FE-PRACTICE-101)
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): lowercase login email client-side (BUG-FE-AUTH-015)
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(goals): catch IntegrityError on daily completion (BUG-GOAL-001)
  backend/conftest.py
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(course): add contentcompletion unique constraint + race-safe mark-read
  backend/conftest.py
  backend/migrations/versions/e1f2a3b4c5d6_contentcompletion_unique_user_content.py
  backend/src/models/content_completion.py
  backend/src/routers/course.py
  backend/tests/test_course_api.py
Due: backend-tests-coverage

refactor(backend): extract practice session window validator
  backend/src/schemas/practice.py
Due: backend-tests-coverage

fix(prompts): collapse duplicate-response 400/409 split (BUG-PROMPT-004)
  backend/src/routers/prompts.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

fix(practices): rely on partial unique index for active-practice (BUG-PRACTICE-005)
  backend/conftest.py
  backend/src/models/user_practice.py
  backend/src/routers/user_practices.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(stages): close first-advance create-path race (BUG-STAGE-003)
  backend/src/routers/stages.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage
