Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(frontend): say how to proceed when AI is refused without a payer (#3096)
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/ResonanceRefillDialog.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/ResonanceRefillDialogPayer.test.tsx
  frontend/src/features/Journal/__tests__/TranscriptionPayerRefusal.test.tsx
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): register erase-locally and the obligation columns in the totality gates
  backend/openapi.json
  backend/tests/security/test_egress_barrier_totality.py
  backend/tests/test_column_classification.py
Due: backend-tests-coverage

docs(deploy): document the payer gate and the stub test seam (#3096)
  DEPLOYMENT.md
  frontend/e2e/globalSetup.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): treat a pending_delete page as a deletion in progress
  backend/src/routers/journal.py
  backend/src/routers/promotions.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/journal_withdrawal_obligation.py
  backend/tests/test_journal_deletion_in_progress.py
Due: backend-tests-coverage

test(backend): make the cross-tenant erase-locally test discriminating
  backend/tests/security/test_idor.py
  backend/tests/test_journal_unreachable_vault.py
Due: backend-tests-coverage

test(backend): restore a real dial spy on the disconnected-vault case
  backend/tests/test_vault_destination_binding.py
Due: backend-tests-coverage

test(backend): cover erase-locally when the connected vault itself fails
  backend/tests/test_journal_unreachable_vault.py
Due: backend-tests-coverage

fix(frontend): preserve habit tier interactions
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.markerDrag.test.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.starLongPress.test.tsx
  frontend/src/features/Habits/hooks/useStarFill.ts
  frontend/src/features/Habits/markerDrag.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): say a recorded deletion is in progress, not that it failed
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDelete.test.tsx
  frontend/src/features/Journal/deleteEntryCopy.ts
  frontend/src/features/Journal/journalSaveRetry.ts
  frontend/src/features/Journal/useEntryDeletion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): gate the unavailable local model
  frontend/e2e/journeys.json
  frontend/src/constants/localModel.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/localModelCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(privacy): describe the deletion-in-progress state in the erasure plan
  docs/privacy/gdpr-erasure-unreachable-vaults.md
Due: none

fix(backend): declare the deletion-in-progress 409 on the promotions router
  backend/openapi.json
  backend/src/routers/promotions.py
  backend/tests/test_openapi_error_contract.py
Due: backend-tests-coverage

fix(backend): keep generate_response at rank A; refresh openapi.json (#3096)
  backend/openapi.json
  backend/src/services/botmason.py
  backend/tests/test_generation_payer_invariants.py
Due: backend-tests-coverage

test(e2e): declare the gated local-model journey
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

B01: make the privacy policy, Your data, terms and delete-account copy true today (#3114)
  README.md
  backend/src/privacy/recipients.py
  backend/tests/security/test_recipient_policy_reconciliation.py
  backend/tests/security/test_recipient_register.py
  backend/tests/test_course_schedule_copy.py
  backend/tests/test_deletion_backup_copy.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/your-data.md
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.test.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/observability/__tests__/sentryPolicyDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): preserve timer and tier spacing
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): corpus backfill skips a page whose deletion is in progress
  backend/src/services/corpus_backfill.py
  backend/src/services/journal_withdrawal_obligation.py
  backend/tests/services/test_corpus_backfill.py
Due: backend-tests-coverage

fix(backend): keep a page being deleted out of reflection grounding
  backend/src/routers/journal.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_prior_letters_grounding.py
Due: backend-tests-coverage

test(backend): pin the deletion-in-progress 409 on detection and essays
  backend/tests/test_journal_deletion_in_progress.py
Due: backend-tests-coverage

fix(frontend): close visual review gaps
  frontend/e2e/journal-writing-timer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): re-check a deletion in progress under the account barrier
  backend/src/routers/journal.py
  backend/src/services/journal_vault_withdrawal.py
  backend/src/services/journal_withdrawal_obligation.py
  backend/tests/test_journal_deletion_in_progress_races.py
Due: backend-tests-coverage

refactor(backend): drop the dead drafts_withdrawn sweep field
  backend/src/services/creek_vault_voice_drafts.py
  backend/tests/test_journal_deletion_in_progress.py
Due: backend-tests-coverage

fix(backend): a payer refusal never withholds care from a distressed entry (#3096)
  backend/src/routers/journal.py
  backend/tests/test_generation_payer.py
  backend/tests/test_generation_payer_invariants.py
Due: backend-tests-coverage

feat(settings): reorder the hub, Journal switches, sorting on the hub, local-model switch (#3033)
  frontend/e2e/journal-morning-pages-never-offer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/constants/localModel.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/__tests__/saveAsHabitCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/features/Journal/saveAsHabitCopy.ts
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/CorpusConsentRows.tsx
  frontend/src/features/Settings/CorpusConsentScreen.tsx
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/JournalSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/journalOfferSwitches.test.ts
  frontend/src/features/Settings/__tests__/settingsTypeRamp.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
  frontend/src/features/Settings/journalOfferSwitches.ts
  frontend/src/features/Settings/localModelCopy.ts
  frontend/src/features/Settings/shared/SettingsSwitch.tsx
  frontend/src/features/Settings/shared/SettingsSwitchRow.tsx
  frontend/src/features/Settings/useOfferSwitch.ts
  frontend/src/features/Settings/vaultCopy.ts
  frontend/src/storage/__tests__/linkHabitNudgeStorage.test.ts
  frontend/src/storage/__tests__/localModelStorage.test.ts
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/linkHabitNudgeStorage.ts
  frontend/src/storage/localModelStorage.ts
  frontend/src/storage/morningPagesTipStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): refuse an armed stub seam on every deployed boot (#3096)
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/tests/test_generation_payer.py
Due: backend-tests-coverage

test(backend): pin the pre-charge model_lacks_vision guard under the payer gate (#3096)
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

docs(e2e): track the payer-refusal journey gap under open #3062 (#3096)
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): stop retrying a Finish on a page being deleted
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): never serve stub output stored before the payer gate (#3096)
  backend/src/routers/journal.py
  backend/src/services/demo_visibility.py
  backend/tests/test_stored_demo_hidden.py
Due: backend-tests-coverage

fix(frontend): treat delete-here-only after the sweep finished as done
  frontend/src/features/Journal/__tests__/JournalShelfScreenDelete.test.tsx
  frontend/src/features/Journal/deleteEntryCopy.ts
  frontend/src/features/Journal/useEntryDeletion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): keep the essay hold's deletion re-check at xenon A
  backend/src/routers/journal.py
Due: backend-tests-coverage

fix(frontend): resolve visual layout regressions (#3109)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-writing-timer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileStarLongPress.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/starFill.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.markerDrag.test.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.starLongPress.test.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/useStarFill.ts
  frontend/src/features/Habits/markerDrag.ts
  frontend/src/features/Habits/starFill.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
  frontend/src/features/Journal/__tests__/writingTimerLayout.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): move the resonance care surface out of routers.journal (#3096)
  backend/src/routers/journal.py
  backend/src/services/generation_access.py
  backend/src/services/resonance_care.py
  backend/tests/test_generation_payer_invariants.py
Due: backend-tests-coverage

refactor(frontend): put settleFailedFinish above the Finish writer's JSDoc
  frontend/src/features/Journal/JournalEntryScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin that a Finish 409 settles its retry lane
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): a refused regeneration never mirrors a stored demo letter (#3096)
  backend/src/routers/journal.py
  backend/tests/test_stored_demo_hidden.py
Due: backend-tests-coverage

fix(backend): a hidden demo note is absent by id as well as in lists (#3096)
  backend/src/routers/journal.py
  backend/tests/test_stored_demo_hidden.py
Due: backend-tests-coverage

fix(backend): the stub seam boots only under an explicit dev or e2e ENV, off-platform (#3096)
  DEPLOYMENT.md
  backend/.env.example
  backend/conftest.py
  backend/src/main.py
  backend/tests/test_generation_payer.py
Due: backend-tests-coverage

test(backend): pin the intimate-entry exit's withheld demo letter (#3096)
  backend/tests/test_stored_demo_hidden.py
Due: backend-tests-coverage

test(backend): payer-gate invariant accepts only an acted-on payer_refusal (#3096)
  backend/tests/test_generation_payer_invariants.py
Due: backend-tests-coverage
