Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

docs(playbook): weekly harness delta for 2026-08-24
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
  CLAUDE.md
Due: none

fix(backend): parse model JSON that arrives in a markdown fence (#2415)
  backend/src/domain/resonance.py
  backend/tests/test_detection_service.py
  backend/tests/test_resonance_service.py
Due: backend-tests-coverage

fix(frontend): a seeding run says where it is, and leaving it stops it
  frontend/e2e/journeys.json
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/__tests__/seedRun.test.ts
  frontend/src/features/Seed/__tests__/useSeedLeaveGuard.test.tsx
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
  frontend/src/features/Seed/useSeedLeaveGuard.ts
  frontend/src/features/Seed/useSeedRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ci): contract-fuzz the live api document on every backend change
  .github/workflows/dast-contract.yml
  backend/requirements-dast.txt
  backend/scripts/dast/README.md
  backend/scripts/dast/authz_matrix.py
  backend/scripts/dast/tokens.py
  backend/src/rate_limit.py
  backend/tests/scripts/dast/conftest.py
  backend/tests/scripts/dast/test_contract_workflow.py
  backend/tests/scripts/dast/test_rate_limit_override.py
  backend/tests/scripts/dast/test_token_bootstrap.py
Due: backend-tests-coverage

docs(playbook): weekly harness delta for 2026-08-24 (#2422)
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
  CLAUDE.md
Due: none

fix(frontend): a seeding run says where it is, and leaving it stops it (#2426)
  frontend/e2e/journeys.json
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/__tests__/seedRun.test.ts
  frontend/src/features/Seed/__tests__/useSeedLeaveGuard.test.tsx
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
  frontend/src/features/Seed/useSeedLeaveGuard.ts
  frontend/src/features/Seed/useSeedRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): connect a vault of your own from the private-vault screen
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/vault-connection.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): make the contract-fuzz gate provable, and land it non-blocking
  .github/workflows/dast-contract.yml
  .gitignore
  backend/scripts/dast/README.md
  backend/scripts/dast/contract_fuzz.sh
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/scripts/dast/test_contract_workflow.py
  backend/tests/scripts/dast/test_rate_limit_override.py
Due: backend-tests-coverage

test(ci): prove the contract fuzzer catches a planted bug before it judges the app
  .github/workflows/dast-contract.yml
  backend/requirements-dast.txt
  backend/scripts/dast/README.md
  backend/tests/scripts/dast/test_contract_fuzz_catches_a_planted_bug.py
  backend/tests/scripts/dast/test_contract_workflow.py
Due: backend-tests-coverage

fix(backend): judge a user-supplied vault URL by where it actually points
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/errors.py
  backend/src/routers/vault_config.py
  backend/src/schemas/vault_config.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_url_resolution.py
  backend/src/services/creek_vault_url_user.py
  backend/tests/security/test_ssrf_vault_url.py
  backend/tests/security/test_validation_error_echo.py
  backend/tests/test_creek_vault_url_user_rules.py
  backend/tests/test_per_user_vault_config.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

fix(backend): judge a user-supplied vault URL by where it actually points (#2434)
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/errors.py
  backend/src/routers/vault_config.py
  backend/src/schemas/vault_config.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_url_resolution.py
  backend/src/services/creek_vault_url_user.py
  backend/tests/security/test_ssrf_vault_url.py
  backend/tests/security/test_validation_error_echo.py
  backend/tests/test_creek_vault_url_user_rules.py
  backend/tests/test_per_user_vault_config.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

fix(backend): namespace the rate-limit override, and pin the artifact's redaction
  .github/workflows/dast-contract.yml
  backend/scripts/dast/README.md
  backend/src/rate_limit.py
  backend/tests/scripts/dast/test_contract_fuzz_catches_a_planted_bug.py
  backend/tests/scripts/dast/test_contract_workflow.py
  backend/tests/scripts/dast/test_rate_limit_override.py
Due: backend-tests-coverage

feat(ci): contract-fuzz the live api document on every backend change (#2427)
  .github/workflows/dast-contract.yml
  .gitignore
  backend/requirements-dast.txt
  backend/scripts/dast/README.md
  backend/scripts/dast/authz_matrix.py
  backend/scripts/dast/contract_fuzz.sh
  backend/scripts/dast/tokens.py
  backend/src/rate_limit.py
  backend/tests/scripts/dast/conftest.py
  backend/tests/scripts/dast/test_contract_fuzz_catches_a_planted_bug.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/scripts/dast/test_contract_workflow.py
  backend/tests/scripts/dast/test_rate_limit_override.py
  backend/tests/scripts/dast/test_token_bootstrap.py
Due: backend-tests-coverage

fix(frontend): stop a vault key outliving its send, and a failed read from erasing a vault
  frontend/e2e/journeys.json
  frontend/e2e/vault-connection.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultConnectionState.test.ts
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/__tests__/vaultRefusalDrift.test.ts
  frontend/src/features/Settings/vaultConnectionState.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the stage cold start asks once a session, not on every visit
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the stage cold start asks once a session, not on every visit (#2439)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): one action row for the journal read view, and a real resonance spinner
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/readingSurfaceStyles.test.ts
  frontend/src/features/Journal/readingSurfaceStyles.ts
  graph/memory/query_20260826_025948_what_depends_on_the_journal_read_view_styles_and_.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): one action row for the journal read view, and a real resonance spinner (#2442)
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/readingSurfaceStyles.test.ts
  frontend/src/features/Journal/readingSurfaceStyles.ts
  graph/memory/query_20260826_025948_what_depends_on_the_journal_read_view_styles_and_.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the demo seed's placeholder dates never become a program start
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the demo seed's placeholder dates never become a program start (#2462)
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the demo seed is never cached and never becomes a server habit
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): refuse a production boot that logs reset emails instead of sending them
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/services/email.py
  backend/tests/helpers/smtp_env.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

fix(frontend): let the practice player fail open, and let it scroll
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
  frontend/src/hooks/__tests__/useThresholdFade.test.tsx
  frontend/src/hooks/useThresholdFade.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the demo seed is never cached and never becomes a server habit (#2466)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): let the practice player fail open, and let it scroll (#2471)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
  frontend/src/hooks/__tests__/useThresholdFade.test.tsx
  frontend/src/hooks/useThresholdFade.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ci): extend the authorization-matrix DAST check to body and query references
  .github/workflows/dast-authz.yml
  backend/scripts/dast/README.md
  backend/scripts/dast/allowlist.toml
  backend/scripts/dast/authz_matrix.py
  backend/scripts/dast/discovery.py
  backend/scripts/dast/policy.py
  backend/scripts/dast/references.py
  backend/scripts/dast/report.py
  backend/scripts/dast/runner.py
  backend/scripts/dast/seeds.py
  backend/scripts/dast/verdict.py
  backend/tests/scripts/dast/conftest.py
  backend/tests/scripts/dast/test_authz_matrix_cli.py
  backend/tests/scripts/dast/test_discovery.py
  backend/tests/scripts/dast/test_policy.py
  backend/tests/scripts/dast/test_reference_grading_blind_spots.py
  backend/tests/scripts/dast/test_registry_covers_real_app.py
  backend/tests/scripts/dast/test_report.py
  backend/tests/scripts/dast/test_runner_catches_reference_leak.py
  backend/tests/scripts/dast/test_vacuity_guards.py
  backend/tests/scripts/dast/test_verdict.py
Due: backend-tests-coverage

fix(backend): name a malformed SMTP_PORT at boot instead of dying on a traceback
  DEPLOYMENT.md
  backend/.env.example
  backend/src/services/email.py
  backend/tests/services/test_email.py
  backend/tests/test_email_startup_config.py
Due: backend-tests-coverage

fix(habits): a check-in the server will never accept no longer wedges the offline queue
  frontend/e2e/journeys.json
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): refuse a production boot that logs reset emails instead of sending them (#2470)
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/services/email.py
  backend/tests/helpers/smtp_env.py
  backend/tests/services/test_email.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

chore(ci): pause all automated issue-inflow workflows
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/deslop.yml
  .github/workflows/hopper.yml
  .github/workflows/live-model-check.yml
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-todo.yml
  .github/workflows/scan-types.yml
  .github/workflows/weekly-playbook.yml
Due: none

chore(ci): pause all automated issue-inflow workflows (#2481)
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/deslop.yml
  .github/workflows/hopper.yml
  .github/workflows/live-model-check.yml
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-todo.yml
  .github/workflows/scan-types.yml
  .github/workflows/weekly-playbook.yml
Due: none

fix(frontend): drop the browser focus ring on journal writing fields
  frontend/src/design/__tests__/writingFieldFocus.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingFieldFocus.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ci): extend the authorization-matrix DAST check to body and query references (#2475)
  .github/workflows/dast-authz.yml
  backend/scripts/dast/README.md
  backend/scripts/dast/allowlist.toml
  backend/scripts/dast/authz_matrix.py
  backend/scripts/dast/discovery.py
  backend/scripts/dast/policy.py
  backend/scripts/dast/references.py
  backend/scripts/dast/report.py
  backend/scripts/dast/runner.py
  backend/scripts/dast/seeds.py
  backend/scripts/dast/verdict.py
  backend/tests/scripts/dast/conftest.py
  backend/tests/scripts/dast/test_authz_matrix_cli.py
  backend/tests/scripts/dast/test_discovery.py
  backend/tests/scripts/dast/test_policy.py
  backend/tests/scripts/dast/test_reference_grading_blind_spots.py
  backend/tests/scripts/dast/test_registry_covers_real_app.py
  backend/tests/scripts/dast/test_report.py
  backend/tests/scripts/dast/test_runner_catches_reference_leak.py
  backend/tests/scripts/dast/test_vacuity_guards.py
  backend/tests/scripts/dast/test_verdict.py
Due: backend-tests-coverage

fix(habits): a check-in the server will never accept no longer wedges the offline queue (#2478)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): show a live word count while writing a journal entry
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/wordCount.test.ts
  frontend/src/features/Journal/wordCount.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): address review notes on the journal writing fields
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/WritingFieldFocus.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): drop the browser focus ring on the writing fields, add a live word count (#2483)
  frontend/src/design/__tests__/writingFieldFocus.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/WritingFieldFocus.test.tsx
  frontend/src/features/Journal/__tests__/wordCount.test.ts
  frontend/src/features/Journal/wordCount.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): a demo tile's fabricated id no longer rides a reveal or reorder PUT
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
