Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(backend): require JOURNAL_ENCRYPTION_KEYS in production
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/services/journal_encryption.py
  backend/tests/test_journal_encryption_startup_config.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

fix(backend): declare the tier ceiling Creek admits every /v1 call at
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_tier_ceiling.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

feat(backend): seed a local account instead of bypassing the license gate
  README.md
  backend/scripts/create_dev_account.py
  backend/tests/scripts/test_create_dev_account.py
Due: backend-tests-coverage

chore(ralph): stop grooming every tenth completion
  .claude/commands/ralph-tick.md
  scripts/ralph/state.example.json
Due: none

chore(ci): stop automated issue inflow for the tracer phase
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/deslop.yml
  .github/workflows/graph-build.yml
  .github/workflows/hopper.yml
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-groom.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-todo.yml
  .github/workflows/scan-types.yml
  .github/workflows/weekly-playbook.yml
  docs/tracer-phase.md
Due: none

docs(tracer): record the four-tier scheme the overhaul actually produced
  docs/tracer-phase.md
Due: none

fix(ci): pin the mypy hook's dependencies to the versions the backend ships
  .pre-commit-config.yaml
  backend/tests/test_precommit_mypy_pins.py
Due: backend-tests-coverage

test(ci): prove the mypy-pin guard fires, not merely that it is green
  backend/tests/test_precommit_mypy_pins.py
Due: backend-tests-coverage

feat(frontend): let a person choose files to seed the corpus with
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-document-picker.js
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/api/__tests__/uploadDocument.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/capture/prepareImage.ts
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/pickSeedDocuments.test.ts
  frontend/src/features/Seed/__tests__/readSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/__tests__/seedRun.test.ts
  frontend/src/features/Seed/__tests__/uploadCapDrift.test.ts
  frontend/src/features/Seed/__tests__/uploadSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/pickSeedDocuments.ts
  frontend/src/features/Seed/readSeedDocument.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
  frontend/src/features/Seed/uploadSeedDocument.ts
  frontend/src/features/Seed/useSeedRun.ts
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/utils/base64Size.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(frontend): remove stale customize comment
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(frontend): drop ghost user_id fields from practice client types
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/userPractices-customize.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.durationDerive.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/utils/__tests__/copyPracticeToStage.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): pin the mypy hook's dependencies to the versions the backend ships (#2274)
  .pre-commit-config.yaml
  backend/tests/test_precommit_mypy_pins.py
Due: backend-tests-coverage

chore(frontend): drop ghost user_id-family fields and a stale customize comment (#2277)
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/userPractices-customize.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.durationDerive.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/utils/__tests__/copyPracticeToStage.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): let a person choose files to seed the corpus with (#2276)
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-document-picker.js
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/api/__tests__/uploadDocument.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/capture/prepareImage.ts
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/pickSeedDocuments.test.ts
  frontend/src/features/Seed/__tests__/readSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/__tests__/seedRun.test.ts
  frontend/src/features/Seed/__tests__/uploadCapDrift.test.ts
  frontend/src/features/Seed/__tests__/uploadSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/useSeedRun.test.tsx
  frontend/src/features/Seed/pickSeedDocuments.ts
  frontend/src/features/Seed/readSeedDocument.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
  frontend/src/features/Seed/uploadSeedDocument.ts
  frontend/src/features/Seed/useSeedRun.ts
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/utils/base64Size.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend,frontend): erase an account and everything the schema hangs off it
  .gitignore
  backend/migrations/versions/c2d3e4f5a6b8_add_account_deletion_audit.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/models/__init__.py
  backend/src/models/account_deletion_audit.py
  backend/src/routers/users.py
  backend/src/schemas/account_deletion.py
  backend/src/services/account_deletion.py
  backend/tests/helpers/account_seed.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_account_deletion_policy.py
  docs/your-data.md
  frontend/src/api/__tests__/users-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(backend): refresh the OpenAPI artifact for the corrected create_session prose
  backend/openapi.json
Due: backend-tests-coverage

fix(backend): seed a dev account the login route can actually reach
  README.md
  backend/conftest.py
  backend/scripts/create_dev_account.py
  backend/tests/scripts/test_create_dev_account.py
Due: backend-tests-coverage

feat(backend): report unhandled exceptions without reporting the user
  .pre-commit-config.yaml
  backend/.env.example
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/errors.py
  backend/src/main.py
  backend/src/sentry.py
  backend/tests/test_error_monitoring.py
  backend/tests/test_global_exception_handler.py
Due: backend-tests-coverage

fix(tests): stop git fixtures inheriting GIT_DIR and rewriting the real repository
  backend/tests/helpers/git_env.py
  backend/tests/helpers/test_git_env.py
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/scripts/test_check_all_receipt_wiring.py
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage

fix(tests): stop the untouched-tree assertion racing git's background maintenance
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage

docs(backend): correct the docstrings this PR's own change made false
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_contract_conformance.py
Due: backend-tests-coverage

fix(tests): stop git fixtures inheriting GIT_DIR and rewriting the real repository (#2282)
  backend/tests/helpers/git_env.py
  backend/tests/helpers/test_git_env.py
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/scripts/test_check_all_receipt_wiring.py
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage

fix(backend): require JOURNAL_ENCRYPTION_KEYS in production (#2256)
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/services/journal_encryption.py
  backend/tests/test_journal_encryption_startup_config.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

chore(ralph): stop grooming every tenth completion (#2265)
  .claude/commands/ralph-tick.md
  scripts/ralph/state.example.json
Due: none

feat(backend): classify OPEN/PERSONAL content into APTITUDE frequencies (#2245)
  NORTH-STAR.md
  backend/src/domain/frequencies.py
  backend/src/services/creek_vault_client.py
  backend/src/services/frequency_classification.py
  backend/tests/services/test_frequency_classification.py
  graph/ontology-spine.md
Due: backend-tests-coverage

ci(frontend): prove the app bundles, not merely that Jest ran
  .github/workflows/frontend-ci.yml
  scripts/frontend/bundle.sh
  scripts/frontend/check-all.sh
Due: none

fix(deps): hold the two bumps Expo SDK 57 does not allow
  .github/dependabot.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(ci): move the mypy hook pins with the bumped backend versions
  .pre-commit-config.yaml
Due: none

test(security): audit the confirm path's bcrypt work instead of timing it
  backend/tests/security/test_password_reset_timing.py
Due: backend-tests-coverage

test(quality): size the tree snapshot so an in-place rewrite is caught too
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage

fix(backend): a refusal is not a rejected credential, and a bad key is not an outage (#2249)
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
Due: backend-tests-coverage

docs(creek): the wheel read declares its ceiling now, so stop saying it cannot
  docs/creek-vault-mcp-contract.md
Due: none

fix(backend): declare X-Creek-Tier-Ceiling on every /v1 request (#2285)
  backend/src/domain/creek_vault.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_tier_ceiling.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

chore(deps): complete the openai 3.1.0 bump with its httpx2 migration
  .pre-commit-config.yaml
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

feat(backend): a development account path — seed a local account instead of bypassing the license gate (#2257)
  README.md
  backend/conftest.py
  backend/scripts/create_dev_account.py
  backend/tests/scripts/test_create_dev_account.py
Due: backend-tests-coverage

ci(frontend): prove the app bundles, not merely that Jest ran (#2173)
  .github/workflows/frontend-ci.yml
  scripts/frontend/bundle.sh
  scripts/frontend/check-all.sh
Due: none

test(quality): drop the duplicate _GIT_DIR_NAME left by the merge
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage

test(security): audit the confirm path's bcrypt work instead of timing it (#2293)
  backend/tests/security/test_password_reset_timing.py
Due: backend-tests-coverage

test(quality): key the tree snapshot on content, not size
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage

test(quality): size the tree snapshot so an in-place rewrite is caught too (#2294)
  backend/tests/scripts/test_gate_receipts.py
Due: backend-tests-coverage
