Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(backend): a resumed sweep gets a row of its own (#2519)
  backend/migrations/versions/4e1a9c72bd60_corpus_sweep_log.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/corpus_consent.py
  backend/src/models/corpus_sweep.py
  backend/src/routers/corpus.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_consent.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/test_adr_references.py
  backend/tests/test_migrations.py
  docs/adr/0006-consent-as-an-auditable-event.md
Due: backend-tests-coverage

chore(frontend): the tree returns to the SDK's table, and a gate keeps it there
  .github/dependabot.yml
  .github/workflows/frontend-ci.yml
  backend/tests/scripts/test_sdk_alignment_gate.py
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
  scripts/frontend/bundle.sh
  scripts/frontend/check-all.sh
  scripts/frontend/sdk-align.sh
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

chore(frontend): the tree returns to the SDK's table, and a gate keeps it there (#2520)
  .github/dependabot.yml
  .github/workflows/frontend-ci.yml
  backend/tests/scripts/test_sdk_alignment_gate.py
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
  scripts/frontend/bundle.sh
  scripts/frontend/check-all.sh
  scripts/frontend/sdk-align.sh
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(ci): the classifier learns the cap shape the SDK actually emits
  .github/workflows/_claude-scan.yml
  .github/workflows/creek-contract-drift.yml
  .github/workflows/issue-evidence.yml
  .github/workflows/scan-groom.yml
  backend/tests/fixtures/claude_runs/turn-cap-truncated-41-turns.json
  backend/tests/scripts/test_classify_claude_outcome.py
  backend/tests/scripts/test_claude_scan_turn_cap.py
  backend/tests/scripts/test_workflow_exit_status_capture.py
  scripts/ci/classify_claude_outcome.sh
Due: backend-tests-coverage

fix(ci): the shared reporter reads the log the archive cannot yet serve
  .github/workflows/_report-failure.yml
  backend/tests/scripts/test_failure_log_extraction.py
Due: backend-tests-coverage

fix(ci): the classifier learns the SDK's cap shape, and the reporter reads a log it can actually reach (#2535)
  .github/workflows/_claude-scan.yml
  .github/workflows/_report-failure.yml
  .github/workflows/creek-contract-drift.yml
  .github/workflows/issue-evidence.yml
  .github/workflows/scan-groom.yml
  backend/tests/fixtures/claude_runs/turn-cap-truncated-41-turns.json
  backend/tests/scripts/test_classify_claude_outcome.py
  backend/tests/scripts/test_claude_scan_turn_cap.py
  backend/tests/scripts/test_failure_log_extraction.py
  backend/tests/scripts/test_workflow_exit_status_capture.py
  scripts/ci/classify_claude_outcome.sh
Due: backend-tests-coverage

fix(backend): reset mail leaves over HTTPS, and its link opens in a browser
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/routers/auth.py
  backend/src/services/app_links.py
  backend/src/services/email.py
  backend/tests/helpers/resend_env.py
  backend/tests/services/test_email_resend.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_password_reset_https_delivery.py
  backend/tests/test_password_reset_web_link.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(backend): reset mail leaves over HTTPS, and its link opens in a browser (#2537)
  DEPLOYMENT.md
  backend/.env.example
  backend/src/main.py
  backend/src/routers/auth.py
  backend/src/services/app_links.py
  backend/src/services/email.py
  backend/tests/helpers/resend_env.py
  backend/tests/services/test_email_resend.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_password_reset_https_delivery.py
  backend/tests/test_password_reset_web_link.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(backend): the vendored README's stale prose becomes a tripwire
  backend/tests/creek_bundle_facts.py
  backend/tests/test_creek_contract_conformance.py
  prompts/audits/contract-drift-audit.md
Due: backend-tests-coverage

feat(backend): the reset email looks like the product that sent it
  backend/src/routers/auth.py
  backend/src/services/email.py
  backend/src/services/email_templates.py
  backend/tests/services/test_email_html_alternative.py
  backend/tests/services/test_email_templates.py
  backend/tests/test_password_reset_email_branding.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

feat(backend): the reset email looks like the product that sent it (#2541)
  backend/src/routers/auth.py
  backend/src/services/email.py
  backend/src/services/email_templates.py
  backend/tests/services/test_email_html_alternative.py
  backend/tests/services/test_email_templates.py
  backend/tests/test_password_reset_email_branding.py
  backend/tests/test_transcription_privacy.py
Due: backend-tests-coverage

fix(backend): a spent balance is a bill, not a blip, and one layer owns every retry
  DEPLOYMENT.md
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/src/services/botmason.py
  backend/tests/provider_transport.py
  backend/tests/services/test_botmason_credit_exhausted.py
  backend/tests/services/test_botmason_retry.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_transcription_endpoint.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(backend): the coverage gap gets a tracker of its own, and 503 stops promising a retry
  backend/src/errors.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(frontend): the Get Started button opens a storefront that exists
  DEPLOYMENT.md
  frontend/Dockerfile
  frontend/src/__tests__/config.test.ts
  frontend/src/config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): retire the last references to the storefront that never existed
  DEPLOYMENT.md
  frontend/README.md
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): assert the Dockerfile actually declares the Gumroad build args
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the Get Started button opens a storefront that exists (#2546)
  DEPLOYMENT.md
  frontend/Dockerfile
  frontend/README.md
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): an account switch takes the previous user's device state with it
  frontend/e2e/journeys.json
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/__tests__/recentPracticesStorage.test.ts
  frontend/src/storage/__tests__/userScope.test.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/notificationStorage.ts
  frontend/src/storage/recentPracticesStorage.ts
  frontend/src/storage/userScope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): a spent balance is a bill, not a blip, and one layer owns every retry (#2542)
  DEPLOYMENT.md
  backend/src/errors.py
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/src/services/botmason.py
  backend/tests/provider_transport.py
  backend/tests/services/test_botmason_credit_exhausted.py
  backend/tests/services/test_botmason_retry.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_resonance_endpoints.py
  backend/tests/test_transcription_endpoint.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): a resumed session reads the account its own token names
  frontend/e2e/journeys.json
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/ResumedSessionScope.integration.test.tsx
  frontend/src/storage/__tests__/userScope.test.ts
  frontend/src/storage/userScope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): a reflection carries the writer's own praxis and eddies
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_reflect.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_journal_vault_read.py
  docs/creek-vault-mcp-contract.md
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/relatedPagesSchemas.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): a resumed session reads the account its own token names (#2548)
  frontend/e2e/journeys.json
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AccountSwitchWipe.integration.test.tsx
  frontend/src/context/__tests__/ApiKeyLogoutWipe.integration.test.tsx
  frontend/src/context/__tests__/ResumedSessionScope.integration.test.tsx
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/__tests__/recentPracticesStorage.test.ts
  frontend/src/storage/__tests__/userScope.test.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/notificationStorage.ts
  frontend/src/storage/recentPracticesStorage.ts
  frontend/src/storage/userScope.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): the praxis vocabularies are pinned, not merely excused
  frontend/src/__tests__/wiring/openapiConformance.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(infra): mypy reads the pins the app installs, not a second copy
  .pre-commit-config.yaml
  backend/tests/scripts/test_precommit_mypy_deps.py
  backend/tests/test_precommit_mypy_pins.py
Due: backend-tests-coverage

feat(backend): a reflection carries the writer's own praxis and eddies (#2549)
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/creek_vault_payload.py
  backend/src/services/creek_vault_reflect.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_journal_vault_read.py
  docs/creek-vault-mcp-contract.md
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/relatedPagesSchemas.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): the last three orphaned API wrappers reach a screen
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-tags.e2e.test.ts
  frontend/e2e/prompt-history.e2e.test.ts
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/PromptHistoryModal.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/PromptHistoryModal.test.tsx
  frontend/src/features/Journal/usePromptHistory.ts
  frontend/src/features/Practice/recipes/PersonalTagRow.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(infra): mypy reads the pins the app installs, not a second copy (#2558)
  .pre-commit-config.yaml
  backend/tests/scripts/test_precommit_mypy_deps.py
  backend/tests/test_precommit_mypy_pins.py
Due: backend-tests-coverage

fix(frontend): a failed page keeps the prompts already read, and the tag paging proof bites
  frontend/e2e/prompt-history.e2e.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Journal/PromptHistoryModal.tsx
  frontend/src/features/Journal/__tests__/PromptHistoryModal.test.tsx
  frontend/src/features/Practice/recipes/PersonalTagRow.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ci): something attacks a running instance every night, and says what it found
  .github/workflows/dast-deep.yml
  .zap/rules.tsv
  README.md
  backend/scripts/dast/README.md
  backend/scripts/dast/zap_sarif.py
  backend/tests/scripts/dast/test_contract_workflow.py
  backend/tests/scripts/dast/test_deep_scan_workflow.py
  backend/tests/scripts/dast/test_zap_sarif.py
  backend/tests/scripts/test_scheduled_workflow_legibility.py
  backend/tests/test_workflow_permissions.py
  backend/tests/workflow_text.py
Due: backend-tests-coverage

fix(ci): the nightly scan can no longer be green after reaching nothing
  .github/workflows/dast-deep.yml
  README.md
  backend/scripts/dast/README.md
  backend/scripts/dast/scan_evidence.py
  backend/tests/scripts/dast/test_deep_scan_workflow.py
  backend/tests/scripts/dast/test_scan_evidence.py
  backend/tests/scripts/dast/test_zap_sarif.py
Due: backend-tests-coverage

fix(frontend): the missing-tag copy reaches the reader, and a deleted tag keeps its name
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): the last three orphaned API wrappers reach a screen (#2560)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-tags.e2e.test.ts
  frontend/e2e/prompt-history.e2e.test.ts
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/PromptHistoryModal.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/PromptHistoryModal.test.tsx
  frontend/src/features/Journal/usePromptHistory.ts
  frontend/src/features/Practice/recipes/PersonalTagRow.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): the Journal shelf shows a stage's prompts and how often each is asked
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/apiCallers.test.ts
  frontend/src/api/__tests__/miscEndpoints-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
  frontend/src/features/Journal/__tests__/promptTitle.test.ts
  frontend/src/features/Journal/promptTitle.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ci): something attacks a running instance every night, and says what it found (#2565)
  .github/workflows/dast-deep.yml
  .zap/rules.tsv
  README.md
  backend/scripts/dast/README.md
  backend/scripts/dast/scan_evidence.py
  backend/scripts/dast/zap_sarif.py
  backend/tests/scripts/dast/test_contract_workflow.py
  backend/tests/scripts/dast/test_deep_scan_workflow.py
  backend/tests/scripts/dast/test_scan_evidence.py
  backend/tests/scripts/dast/test_zap_sarif.py
  backend/tests/scripts/test_scheduled_workflow_legibility.py
  backend/tests/test_workflow_permissions.py
  backend/tests/workflow_text.py
Due: backend-tests-coverage

fix(frontend): the stage prompt band offers only the writes the week can hold
  backend/tests/test_prompts_api.py
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): the Journal shelf shows a stage's prompts and how often each is asked (#2580)
  backend/tests/test_prompts_api.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/miscEndpoints-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/PromptHistoryModal.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
  frontend/src/features/Journal/__tests__/promptTitle.test.ts
  frontend/src/features/Journal/promptTitle.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(frontend): pin the Map's stage copy to the curriculum canon
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageCanonDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the Map's stage copy to the curriculum canon (#2582)
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageCanonDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
