Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(course): stage-introduction API endpoints
  backend/src/routers/course.py
  backend/src/schemas/course.py
  backend/tests/test_course_body_endpoints.py
Due: backend-tests-coverage

feat(course): stage-introduction API endpoints (#741)
  backend/src/routers/course.py
  backend/src/schemas/course.py
  backend/tests/test_course_body_endpoints.py
Due: backend-tests-coverage

feat(course): frontend stage-intro client + ChapterReader intro source
  frontend/src/api/__tests__/courseIntro-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): frontend stage-intro client + ChapterReader intro source (#749)
  frontend/src/api/__tests__/courseIntro-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): surface the stage introduction as a card in the Course screen
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageIntroCard.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/StageIntroCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ralph): restructure recap embed headers, fields, and windows
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(course): surface the stage introduction as a card in the Course screen (#750)
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageIntroCard.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/StageIntroCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(content): store vendored content verbatim so the drift digest is stable
  .gitattributes
  .pre-commit-config.yaml
  backend/content/CONTENT_VERSION
  backend/content/markdown/.obsidian/app.json
  backend/content/markdown/.obsidian/appearance.json
  backend/content/markdown/.obsidian/core-plugins.json
  backend/content/markdown/.obsidian/workspace.json
  backend/content/markdown/01-beige/03-the-journaling-prompts-of-beige.md
  backend/content/markdown/01-beige/07-the-default-habit-of-beige-take-work-seriously.md
  backend/content/markdown/01-beige/10-the-four-gates-of-habit-alchemy.md
  backend/content/markdown/backup/1.BEIGE.md
  backend/content/markdown/backup/2.PURPLE.md
  backend/content/markdown/backup/3.RED.md
Due: backend-tests-coverage

fix(practice): generate slug-safe configurator keys (mindful_anchor + tallied_grounding)
  frontend/src/features/Practice/configurator/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): generate slug-safe configurator keys (mindful_anchor + tallied_grounding) (#752)
  frontend/src/features/Practice/configurator/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(security): collapse cross-user goal access to 404 in goal_completions
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

fix(security): collapse cross-user goal access to 404 in goal_completions (#753)
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
  backend/tests/test_goals_api.py
Due: backend-tests-coverage

fix(contracts): drop required user_id from userPractice + practiceSession schemas
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(contracts): drop required user_id from userPractice + practiceSession schemas (#754)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ralph): restructure recap embed headers, fields, and windows (#755)
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

refactor(backend): move SubtractiveContext + streak walk into the domain layer
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/services/streaks.py
Due: backend-tests-coverage

refactor(backend): move SubtractiveContext + streak walk into the domain layer (#756)
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/services/streaks.py
Due: backend-tests-coverage

fix(practice): make tallied_grounding + mindful_anchor editable in the configurator
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): make tallied_grounding + mindful_anchor editable in the configurator (#757)
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor: remove the retired botmason chat/streaming dead surface
  backend/src/models/chat_spend.py
  backend/tests/services/test_botmason_streaming.py
Due: backend-tests-coverage

refactor: remove botmason streaming + ChatSpend + frontend wallet client (cont.)
  backend/migrations/versions/f1e2d3c4b5a6_drop_chatspend_table.py
  backend/src/models/__init__.py
  backend/src/models/llm_usage_log.py
  backend/src/models/practice_session_idempotency.py
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
  backend/tests/test_models.py
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor: remove the retired botmason chat/streaming dead surface (#758)
  backend/migrations/versions/f1e2d3c4b5a6_drop_chatspend_table.py
  backend/src/models/__init__.py
  backend/src/models/chat_spend.py
  backend/src/models/llm_usage_log.py
  backend/src/models/practice_session_idempotency.py
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_streaming.py
  backend/tests/test_botmason_api.py
  backend/tests/test_models.py
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): remove orphaned dead code (8 confirmed-dead symbols)
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/index.ts
  frontend/src/design/DesignSystem.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove orphaned dead code (8 confirmed-dead symbols) (#759)
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/index.ts
  frontend/src/design/DesignSystem.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): rebuild Map as three-column spiral table (#731)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/stageData.test.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/stageData.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): dedup router boilerplate + remove orphaned domain/milestones.py
  backend/src/dependencies/ownership.py
  backend/src/domain/milestones.py
  backend/src/rate_limit_keys.py
  backend/src/routers/course.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_share.py
  backend/src/routers/practice_tags.py
  backend/src/routers/practices.py
  backend/src/routers/stages.py
  backend/src/services/streaks.py
  backend/tests/domain/test_milestones.py
  backend/tests/routers/test_rate_limit_key_errors.py
Due: backend-tests-coverage

refactor(backend): dedup router boilerplate + remove orphaned domain/milestones.py (#760)
  backend/src/dependencies/ownership.py
  backend/src/domain/milestones.py
  backend/src/rate_limit_keys.py
  backend/src/routers/course.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_share.py
  backend/src/routers/practice_tags.py
  backend/src/routers/practices.py
  backend/src/routers/stages.py
  backend/src/services/streaks.py
  backend/tests/domain/test_milestones.py
  backend/tests/routers/test_rate_limit_key_errors.py
Due: backend-tests-coverage

refactor(frontend): extract shared duplications (storage, dialog, auth, marker)
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/passwordValidation.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/goalMarker.ts
  frontend/src/storage/energyScaffoldingStorage.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/jsonStore.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared duplications (storage, dialog, auth, marker) (#763)
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/passwordValidation.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/goalMarker.ts
  frontend/src/storage/energyScaffoldingStorage.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/jsonStore.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): center Get Resonance button horizontally
  frontend/src/features/Journal/GetResonanceButton.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): center Get Resonance button horizontally (#764)
  frontend/src/features/Journal/GetResonanceButton.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix: low-severity tidy-ups (mojibake, stale docstring, form caps, map tokens)
  backend/src/domain/weekly_prompts.py
  backend/src/services/marginalia.py
  frontend/src/design/tokens.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix: low-severity tidy-ups (mojibake, stale docstring, form caps, map tokens) (#769)
  backend/src/domain/weekly_prompts.py
  backend/src/services/marginalia.py
  frontend/src/design/tokens.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(content): guard that Stage 1 seeds from the vendored manifest
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

test(content): guard that Stage 1 seeds from the vendored manifest (#772)
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

fix(habits): unify subtractive-habit polarity so the streak matches the badge
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): unify subtractive-habit polarity so the streak matches the badge (#774)
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(cors): document the live origin + guard it (false "offline" on app.aptitude.guru)
  DEPLOYMENT.md
  backend/.env.example
  backend/tests/test_cors.py
Due: backend-tests-coverage
