Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor(frontend): migrate useBotSend to useOptimisticMutation
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): migrate useBotSend to useOptimisticMutation (#416)
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): make useOptimisticMutation pending track overlapping calls
  frontend/src/hooks/__tests__/useOptimisticMutation.test.ts
  frontend/src/hooks/useOptimisticMutation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): make useOptimisticMutation pending track overlapping calls (#417)
  frontend/src/hooks/__tests__/useOptimisticMutation.test.ts
  frontend/src/hooks/useOptimisticMutation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): observability follow-ups from PR #268 review
  backend/pyproject.toml
  backend/src/errors.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/logging.py
  backend/src/middleware/trace_id.py
  backend/src/sentry.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/services/test_wallet.py
Due: backend-tests-coverage

fix(frontend): observability hardening from PR #268 review
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/__tests__/decimalPrecision.test.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
  frontend/src/observability/sentry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: walletaudit append-only deploy recipe
  DEPLOYMENT.md
Due: none

refactor: observability follow-ups deferred from PR #268 (#418)
  DEPLOYMENT.md
  backend/pyproject.toml
  backend/src/errors.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/logging.py
  backend/src/middleware/trace_id.py
  backend/src/sentry.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/services/test_wallet.py
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/__tests__/decimalPrecision.test.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
  frontend/src/observability/sentry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): bound the per-email login-lock cache
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

test(backend): hoist login-lock imports to module top
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): bound the per-email login-lock cache (#419)
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

test(backend): add postgres-backed regression for pg_advisory_xact_lock
  .github/workflows/backend-ci.yml
  backend/src/routers/auth.py
  backend/tests/test_pg_advisory_lock.py
Due: backend-tests-coverage

test(backend): add postgres-backed regression for pg_advisory_xact_lock (#420)
  .github/workflows/backend-ci.yml
  backend/src/routers/auth.py
  backend/tests/test_pg_advisory_lock.py
Due: backend-tests-coverage

fix(frontend): auto-resync habits when a check-in hits stale goal ids
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): auto-resync habits when a check-in hits stale goal ids (#421)
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replay cached goal customizations after stuck-user recovery
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin best-effort-per-goal guarantee in recovery replay
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): tidy recovery-replay docstring, reference field-gap issues
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replay cached goal customizations after stuck-user recovery (#424)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat: atomic all-tiers goal-unit updates via batch endpoint
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/tests/test_goals_api.py
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat: atomic all-tiers goal-unit updates via batch endpoint (#427)
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/tests/test_goals_api.py
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

perf(backend): trim embedded habit completions to a rolling 90-day window
  backend/src/load_options.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): compute streaks from full history, not the transport window
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

refactor(backend): extract streak population to restore xenon rank A
  backend/src/routers/habits.py
Due: backend-tests-coverage

docs(backend): correct stale window note — streaks read full history
  backend/src/routers/habits.py
Due: backend-tests-coverage

perf(backend): trim embedded habit completions to a rolling 90-day window (#428)
  backend/src/load_options.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): filter habit completions at the query layer, not in memory
  backend/src/load_options.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(backend): filter habit completions at the query layer, not in memory (#430)
  backend/src/load_options.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(backend): self-heal crash-stranded chat idempotency tombstones
  backend/src/services/chat_idempotency.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(backend): self-heal crash-stranded chat idempotency tombstones (#431)
  backend/src/services/chat_idempotency.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

feat(backend): anchor stage/week gating to a stored program start date
  backend/migrations/versions/18c9d0e1f2a3_add_program_started_at.py
  backend/src/domain/constants.py
  backend/src/domain/program_calendar.py
  backend/src/domain/stage_progress.py
  backend/src/models/stage_progress.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_program_calendar.py
  backend/tests/test_program_gating.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

refactor(backend): clock injection for stage gate + phantom-stage clamp
  backend/migrations/versions/18c9d0e1f2a3_add_program_started_at.py
  backend/src/domain/stage_progress.py
  backend/tests/test_program_gating.py
Due: backend-tests-coverage

feat(backend): anchor stage/week gating to a stored program start date (#432)
  backend/migrations/versions/18c9d0e1f2a3_add_program_started_at.py
  backend/src/domain/constants.py
  backend/src/domain/program_calendar.py
  backend/src/domain/stage_progress.py
  backend/src/models/stage_progress.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_program_calendar.py
  backend/tests/test_program_gating.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

docs(backend): ratify git-content architecture + freeze manifest contract
  .pre-commit-config.yaml
  backend/content/manifest.example.json
  backend/content/manifest.schema.json
  backend/requirements-dev.txt
  backend/tests/test_manifest_schema.py
  docs/adr/0001-git-content-pipeline.md
Due: backend-tests-coverage

build(backend): floor jsonschema at 4.0 for draft 2020-12 support
  backend/requirements-dev.txt
Due: backend-tests-coverage

test(backend): cover site_resources mutations, clarify schema semantics
  backend/content/manifest.schema.json
  backend/tests/test_manifest_schema.py
Due: backend-tests-coverage

docs(backend): ratify git-content architecture + freeze manifest contract (#433)
  .pre-commit-config.yaml
  backend/content/manifest.example.json
  backend/content/manifest.schema.json
  backend/requirements-dev.txt
  backend/tests/test_manifest_schema.py
  docs/adr/0001-git-content-pipeline.md
Due: backend-tests-coverage

feat(backend): add ContentRepository backed by vendored local files
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

fix(backend): reject duplicate chapter ids in content manifest
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

fix(backend): reject duplicate site resource slugs in content manifest
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
