Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat: replace magic numbers with named constants and add explanatory comments (phase-4-07)
  backend/src/domain/energy.py
  backend/src/routers/auth.py
  backend/src/routers/energy.py
  backend/tests/domain/test_energy.py
  frontend/src/features/Habits/HabitDefaults.tsx
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): validate CORS config for production safety (phase-4-08)
  backend/.env.example
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

docs(issues): add complexity linters and Railway deployment issues
  prompts/github-issues/README.md
  prompts/github-issues/phase-4-09-complexity-maintainability-linters.md
  prompts/github-issues/phase-4-10-railway-deployment-setup.md
Due: none

refactor(frontend): move HabitScreenMode type to Habits.types.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/hooks/useHabits.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): replace Math.random() IDs with UUID generation (phase-4-01)
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/storage/__tests__/habitStorage.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): eliminate all @ts-ignore, as never, and blanket eslint-disables (phase-4-02)
  frontend/@types/react-native-emoji-selector.d.ts
  frontend/@types/react-native-web.d.ts
  frontend/eslint.config.cjs
  frontend/src/components/DatePicker.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Course/ContentCard.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/useHabitNotifications.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/TagFilter.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
  frontend/src/store/useUserStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add Practice screen with selection, timer, and sound cues (phase-3-09)
  frontend/@types/expo-av.d.ts
  frontend/__tests__/api.test.ts
  frontend/assets/sounds/bell-end.mp3
  frontend/assets/sounds/bell-half.mp3
  frontend/assets/sounds/bell-start.mp3
  frontend/jest.config.js
  frontend/package.json
  frontend/src/__mocks__/expo-av.js
  frontend/src/__mocks__/expo-keep-awake.js
  frontend/src/api/index.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/PracticeSelector.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeSelector.test.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
  frontend/src/features/Practice/__tests__/WeeklyProgress.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add auth security hardening (phase-4-03)
  .pre-commit-config.yaml
  backend/conftest.py
  backend/requirements.txt
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/login_attempt.py
  backend/src/rate_limit.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(frontend): remove unused eslint-disable directives and add @types/uuid
  frontend/@types/expo-av.d.ts
  frontend/package-lock.json
  frontend/src/features/Practice/PracticeSelector.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): remove unused eslint-disable directives
  frontend/@types/expo-av.d.ts
  frontend/src/features/Practice/PracticeSelector.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add practice session params to Journal route type
  frontend/src/navigation/BottomTabs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add post-practice reflection prompt with Journal navigation
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add initialTags prop to ChatInput
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/__tests__/ChatInput.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): accept practice params in JournalScreen for reflections
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): show Practice Session badge on linked journal entries
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): update package-lock.json
  frontend/package-lock.json
Due: frontend-eslint, frontend-tests

feat(full-stack): add Railway deployment setup (phase-4-10)
  .secrets.baseline
  DEPLOYMENT.md
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile
  backend/src/database.py
  backend/src/main.py
  backend/tests/test_database.py
  frontend/eas.json
  railway.toml
  scripts/pre-deploy-check.sh
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

feat(frontend): add type-safe navigation with typed hooks and deep linking (phase-4-05)
  frontend/src/App.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/navigation/__tests__/hooks.test.tsx
  frontend/src/navigation/hooks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): add migrations directory and simplify Dockerfile COPY
  backend/Dockerfile
  backend/migrations/.gitkeep
Due: backend-tests-coverage

feat(frontend): add Course → Journal reflection deep links (phase-3-12)
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: add prompts to github
  prompts/AdepthoodCoursePrompt
  prompts/AdepthoodJournalPrompt
  prompts/AdepthoodMapPrompt
  prompts/AdepthoodPracticeFeaturePrompt
  prompts/Adepthood_EnergyScaffolding_and_Menu.md
  prompts/Adepthood_HabitMilestones_Refactor.md
  prompts/HabitsPrompt-2025-08-22.md
Due: none

feat(full-stack): add complexity and maintainability linters (phase-4-09)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/src/main.py
  backend/src/routers/course.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/routers/journal.py
  backend/src/seed_content.py
  frontend/eslint.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/DatePicker.tsx
  frontend/src/design/useResponsive.ts
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/PracticeSelector.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs: add Phase 5 issues for prompt-vs-implementation discrepancies
  prompts/github-issues/README.md
  prompts/github-issues/phase-5-01-greyed-locked-habits.md
  prompts/github-issues/phase-5-02-milestone-toasts.md
  prompts/github-issues/phase-5-03-victory-color-system.md
  prompts/github-issues/phase-5-04-map-stage-history.md
  prompts/github-issues/phase-5-05-journal-tags-enum.md
  prompts/github-issues/phase-5-06-scaffolding-reveal-animation.md
  prompts/github-issues/phase-5-07-manual-habit-unlock.md
  prompts/github-issues/phase-5-epic.md
Due: none

test(full-stack): add integration and E2E test coverage (phase-4-06)
  backend/tests/test_energy_integration.py
  backend/tests/test_integration.py
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(full-stack): add integration and E2E test coverage (phase-4-06)
  backend/tests/test_energy_integration.py
  backend/tests/test_integration.py
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.tsx
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(full-stack): add integration tests for multi-step user flows (phase-4-06)
  backend/tests/test_energy_integration.py
  backend/tests/test_integration.py
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/store/__tests__/useHabitStore.integration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(full-stack): add integration tests for multi-step user flows (phase-4-06)
  backend/tests/test_energy_integration.py
  backend/tests/test_integration.py
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(full-stack): add habit stats API endpoint and wire StatsModal to real data
  backend/src/routers/habits.py
  backend/src/schemas/__init__.py
  backend/src/schemas/habit_stats.py
  backend/tests/test_habit_stats_api.py
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat: add frontend integration tests and complexity linters (phase-4-06, phase-4-09)
  backend/requirements-dev.txt
  frontend/eslint.config.cjs
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(full-stack): add habit stats API endpoint and connect StatsModal (#88)
  frontend/src/api/index.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): show locked habits as greyed-out tiles instead of hiding them (phase-5-01)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): align StatsModal and tests with main's habit stats schema
  frontend/src/api/index.ts
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): replace milestone Alert.alert() with toast notifications (phase-5-02)
  frontend/src/App.tsx
  frontend/src/components/Toast.tsx
  frontend/src/components/ToastProvider.tsx
  frontend/src/components/__tests__/Toast.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): add stage history endpoint and Map journey section (phase-5-04)
  backend/src/domain/stage_progress.py
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_stages_history.py
  frontend/src/api/index.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): add manual habit unlock override setting (phase-5-07)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add victory color system to progress bars (phase-5-03)
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): migrate journal tags from booleans to extensible enum (phase-5-05)
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/routers/prompts.py
  backend/src/schemas/journal.py
  backend/tests/test_journal_api.py
  backend/tests/test_prompts_api.py
  frontend/src/api/index.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/TagFilter.tsx
  frontend/src/features/Journal/__tests__/ChatInput.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
  frontend/src/features/Journal/__tests__/TagFilter.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): add reveal animation to Energy Scaffolding reorder step
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reveal.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(issues): add Phase 5 epic — test coverage & security hardening
  prompts/github-issues/README.md
  prompts/github-issues/phase-5-01-test-auth-habits-routers.md
  prompts/github-issues/phase-5-02-test-journal-botmason-prompts.md
  prompts/github-issues/phase-5-03-test-practices-stages-course-goals.md
  prompts/github-issues/phase-5-04-test-services-seeds.md
  prompts/github-issues/phase-5-05-security-hardening.md
  prompts/github-issues/phase-5-06-regenerate-openapi-types.md
  prompts/github-issues/phase-5-07-seed-templates-startup.md
  prompts/github-issues/phase-5-08-frontend-test-coverage.md
  prompts/github-issues/phase-5-09-jwt-refresh-token.md
  prompts/github-issues/phase-5-10-react-error-boundary.md
  prompts/github-issues/phase-5-epic.md
Due: none

feat: add web app deployment setup for Railway
  DEPLOYMENT.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/__tests__/DatePicker.test.tsx
  frontend/eslint.config.cjs
  frontend/metro.config.js
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
