Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(frontend): make rename step 1 of every practice-copy flow (#1657)
  frontend/src/features/Practice/components/CopyToStageDialog.tsx
  frontend/src/features/Practice/components/__tests__/CopyToStageDialog.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/utils/__tests__/copyPracticeToStage.test.ts
  frontend/src/features/Practice/utils/copyPracticeToStage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): tidy backdrop touch symmetry, dead momentum passthrough, misplaced completion math
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): tidy backdrop touch symmetry, dead momentum passthrough, misplaced completion math (#1658)
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1658 (issue #1440, total 541), groom #54 reset
  scripts/ralph/state.json
Due: none

refactor(journal): tidy stale RED preambles, dead exports, dup reopen affordance
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/ContractionReflectionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): tidy stale RED preambles, dead exports, dup reopen affordance (#1659)
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/ContractionReflectionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1659 (issue #1442, total 542)
  scripts/ralph/state.json
Due: none

refactor(frontend): drop dead layout default exports and tautological DEAD_FILES test
  frontend/src/__tests__/noDeadFiles.test.ts
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/EditorialSection.tsx
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): drop dead layout default exports and tautological DEAD_FILES test (#1660)
  frontend/src/__tests__/noDeadFiles.test.ts
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/EditorialSection.tsx
  frontend/src/components/layout/ScreenHeader.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1660 (issue #1446, total 543)
  scripts/ralph/state.json
Due: none

fix(frontend): return 404 for scanner probe paths in nginx SPA fallback
  frontend/__tests__/nginx-routing.test.ts
  frontend/nginx.conf
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): return 404 for scanner probe paths in nginx SPA fallback (#1661)
  frontend/__tests__/nginx-routing.test.ts
  frontend/nginx.conf
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1661 (issue #1456, total 544)
  scripts/ralph/state.json
Due: none

fix(backend): compute course/stages unlock gates in the user's timezone
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/tests/test_course_api.py
  backend/tests/test_program_gating.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

fix(frontend): surface SecureStore write failure so API-key save shows one banner
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): surface SecureStore write failure so API-key save shows one banner (#1664)
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1664 (issue #1474, total 545)
  scripts/ralph/state.json
Due: none

refactor(course): remove redundant client-side frontmatter strip
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripLeadingTitleHeading.test.ts
  frontend/src/features/Course/stripLeadingTitleHeading.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(course): remove redundant client-side frontmatter strip (#1666)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripLeadingTitleHeading.test.ts
  frontend/src/features/Course/stripLeadingTitleHeading.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1666 (issue #1501, total 546)
  scripts/ralph/state.json
Due: none

fix(backend): compute course/stages unlock gates in the user's timezone (#1662)
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/tests/test_course_api.py
  backend/tests/test_program_gating.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1662 (issue #1639, total 547)
  scripts/ralph/state.json
Due: none

refactor(course): dedupe retry button and reconcile "Try again" label
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/RetryButton.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/RetryButton.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(course): dedupe retry button and reconcile "Try again" label (#1667)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/RetryButton.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/RetryButton.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1667 (issue #1502, total 548)
  scripts/ralph/state.json
Due: none

refactor(frontend): remove dead EditableGoalProps and GoalGroup types
  frontend/src/features/Habits/Habits.types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove dead EditableGoalProps and GoalGroup types (#1668)
  frontend/src/features/Habits/Habits.types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1668 (issue #1511, total 549)
  scripts/ralph/state.json
Due: none

refactor(habits): extract shared buildTileStyle base builder in HabitTile
  frontend/src/features/Habits/HabitTile.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): extract shared buildTileStyle base builder in HabitTile (#1669)
  frontend/src/features/Habits/HabitTile.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1669 (issue #1512, total 550)
  scripts/ralph/state.json
Due: none

docs(practice): correct InsightCaptureModal journal-handoff docstring
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(practice): correct InsightCaptureModal journal-handoff docstring (#1670)
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1670 (issue #1559, total 551)
  scripts/ralph/state.json
Due: none

fix(journal): grapheme-safe excerpt truncation
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/excerpt.test.ts
  frontend/src/features/Journal/excerpt.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): grapheme-safe excerpt truncation (#1671)
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/excerpt.test.ts
  frontend/src/features/Journal/excerpt.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1671 (issue #1549, total 552)
  scripts/ralph/state.json
Due: none

test(metta): bind useMettaReturn unmount/revert guards with dispatch tracking
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): reclaim the retired 49px tab-bar reserve in tile density
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(metta): bind useMettaReturn unmount/revert guards with dispatch tracking (#1672)
  frontend/src/features/Return/__tests__/useMettaReturn.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
