Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

test(backend): count reveal stamps under a forced race on PostgreSQL (#3071)
  backend/tests/integration/test_habit_reveal_stamp_race.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

feat(frontend): announce session time and say when bells cannot play
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.bellsUnavailable.test.tsx
  frontend/src/features/Practice/engine/adapters/audio.ts
  frontend/src/features/Practice/views/CountUpTimerView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MeditationTimerView.tsx
  frontend/src/features/Practice/views/MetronomeView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/RepCounterView.tsx
  frontend/src/features/Practice/views/__tests__/sessionLargeType.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionTimeA11y.test.tsx
  frontend/src/features/Practice/views/formatTime.ts
  frontend/src/features/Practice/views/shared/SessionTimerLabel.tsx
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(e2e): point the reveal journey's stamp-once claim at the Postgres race (#3071)
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

test(privacy): pin that a deleted Intimate source counts as withdrawn only
  backend/tests/test_privacy_lineage.py
Due: backend-tests-coverage

test(privacy): catch DENIED_TIERS, aliased and constructed Intimate in the tier-guard scan
  backend/tests/security/test_tier_guard_centralized.py
  backend/tests/support/tier_guards.py
Due: backend-tests-coverage

fix(privacy): gate the vault write on the egress predicate before resolving its ceiling
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_write.py
Due: backend-tests-coverage

test(privacy): pair each strict-xfail leak pin with a passing control
  backend/tests/test_privacy_lineage.py
Due: backend-tests-coverage

feat(backend): seed the course's Yellow and Ultraviolet alternatives
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(privacy): count a lineage shadow only once the operation really egresses
  backend/src/routers/journal.py
  backend/src/services/corpus_ingest.py
  backend/tests/test_privacy_lineage.py
Due: backend-tests-coverage

test(frontend): launch every seeded preset and hold mode parity
  backend/scripts/dump_seeded_presets.py
  backend/tests/scripts/test_dump_seeded_presets_gate.py
  backend/tests/test_seeded_presets_frontend_fixture.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-paused-sitting.browser.e2e.test.ts
  frontend/src/features/Practice/__tests__/fixtures/seededPresets.json
  frontend/src/features/Practice/__tests__/modeParity.test.tsx
  frontend/src/features/Practice/__tests__/presetLaunchMatrix.test.tsx
  frontend/src/features/Practice/__tests__/sessionViewTestIds.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): declare a retention rule for every table and inventory off-database stores
  backend/openapi.json
  backend/scripts/retention_report.py
  backend/src/domain/retention.py
  backend/src/domain/retention_stores.py
  backend/src/models/journal_entry.py
  backend/src/models/user.py
  backend/src/routers/journal.py
  backend/tests/domain/test_retention_registry.py
  backend/tests/domain/test_retention_store_inventory.py
  backend/tests/scripts/test_retention_report.py
Due: backend-tests-coverage

test(privacy): pin the vault write's closed skip for an unknown tier at the HTTP seam
  backend/tests/test_creek_vault_http_client.py
Due: backend-tests-coverage

fix(frontend): never save a sitting that ends before it starts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.pauseResume.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): suppress resurrected deletions after a backup restore
  DEPLOYMENT.md
  backend/migrations/versions/f5539c70e00d_restore_marker.py
  backend/scripts/restore_suppression.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/retention.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/restore_marker.py
  backend/src/sentry.py
  backend/src/services/account_deletion.py
  backend/src/services/restore_suppression.py
  backend/tests/domain/test_tombstone_sources.py
  backend/tests/scripts/test_restore_suppression_cli.py
  backend/tests/test_backup_restore_runbook.py
  backend/tests/test_column_classification.py
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

feat(backend): add the operator purge for soft-deleted journal entries
  backend/openapi.json
  backend/src/domain/retention.py
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/src/services/journal_retention.py
  backend/tests/domain/test_retention_registry.py
  backend/tests/routers/test_integer_bounds_reject_out_of_range.py
  backend/tests/security/test_idor.py
  backend/tests/test_journal_retention.py
  backend/tests/test_rate_limits.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

docs(backend): explain the non-short-circuit or in the vault outcome recorder
  backend/src/routers/journal.py
Due: backend-tests-coverage

fix(privacy): count a degraded vault write as sent in the lineage shadow
  backend/src/routers/journal.py
  backend/tests/test_privacy_lineage.py
Due: backend-tests-coverage

fix(frontend): detect a bell the browser refuses to play
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.bellsUnavailable.test.tsx
  frontend/src/features/Practice/engine/adapters/audio.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): refuse a journal purge window shorter than the longest backup
  backend/openapi.json
  backend/src/domain/retention.py
  backend/src/domain/retention_stores.py
  backend/src/routers/admin.py
  backend/src/services/journal_retention.py
  backend/tests/security/test_idor.py
  backend/tests/test_journal_retention.py
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

fix(backend): never re-stamp a new page that reuses a deleted entry's id
  DEPLOYMENT.md
  backend/src/services/restore_suppression.py
  backend/tests/test_backup_restore_runbook.py
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

test(backend): pin reapply's withdrawal re-mark and vault handle clearing
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

test(backend): pin reapply's withdrawal of the resurrected corpus copy
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

test(backend): run the purge's grandchild path against a real database
  backend/tests/test_journal_retention.py
Due: backend-tests-coverage

fix(backend): re-read reveal candidates after the anchor commit
  backend/src/services/habit_auto_reveal.py
  backend/tests/services/test_habit_auto_reveal_cadence.py
Due: backend-tests-coverage

refactor(privacy): move the vault write's shadow and pipeline tail into one helper
  backend/src/routers/journal.py
Due: backend-tests-coverage

fix(frontend): let random-interval bells raise the bells-unavailable notice
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.audio.test.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.bellsUnavailable.test.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(claude): file prioritized issues for COMMENTS verdicts instead of iterating
  .claude/commands/ralph-tick.md
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
  CLAUDE.md
  scripts/ralph/FLEET.md
  scripts/ralph/PROMPT.md
Due: none

test(backend): pin case, trailing-dot and subdomain hosts in the base-URL boot refusal
  backend/tests/test_llm_base_url_startup_config.py
Due: backend-tests-coverage

docs(deploy): put the provider base-URL boot refusal on the pre-deploy checklist
  DEPLOYMENT.md
Due: none

feat(ralph): clear COMMENTS verdicts for merge via ready-comments
  .claude/commands/ralph-tick.md
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .github/workflows/iteration-trigger.yml
  scripts/ralph/FLEET.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
  scripts/ralph/watch-pr.sh
Due: none

feat(privacy): operator suspension switches for external AI and vault sends
  DEPLOYMENT.md
  backend/openapi.json
  backend/src/domain/creek_vault.py
  backend/src/main.py
  backend/src/routers/admin.py
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/src/schemas/privacy_suspension.py
  backend/src/services/botmason.py
  backend/src/services/creek_vault_client.py
  backend/src/services/privacy_suspension.py
  backend/tests/incident/__init__.py
  backend/tests/incident/test_privacy_suspension.py
  backend/tests/incident/test_suspension_invariants.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

docs(ops): draft privacy incident runbook + automated tabletop
  backend/openapi.json
  backend/src/routers/admin.py
  backend/src/schemas/vault_activation.py
  backend/tests/incident/test_runbook_drift.py
  backend/tests/incident/test_tabletop.py
  backend/tests/test_vault_activation.py
  docs/ops/privacy-incident-response.md
  frontend/SECURITY.md
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(frontend): pin the exact words each session timer speaks
  frontend/src/features/Practice/views/__tests__/sessionTimeA11y.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): set the purge floor to the oldest live backup copy and prune dumps
  DEPLOYMENT.md
  backend/openapi.json
  backend/src/domain/retention.py
  backend/src/domain/retention_stores.py
  backend/src/routers/admin.py
  backend/src/services/journal_retention.py
  backend/tests/domain/test_retention_store_inventory.py
  backend/tests/test_journal_retention.py
Due: backend-tests-coverage

test(frontend): warm the bell synth before the bells-unavailable suite
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.bellsUnavailable.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): match entry tombstones by creation stamp, not by last write
  DEPLOYMENT.md
  backend/src/services/restore_suppression.py
  backend/tests/test_backup_restore_runbook.py
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

test(backend): call the post-purge restore drill a smoke test, not a proof
  backend/tests/test_restore_suppression.py
Due: backend-tests-coverage

test(frontend): pin that a throwing bell play reports unavailable
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(privacy): keep the suspension guards inside the complexity budget
  backend/src/services/botmason.py
  backend/src/services/privacy_suspension.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

feat(ralph): COMMENTS verdicts file prioritized issues instead of iterating (#3093)
  .claude/commands/ralph-tick.md
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
  .github/workflows/iteration-trigger.yml
  CLAUDE.md
  scripts/ralph/FLEET.md
  scripts/ralph/PROMPT.md
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
  scripts/ralph/watch-pr.sh
Due: none
