Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

docs(adr): align BD's removal cell with the journal scope split (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

test(backend): require owner provenance to name a recorded decision (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): resync the B13 epic draft with ADR 0009 (#3067)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-b13-epic-draft.md
Due: backend-tests-coverage

test(backend): make the custody baseline a structural tripwire (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-b13-epic-draft.md
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): scope Decisions 3-4 as targets and record the app-key gap (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): record the owner's ADR 0009 follow-up answers (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0007-demand-provisioned-confidential-vaults.md
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

test(backend): close the round-3 bypasses in the custody-claim tripwire (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-b13-epic-draft.md
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): give the B13 draft the ADR's target framing and platform caveat (#3067)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-b13-epic-draft.md
Due: backend-tests-coverage

test(backend): harden the present-tense custody-claim tripwire (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): scope the ADR 0002 amendment's cloud rule and record the app-key gap (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0002-intimate-content-local-routing.md
Due: backend-tests-coverage

test(backend): fail, not skip, when an in-scope column leaves the codec (#3066)
  backend/tests/test_custody_decision_record.py
Due: backend-tests-coverage

docs(adr): name the real BYOK relay path in the known-gap note (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): narrow ADR 0009's header to what is still open (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

docs(adr): scope BD's boundary fully and name the relay gap (#3066)
  backend/tests/test_custody_decision_record.py
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

feat(backend): add content-free journal withdrawal obligation table
  backend/migrations/versions/a7c9e1f3b5d8_journal_withdrawal_obligation.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/retention.py
  backend/src/models/__init__.py
  backend/src/models/journal_withdrawal_obligation.py
Due: backend-tests-coverage

fix(backend): background sweep finishes a pending DELETE for any classification
  backend/src/routers/journal.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/creek_vault_withdraw.py
  backend/src/services/journal_withdrawal_obligation.py
  backend/tests/test_journal_delete_completion.py
Due: backend-tests-coverage

docs(legal): say backups outlive account deletion for about 97 days
  backend/tests/test_deletion_backup_copy.py
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/your-data.md
Due: backend-tests-coverage

docs(legal): name every data recipient and describe Sentry's content-free reports
  backend/src/privacy/recipients.py
  backend/tests/security/test_recipient_policy_reconciliation.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

docs(readme): say some Course readings follow a schedule
  README.md
  backend/tests/test_course_schedule_copy.py
Due: backend-tests-coverage

docs(legal): disclose that embeddings, frequency weights and vault tags are unencrypted
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

fix(frontend): say backups outlive account deletion in the app's delete copy
  backend/tests/test_deletion_backup_copy.py
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): say some Course readings follow a schedule in Choose your depths
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(legal): disclose the crash reports the app sends to Sentry from the device
  docs/legal/privacy-policy.md
  frontend/src/observability/__tests__/sentryPolicyDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(legal): say a restore from an old backup could bring deleted data back
  backend/tests/test_deletion_backup_copy.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

docs(legal): present the 97-day backup bound as our schedule, not a guarantee
  backend/tests/test_deletion_backup_copy.py
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/your-data.md
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(legal): name the operator's off-platform backup copies as a recipient
  backend/src/privacy/recipients.py
  backend/tests/security/test_recipient_policy_reconciliation.py
  backend/tests/security/test_recipient_register.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

docs(legal): scope the backup bound to Adepthood's own backups
  backend/tests/test_deletion_backup_copy.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

docs(legal): disclose completion-suggestion facts and the corpus confidence score
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

test(backend): tie the 97-day bound to its own schedule phrase
  backend/tests/test_deletion_backup_copy.py
Due: backend-tests-coverage

test(backend): exercise both restore-copy branches and reject reworded promises
  backend/tests/test_deletion_backup_copy.py
Due: backend-tests-coverage

feat(backend): reconnect-first 503 and erase-locally path for an unreachable vault
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/src/services/journal_withdrawal_obligation.py
  backend/tests/test_journal_unreachable_vault.py
  backend/tests/test_rate_limits.py
  backend/tests/test_vault_destination_binding.py
Due: backend-tests-coverage

fix(settings): drive the morning-pages switch control
  frontend/e2e/journal-morning-pages-never-offer.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): resolve visual layout regressions
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-writing-timer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileStarLongPress.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsFooterLayout.test.tsx
  frontend/src/features/Habits/__tests__/starFill.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/starFill.ts
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/writingTimerLayout.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): align banner clearance with timer placement
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the nested fields of the client crash report to the policy
  frontend/src/observability/__tests__/sentryPolicyDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): reconnect-first / can't-reach choice for an unconfirmed vault copy
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/openapiConformance.test.ts
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/journalErasure.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/UnreachableVaultChoice.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDelete.test.tsx
  frontend/src/features/Journal/deleteEntryCopy.ts
  frontend/src/features/Journal/useEntryDeletion.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(privacy): add erasure plan for copies in an unreachable vault
  backend/src/domain/retention.py
  backend/src/services/creek_vault_withdraw.py
  docs/privacy/gdpr-erasure-unreachable-vaults.md
Due: backend-tests-coverage

docs(adr): accept ADR 0009 — operator cannot read journals is the decided target (B12) (#3113)
  backend/tests/test_custody_decision_record.py
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0007-demand-provisioned-confidential-vaults.md
  docs/adr/0009-architecture-scorecard.json
  docs/adr/0009-b13-epic-draft.md
  docs/adr/0009-privacy-custody-and-inference-architecture.md
Due: backend-tests-coverage

refactor(backend): move journal deletion bookkeeping out of the router
  backend/src/routers/journal.py
  backend/src/services/creek_vault_voice_drafts.py
  backend/src/services/journal_vault_withdrawal.py
  backend/src/services/journal_withdrawal_obligation.py
  backend/tests/test_journal_delete_completion.py
  backend/tests/test_journal_unreachable_vault.py
Due: backend-tests-coverage

feat(backend): refuse AI generation without credits or a personal key (#3096)
  backend/.env.example
  backend/conftest.py
  backend/src/main.py
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/src/services/botmason.py
  backend/src/services/generation_access.py
  backend/src/services/stub_completions.py
  backend/src/services/wallet.py
  backend/tests/test_email_startup_config.py
  backend/tests/test_generation_payer.py
  backend/tests/test_generation_payer_invariants.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_llm_base_url_startup_config.py
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
