Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(backend): add random_interval_bell practice mode (#368)
  backend/migrations/versions/b6c7d8e9a0b1_add_random_interval_bell_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

feat(frontend): build RandomIntervalBellView + configurator form (#350)
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.test.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/forms/RandomIntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/RandomIntervalBellForm.test.tsx
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): address review feedback on random_interval_bell
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): provision stage progress on first course access (#372)
  backend/src/domain/stage_progress.py
  backend/src/routers/course.py
  backend/tests/test_course_api.py
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(practice): polish random_interval_bell from re-review
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/RandomIntervalBellForm.test.tsx
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

style(practice): collapse multi-line docblocks per CLAUDE.md (LGTM nits)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): add random_interval_bell mode with client-side scheduling (#373)
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.test.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/forms/RandomIntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/RandomIntervalBellForm.test.tsx
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/RandomIntervalBellView.tsx
  frontend/src/features/Practice/views/__tests__/RandomIntervalBellView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): isolate startup seeders so one failure doesn't starve the rest
  backend/src/main.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

fix(frontend): use tile stage color for habit progress bar
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use tile stage color for habit progress bar (#375)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): practice catalog browse screen + create-custom wizard
  backend/src/routers/practices.py
  backend/tests/test_practices_api.py
  frontend/src/api/index.ts
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/__tests__/defaults.test.ts
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): short-circuit dependent seeders when seed_stages fails
  backend/src/main.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

fix(habits): repair stats charts data alignment + light-theme styling
  backend/src/domain/habit_stats.py
  backend/tests/test_habit_stats_api.py
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): isolate startup seeders so one failure doesn't starve the rest (#374)
  backend/src/main.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(practice): mindfulness recipe library with full tag CRUD
  backend/conftest.py
  backend/migrations/versions/07b8c9d0e1f2_add_practice_recipes_and_tags.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/practice_recipe.py
  backend/src/models/practice_tag.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_tags.py
  backend/src/schemas/practice_recipe.py
  backend/src/schemas/practice_tag.py
  backend/src/seed_practice_recipes.py
  backend/tests/test_practice_recipes_api.py
  backend/tests/test_practice_tags_api.py
  backend/tests/test_seed_practice_recipes.py
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
  frontend/src/features/Practice/recipes/__tests__/types.test.ts
  frontend/src/features/Practice/recipes/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): count no-log days as success for subtractive habits
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(habits): address PR review feedback on stats charts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): address PR review — named fallback stage + shared constants
  frontend/src/features/Practice/constants.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): repair stats charts data alignment + light-theme styling (#377)
  backend/src/domain/habit_stats.py
  backend/tests/test_habit_stats_api.py
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/StatsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(practice): practice catalog browse screen + create-custom wizard (#376)
  backend/src/routers/practices.py
  backend/tests/test_practices_api.py
  frontend/src/api/index.ts
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/__tests__/defaults.test.ts
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/constants.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(habits): cover subtractive check-in HTTP path end-to-end
  backend/tests/test_goal_completions.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): align recipe migration with main + declare partial indexes
  backend/conftest.py
  backend/migrations/versions/07b8c9d0e1f2_add_practice_recipes_and_tags.py
  backend/src/models/practice_recipe.py
  backend/src/models/practice_tag.py
Due: backend-tests-coverage

fix(habits): fail loudly on duplicate clear-tier goals per habit
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(practice): batch step queries + return real sessions from apply
  backend/src/routers/practice_recipes.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

feat(practice): mindfulness recipe library with full tag CRUD (#378)
  backend/migrations/versions/07b8c9d0e1f2_add_practice_recipes_and_tags.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/practice_recipe.py
  backend/src/models/practice_tag.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_tags.py
  backend/src/schemas/practice_recipe.py
  backend/src/schemas/practice_tag.py
  backend/src/seed_practice_recipes.py
  backend/tests/test_practice_recipes_api.py
  backend/tests/test_practice_tags_api.py
  backend/tests/test_seed_practice_recipes.py
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
  frontend/src/features/Practice/recipes/__tests__/types.test.ts
  frontend/src/features/Practice/recipes/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): stable 500 on dup clear-tier + GET /habits subtractive coverage
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(habits): subtractive longest_streak — drop "Current: N · Longest: 0" gap
  backend/src/domain/habit_stats.py
  backend/src/routers/habits.py
  backend/tests/test_habit_stats_api.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): count no-log days as success for subtractive habits (#379)
  backend/src/domain/habit_stats.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): seed Find Shapes + Find Colors grounding presets (#339)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(practice): build MindfulAnchorView for Touch Grass / Mindful Eating
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/__snapshots__/MindfulAnchorView.test.tsx.snap
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): address MindfulAnchorView review feedback
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): build MindfulAnchorView for Touch Grass / Mindful Eating (#365)
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/__snapshots__/MindfulAnchorView.test.tsx.snap
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): assert description + instructions seeded for tallied presets
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(backend): seed Find Shapes + Find Colors grounding presets (#339) (#367)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

docs(roadmap): add practice-presets epic for Spiral Dynamics alternatives
  prompts/github-issues/README.md
  prompts/github-issues/practice-presets-01-beige-grounding.md
  prompts/github-issues/practice-presets-02-purple-divination.md
  prompts/github-issues/practice-presets-03-red-energy.md
  prompts/github-issues/practice-presets-04-blue-heart.md
  prompts/github-issues/practice-presets-05-orange-activation.md
  prompts/github-issues/practice-presets-06-green-shadow.md
  prompts/github-issues/practice-presets-07-teal-integration.md
  prompts/github-issues/practice-presets-epic.md
Due: none

docs(roadmap): add practice-presets epic for Spiral Dynamics alternatives (#380)
  prompts/github-issues/README.md
  prompts/github-issues/practice-presets-01-beige-grounding.md
  prompts/github-issues/practice-presets-02-purple-divination.md
  prompts/github-issues/practice-presets-03-red-energy.md
  prompts/github-issues/practice-presets-04-blue-heart.md
  prompts/github-issues/practice-presets-05-orange-activation.md
  prompts/github-issues/practice-presets-06-green-shadow.md
  prompts/github-issues/practice-presets-07-teal-integration.md
  prompts/github-issues/practice-presets-epic.md
Due: none

feat(backend): seed 7 BEIGE alternative grounding presets at stage 1
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(backend): seed 8 PURPLE alternative divination presets at stage 2
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

docs(grooming): 2026-05-24 grooming pass across grounding + custom-practices epics
  plan/2026-05-24_BACKLOG_GROOMING.md
Due: none

feat(backend): seed 10 RED alternative energy presets at stage 3
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage
