Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(backend): add ContentRepository backed by vendored local files (#434)
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

feat(backend): add sync_content.py to vendor pinned course content
  .gitattributes
  Makefile
  backend/scripts/sync_content.py
  backend/tests/scripts/test_sync_content.py
Due: backend-tests-coverage

fix(backend): bring scripts/ into the coverage gate and tighten sync_content
  backend/pyproject.toml
  backend/scripts/sync_content.py
  backend/tests/scripts/test_sync_content.py
Due: backend-tests-coverage

feat(backend): add sync_content.py to vendor pinned course content (#435)
  .gitattributes
  Makefile
  backend/pyproject.toml
  backend/scripts/sync_content.py
  backend/tests/scripts/test_sync_content.py
Due: backend-tests-coverage

feat(backend): drive content_config and seed_content from the manifest
  backend/src/content_config.py
  backend/src/seed_content.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_content.py
  docs/content.md
Due: backend-tests-coverage

feat(backend): drive content_config and seed_content from the manifest (#436)
  backend/src/content_config.py
  backend/src/seed_content.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_content.py
  docs/content.md
Due: backend-tests-coverage

feat(backend): serve chapter and resource bodies from local markdown
  backend/src/routers/course.py
  backend/src/schemas/course.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_squarespace_endpoints.py
Due: backend-tests-coverage

feat(backend): serve chapter and resource bodies from local markdown (#437)
  backend/src/routers/course.py
  backend/src/schemas/course.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_squarespace_endpoints.py
Due: backend-tests-coverage

feat(frontend): render course content as native markdown
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ChapterReader.web.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): render course content as native markdown (#438)
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ChapterReader.web.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): serve site resources from the content manifest
  backend/src/content_config.py
  backend/src/routers/course.py
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

fix(backend): drop unused path from SiteResourceMeta
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

feat(backend): serve site resources from the content manifest (#439)
  backend/src/content_config.py
  backend/src/routers/course.py
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

chore(backend): delete the squarespace client and rewrite the content guide
  backend/.env.example
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/content_config.py
  backend/src/schemas/course.py
  backend/src/seed_content.py
  backend/src/services/content_repository.py
  backend/src/services/squarespace.py
  backend/tests/test_content_repository.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_rate_limits.py
  backend/tests/test_seed_content.py
  backend/tests/test_squarespace_service.py
  docs/content.md
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/SiteResourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(backend): delete the squarespace client and rewrite the content guide (#440)
  backend/.env.example
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/content_config.py
  backend/src/schemas/course.py
  backend/src/seed_content.py
  backend/src/services/content_repository.py
  backend/src/services/squarespace.py
  backend/tests/test_content_repository.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_rate_limits.py
  backend/tests/test_seed_content.py
  backend/tests/test_squarespace_service.py
  docs/content.md
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/SiteResourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): wire content drift gate into ci and surface the live pin
  .github/workflows/backend-ci.yml
  backend/scripts/sync_content.py
  backend/src/main.py
  backend/src/services/content_repository.py
  backend/tests/scripts/test_sync_content.py
  backend/tests/test_content_repository.py
  backend/tests/test_health.py
  backend/tests/test_lifespan_seeding.py
  docs/content.md
Due: backend-tests-coverage

feat(backend): wire content drift gate into ci and surface the live pin (#441)
  .github/workflows/backend-ci.yml
  backend/scripts/sync_content.py
  backend/src/main.py
  backend/src/services/content_repository.py
  backend/tests/scripts/test_sync_content.py
  backend/tests/test_content_repository.py
  backend/tests/test_health.py
  backend/tests/test_lifespan_seeding.py
  docs/content.md
Due: backend-tests-coverage

test(backend): end-to-end coverage of the local-content course flow
  backend/tests/fixtures/content/manifest.json
  backend/tests/fixtures/content/markdown/01-beige/01-survival.md
  backend/tests/fixtures/content/markdown/01-beige/02-breath.md
  backend/tests/fixtures/content/markdown/01-beige/03-tomorrow.md
  backend/tests/fixtures/content/markdown/01-beige/04-late.md
  backend/tests/fixtures/content/markdown/02-purple/01-tribal.md
  backend/tests/fixtures/content/markdown/site/getting-started.md
  backend/tests/test_course_local_content.py
Due: backend-tests-coverage

test(backend): end-to-end coverage of the local-content course flow (#442)
  backend/tests/fixtures/content/manifest.json
  backend/tests/fixtures/content/markdown/01-beige/01-survival.md
  backend/tests/fixtures/content/markdown/01-beige/02-breath.md
  backend/tests/fixtures/content/markdown/01-beige/03-tomorrow.md
  backend/tests/fixtures/content/markdown/01-beige/04-late.md
  backend/tests/fixtures/content/markdown/02-purple/01-tribal.md
  backend/tests/fixtures/content/markdown/site/getting-started.md
  backend/tests/test_course_local_content.py
Due: backend-tests-coverage

fix(frontend): stop filter tabs from advancing the reflection week
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): condense init-effect comments, pin loading contract
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop filter tabs from advancing the reflection week (#443)
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): activate live botmason llm providers end-to-end
  .pre-commit-config.yaml
  backend/.env.example
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/main.py
  backend/tests/test_botmason_api.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(backend): activate live botmason llm providers end-to-end (#444)
  .pre-commit-config.yaml
  backend/.env.example
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/main.py
  backend/tests/test_botmason_api.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(frontend): multi-provider byok with per-provider key-page links
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/byokProviders.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): multi-provider byok with per-provider key-page links (#445)
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/byokProviders.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): declarative provider registry for botmason llm providers
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

feat(backend): declarative provider registry for botmason llm providers (#446)
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(frontend): make local gate 2 green on clean main
  frontend/jest.config.js
  scripts/frontend/format.sh
Due: frontend-eslint, frontend-prettier, frontend-tests

refactor(frontend): condense the tz-pin comment to one line
  frontend/jest.config.js
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): make local gate 2 green on clean main (#447)
  frontend/jest.config.js
  scripts/frontend/format.sh
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(frontend): adopt the page envelope in feature screens via fetch-all
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Map/hooks/__tests__/useStageAdvance.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): adopt the page envelope in feature screens via fetch-all (#448)
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Map/hooks/__tests__/useStageAdvance.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): normalize day bounds to utc for sqlite-safe comparisons
  backend/src/domain/dates.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(backend): normalize day bounds to utc for sqlite-safe comparisons (#449)
  backend/src/domain/dates.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(frontend): queue offline check-ins instead of losing them
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/storage/habitStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin server-error semantics in the offline-queue suite
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): queue offline check-ins instead of losing them (#450)
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/storage/habitStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): cover concurrent switch to different practices in one slot
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

test(backend): cover concurrent switch to different practices in one slot (#451)
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage
