Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

test(e2e): await promotion removal
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): let the Return be begun from the entry that offers it (#2752)
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/ContractionReflectionNote.tsx
  frontend/src/features/Journal/ReturnConfirmDialog.tsx
  frontend/src/features/Journal/__tests__/ContractionReflectionNote.test.tsx
  frontend/src/features/Return/__tests__/returnCopy.test.ts
  frontend/src/features/Return/returnCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): repair habit, journal, and quote flows (#2748)
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/schemas/completion_suggestion.py
  backend/src/services/botmason.py
  backend/src/services/stub_completions.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_stub_completions.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-reorder.browser.e2e.test.ts
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
  frontend/e2e/journal-promoted-quote-reflection.browser.e2e.test.ts
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): let a reader set a stage prompt aside
  backend/migrations/versions/f2a3b4c5d6e7_add_prompt_dismissal.py
  backend/src/bounds.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/weekly_prompts.py
  backend/src/models/__init__.py
  backend/src/models/prompt_dismissal.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/security/test_idor.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

fix(journal): settle the save hint on the whole fold-in, not half of it
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): count the fold-ins in flight instead of flagging one
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): let a writer set a stage prompt aside on the shelf
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/routers/prompts.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/prompt-set-aside.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): settle the save hint on the whole fold-in, not half of it (#2753)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): serve the practice insights rollup uncached
  backend/openapi.json
  backend/src/routers/practice_sessions.py
  backend/tests/test_practice_sessions.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-weekly-count.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(journal): let a writer set aside stage prompts they don't want to do (#2756)
  backend/migrations/versions/f2a3b4c5d6e7_add_prompt_dismissal.py
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/bounds.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/weekly_prompts.py
  backend/src/models/__init__.py
  backend/src/models/prompt_dismissal.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/security/test_idor.py
  backend/tests/test_prompts_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/prompt-set-aside.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): settle Save Order on the writes, not on their dispatch
  frontend/e2e/habit-reorder.browser.e2e.test.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEditModalsTokens.test.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): serve the practice insights rollup uncached (#2757)
  backend/openapi.json
  backend/src/routers/practice_sessions.py
  backend/tests/test_practice_sessions.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-weekly-count.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): settle Save Order on the writes, not on their dispatch (#2758)
  frontend/e2e/habit-reorder.browser.e2e.test.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/HabitEditModalsTokens.test.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): sign each margin complaint, refresh habits, announce the failure (#2750)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-failed-checkoff.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenJustSaved.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceGate.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/authContextTestKit.ts
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCare.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCompletedPasses.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCreek.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceNoNotes.test.tsx
  frontend/src/features/Journal/optimisticRemove.ts
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(infra): confine each hook to the stages it has an answer for
  .pre-commit-config.yaml
  backend/tests/scripts/test_precommit_stage_selection.py
Due: backend-tests-coverage

refactor(backend): give the two pre-commit meta-tests one scratch lane
  backend/pyproject.toml
  backend/tests/helpers/precommit_lane.py
  backend/tests/helpers/test_precommit_lane.py
  backend/tests/scripts/test_precommit_stage_selection.py
  backend/tests/scripts/test_precommit_staged_file_gating.py
Due: backend-tests-coverage

feat(course): give the Reflect-in-Journal hand-off a way back to the reading
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/course-reflect-return.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(infra): confine each hook to the stages it has an answer for (#2759)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/tests/helpers/precommit_lane.py
  backend/tests/helpers/test_precommit_lane.py
  backend/tests/scripts/test_precommit_stage_selection.py
  backend/tests/scripts/test_precommit_staged_file_gating.py
Due: backend-tests-coverage

feat(course): give the Reflect-in-Journal hand-off a way back to the reading (#2760)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/course-reflect-return.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): say what a resonance pass costs before it charges for one
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-failed-checkoff.browser.e2e.test.ts
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance-explainer.browser.e2e.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceExplainerDialog.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/resonanceExplainerTestKit.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
  frontend/src/storage/__tests__/resonanceExplainerStorage.test.ts
  frontend/src/storage/resonanceExplainerStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): say what a resonance pass costs before it charges for one (#2761)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-failed-checkoff.browser.e2e.test.ts
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/resonance-explainer.browser.e2e.test.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/ResonanceExplainerDialog.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenNoNotes.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/resonanceExplainerTestKit.ts
  frontend/src/features/Journal/resonanceExplainerCopy.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
  frontend/src/storage/__tests__/resonanceExplainerStorage.test.ts
  frontend/src/storage/resonanceExplainerStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): show a practitioner what they have put into one practice
  backend/openapi.json
  backend/scripts/dast/references.py
  backend/src/domain/practice_stats.py
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice.py
  backend/tests/domain/test_practice_stats.py
  backend/tests/security/test_idor.py
  backend/tests/test_practice_stats_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-stats.browser.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/components/StatRow.tsx
  frontend/src/components/__tests__/StatRow.test.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Practice/components/PracticeStatsBlock.tsx
  frontend/src/features/Practice/hooks/__tests__/usePracticeStats.test.tsx
  frontend/src/features/Practice/hooks/usePracticeStats.ts
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.stats.test.tsx
  frontend/src/features/Practice/utils/__tests__/formatTotalMinutes.test.ts
  frontend/src/features/Practice/utils/formatTotalMinutes.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(practice): say when the stage on screen is a placeholder
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-unconfirmed-stage.browser.e2e.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): leave the detail screen the way the app offers
  frontend/e2e/practice-stats.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): say when the stage on screen is a placeholder (#2767)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-unconfirmed-stage.browser.e2e.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): photograph a handwritten page into the open entry
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/appendTranscript.test.ts
  frontend/src/features/Journal/appendTranscript.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/store/__tests__/useCapturedTranscriptStore.test.ts
  frontend/src/store/useCapturedTranscriptStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): photograph a handwritten page into the open entry (#2769)
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/appendTranscript.test.ts
  frontend/src/features/Journal/appendTranscript.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/store/__tests__/useCapturedTranscriptStore.test.ts
  frontend/src/store/useCapturedTranscriptStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(practice): await the stage chip instead of racing it
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): refuse a resonance essay that is the prompt coming back
  backend/openapi.json
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/marginalia.py
  backend/src/services/stub_completions.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_resonance_service.py
  backend/tests/test_stub_completions.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

feat(practice): show a practitioner what they have put into one practice (#2766)
  backend/openapi.json
  backend/scripts/dast/references.py
  backend/src/domain/practice_stats.py
  backend/src/routers/practice_sessions.py
  backend/src/schemas/practice.py
  backend/tests/domain/test_practice_stats.py
  backend/tests/security/test_idor.py
  backend/tests/test_practice_stats_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-stats.browser.e2e.test.ts
  frontend/src/api/index.ts
  frontend/src/components/StatRow.tsx
  frontend/src/components/__tests__/StatRow.test.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeStatsBlock.tsx
  frontend/src/features/Practice/hooks/__tests__/usePracticeStats.test.tsx
  frontend/src/features/Practice/hooks/usePracticeStats.ts
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.stats.test.tsx
  frontend/src/features/Practice/utils/__tests__/formatTotalMinutes.test.ts
  frontend/src/features/Practice/utils/formatTotalMinutes.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): refuse a resonance essay that is the prompt coming back (#2770)
  backend/openapi.json
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/marginalia.py
  backend/src/services/stub_completions.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_resonance_service.py
  backend/tests/test_stub_completions.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

test(habits): reproduce the delete that fails once a habit has history
  backend/conftest.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(habits): let the database cascade a habit's history on delete
  backend/src/models/goal.py
  backend/src/models/habit.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(frontend): turn the habit day over without a restart
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileDayRollover.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitsFocusRefetch.test.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
  frontend/src/features/Journal/__tests__/useHabitsSummaryRefresh.test.tsx
  frontend/src/features/Journal/useHabitsSummary.ts
  frontend/src/hooks/__tests__/useRefetchOnFocus.test.tsx
  frontend/src/hooks/useRefetchOnFocus.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/utils/__tests__/dayRollover.test.tsx
  frontend/src/utils/__tests__/msUntilNextDayInTZ.test.ts
  frontend/src/utils/dateUtils.ts
  frontend/src/utils/dayRollover.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop the day boundary holding a host runtime open
  frontend/src/utils/__tests__/dayRollover.test.tsx
  frontend/src/utils/dayRollover.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(habits): prove the delete assertions, and stop blaming the connection
  backend/src/models/goal.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-delete.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(habits): keep the delete's forensics out of its public description
  backend/openapi.json
  backend/src/routers/habits.py
Due: backend-tests-coverage

fix(frontend): turn the day over on a screen that is already open (#2772)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileDayRollover.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitsFocusRefetch.test.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
  frontend/src/features/Journal/__tests__/useHabitsSummaryRefresh.test.tsx
  frontend/src/features/Journal/useHabitsSummary.ts
  frontend/src/hooks/__tests__/useRefetchOnFocus.test.tsx
  frontend/src/hooks/useRefetchOnFocus.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/utils/__tests__/dayRollover.test.tsx
  frontend/src/utils/__tests__/msUntilNextDayInTZ.test.ts
  frontend/src/utils/dateUtils.ts
  frontend/src/utils/dayRollover.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(habits): confine foreign-key enforcement to the test that needs it
  backend/conftest.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage
