Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

test(insights): freeze the clock in the timezone-boundary test (un-flake baseline)
  backend/tests/test_practice_insights.py
Due: backend-tests-coverage

test(insights): freeze the clock in the timezone-boundary test (un-flake baseline) (#776)
  backend/tests/test_practice_insights.py
Due: backend-tests-coverage

fix(cors): document the live origin + guard it (false "offline" on app.aptitude.guru) (#775)
  DEPLOYMENT.md
  backend/.env.example
  backend/tests/test_cors.py
Due: backend-tests-coverage

fix(map): drop the placehold.co default; branded fallback for the map background
  frontend/src/constants/__tests__/images.test.ts
  frontend/src/constants/images.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(map): drop the placehold.co default; branded fallback for the map background (#777)
  frontend/src/constants/__tests__/images.test.ts
  frontend/src/constants/images.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deslop): mandate exhaustive whole-codebase coverage every weekly run
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/detection-playbook.md
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

fix(deslop): mandate exhaustive whole-codebase coverage every weekly run (#778)
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/detection-playbook.md
  .claude/skills/de-slopify/scripts/collect-evidence.sh
  .github/workflows/weekly-deslop.yml
Due: none

fix(ralph-recap): warm the code-frequency cache with backoff; render 0 net
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

fix(ralph-recap): warm the code-frequency cache with backoff; render 0 net (#779)
  scripts/ralph/recap.py
  scripts/ralph/test_recap_stats.py
Due: none

refactor(map): remove the dead arrow-side subsystem from mapLayout
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): remove the dead arrow-side subsystem from mapLayout (#780)
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(cors): allow PATCH so browser preflight for save endpoints succeeds
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

fix(journal): stop the 307 https->http downgrade that breaks save behind Railway
  backend/Dockerfile
  frontend/__tests__/api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(cors): allow PATCH so browser preflight for save endpoints succeeds (#789)
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

fix(journal): stop the 307 https->http downgrade that breaks save behind Railway (#791)
  backend/Dockerfile
  frontend/__tests__/api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): exclude zero-unit rows from stats streak (parity with GET /habits)
  backend/src/domain/habit_stats.py
  backend/tests/domain/test_habit_stats.py
Due: backend-tests-coverage

fix(habits): exclude zero-unit rows from stats streak (parity with GET /habits) (#792)
  backend/src/domain/habit_stats.py
  backend/tests/domain/test_habit_stats.py
Due: backend-tests-coverage

fix(check-in): derive reason_code from the real streak transition, not update_streak
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(check-in): derive reason_code from the real streak transition, not update_streak (#793)
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(habits): persist backfillMissedDays / setNewStartDate (silent lost write)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): persist backfillMissedDays / setNewStartDate (silent lost write) (#794)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(goals): remove dead compute_progress and its orphaned tests
  backend/src/domain/goals.py
  backend/tests/domain/test_goals.py
Due: backend-tests-coverage

refactor(goals): remove dead compute_progress and its orphaned tests (#795)
  backend/src/domain/goals.py
  backend/tests/domain/test_goals.py
Due: backend-tests-coverage

refactor(frontend): de-slop tidy-up — ConfirmDialog on web + dead/dup cleanup
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/resetToken.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/RandomIntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/data/__tests__/colorPalette.test.ts
  frontend/src/features/Practice/data/colorPalette.ts
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): de-slop tidy-up — ConfirmDialog on web + dead/dup cleanup (#796)
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/resetToken.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/RandomIntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/data/__tests__/colorPalette.test.ts
  frontend/src/features/Practice/data/colorPalette.ts
  frontend/src/features/Practice/recipes/RecipePickerModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): de-slop tidy-up — stage-gap helper, true 30d window, dedup, docstring
  backend/src/domain/dates.py
  backend/src/domain/practice_insights.py
  backend/src/domain/stage_progress.py
  backend/src/domain/streaks.py
  backend/src/models/journal_entry.py
  backend/src/routers/admin.py
  backend/src/services/streaks.py
  backend/tests/domain/test_stage_gap.py
  backend/tests/test_practice_insights.py
Due: backend-tests-coverage

refactor(backend): de-slop tidy-up — stage-gap helper, true 30d window, dedup, docstring (#797)
  backend/src/domain/dates.py
  backend/src/domain/practice_insights.py
  backend/src/domain/stage_progress.py
  backend/src/domain/streaks.py
  backend/src/models/journal_entry.py
  backend/src/routers/admin.py
  backend/src/services/streaks.py
  backend/tests/domain/test_stage_gap.py
  backend/tests/test_practice_insights.py
Due: backend-tests-coverage

docs(design): add warm-editorial design-language epic (Candle & Ink)
  prompts/github-issues/README.md
  prompts/github-issues/design-language-01-tokens-and-provenance.md
  prompts/github-issues/design-language-02-typography-and-fonts.md
  prompts/github-issues/design-language-03-buttons-controls-inputs.md
  prompts/github-issues/design-language-04-cards-surfaces-elevation.md
  prompts/github-issues/design-language-05-navigation-headers-tabbar.md
  prompts/github-issues/design-language-06-warm-dark-mode.md
  prompts/github-issues/design-language-warm-editorial-epic.md
Due: none

fix(practice): reflect saved duration on idle timer after Adjust
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): promote warm-editorial semantic tokens app-wide + provenance
  frontend/src/design/ATTRIBUTION
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/semanticTokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): promote warm-editorial semantic tokens app-wide + provenance (#805)
  frontend/src/design/ATTRIBUTION
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/semanticTokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): app-wide editorial type ramp on free/system fonts
  frontend/src/design/ATTRIBUTION
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/typeSystem.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): app-wide editorial type ramp on free/system fonts (#806)
  frontend/src/design/ATTRIBUTION
  frontend/src/design/DESIGN.md
  frontend/src/design/__tests__/typeSystem.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): shared warm Button + TextField primitives, adopted across controls
  frontend/src/components/Button.tsx
  frontend/src/components/TextField.tsx
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/components/__tests__/TextField.test.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): shared warm Button + TextField primitives, adopted across controls (#807)
  frontend/src/components/Button.tsx
  frontend/src/components/TextField.tsx
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/components/__tests__/TextField.test.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): warm screen grounds + soft elevation for cards/surfaces
  frontend/src/design/__tests__/semanticTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Practice/views/__tests__/__snapshots__/MindfulAnchorView.test.tsx.snap
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): warm screen grounds + soft elevation for cards/surfaces (#808)
  frontend/src/design/__tests__/semanticTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Practice/views/__tests__/__snapshots__/MindfulAnchorView.test.tsx.snap
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(design): warm editorial navigation theme (headers + bottom tab bar)
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/__tests__/theme.test.ts
  frontend/src/navigation/theme.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(review): fail the claude-review check on a non-LGTM verdict
  .github/workflows/claude-code-review.yml
Due: none

refactor(nav): tighten navTheme comments to the non-obvious mapping
  frontend/src/navigation/theme.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
