Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(frontend): give the detail sheet suite cold-start headroom
  frontend/src/features/Practice/components/__tests__/PracticeDetailSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): refuse non-canonical supersession authority spellings
  backend/scripts/build_stage_correspondence.py
  backend/tests/scripts/test_build_stage_correspondence.py
Due: backend-tests-coverage

feat(frontend): cross-fade the in-place Practice | Catalog flip
  frontend/e2e/journeys.json
  frontend/e2e/practice-catalog-details.browser.e2e.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/hooks/__tests__/useTabCrossFade.test.tsx
  frontend/src/hooks/useTabCrossFade.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): keep a stale assign from closing the next detail sheet
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeDetailSheet.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDetailSheet.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useDetailOverlay.test.tsx
  frontend/src/features/Practice/hooks/useDetailOverlay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the detail opener to the very row that was pressed
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): land focus on the Practice tab after choosing from the sheet
  frontend/e2e/practice-catalog-details.browser.e2e.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeCatalogSwitcher.tsx
  frontend/src/features/Practice/hooks/__tests__/useDetailOverlay.test.tsx
  frontend/src/features/Practice/hooks/useDetailOverlay.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(vault): recover terminal managed activations
  backend/migrations/versions/d6f1a8c4e2b9_vault_activation_recovery_intent.py
  backend/openapi.json
  backend/src/models/vault_activation.py
  backend/src/routers/users.py
  backend/src/routers/vault_activation.py
  backend/src/schemas/vault_activation.py
  backend/src/services/creek_provisioning.py
  backend/tests/test_migration_llmusagelog_generation_key.py
  backend/tests/test_migration_vault_activation_recovery_intent.py
  backend/tests/test_rate_limits.py
  backend/tests/test_vault_activation.py
  frontend/e2e/README.md
  frontend/e2e/fakeCreekServer.mjs
  frontend/e2e/journeys.json
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(vault): recover terminal managed activations (#3024)
  backend/migrations/versions/d6f1a8c4e2b9_vault_activation_recovery_intent.py
  backend/openapi.json
  backend/src/models/vault_activation.py
  backend/src/routers/users.py
  backend/src/routers/vault_activation.py
  backend/src/schemas/vault_activation.py
  backend/src/services/creek_provisioning.py
  backend/tests/test_migration_llmusagelog_generation_key.py
  backend/tests/test_migration_vault_activation_recovery_intent.py
  backend/tests/test_rate_limits.py
  backend/tests/test_vault_activation.py
  frontend/e2e/README.md
  frontend/e2e/fakeCreekServer.mjs
  frontend/e2e/journeys.json
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(frontend): compare focus targets by identity without printing them
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): let alembic check skip the migration-owned stage_key index
  backend/migrations/env.py
  backend/tests/test_migration_env_index_skips.py
Due: backend-tests-coverage

ci(backend): gate stage_correspondence.json drift in content-drift
  .github/workflows/backend-ci.yml
  backend/scripts/build_stage_correspondence.py
  backend/tests/scripts/test_build_stage_correspondence.py
  backend/tests/scripts/test_stage_correspondence_drift_gate.py
Due: backend-tests-coverage

fix(curriculum): hold the stage mirror equal to the correspondence artifact
  backend/src/curriculum/archetypal_wavelength.json
  backend/tests/test_stage_correspondence.py
  docs/curriculum.md
  graph/ontology-spine.md
Due: backend-tests-coverage

test(drift): join stage consumers to the correspondence artifact
  backend/tests/services/test_frequency_classification.py
  frontend/e2e/journeys.json
  frontend/src/features/Map/__tests__/stageCanonDrift.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(vault): explain provider cleanup delay
  frontend/e2e/journeys.json
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(curriculum): runbook for updating stage correspondences
  backend/tests/test_curriculum.py
  docs/adr/0001-git-content-pipeline.md
  docs/curriculum.md
Due: backend-tests-coverage

test(e2e): cover the habit day rollover and its return reads in the browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/zonedClock.test.ts
  frontend/e2e/dayBoundaryBrowserSupport.ts
  frontend/e2e/habits-day-rollover.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/zonedClock.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(settings): reorder the hub, Journal switches, sorting on the hub, local-model switch
  frontend/e2e/journal-morning-pages-never-offer.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/__tests__/saveAsHabitCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/features/Journal/saveAsHabitCopy.ts
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/CorpusConsentRows.tsx
  frontend/src/features/Settings/CorpusConsentScreen.tsx
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/JournalSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/journalOfferSwitches.test.ts
  frontend/src/features/Settings/__tests__/settingsTypeRamp.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
  frontend/src/features/Settings/journalOfferSwitches.ts
  frontend/src/features/Settings/localModelCopy.ts
  frontend/src/features/Settings/shared/SettingsSwitchRow.tsx
  frontend/src/features/Settings/useOfferSwitch.ts
  frontend/src/features/Settings/vaultCopy.ts
  frontend/src/storage/__tests__/linkHabitNudgeStorage.test.ts
  frontend/src/storage/__tests__/localModelStorage.test.ts
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/linkHabitNudgeStorage.ts
  frontend/src/storage/localModelStorage.ts
  frontend/src/storage/morningPagesTipStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(vault): explain provider cleanup delay (#3031)
  frontend/e2e/journeys.json
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(map): pin today's Map and chord stage vocabulary as a golden
  frontend/src/features/Journal/__tests__/aspectChordGolden.test.tsx
  frontend/src/features/Map/__tests__/stageVocabularyGolden.test.tsx
  frontend/src/features/Map/__tests__/stageVocabularyGolden.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the zoned clock's second look past a DST change
  frontend/__tests__/zonedClock.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): one switch family across the hub, checked in the browser
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/features/Journal/saveAsHabitCopy.ts
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/CorpusConsentRows.tsx
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/shared/SettingsSwitch.tsx
  frontend/src/features/Settings/shared/SettingsSwitchRow.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): derive the stage vocabulary from served stage data
  frontend/src/design/__tests__/hyphenation.test.ts
  frontend/src/design/hyphenation.ts
  frontend/src/features/Map/__tests__/stageVocabulary.test.ts
  frontend/src/features/Map/stageVocabulary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove an added habit joins the program cadence in the browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-add-cadence.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(e2e): link the resumed-session journey to its filed defect
  frontend/e2e/habits-day-rollover.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): read chord personas from the server, never GET /stages
  frontend/src/api/__tests__/stageCorrespondence-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/useAspectOptions.test.tsx
  frontend/src/features/Journal/useAspectOptions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): pin the cadence spec's page clock to the oracle's day
  frontend/e2e/habit-add-cadence.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(map): render stage words from GET /stages, retire the mirrors
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/MapDrawer.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapDrawer.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/__tests__/mapTypeRamp.test.ts
  frontend/src/features/Map/__tests__/stageCanonDrift.test.ts
  frontend/src/features/Map/__tests__/stageLegend.test.ts
  frontend/src/features/Map/magnifierGeometry.ts
  frontend/src/features/Map/mapLayout.ts
  frontend/src/features/Map/stageLegend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): read the added habit back only once the server has answered
  frontend/e2e/habit-add-cadence.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove the Map persona comes from the coursestage row
  backend/tests/e2e/stage_copy.py
  backend/tests/test_e2e_stage_copy.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map-stage-persona.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(curriculum): name the frontend consumers of the stage words
  docs/curriculum.md
  graph/ontology-spine.md
Due: none

test(ci): reject any condition that could skip the correspondence gate
  backend/tests/scripts/test_stage_correspondence_drift_gate.py
Due: backend-tests-coverage

fix(vault): preserve managed connections during generic mutations
  backend/openapi.json
  backend/src/routers/vault_config.py
  backend/src/routers/vault_provisioning_internal.py
  backend/src/services/creek_provisioning.py
  backend/src/services/user_vault_config.py
  backend/tests/test_per_user_vault_config.py
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

chore(security): record approved braces audit time box
  frontend/.audit-allowlist.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(vault): protect managed connections from generic mutations (#3053)
  backend/openapi.json
  backend/src/routers/vault_config.py
  backend/src/routers/vault_provisioning_internal.py
  backend/src/services/creek_provisioning.py
  backend/src/services/user_vault_config.py
  backend/tests/test_per_user_vault_config.py
  frontend/.audit-allowlist.json
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

fix(vault): recognize managed connections in Settings
  frontend/e2e/journeys.json
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/useVaultConnectionState.test.tsx
  frontend/src/features/Settings/__tests__/vaultConnectionState.test.ts
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/vaultConnectionState.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(vault): reject managed uploads above the replay body limit
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/routers/corpus.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_upload_limits.py
  backend/tests/test_creek_vault_upload.py
  backend/tests/test_document_upload_to_a_vault.py
  backend/tests/test_per_user_vault_config.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/importDocument.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Seed/__tests__/importSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/importSeedDocument.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(deps): bump shell-quote to 1.12.0 and source-map-js to 1.2.2
  frontend/package-lock.json
Due: frontend-eslint, frontend-tests

test(e2e): open the activation census route regardless of pilot id
  frontend/e2e/routeWalk.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): take the patched shell-quote and source-map-js releases
  frontend/package-lock.json
Due: frontend-eslint, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
