Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(e2e): cover the calendar opening the next habit
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/habits-reveal.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/map.e2e.test.ts
  frontend/e2e/programAnchor.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(settings): offer the Sangha switch only where its door exists (#2696)
  DEPLOYMENT.md
  frontend/README.md
  frontend/e2e/journeys.json
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.sanghaDoor.test.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/depthSwitchesHaveEffect.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): word the passage-selection instruction for the platform
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/src/features/Journal/__tests__/selectionSurfaceCopy.test.ts
  frontend/src/features/Journal/selectionSurfaceCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(journal): describe the verified react-native-web 0.21.2 selection bridge
  frontend/src/features/Journal/webSelectionListener.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): register course.write-note-on-passage as an uncovered journey
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(backend): regenerate openapi.json for the list_habits description
  backend/openapi.json
Due: backend-tests-coverage

test(journal): pin the web empty hint's wording, not only its absence
  frontend/src/features/Journal/__tests__/selectionSurfaceCopy.test.ts
  frontend/src/features/Journal/webSelectionListener.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): word the passage-selection instruction for the platform (#2697)
  frontend/e2e/journeys.json
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/src/features/Journal/__tests__/selectionSurfaceCopy.test.ts
  frontend/src/features/Journal/selectionSurfaceCopy.ts
  frontend/src/features/Journal/webSelectionListener.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): auto-reveal eligible habits once
  backend/migrations/versions/f2c7a1d9e4b6_add_habit_auto_revealed_at.py
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/src/services/habit_auto_reveal.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-auto-reveal.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): preserve early manual relocks
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

perf(habits): lock only eligible auto-reveals
  backend/src/routers/habits.py
  backend/src/services/habit_auto_reveal.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(habits): auto-reveal eligible habits once (#2698)
  backend/migrations/versions/f2c7a1d9e4b6_add_habit_auto_revealed_at.py
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/src/services/habit_auto_reveal.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-auto-reveal.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/ManualUnlock.test.tsx
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): release resonance reads before its three dials
  backend/openapi.json
  backend/src/models/wallet_audit.py
  backend/src/routers/journal.py
  backend/src/services/wallet.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/services/test_wallet.py
  backend/tests/support/outbound_boundary.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

fix(backend): release resonance reads before its three dials (#2695)
  backend/openapi.json
  backend/src/models/wallet_audit.py
  backend/src/routers/journal.py
  backend/src/services/wallet.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/services/test_wallet.py
  backend/tests/support/outbound_boundary.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

fix(course): enable passage notes on web
  .github/workflows/e2e.yml
  .gitignore
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/README.md
  frontend/e2e/browserGlobalSetup.ts
  frontend/e2e/browserGlobalTeardown.ts
  frontend/e2e/browserState.ts
  frontend/e2e/course-passage.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): isolate Playwright browser journey
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/jest.e2e.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): enable passage notes on web (#2700)
  .github/workflows/e2e.yml
  .gitignore
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/README.md
  frontend/e2e/browserGlobalSetup.ts
  frontend/e2e/browserGlobalTeardown.ts
  frontend/e2e/browserState.ts
  frontend/e2e/course-passage.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/jest.e2e.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add license binding table and migration
  backend/migrations/versions/a9b8c7d6e5f4_add_license_binding.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/license_binding.py
  backend/tests/domain/test_license_claims.py
  backend/tests/test_migrations.py
  backend/tests/test_models.py
Due: backend-tests-coverage

feat(backend): stage license claims through one domain seam
  backend/src/domain/entitlements.py
  backend/src/domain/license_claims.py
  backend/tests/domain/test_license_claims.py
Due: backend-tests-coverage

feat(backend): claim a gifted license atomically on every account-creation path
  backend/conftest.py
  backend/src/domain/entitlements.py
  backend/src/routers/auth.py
  backend/tests/e2e/server.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

feat(backend): route the sale webhook grant through the license binding
  backend/src/routers/gumroad.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
Due: backend-tests-coverage

feat(backend): revoke Gumroad reversals by bound sale identity, not email
  backend/src/services/gumroad_revocation.py
  backend/tests/routers/test_gumroad_cancellation.py
  backend/tests/routers/test_gumroad_refund.py
Due: backend-tests-coverage

test(backend): prove license release on deletion and token-pack permanence
  backend/tests/routers/test_license_reclaim.py
  backend/tests/routers/test_signup_token_pack_claim.py
  backend/tests/test_account_deletion_policy.py
Due: backend-tests-coverage

feat(backend): report license bindings in the admin user summary
  backend/openapi.json
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/tests/test_admin_entitlements.py
Due: backend-tests-coverage

docs: permit gifted licenses and describe the binding
  backend/src/services/oauth_apple.py
  backend/tests/test_legal_documents.py
  docs/adr/0008-giftable-single-active-license-claims.md
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/your-data.md
  prompts/github-issues/phase-6-02-course-entitlement-and-signup-gating.md
  prompts/github-issues/phase-6-03-frontend-onboarding-flow.md
Due: backend-tests-coverage

refactor(backend): refuse an already-bound key before any hash or row
  backend/src/domain/license_claims.py
  backend/src/routers/auth.py
  backend/tests/domain/test_license_claims.py
  backend/tests/routers/test_auth_signup_license.py
Due: backend-tests-coverage

test(e2e): cover the gifted-key single-active-claim journey
  frontend/e2e/README.md
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/auth.e2e.test.ts
  frontend/e2e/corpus-consent.e2e.test.ts
  frontend/e2e/corpus-import.e2e.test.ts
  frontend/e2e/course.e2e.test.ts
  frontend/e2e/data-export.e2e.test.ts
  frontend/e2e/depth.e2e.test.ts
  frontend/e2e/habit-auto-reveal.e2e.test.ts
  frontend/e2e/habits-empty.e2e.test.ts
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journal-delete.e2e.test.ts
  frontend/e2e/journal.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/licenseKey.ts
  frontend/e2e/map.e2e.test.ts
  frontend/e2e/practice-catalog.e2e.test.ts
  frontend/e2e/practice-tags.e2e.test.ts
  frontend/e2e/practice.e2e.test.ts
  frontend/e2e/prompt-history.e2e.test.ts
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/e2e/vault-connection.e2e.test.ts
  frontend/e2e/voice-readiness.e2e.test.ts
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Auth/GetStartedScreen.tsx
  frontend/src/features/Auth/__tests__/GetStartedScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/signupErrorRouting.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add the corpus invitation rule, record and migration
  backend/migrations/versions/c4d5e6f7a8b9_add_corpus_invitation_state.py
  backend/src/domain/account_deletion.py
  backend/src/domain/corpus_invitation.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/corpus_invitation_state.py
  backend/tests/domain/test_corpus_invitation.py
  backend/tests/models/test_corpus_invitation_state.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): count completed resonance passes for the corpus invitation
  backend/src/routers/journal.py
  backend/src/services/corpus_invitation.py
  backend/tests/services/test_corpus_invitation.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

feat(backend): serve GET and PUT /corpus/invitation
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/src/schemas/corpus.py
  backend/tests/security/test_idor.py
  backend/tests/test_corpus_invitation_api.py
Due: backend-tests-coverage

feat(frontend): offer the corpus decision after a first completed reflection
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-invitation.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/corpusInvitation-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/CorpusInvitationNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CorpusInvitationNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCompletedPasses.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): guard reversed sales at claim time and charge only license races
  backend/src/domain/license_claims.py
  backend/src/routers/auth.py
  backend/src/routers/gumroad.py
  backend/tests/domain/test_license_claims.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_license_reclaim.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

fix(backend): declare the corpus-invitation owner rule as the index it is
  backend/src/models/corpus_invitation_state.py
Due: backend-tests-coverage

fix(backend): settle the licence before the address, so cost stops naming accounts
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_signup_license.py
Due: backend-tests-coverage

fix(backend): stop storing the licence key, so the privacy promise is true
  backend/src/routers/gumroad.py
  backend/tests/routers/test_gumroad_webhook.py
Due: backend-tests-coverage

fix(journal): a decline outranks any status read still on the wire
  frontend/src/features/Journal/CorpusInvitationNote.tsx
  frontend/src/features/Journal/__tests__/CorpusInvitationNote.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): mint a licence key per account in the corpus journey
  frontend/e2e/corpus-invitation.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(journal): say why the decline guard is never reset
  frontend/src/features/Journal/CorpusInvitationNote.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(backend): correct the stale Revises line on the corpus migration
  backend/migrations/versions/c4d5e6f7a8b9_add_corpus_invitation_state.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
