Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(frontend): reorder date picker visibility + master program anchor
  frontend/src/App.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Journal/WeeklyPromptBanner.tsx
  frontend/src/features/Journal/__tests__/WeeklyPromptBanner.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/storage/__tests__/programStorage.test.ts
  frontend/src/storage/programStorage.ts
  frontend/src/store/__tests__/useProgramProgression.test.tsx
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramProgression.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(backend): expand main.py module docstring
  backend/src/main.py
Due: backend-tests-coverage

feat(frontend-practice): post-session insight capture modal (ritual-12)
  frontend/src/api/index.ts
  frontend/src/features/Practice/__tests__/InsightCaptureModal.test.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): frequency banner copy endpoint (ritual-05)
  backend/src/routers/user_practices.py
  backend/src/schemas/frequency.py
  backend/tests/test_frequency_endpoint.py
Due: backend-tests-coverage

fix(frontend): address reorder-modal review feedback
  frontend/src/App.tsx
  frontend/src/constants/program.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/storage/programStorage.ts
  frontend/src/store/useProgramProgression.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-practice): reset insight draft on reopen + cap on trimmed length
  frontend/src/api/index.ts
  frontend/src/features/Practice/__tests__/InsightCaptureModal.test.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): drop dead-code id fallbacks in frequency helpers (ritual-05)
  backend/src/routers/user_practices.py
  backend/tests/test_frequency_endpoint.py
Due: backend-tests-coverage

feat(frontend-practice): post-session insight modal + BotMason CTA (ritual-12) (#324)
  frontend/src/api/index.ts
  frontend/src/features/Practice/__tests__/InsightCaptureModal.test.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): frequency banner copy endpoint (ritual-05) (#326)
  backend/src/routers/user_practices.py
  backend/src/schemas/frequency.py
  backend/tests/test_frequency_endpoint.py
Due: backend-tests-coverage

fix(frontend): reorder date picker visibility + master program anchor (#323)
  frontend/src/App.tsx
  frontend/src/constants/program.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Journal/WeeklyPromptBanner.tsx
  frontend/src/features/Journal/__tests__/WeeklyPromptBanner.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/storage/__tests__/programStorage.test.ts
  frontend/src/storage/programStorage.ts
  frontend/src/store/__tests__/useProgramProgression.test.tsx
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramProgression.ts
  frontend/src/store/useProgramStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-practice): screen integration + mode dispatch (ritual-11)
  frontend/src/api/index.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/hooks/useWeeklyProgress.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-practice): screen integration + mode dispatch (ritual-11) (#325)
  frontend/src/api/index.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/hooks/useWeeklyProgress.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(quality): max quality green-up — ruff select=ALL, 90% thresholds
  backend/tests/services/test_streaks.py
Due: backend-tests-coverage

docs(ritual-practice): backlog grooming punch list for the merged epic
  plan/2026-05-13_BACKLOG_GROOMING.md
Due: none

docs(ritual-practice): split audio into its own deferred PR
  plan/2026-05-13_BACKLOG_GROOMING.md
Due: none

docs(ritual-practice): backlog grooming punch list for the merged epic (#327)
  plan/2026-05-13_BACKLOG_GROOMING.md
Due: none

feat(backend): wire startup seeders + extract merge-migration helper
  .github/workflows/backend-ci.yml
  backend/conftest.py
  backend/pyproject.toml
  backend/scripts/__init__.py
  backend/scripts/resolve_prev_revision.py
  backend/src/main.py
  backend/tests/scripts/test_resolve_prev_revision.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

fix(backend): drop noqa F401 + add tests/scripts package marker (PR #328)
  backend/tests/scripts/__init__.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

refactor(backend): ritual-ops follow-up — exit 2 contract, polish (PR #328)
  .github/workflows/backend-ci.yml
  backend/scripts/resolve_prev_revision.py
  backend/src/main.py
  backend/tests/scripts/test_resolve_prev_revision.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(backend): wire startup seeders + extract merge-migration helper (#328)
  .github/workflows/backend-ci.yml
  backend/conftest.py
  backend/pyproject.toml
  backend/scripts/__init__.py
  backend/scripts/resolve_prev_revision.py
  backend/src/main.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/test_resolve_prev_revision.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(backend): ritual cleanup — override size cap, migration round-trip, insight contract
  backend/migrations/versions/c0d1e2f3a4b5_audit_completed_stages_gaps.py
  backend/src/schemas/practice.py
  backend/tests/schemas/test_user_practice_customize.py
  backend/tests/test_migrations.py
  backend/tests/test_openapi_insight_cap_contract.py
  backend/tests/test_user_practice_customization.py
  frontend/src/features/Practice/__tests__/InsightCaptureModal.test.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): ritual-cleanup review polish (PR #329)
  backend/src/schemas/practice.py
  backend/tests/schemas/test_user_practice_customize.py
  backend/tests/test_user_practice_customization.py
Due: backend-tests-coverage

docs(backend): fix stale function name reference + ensure_ascii note
  backend/tests/schemas/test_user_practice_customize.py
  backend/tests/test_user_practice_customization.py
Due: backend-tests-coverage

feat(backend): ritual cleanup — override size cap, migration round-trip, insight contract (#329)
  backend/migrations/versions/c0d1e2f3a4b5_audit_completed_stages_gaps.py
  backend/src/schemas/practice.py
  backend/tests/schemas/test_user_practice_customize.py
  backend/tests/test_migrations.py
  backend/tests/test_openapi_insight_cap_contract.py
  backend/tests/test_user_practice_customization.py
  frontend/src/features/Practice/__tests__/InsightCaptureModal.test.tsx
  frontend/src/features/Practice/components/InsightCaptureModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend-habits): collapse goal editor behind pencil/checkmark toggle
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): make mobile energy inputs editable
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/EnergyTextInput.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/AddHabitModal.test.tsx
  frontend/src/features/Habits/components/__tests__/EnergyTextInput.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): close preset-seeder race that double-inserted 5-4-3-2-1
  backend/conftest.py
  backend/migrations/versions/d2e3f4a5b6c7_practice_preset_unique_index.py
  backend/src/models/practice.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(backend): drop model-level Index that confused alembic check (PR #330)
  backend/src/models/practice.py
Due: backend-tests-coverage

fix(backend): allow-list new raw-SQL index in migrations/env.py (PR #330)
  backend/migrations/env.py
Due: backend-tests-coverage

feat(course): integrate Squarespace as the CMS for course content
  backend/.env.example
  backend/requirements.txt
  backend/src/content_config.py
  backend/src/routers/course.py
  backend/src/schemas/course.py
  backend/src/seed_content.py
  backend/src/services/squarespace.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_content.py
  backend/tests/test_squarespace_endpoints.py
  backend/tests/test_squarespace_service.py
  docs/content.md
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/SiteResourcesPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): cover the IntegrityError race-loser branch (PR #330)
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

refactor(habits): tighten EnergyTextInput per review
  frontend/src/features/Habits/components/EnergyTextInput.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend-habits): trim multi-line comments and add positive collapsed assertion
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(backend): refresh requirements-lock for beautifulsoup4
  backend/requirements-lock.txt
Due: backend-tests-coverage

fix(backend): close preset-seeder race that double-inserted 5-4-3-2-1 (#330)
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/d2e3f4a5b6c7_practice_preset_unique_index.py
  backend/src/models/practice.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(habits): make mobile energy inputs editable (#332)
  frontend/src/features/Habits/components/AddHabitModal.tsx
  frontend/src/features/Habits/components/EnergyTextInput.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/__tests__/AddHabitModal.test.tsx
  frontend/src/features/Habits/components/__tests__/EnergyTextInput.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend-habits): collapse goal editor behind pencil/checkmark toggle (#333)
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
