Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(journal): solve margin-note collisions as a pure push-down pass
  frontend/src/features/Journal/__tests__/computeMarginSlots.test.ts
  frontend/src/features/Journal/computeMarginSlots.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): offer the corpus decision after a first completed reflection (#2702)
  backend/migrations/versions/c4d5e6f7a8b9_add_corpus_invitation_state.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/corpus_invitation.py
  backend/src/domain/data_export.py
  backend/src/models/__init__.py
  backend/src/models/corpus_invitation_state.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/corpus.py
  backend/src/services/corpus_invitation.py
  backend/tests/domain/test_corpus_invitation.py
  backend/tests/models/test_corpus_invitation_state.py
  backend/tests/security/test_idor.py
  backend/tests/services/test_corpus_invitation.py
  backend/tests/test_corpus_invitation_api.py
  backend/tests/test_migrations.py
  backend/tests/test_resonance_endpoints.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-invitation.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/corpusInvitation-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/CorpusInvitationNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CorpusInvitationNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCorpusInvitation.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCompletedPasses.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(practice): log a past practice session without the timer
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-log-past.e2e.test.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/constants.test.ts
  frontend/src/features/Practice/__tests__/sessionWindowDrift.test.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/LogPracticeSessionSheet.tsx
  frontend/src/features/Practice/components/PracticeDrawer.tsx
  frontend/src/features/Practice/components/__tests__/LogPracticeSessionSheet.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDrawer.test.tsx
  frontend/src/features/Practice/constants.ts
  frontend/src/features/Practice/hooks/__tests__/useSaveSessionMutation.test.tsx
  frontend/src/features/Practice/hooks/useSaveSessionMutation.ts
  frontend/src/features/Practice/utils/__tests__/sessionWindow.test.ts
  frontend/src/features/Practice/utils/sessionWindow.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): solve margin-note collisions as a pure push-down pass (#2704)
  frontend/src/features/Journal/__tests__/computeMarginSlots.test.ts
  frontend/src/features/Journal/computeMarginSlots.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): round a fractional practice default before seeding the sheet
  frontend/src/features/Practice/components/LogPracticeSessionSheet.tsx
  frontend/src/features/Practice/components/__tests__/LogPracticeSessionSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): log a past practice session without the timer (#2705)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-log-past.e2e.test.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/constants.test.ts
  frontend/src/features/Practice/__tests__/sessionWindowDrift.test.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/LogPracticeSessionSheet.tsx
  frontend/src/features/Practice/components/PracticeDrawer.tsx
  frontend/src/features/Practice/components/__tests__/LogPracticeSessionSheet.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDrawer.test.tsx
  frontend/src/features/Practice/constants.ts
  frontend/src/features/Practice/hooks/__tests__/useSaveSessionMutation.test.tsx
  frontend/src/features/Practice/hooks/useSaveSessionMutation.ts
  frontend/src/features/Practice/utils/__tests__/sessionWindow.test.ts
  frontend/src/features/Practice/utils/sessionWindow.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): spy the anchor setter the action actually calls
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): lay an added habit on the program cadence, not the wall clock
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(curriculum): correct Teal stage subtitle to True Self Wisdom
  backend/src/curriculum/archetypal_wavelength.json
  backend/tests/test_curriculum.py
  backend/tests/test_seed_stages.py
Due: backend-tests-coverage

test(backend): pin the vendored course copy against silent re-pin drift
  backend/tests/test_vendored_course_copy_pins.py
Due: backend-tests-coverage

docs(curriculum): source subtitles from the course and record the pin divergence
  docs/curriculum.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

docs(frontend): declare the added-habit cadence journey as an honest gap
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): lay an added habit on the program cadence, not the wall clock (#2710)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(curriculum): correct Teal stage subtitle to True Self Wisdom (#2709)
  backend/src/curriculum/archetypal_wavelength.json
  backend/tests/test_curriculum.py
  backend/tests/test_seed_stages.py
  backend/tests/test_vendored_course_copy_pins.py
  docs/curriculum.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(frontend): measure the Habits grid against its footer controls in a browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habits-viewport.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): measure the habits grid geometry in a real browser (#2711)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habits-viewport.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin the bound-key and lost-race licence cap charges on OAuth
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

feat(backend): ground new marginalia against prior letters for content, never style
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/tests/domain/test_resonance_service.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_legal_documents.py
  backend/tests/test_prior_letters_grounding.py
  docs/legal/privacy-policy.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

test(backend): redden the egress tenancy guard on a mis-denormalized letter
  backend/tests/test_prior_letters_grounding.py
Due: backend-tests-coverage

test(backend): pin the bound-key and lost-race licence cap charges on OAuth (#2712)
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

chore(deps): align expo to 57.0.21 to unbreak main
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): align expo to 57.0.21 to unbreak main (#2714)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(backend): ground new marginalia against prior letters for content, never style (#2713)
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/tests/domain/test_resonance_service.py
  backend/tests/test_creek_vault_reflect.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_legal_documents.py
  backend/tests/test_prior_letters_grounding.py
  docs/legal/privacy-policy.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

docs(backend): split the corpus atomicity promise by direction
  backend/src/routers/corpus.py
  backend/src/services/corpus_backfill.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/test_corpus_consent_api.py
Due: backend-tests-coverage

docs(backend): split the corpus atomicity promise by direction (#2715)
  backend/src/routers/corpus.py
  backend/src/services/corpus_backfill.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/test_corpus_consent_api.py
Due: backend-tests-coverage

fix(backend): order habits by a total key so unnumbered rows keep their place
  backend/openapi.json
  backend/src/routers/habits.py
  backend/tests/test_habits_list_ordering.py
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(infra): refuse backend gates that cannot prove their interpreter
  .pre-commit-config.yaml
  backend/tests/scripts/test_precommit_venv_guard.py
  scripts/backend/security.sh
  scripts/backend/test.sh
  scripts/backend/with-venv.sh
Due: backend-tests-coverage

fix(infra): refuse backend gates that cannot prove their interpreter (#2716)
  .pre-commit-config.yaml
  backend/tests/scripts/test_precommit_venv_guard.py
  scripts/backend/security.sh
  scripts/backend/test.sh
  scripts/backend/with-venv.sh
Due: backend-tests-coverage

fix(backend): order habits by a total key so unnumbered rows keep their place (#2717)
  backend/openapi.json
  backend/src/routers/habits.py
  backend/tests/test_habits_list_ordering.py
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(course): give the cold-start spinner a bounded wait
  frontend/e2e/journeys.json
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreenColdStart.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): give the cold-start spinner a bounded wait (#2719)
  frontend/e2e/journeys.json
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreenColdStart.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): keep a timed writing session as a habit, placed where the writer chooses
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-habit-offer.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitOrdering.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitOrdering.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/SaveAsHabitOffer.tsx
  frontend/src/features/Journal/WritingSessionSurface.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/SaveAsHabitOffer.test.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOfferSlot.test.tsx
  frontend/src/features/Journal/__tests__/saveAsHabitCopy.test.ts
  frontend/src/features/Journal/saveAsHabitCopy.ts
  frontend/src/storage/__tests__/writingHabitOfferStorage.test.ts
  frontend/src/storage/writingHabitOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): name both loopback host forms on every dev CORS port
  README.md
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

fix(deps): bump the xmldom override to 0.8.15 to clear eight new advisories
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): stop calling an unreachable server an offline device
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/corsRejectionIsNotOffline.test.ts
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/serverErrorIsNotOffline.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/api/networkSignal.ts
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): reorder across signed ranges
  frontend/Dockerfile
  frontend/__tests__/expoPlistCompatibility.test.ts
  frontend/e2e/journeys.json
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/@expo+plist+0.8.1.patch
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): bump the js-yaml overrides past today's advisory too
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(deps): bump the xmldom and js-yaml overrides past today's advisories
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
