Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor: remove orphaned frontend modules + superseded dark palette
  frontend/src/store/__tests__/useUserStore.test.ts
  frontend/src/store/useUserStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor: remove dead habit selectors + superseded dark palette
  frontend/src/design/__tests__/semanticTokensDark.test.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/store/useHabitStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor: remove orphaned frontend modules + superseded dark palette (#886)
  frontend/src/design/__tests__/semanticTokensDark.test.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/store/__tests__/useUserStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useUserStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): consolidate additive-streak + day-bucket math
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/services/streaks.py
  backend/tests/domain/test_streaks.py
Due: backend-tests-coverage

refactor(backend): consolidate additive-streak + day-bucket math (#926)
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/services/streaks.py
  backend/tests/domain/test_streaks.py
Due: backend-tests-coverage

fix(habits): use the guarded getProgressPercentage in GoalModal (no NaN width)
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): use the guarded getProgressPercentage in GoalModal (no NaN width) (#928)
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(auth): shared EmailField / PasswordField across the auth screens
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/credentialFields.test.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/components/EmailField.tsx
  frontend/src/features/Auth/components/PasswordField.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(auth): shared EmailField / PasswordField across the auth screens (#941)
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/credentialFields.test.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/components/EmailField.tsx
  frontend/src/features/Auth/components/PasswordField.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): one configurator dispatcher + engine-owned validation bounds
  frontend/src/features/Practice/components/ConfiguratorBody.tsx
  frontend/src/features/Practice/components/__tests__/ConfiguratorBody.test.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): one configurator dispatcher + engine-owned validation bounds (#942)
  frontend/src/features/Practice/components/ConfiguratorBody.tsx
  frontend/src/features/Practice/components/__tests__/ConfiguratorBody.test.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/recipes/RecipeEditorModal.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): tidy-up bundle — stale docstring, dead code, bad_gateway helper
  backend/src/dependencies/ownership.py
  backend/src/domain/streaks.py
  backend/src/errors.py
  backend/src/routers/course.py
  backend/src/routers/journal.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_tags.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/src/services/wallet.py
  backend/tests/domain/test_streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_errors.py
Due: backend-tests-coverage

refactor(backend): tidy-up bundle — stale docstring, dead code, bad_gateway helper (#956)
  backend/src/dependencies/ownership.py
  backend/src/domain/streaks.py
  backend/src/errors.py
  backend/src/routers/course.py
  backend/src/routers/journal.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/practice_tags.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/src/services/wallet.py
  backend/tests/domain/test_streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_errors.py
Due: backend-tests-coverage

refactor(frontend): tidy-up bundle — reinvented helpers, dead slots, constant drift
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/store/useProgramStore.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy-up bundle — reinvented helpers, dead slots, constant drift (#957)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/store/useProgramStore.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(deps): bridge Dependabot PRs into the Ralph loop
  .claude/commands/ralph-tick.md
  .github/dependabot.yml
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/PROMPT.md
Due: none

ci(deps): bridge Dependabot PRs into the Ralph loop (#959)
  .claude/commands/ralph-tick.md
  .github/dependabot.yml
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/PROMPT.md
Due: none

refactor(agents): rewire Ralph loop to orchestrate the chief-architect taxonomy
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/dependency-checker.md
  .claude/agents/dependency-review-specialist.md
  .claude/agents/documentation-specialist.md
  .claude/agents/documentation.md
  .claude/agents/implementation-specialist.md
  .claude/agents/performance-specialist.md
  .claude/agents/performance.md
  .claude/agents/quality-reviewer.md
  .claude/agents/refactorer.md
  .claude/agents/security-auditor.md
  .claude/agents/security-specialist.md
  .claude/agents/shared/adepthood-constraints.md
  .claude/agents/test-generator.md
  .claude/agents/test-specialist.md
  .claude/commands/ralph-tick.md
  scripts/ralph/PROMPT.md
Due: none

docs(agents): clarify spawn-vs-dataflow model from PR #999 review
  .claude/agents/README.md
  .claude/agents/code-review-orchestrator.md
  scripts/ralph/PROMPT.md
Due: none

feat(safety): acute-distress detection domain (care guardrail seam)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

Restructure agent taxonomy: conductor + specialist dispatch model (#999)
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/dependency-checker.md
  .claude/agents/dependency-review-specialist.md
  .claude/agents/documentation-specialist.md
  .claude/agents/documentation.md
  .claude/agents/implementation-specialist.md
  .claude/agents/performance-specialist.md
  .claude/agents/performance.md
  .claude/agents/quality-reviewer.md
  .claude/agents/refactorer.md
  .claude/agents/security-auditor.md
  .claude/agents/security-specialist.md
  .claude/agents/shared/adepthood-constraints.md
  .claude/agents/test-generator.md
  .claude/agents/test-specialist.md
  .claude/commands/ralph-tick.md
  scripts/ralph/PROMPT.md
Due: none

feat(safety): acute-distress detection domain (care guardrail seam) (#1000)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

feat(safety): surface human + professional care on an acute-distress signal
  backend/src/domain/care.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/domain/test_care.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

feat(safety): surface human + professional care on an acute-distress signal (#1001)
  backend/src/domain/care.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/domain/test_care.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

feat(safety): medication-safety guardrail in every model-bound prompt
  backend/src/domain/care.py
  backend/src/domain/detection.py
  backend/src/domain/resonance.py
  backend/src/services/botmason.py
  backend/tests/domain/test_care.py
  backend/tests/domain/test_detection_service.py
  backend/tests/domain/test_resonance_service.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

feat(safety): medication-safety guardrail in every model-bound prompt (#1002)
  backend/src/domain/care.py
  backend/src/domain/detection.py
  backend/src/domain/resonance.py
  backend/src/services/botmason.py
  backend/tests/domain/test_care.py
  backend/tests/domain/test_detection_service.py
  backend/tests/domain/test_resonance_service.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

feat(safety): frontend care-support surface on a distress flag
  frontend/src/api/__tests__/careSchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCare.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(safety): frontend care-support surface on a distress flag (#1016)
  frontend/src/api/__tests__/careSchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceCare.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(safety): always-available Support & care in Settings
  frontend/src/components/care/CareResourceCard.tsx
  frontend/src/components/care/__tests__/CareResourceCard.test.tsx
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/SupportCareScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/SupportCareScreen.test.tsx
  frontend/src/features/Settings/__tests__/careResources.test.ts
  frontend/src/features/Settings/careResources.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(safety): always-available Support & care in Settings (#1017)
  frontend/src/components/care/CareResourceCard.tsx
  frontend/src/components/care/__tests__/CareResourceCard.test.tsx
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/SupportCareScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/SupportCareScreen.test.tsx
  frontend/src/features/Settings/__tests__/careResources.test.ts
  frontend/src/features/Settings/careResources.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): privacy classification tier on JournalEntry
  backend/migrations/versions/d8e9f0a1b2c3_add_journalentry_classification.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/test_journal_classification_endpoint.py
  backend/tests/test_journal_classification_model.py
  backend/tests/test_journal_classification_schema.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

refactor(backend): keep classification additions at xenon rank A
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
Due: backend-tests-coverage

feat(backend): privacy classification tier on JournalEntry (#1022)
  backend/migrations/versions/d8e9f0a1b2c3_add_journalentry_classification.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/test_journal_classification_endpoint.py
  backend/tests/test_journal_classification_model.py
  backend/tests/test_journal_classification_schema.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(safety): intimate entries never sent to a cloud LLM
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/test_intimate_privacy_guard.py
Due: backend-tests-coverage

feat(safety): intimate entries never sent to a cloud LLM (#1024)
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/test_intimate_privacy_guard.py
Due: backend-tests-coverage

feat(journal): add privacy tier control to the entry editor
  frontend/src/api/__tests__/privacySchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/PrivacyTierControl.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add privacy tier control to the entry editor (#1025)
  frontend/src/api/__tests__/privacySchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/PrivacyTierControl.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): surface privacy as a feature in Settings + onboarding
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
  frontend/src/features/Welcome/welcomeContent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): surface privacy as a feature in Settings + onboarding (#1028)
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Welcome/Welcome.styles.ts
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
  frontend/src/features/Welcome/welcomeContent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): open the app into the Journal (initial route + tab order)
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
