Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(ci): trigger backend CI on scripts/backend/, where the backend's tooling lives
  .github/workflows/backend-ci.yml
Due: none

fix(ralph): check the bridge marker even when a bot body carries a changelog link (#2198)
  scripts/ralph/pr-ready.sh
  scripts/ralph/test_pr_ready.sh
Due: none

fix(ci): trigger frontend CI on the audit gate script, which nothing guarded
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): trigger frontend CI on the audit gate script, which nothing guarded (#2200)
  .github/workflows/frontend-ci.yml
Due: none

feat(backend): commit the OpenAPI document behind a drift gate (#2196)
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/openapi.json
  backend/tests/scripts/test_export_openapi.py
  scripts/backend/export_openapi.py
Due: backend-tests-coverage

feat(skills): add /walkthrough for hand-holding HUMAN ACTION ops tickets
  .claude/skills/walkthrough/SKILL.md
Due: none

docs(backlog): re-groom P0/P1 across adepthood, creek-vault and windbreak
  plan/2026-08-09_BACKLOG_REGROOM.md
  plan/2026-08-09_regroom-sister-repos.sh
Due: none

fix(deploy): pass the Google web client ID into the Docker build
  DEPLOYMENT.md
  frontend/Dockerfile
Due: frontend-eslint, frontend-tests

fix(deploy): pass the Google web client ID into the Docker build (#2202)
  .claude/skills/walkthrough/SKILL.md
  DEPLOYMENT.md
  frontend/Dockerfile
Due: frontend-eslint, frontend-tests

feat(ci): add OWASP ZAP DAST scan workflow
  .github/workflows/dast-scan.yml
Due: none

revert(backlog): drop the cross-repo re-groom artifacts from this tree
  plan/2026-08-09_BACKLOG_REGROOM.md
  plan/2026-08-09_regroom-sister-repos.sh
Due: none

test(backend): assert the practice-session IDOR denial is audited and writes nothing
  backend/tests/security/test_idor.py
Due: backend-tests-coverage

fix(tooling): route the pre-push suite through test.sh so it takes the lock
  .pre-commit-config.yaml
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/test_config_consolidation.py
Due: backend-tests-coverage

fix(tooling): route the pre-push suite through test.sh so it takes the lock (#2207)
  .pre-commit-config.yaml
  backend/tests/scripts/test_backend_test_runner.py
  backend/tests/test_config_consolidation.py
Due: backend-tests-coverage

test(tooling): gate every scripts/graph suite, not two of eight
  .github/workflows/graph-tests.yml
  scripts/graph/run_tests.sh
  scripts/graph/test_run_tests.sh
Due: none

test(backend): assert the practice-session IDOR denial is audited and writes nothing (#2206)
  backend/tests/security/test_idor.py
Due: backend-tests-coverage

fix(tooling): unfreeze TypeScript patches, and stop proposing a worklets bump that cannot resolve
  .github/dependabot.yml
  backend/tests/test_dependabot_ignores.py
Due: backend-tests-coverage

feat(backend): admin entitlement overrides and a per-user summary
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/domain/entitlements.py
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/tests/test_admin_entitlements.py
Due: backend-tests-coverage

docs(tooling): stop describing a gate that no longer works that way
  .github/workflows/graph-tests.yml
  scripts/graph/README.md
Due: none

refactor(backend): keep the entitlement log's reason_code a code
  backend/src/domain/entitlements.py
  backend/src/routers/admin.py
Due: backend-tests-coverage

fix(tooling): stop proposing an async-storage major that Expo does not expect
  .github/dependabot.yml
Due: none

test(tooling): gate every scripts/graph suite, not two of eight (#2208)
  .github/workflows/graph-tests.yml
  scripts/graph/README.md
  scripts/graph/run_tests.sh
  scripts/graph/test_run_tests.sh
Due: none

fix(backend): persist the revocation's audit to the row, and honour the requested kind
  backend/src/domain/entitlements.py
  backend/src/routers/admin.py
  backend/tests/test_admin_entitlements.py
Due: backend-tests-coverage

fix(ci): stop the review job attaching a verdict for a PR it never read
  .github/workflows/claude-code-review.yml
Due: none

fix(backend): fold case when matching a user's Gumroad sales
  backend/src/routers/admin.py
  backend/tests/test_admin_entitlements.py
Due: backend-tests-coverage

feat(journal): beginning a morning page no longer retires the tip
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): beginning a morning page no longer retires the tip (#2215)
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): hold the UI at portrait-up on every device and context
  frontend/app.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__mocks__/expo-screen-orientation.js
  frontend/src/hooks/__tests__/useLockPortraitUp.test.tsx
  frontend/src/hooks/useLockPortraitUp.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(backend): stop holding a pooled connection across the vault round trip
  backend/src/routers/journal.py
  backend/tests/test_journal_vault_write.py
Due: backend-tests-coverage

feat(backend): admin entitlement overrides and a per-user summary (#2211)
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/domain/entitlements.py
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/tests/test_admin_entitlements.py
Due: backend-tests-coverage

fix(ci): stop the review job attaching a verdict for a PR it never read (#2213)
  .github/workflows/claude-code-review.yml
Due: none

fix(frontend): hold the UI at portrait-up on every device and context (#2216)
  frontend/app.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__mocks__/expo-screen-orientation.js
  frontend/src/hooks/__tests__/useLockPortraitUp.test.tsx
  frontend/src/hooks/useLockPortraitUp.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(backend): stop holding a pooled connection across the vault round trip (#2218)
  backend/src/routers/journal.py
  backend/tests/test_journal_vault_write.py
Due: backend-tests-coverage

test(tooling): prove the dependabot guard's alarm actually fires
  backend/tests/test_dependabot_ignores.py
Due: backend-tests-coverage

fix(tooling): unfreeze TypeScript patches, and stop proposing a worklets bump that cannot resolve (#2210)
  .github/dependabot.yml
  backend/tests/test_dependabot_ignores.py
Due: backend-tests-coverage

docs(adr): ratify operator-side ontologization of OPEN/PERSONAL content
  docs/adr/0005-operator-side-ontologization.md
Due: none

feat(backend): classify OPEN/PERSONAL content into APTITUDE frequencies
  backend/src/domain/frequencies.py
  backend/src/services/frequency_classification.py
  backend/tests/services/test_frequency_classification.py
Due: backend-tests-coverage

fix(backend): the Frequencies ARE the Aspects ARE the Stages, keyed by colour
  backend/src/domain/frequencies.py
  backend/src/services/creek_vault_client.py
  backend/tests/services/test_frequency_classification.py
Due: backend-tests-coverage

docs(ontology): the Aspects equal the Wavelength Modes, not the phases
  NORTH-STAR.md
  backend/src/domain/frequencies.py
  backend/src/services/creek_vault_client.py
  graph/ontology-spine.md
Due: backend-tests-coverage

fix(backend): a refusal is not a rejected credential, and a bad key is not an outage
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_contract_conformance.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_telemetry.py
Due: backend-tests-coverage
