Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(backend): encrypt every remaining journal-text column at rest
  DEPLOYMENT.md
  backend/migrations/versions/d4e5f6a7b8ca_encrypt_remaining_journal_text.py
  backend/src/domain/account_deletion.py
  backend/src/domain/detection.py
  backend/src/models/completion_suggestion.py
  backend/src/models/journal_entry.py
  backend/src/models/marginalia.py
  backend/src/models/prompt_response.py
  backend/tests/test_detection_service.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_migrations.py
  backend/tests/test_resonance_service.py
Due: backend-tests-coverage

test(frontend): cover the depth-ring and account-deletion journeys end to end (#2326)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/depth.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): draw the Google sign-in button to Google's mandatory branding (#2327)
  frontend/src/components/Button.tsx
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/design/ATTRIBUTION
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/components/GoogleSignInButton.tsx
  frontend/src/features/Auth/components/__tests__/GoogleSignInButton.test.tsx
  frontend/src/features/Auth/components/__tests__/googleBranding.test.ts
  frontend/src/features/Auth/components/googleBranding.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(legal): privacy policy and terms of service, linked from Settings (#2320)
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/legalLinks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(legal): the policy promises what the ten-column sweep actually delivers
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

fix(backend): encrypt every remaining journal-text column at rest (#2328)
  DEPLOYMENT.md
  backend/migrations/versions/d4e5f6a7b8ca_encrypt_remaining_journal_text.py
  backend/src/domain/account_deletion.py
  backend/src/domain/detection.py
  backend/src/models/completion_suggestion.py
  backend/src/models/journal_entry.py
  backend/src/models/marginalia.py
  backend/src/models/prompt_response.py
  backend/tests/test_detection_service.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_legal_documents.py
  backend/tests/test_migrations.py
  backend/tests/test_resonance_service.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

feat(frontend): open a declinable Discord door for the Digital Sangha
  DEPLOYMENT.md
  docs/legal/privacy-policy.md
  frontend/Dockerfile
  frontend/README.md
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/config.ts
  frontend/src/features/Settings/SanghaSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SanghaSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/sanghaInvite.test.ts
  frontend/src/features/Settings/sanghaInvite.ts
  frontend/src/features/Settings/shared/SettingsRow.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): parse journal prompts from vendored content
  backend/src/domain/constants.py
  backend/src/domain/journal_prompt_parser.py
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/src/domain/weekly_prompts.py
  backend/src/routers/prompts.py
  backend/tests/domain/test_journal_prompt_parser.py
  backend/tests/domain/test_weekly_prompts.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

feat(backend): per-user Creek Vault configuration
  backend/.env.example
  backend/migrations/versions/d5e6f7a8b9c0_add_uservaultconfig_table.py
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/domain/account_deletion.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/user.py
  backend/src/models/user_vault_config.py
  backend/src/routers/vault_config.py
  backend/src/schemas/vault_config.py
  backend/src/services/creek_vault_client.py
  backend/src/services/user_vault_config.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_legal_documents.py
  backend/tests/test_per_user_vault_config.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/adr/0005-operator-side-ontologization.md
  docs/legal/privacy-policy.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

feat(backend): ground the Higher Self in the ontologized corpus
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_legal_documents.py
  backend/tests/test_resonance_endpoints.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

chore(frontend): set the app's store identity in app.json (#2325)
  frontend/__tests__/appStoreIdentity.test.ts
  frontend/app.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): open a declinable Discord door for the Digital Sangha (#2331)
  DEPLOYMENT.md
  docs/legal/privacy-policy.md
  frontend/Dockerfile
  frontend/README.md
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/dockerfileBuildArgs.test.ts
  frontend/src/config.ts
  frontend/src/features/Settings/SanghaSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SanghaSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/sanghaInvite.test.ts
  frontend/src/features/Settings/sanghaInvite.ts
  frontend/src/features/Settings/shared/SettingsRow.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(domain): pin the known cadence false positive instead of only documenting it
  backend/tests/domain/test_journal_prompt_parser.py
Due: backend-tests-coverage

feat(backend): ground the Higher Self in the ontologized corpus (#2335)
  backend/openapi.json
  backend/src/routers/journal.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_legal_documents.py
  backend/tests/test_resonance_endpoints.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

feat(backend): per-user Creek Vault configuration (#2334)
  backend/.env.example
  backend/migrations/versions/a4c7e91b3d05_add_uservaultconfig_table.py
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/domain/account_deletion.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/user.py
  backend/src/models/user_vault_config.py
  backend/src/routers/vault_config.py
  backend/src/schemas/vault_config.py
  backend/src/services/creek_vault_client.py
  backend/src/services/user_vault_config.py
  backend/tests/test_creek_vault_http_client.py
  backend/tests/test_creek_vault_tenancy.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_legal_documents.py
  backend/tests/test_per_user_vault_config.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/adr/0005-operator-side-ontologization.md
  docs/legal/privacy-policy.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

feat(backend): parse journal prompts from vendored content and fix the ten-stage week map (#2333)
  backend/src/domain/constants.py
  backend/src/domain/journal_prompt_parser.py
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/src/domain/weekly_prompts.py
  backend/src/routers/prompts.py
  backend/tests/domain/test_journal_prompt_parser.py
  backend/tests/domain/test_weekly_prompts.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

fix(frontend): derive journal prompt bands from the ten APTITUDE stages
  frontend/src/constants/__tests__/stageOntologyDrift.test.ts
  frontend/src/features/Journal/__tests__/promptTitle.test.ts
  frontend/src/features/Journal/promptTitle.ts
  frontend/src/features/Practice/constants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(adr): amend ADR 0004 — the F1..F10-to-stage mapping is an identity
  backend/tests/test_ontology_record.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

feat(backend,frontend): data export — endpoint and in-app flow
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/ownership.py
  backend/src/main.py
  backend/src/routers/data_export.py
  backend/src/services/account_deletion.py
  backend/src/services/data_export.py
  backend/tests/test_data_export_api.py
  backend/tests/test_data_export_manifest.py
  backend/tests/test_data_export_rendering.py
  docs/your-data.md
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/data-export.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/api/__tests__/dataExport-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/ExportDataScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/saveDataExport.test.ts
  frontend/src/features/Settings/saveDataExport.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): expose all four prompts per stage, with cadence
  backend/migrations/versions/b7d2e5f10a34_promptresponse_prompt_ordinal.py
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/domain/weekly_prompts.py
  backend/src/models/prompt_response.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/domain/test_weekly_prompts.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

feat(backend): write consented journal entries into the ontologized corpus
  backend/migrations/versions/b5f1a2c3d4e6_corpus_provenance_and_consent.py
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/domain/account_deletion.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/corpus_consent.py
  backend/src/models/corpus_fragment.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/corpus.py
  backend/src/services/corpus_consent.py
  backend/src/services/corpus_ingest.py
  backend/src/services/corpus_store.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

fix(frontend): correct the journal prompt band table and amend ADR 0004's ontology claim (#2338)
  backend/tests/test_ontology_record.py
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
  frontend/src/constants/__tests__/stageOntologyDrift.test.ts
  frontend/src/features/Journal/__tests__/promptTitle.test.ts
  frontend/src/features/Journal/promptTitle.ts
  frontend/src/features/Practice/constants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): expose all four prompts per stage, with cadence (#2340)
  backend/migrations/versions/b7d2e5f10a34_promptresponse_prompt_ordinal.py
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/domain/weekly_prompts.py
  backend/src/models/prompt_response.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/domain/test_weekly_prompts.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

fix(backend): chain the corpus migration onto the prompt-ordinal head
  backend/migrations/versions/b5f1a2c3d4e6_corpus_provenance_and_consent.py
Due: backend-tests-coverage

test(backend): pin the export manifest to renderable column types
  backend/src/domain/data_export.py
  backend/tests/test_data_export_manifest.py
Due: backend-tests-coverage

feat(backend): write consented journal entries into the ontologized corpus, with provenance (#2341)
  backend/migrations/versions/b5f1a2c3d4e6_corpus_provenance_and_consent.py
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/domain/account_deletion.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/corpus_consent.py
  backend/src/models/corpus_fragment.py
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/schemas/corpus.py
  backend/src/services/corpus_consent.py
  backend/src/services/corpus_ingest.py
  backend/src/services/corpus_store.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_corpus_consent_api.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

feat(backend): export the corpus consent history alongside the corpus
  backend/src/domain/data_export.py
Due: backend-tests-coverage

feat(frontend): a screen where somebody can actually turn the corpus on
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-consent.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/corpusConsent-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/CorpusConsentScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/CorpusConsentScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): grant the scan wrappers the permissions their reusable workflow asks for
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-todo.yml
  .github/workflows/scan-types.yml
  backend/tests/test_workflow_permissions.py
Due: backend-tests-coverage

fix(backend): the JSON archive was handing back entries the person deleted
  backend/src/services/data_export.py
  backend/tests/test_data_export_api.py
  backend/tests/test_data_export_manifest.py
Due: backend-tests-coverage

feat(backend): the vault wins — one precedence rule for frequency classification
  backend/src/services/frequency_classification.py
  backend/src/services/frequency_source.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_frequency_source.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

feat(frontend): a screen where somebody can actually turn the corpus on (#2347)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-consent.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/corpusConsent-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/CorpusConsentScreen.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/CorpusConsentScreen.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(adr): record the consent-event contract as 0006, and guard the citation
  backend/tests/test_adr_references.py
  docs/adr/0005-operator-side-ontologization.md
  docs/adr/0006-consent-as-an-auditable-event.md
Due: backend-tests-coverage

fix(backend): encrypt the prose written in a practice session
  backend/migrations/versions/a6b7c8d9e0f2_encrypt_practice_session_prose.py
  backend/src/domain/account_deletion.py
  backend/src/models/goal.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/practice_session.py
  backend/src/models/user_practice.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_legal_documents.py
  backend/tests/test_migrations.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

docs: stop describing MCP as the adepthood-to-Creek-Vault transport
  NORTH-STAR.md
  backend/tests/test_contract_version_docs.py
  docs/adr/0002-intimate-content-local-routing.md
  docs/adr/0004-creek-vault-http-application-boundary.md
  docs/creek-vault-mcp-contract.md
  graph/ontology-spine.md
Due: backend-tests-coverage

docs(playbook): seed the five rules the 2026-07-20..08-10 corpus produced
  .claude/agents/implementation-specialist.md
  CLAUDE.md
Due: none

fix(ci): grant the scan wrappers the permissions their reusable workflow asks for (#2348)
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-todo.yml
  .github/workflows/scan-types.yml
  backend/tests/test_workflow_permissions.py
Due: backend-tests-coverage

docs(playbook): seed the five rules the 2026-07-20..08-10 corpus produced (#2350)
  .claude/agents/implementation-specialist.md
  CLAUDE.md
Due: none

feat(backend): the vault wins — one precedence rule for frequency classification (#2349)
  backend/src/services/frequency_classification.py
  backend/src/services/frequency_source.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_frequency_source.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

fix(backend): encrypt the prose written in a practice session (#2351)
  backend/migrations/versions/a6b7c8d9e0f2_encrypt_practice_session_prose.py
  backend/src/domain/account_deletion.py
  backend/src/models/goal.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/practice_session.py
  backend/src/models/user_practice.py
  backend/tests/test_journal_text_at_rest.py
  backend/tests/test_legal_documents.py
  backend/tests/test_migrations.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage
