Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(backend): hermetic reflection-quality rubric, corpus and blinded harness (#3074)
  backend/tests/reflection_eval/__init__.py
  backend/tests/reflection_eval/corpus.py
  backend/tests/reflection_eval/harness.py
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_harness.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

refactor(backend): keep _cache_and_mirror_essay at rank A (#3096)
  backend/src/routers/journal.py
  backend/src/services/demo_visibility.py
Due: backend-tests-coverage

test(backend): close MEDICAL_DIRECTIVE false negatives in the reflection rubric (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): extract every quote style the rubric must ground (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_harness.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): require elided letter quotes to ground in order (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): ground quotes inside margin-note bodies too (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): route non-English reflection output to human review (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_harness.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): catch paraphrased identity, memory, companion and guarantee cues (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): refuse a review key nested with its blinded packet (#3074)
  backend/tests/reflection_eval/harness.py
  backend/tests/reflection_eval/test_harness.py
Due: backend-tests-coverage

fix(backend): send only the disclosed file, function and line per Sentry frame
  backend/src/sentry.py
  backend/tests/security/test_telemetry_sentinels.py
  backend/tests/test_legal_documents.py
Due: backend-tests-coverage

test(backend): fail closed on unobserved sources and pin quote thresholds (#3074)
  backend/tests/reflection_eval/harness.py
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_harness.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): arm the stub seam in the reflection harness fixture (#3074)
  backend/tests/reflection_eval/test_harness.py
Due: backend-tests-coverage

test(frontend): pin the delete-account backup copy from the frontend side
  backend/tests/test_deletion_backup_copy.py
  frontend/src/constants/backupSchedule.ts
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreenBackupCopy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(backend): make MEDICAL_DIRECTIVE blocking only in directive frames (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): block only promise-shaped healing language (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): keep SHARED_MEMORY to model-writer memory claims (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): stop elisions and plural possessives pairing into phantom quotes (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): stop routing terse English output to human review (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

fix(privacy): a suspended vault send is its own outcome and owes nothing (#3107)
  backend/src/routers/journal.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_privacy_lineage.py
  backend/tests/test_vault_destination_binding.py
Due: backend-tests-coverage

docs(privacy): record that suspended vault sends owe no withdrawal (#3107)
  docs/ops/privacy-incident-response.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

docs: say some Course readings follow a schedule, and reword a docstring
  CLAUDE.md
  frontend/src/features/Settings/DeleteAccountScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): give the trickle tests a load-proof wall-clock margin
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

test(backend): freeze the golden probe table for the reflection rubric (RED) (#3074)
  backend/tests/reflection_eval/test_golden_probes.py
Due: backend-tests-coverage

test(backend): restore permission directives and leave reported intent advisory (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(privacy): a suspended edit of a sent entry keeps owing its copy (#3107)
  backend/tests/test_vault_destination_binding.py
Due: backend-tests-coverage

test(backend): treat a mood word as an echo only when the writer owned it (#3074)
  backend/tests/reflection_eval/rubric.py
Due: backend-tests-coverage

test(backend): restore present-tense healing promises as guarantees (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): let a plural close a single-quoted span unless a later quote can (#3074)
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_rubric.py
Due: backend-tests-coverage

test(backend): block "last time you said this to me" as shared memory (#3074)
  backend/tests/reflection_eval/rubric.py
Due: backend-tests-coverage

fix(backend): disclose every Sentry field the scrubber keeps, at every level
  backend/src/sentry.py
  backend/tests/security/test_telemetry_sentinels.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
  docs/qa/telemetry-egress-inventory.md
Due: backend-tests-coverage

test(frontend): derive the delete-account backup pins from the backend source
  backend/tests/test_deletion_backup_copy.py
  frontend/src/constants/backupSchedule.ts
  frontend/src/features/Settings/__tests__/DeleteAccountScreenBackupCopy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs: align AGENTS.md and the agent constraints with CLAUDE.md on gating
  .claude/agents/shared/adepthood-constraints.md
  AGENTS.md
Due: none

ci(dast): arm the stub seam on the authz-matrix target instance
  .github/workflows/dast-authz.yml
Due: none

test(backend): derive the owed-essay sweep moments from the scheduled backoff
  backend/tests/test_journal_deletion_in_progress.py
Due: backend-tests-coverage

Wave 35b: suspended vault sends owe nothing, reflection-quality harness, Sentry disclosure, and a main test fix (#3125)
  .claude/agents/shared/adepthood-constraints.md
  AGENTS.md
  CLAUDE.md
  backend/src/routers/journal.py
  backend/src/sentry.py
  backend/src/services/creek_vault_write.py
  backend/tests/reflection_eval/__init__.py
  backend/tests/reflection_eval/corpus.py
  backend/tests/reflection_eval/harness.py
  backend/tests/reflection_eval/rubric.py
  backend/tests/reflection_eval/test_golden_probes.py
  backend/tests/reflection_eval/test_harness.py
  backend/tests/reflection_eval/test_rubric.py
  backend/tests/security/test_telemetry_sentinels.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_deletion_backup_copy.py
  backend/tests/test_journal_deletion_in_progress.py
  backend/tests/test_legal_documents.py
  backend/tests/test_privacy_lineage.py
  backend/tests/test_vault_destination_binding.py
  docs/legal/privacy-policy.md
  docs/ops/privacy-incident-response.md
  docs/qa/telemetry-egress-inventory.md
  frontend/e2e/journeys.json
  frontend/src/constants/backupSchedule.ts
  frontend/src/features/Settings/DeleteAccountScreen.tsx
  frontend/src/features/Settings/__tests__/DeleteAccountScreenBackupCopy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
