Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(skills): document best-effort wake, unsubscribe, and edge cases
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .claude/skills/stay-green/SKILL.md
Due: none

fix(backend): practice submit whitelist + per-user RL + energy auth
  backend/src/routers/energy.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/tests/test_energy_api.py
  backend/tests/test_energy_integration.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_practices_api.py
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: backend-tests-coverage

feat(skills): await-claude-review helper for verdict-comment webhooks (#291)
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
  .claude/skills/stay-green/SKILL.md
Due: none

fix(backend): journal min length + search bounds + chat history sender filter
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/src/services/journal.py
  backend/tests/security/test_idor.py
  backend/tests/services/test_journal.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_integration.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix(backend): llm model allowlist + key-error-safe message builder
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

docs(qa): split 12B into wave 1 (this PR) and wave 2 (streaming + idempotency)
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(backend): pr 292 review fixes
  backend/src/routers/energy.py
  backend/src/services/botmason.py
  backend/tests/services/test_botmason_wrapping.py
Due: backend-tests-coverage

fix(backend): drop redundant import and key rate-limit on user id
  backend/src/routers/auth.py
  backend/src/routers/practices.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

fix(backend): make rate-limiter autouse fixture restore enabled flag
  backend/conftest.py
  backend/tests/test_practices_api.py
Due: backend-tests-coverage

fix(backend): practice submit whitelist + per-user RL + energy auth (#292)
  backend/conftest.py
  backend/src/routers/auth.py
  backend/src/routers/energy.py
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/schemas/journal.py
  backend/src/services/botmason.py
  backend/src/services/journal.py
  backend/tests/security/test_idor.py
  backend/tests/services/test_botmason_wrapping.py
  backend/tests/services/test_journal.py
  backend/tests/test_energy_api.py
  backend/tests/test_energy_integration.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_integration.py
  backend/tests/test_journal_api.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_practices_api.py
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: backend-tests-coverage

feat: Add skills cve-remediation, mutation-testing, user-facing-error-messages from well-worn-tools
  .claude/skills/cve-remediation/SKILL.md
  .claude/skills/cve-remediation/references/registry-lookups.md
  .claude/skills/cve-remediation/references/suppression-template.md
  .claude/skills/mutation-testing/SKILL.md
  .claude/skills/mutation-testing/references/practical-examples.md
  .claude/skills/user-facing-error-messages/SKILL.md
  .claude/skills/user-facing-error-messages/references/audit-workflow.md
  .claude/skills/user-facing-error-messages/references/rewrite-templates.md
Due: none

Add iteration-trigger workflow
  .github/workflows/iteration-trigger.yml
Due: none

fix(frontend-api): chatstream goes through refresh flow on 401
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-api): zod-validate auth responses, enforce jwt shape
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Add cve-remediation, mutation-testing, user-facing-error-messages from well-worn-tools (#295)
  .claude/skills/cve-remediation/SKILL.md
  .claude/skills/cve-remediation/references/registry-lookups.md
  .claude/skills/cve-remediation/references/suppression-template.md
  .claude/skills/mutation-testing/SKILL.md
  .claude/skills/mutation-testing/references/practical-examples.md
  .claude/skills/user-facing-error-messages/SKILL.md
  .claude/skills/user-facing-error-messages/references/audit-workflow.md
  .claude/skills/user-facing-error-messages/references/rewrite-templates.md
  .github/workflows/iteration-trigger.yml
Due: none

feat(frontend-api): expose idempotency-key helper for mutations
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): address PR #293 review — extract flattener, tighten Zod boundary
  .gitignore
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/flattenGoalCompletions.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/services/habitManager.ts
  plans/github-issues/COMMIT_click_to_edit.md
  plans/github-issues/COMMIT_persist_completions.md
  plans/github-issues/COMMIT_unified_markers.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): persist goal completions across sessions
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(habits): always render LG / CG / SG on a unified 0-100 progress bar
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): make goal-target editor click-to-edit so saves are visible
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): address PR #293 second-pass review — drop noqa, prune dead arg
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/flattenGoalCompletions.test.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

chore(plans): commit-message templates for the goal-persistence trio
  plans/github-issues/COMMIT_click_to_edit.md
  plans/github-issues/COMMIT_persist_completions.md
  plans/github-issues/COMMIT_unified_markers.md
Due: none

docs(habits): address PR #293 fourth-pass review — eager-load contract + invariants
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(habits): pin calculateHabitProgress accumulator semantic to prevent regression
  frontend/src/features/Habits/HabitUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-api): sse crlf framing, abort propagation, mid-stream 401
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(qa): mark prompt 13 (frontend-api-client) done in INDEX
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

docs(habits): trim multi-paragraph docstrings to one line per CLAUDE.md
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/src/schemas/habit.py
  frontend/src/api/flattenGoalCompletions.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend-design): wcag-aa colors, touchtarget, dark palette
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-components): toast queue race, datepicker bounds, a11y
  frontend/src/components/DatePicker.tsx
  frontend/src/components/Toast.tsx
  frontend/src/components/ToastProvider.tsx
  frontend/src/components/__tests__/DatePicker.test.tsx
  frontend/src/components/__tests__/ToastProvider.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(habits): trim remaining multi-line comments in source + tests + .gitignore
  .gitignore
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/flattenGoalCompletions.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend-state-storage): selector memo, web byok, trim creds
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/__tests__/llmKeyStorage.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/llmKeyStorage.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(frontend-test): clearmocks + reanimated prod-only
  frontend/babel.config.js
  frontend/jest.config.js
Due: frontend-eslint, frontend-prettier, frontend-tests

docs(qa): mark prompt 15 done in index
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(habits): persist goal completions across sessions (#293)
  .gitignore
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/flattenGoalCompletions.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/flattenGoalCompletions.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend-api): chatstream reads 401 body once
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): mock reanimated in jest, cover llm web-storage paths
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/src/storage/__tests__/llmKeyStorage.test.ts
  frontend/tsconfig.eslint.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): WCAG tokens, Toast/DatePicker, selector memo, web BYOK, jest hygiene (#298)
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/src/components/DatePicker.tsx
  frontend/src/components/Toast.tsx
  frontend/src/components/ToastProvider.tsx
  frontend/src/components/__tests__/DatePicker.test.tsx
  frontend/src/components/__tests__/ToastProvider.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/__tests__/llmKeyStorage.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/llmKeyStorage.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
  frontend/tsconfig.eslint.json
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend-api): close 8 BUG-API items (chatStream refresh, Zod, idempotency, SSE) (#297)
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): preserve drag order and stop date picker seizing the app
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): explicit Save button + convex/recessed states for goal targets
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
