Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(frontend): fold the bring-your-own vault form behind an explained Advanced section
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/higherSelfCopy.test.ts
  frontend/src/features/Settings/__tests__/vaultLinks.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): let navigation own the vault screen's plain title
  frontend/e2e/screen-title-heading.browser.e2e.test.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultActivationPrivacyGuard.test.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): let the voice-readiness band say what saying yes gives
  backend/src/schemas/voice_readiness.py
  backend/src/services/voice_readiness.py
  backend/tests/services/test_voice_readiness.py
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/features/Settings/__tests__/higherSelfCopy.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(frontend): register the Advanced vault fold and the renamed vault screen as journeys
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

test(frontend): pin the whole Your corpus row list, not just its last two rows
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): stop the not-consented band claiming where reflections come from
  backend/src/schemas/voice_readiness.py
  backend/tests/services/test_voice_readiness.py
  frontend/e2e/action-rows.browser.e2e.test.ts
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): resolve a journal check-off by the candidate's name, not its index alone
  backend/src/domain/detection.py
  backend/src/services/completion_candidates.py
  backend/src/services/stub_completions.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/services/test_completion_candidates.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_detection_service.py
  backend/tests/test_generation_settlement_lines.py
  backend/tests/test_llm_usage_metering.py
  backend/tests/test_stub_completions.py
Due: backend-tests-coverage

feat(backend): let a finished practice session check off a habit of the user's choosing
  backend/migrations/versions/f2c7d9e1a3b5_ui_flags_practice_session_habit.py
  backend/src/domain/data_export.py
  backend/src/domain/ui_flags.py
  backend/src/models/user_ui_flags.py
  backend/src/routers/habits.py
  backend/src/routers/ui_flags.py
  backend/src/schemas/ui_flags.py
  backend/tests/security/test_idor.py
  backend/tests/test_data_export_manifest.py
  backend/tests/test_migration_ui_flags_practice_habit.py
  backend/tests/test_ui_flags_api.py
  backend/tests/test_user_ui_flags_model.py
Due: backend-tests-coverage

feat(backend): count a per-week or per-month habit's streak in whole periods
  backend/openapi.json
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/routers/habits.py
  backend/src/schemas/checkin.py
  backend/src/schemas/habit_stats.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/tests/domain/test_period_streaks.py
  backend/tests/test_period_streaks_api.py
Due: backend-tests-coverage

fix(frontend): name everything a vault you run receives, and keep the floor true
  docs/your-data.md
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/__tests__/vaultLinks.test.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): keep the gates honest about the practice link and period streaks
  backend/scripts/dast/references.py
  backend/src/domain/streaks.py
  backend/tests/routers/test_goal_completions_streak_dedup.py
  backend/tests/test_migration_llmusagelog_generation_key.py
Due: backend-tests-coverage

test(frontend): make the closed-fold absence checks read hidden elements too
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): give the vault guide link the minimum touch target
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin a single full-size guide link on the vault screen
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(e2e): give the browser lane 35 minutes, measured from a run cancelled at 25
  .github/workflows/e2e.yml
  backend/tests/scripts/test_browser_lane_artifact_uploads.py
Due: backend-tests-coverage

docs(frontend): say the consent gain line follows the lead, as it renders
  frontend/src/features/Settings/corpusConsentCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): mount the formatting toolbar under the journal body
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): storage and copy for the link-a-habit note
  frontend/src/features/Journal/__tests__/saveAsHabitCopy.test.ts
  frontend/src/features/Journal/saveAsHabitCopy.ts
  frontend/src/storage/__tests__/linkHabitNudgeStorage.test.ts
  frontend/src/storage/linkHabitNudgeStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): move reflection Sources into the journal exit row
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/entryLayoutTestKit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): an unlinked writing timer points to Settings at session end
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/LinkHabitNudge.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/LinkHabitNudge.test.tsx
  frontend/src/features/Journal/useQuickLaunchedSession.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/navigation/hooks.ts
  frontend/src/store/__tests__/useWritingHabitLinkStore.test.ts
  frontend/src/store/useWritingHabitLinkStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): focus the Sources panel close when the panel opens
  frontend/e2e/journal-sources-panel.browser.e2e.test.ts
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanelFocus.test.tsx
  frontend/src/features/Journal/__tests__/focusSpyTestKit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): open settings on the writing-habit row, and restore the note
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/JournalSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/hooks/__tests__/useScrollIntoViewOnce.test.tsx
  frontend/src/hooks/useScrollIntoViewOnce.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): give each journal entry control one home in both modes
  frontend/src/design/DESIGN.md
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenTimer.test.tsx
  frontend/src/features/Journal/__tests__/writingTimerLayout.test.tsx
  frontend/src/hooks/useIdle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover the unlinked timer's pointer to settings
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-unlinked-timer-nudge.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin each journal entry control's home in the browser
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/e2e/journal-fold-selected-promoted-quotes.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin that a weekly-prompt page withholds read-mode resonance
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): a time-zone change never reopens the settings habit picker
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/__tests__/JournalSection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): the settings scroll waits for the reduce-motion setting
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/hooks/__tests__/useScrollIntoViewOnce.test.tsx
  frontend/src/hooks/useReducedMotion.ts
  frontend/src/hooks/useScrollIntoViewOnce.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): hand focus to the note's close after "don't show again"
  frontend/src/features/Journal/LinkHabitNudge.tsx
  frontend/src/features/Journal/WritingSessionBanner.tsx
  frontend/src/features/Journal/__tests__/LinkHabitNudge.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): drop the legacy decline before restoring the morning-pages tip
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/morningPagesTipStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(vault): accept incomplete create alerts
  backend/src/routers/vault_provisioning_internal.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

feat(backend): answer vault_required for a document import with no vault
  backend/openapi.json
  backend/src/dependencies/document_payload.py
  backend/src/domain/corpus_import.py
  backend/src/domain/document_text.py
  backend/src/routers/corpus.py
  backend/src/schemas/corpus_import.py
  backend/src/schemas/journal_upload.py
  backend/src/services/corpus_backfill.py
  backend/src/services/corpus_import.py
  backend/src/services/corpus_ingest.py
  backend/tests/test_corpus_import.py
  backend/tests/test_document_upload_to_a_vault.py
  frontend/src/api/__tests__/importDocument.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Seed/__tests__/importSeedDocument.test.ts
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/importSeedDocument.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Seed/seedRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs: say a document goes to the vault or nowhere in your-data
  docs/your-data.md
Due: none

test(e2e): prove a no-vault import is answered vault_required across the wire
  frontend/e2e/corpus-import.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): gate Bring in your writing behind a place for the corpus
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/VoiceReadinessBand.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreenDrawer.test.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/features/Journal/__tests__/corpusDestination.test.ts
  frontend/src/features/Journal/corpusDestination.ts
  frontend/src/features/Seed/SeedCorpusScreen.tsx
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
  frontend/src/features/Seed/__tests__/seedCopy.test.ts
  frontend/src/features/Seed/seedCopy.ts
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/features/Settings/__tests__/useVaultConnectionState.test.tsx
  frontend/src/features/Settings/__tests__/vaultConnectionState.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
  frontend/src/features/Settings/useVaultConnectionState.ts
  frontend/src/features/Settings/vaultConnectionState.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(vault): accept incomplete-create fleet alerts (#3020)
  backend/src/routers/vault_provisioning_internal.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

test(e2e): cover the vault-first seed row in the browser and keep the walk on the picker
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/corpus-vault-first.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/routeWalk.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
