Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(graph): surface benchmark trend and semantic staleness in the recap
  .github/workflows/graph-build.yml
  .github/workflows/graph-semantic.yml
  .github/workflows/graph-tests.yml
  scripts/graph/README.md
  scripts/graph/append_benchmark_trend.py
  scripts/graph/semantic_staleness.py
  scripts/graph/test_append_benchmark_trend.sh
  scripts/graph/test_semantic_staleness.sh
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

feat(graph): surface benchmark trend and semantic staleness in the recap (#1895)
  .github/workflows/graph-build.yml
  .github/workflows/graph-semantic.yml
  .github/workflows/graph-tests.yml
  scripts/graph/README.md
  scripts/graph/append_benchmark_trend.py
  scripts/graph/semantic_staleness.py
  scripts/graph/test_append_benchmark_trend.sh
  scripts/graph/test_semantic_staleness.sh
  scripts/ralph/RECAP.md
  scripts/ralph/recap.py
  scripts/ralph/stats.py
  scripts/ralph/test_recap_stats.py
Due: none

chore(ralph): record 1 completion(s) this wake
  scripts/ralph/state.json
Due: none

fix(frontend): add editorialType.heading rung and demote journal shelf type
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Journal/JournalHero.styles.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Return/ReturnArcCard.tsx
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnLetGoCard.tsx
  frontend/src/features/Return/ReturnOfferCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): add editorialType.heading rung and demote journal shelf type (#1897)
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Journal/JournalHero.styles.ts
  frontend/src/features/Journal/JournalShelf.styles.ts
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/StatTile.styles.ts
  frontend/src/features/Return/ReturnArcCard.tsx
  frontend/src/features/Return/ReturnCompletionCard.tsx
  frontend/src/features/Return/ReturnLetGoCard.tsx
  frontend/src/features/Return/ReturnOfferCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1888 (total 649)
  scripts/ralph/state.json
Due: none

feat(journal): add dismissible morning-pages tip to the journal shelf
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/morningPagesTipStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): magnifier caption shows stage title + subtitle (#1896)
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): reorder drawer rows, switch-style page-controls toggle, and "Show Habits" pager
  frontend/src/features/Habits/components/HabitsDrawer.tsx
  frontend/src/features/Habits/components/__tests__/HabitsDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add dismissible morning-pages tip to the journal shelf (#1898)
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/morningPagesTipStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add is_carryover flag to Habit for pre-program habits
  backend/migrations/versions/c2d3e4f5a6b7_add_habit_is_carryover.py
  backend/src/models/habit.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(habits): reorder drawer rows, switch-style page-controls toggle, and "Show Habits" pager (#1899)
  frontend/src/features/Habits/components/HabitsDrawer.tsx
  frontend/src/features/Habits/components/__tests__/HabitsDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1890 (total 652)
  scripts/ralph/state.json
Due: none

fix(map): bound begin-again promise to mounted lifecycle
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/hooks/__tests__/useBeginAgainGuard.test.tsx
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add is_carryover flag to Habit for pre-program habits (#1900)
  backend/migrations/versions/c2d3e4f5a6b7_add_habit_is_carryover.py
  backend/src/models/habit.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

chore(ralph): record completion of issue 1892 (total 653)
  scripts/ralph/state.json
Due: none

fix(map): bound begin-again promise to mounted lifecycle (#1901)
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/hooks/__tests__/useBeginAgainGuard.test.tsx
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1851 (total 654)
  scripts/ralph/state.json
Due: none

feat(habits): render negative carryover laps with full-lap gating
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/components/HabitsDrawer.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): render negative carryover laps with full-lap gating (#1903)
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/components/HabitsDrawer.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1893 (total 655)
  scripts/ralph/state.json
Due: none

fix(habits): bound notification bootstrap to mounted lifecycle
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/useHabitNotifications.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitsBootstrap.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Habits/hooks/useHabits.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): full-bleed umber Practice player shell — dark no-scroll screen
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionSurface.contrast.test.ts
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): bound notification bootstrap to mounted lifecycle (#1909)
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/useHabitNotifications.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitsBootstrap.test.tsx
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Habits/hooks/useHabits.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1902 (total 656)
  scripts/ralph/state.json
Due: none

feat(habits): add carryover-habit flow on the negative lap
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): full-bleed umber Practice player shell — dark no-scroll screen (#1910)
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/FrequencyBanner.tsx
  frontend/src/features/Practice/components/__tests__/FrequencyBanner.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionSurface.contrast.test.ts
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): reset groom counter at completion 657
  scripts/ralph/state.json
Due: none

feat(habits): add carryover-habit flow on the negative lap (#1911)
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/__tests__/HabitsNegativeLaps.test.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
  frontend/src/features/Habits/hooks/__tests__/usePagination.test.ts
  frontend/src/features/Habits/hooks/usePagination.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1894 (total 658)
  scripts/ralph/state.json
Due: none

feat(practice): add player identity header with stage chip and customize pencil
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
  frontend/src/features/Practice/components/__tests__/PracticeIdentityHeader.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(course): condense reader footer to one icon nav row with read toast
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): add player identity header with stage chip and customize pencil (#1913)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
  frontend/src/features/Practice/components/__tests__/PracticeIdentityHeader.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useFrequency.test.tsx
  frontend/src/features/Practice/hooks/useFrequency.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1906 (total 659)
  scripts/ralph/state.json
Due: none

feat(course): condense reader footer to one icon nav row with read toast (#1914)
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1912 (total 660)
  scripts/ralph/state.json
Due: none

feat(practice): add Practice/Catalog top-tab switcher rendering the catalog in place
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeCatalogSwitcher.tsx
  frontend/src/features/Practice/components/PracticeDrawer.tsx
  frontend/src/features/Practice/components/__tests__/PracticeCatalogSwitcher.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDrawer.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
