Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(backend): route application logs to stdout with trace-id correlation
  backend/src/main.py
  backend/src/middleware/logging.py
  backend/src/observability.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/test_observability.py
Due: backend-tests-coverage

test(map): stop cold-start suite leaking animation timers past teardown
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(habits): re-point HabitsScreen mocks from habits.list to listAll
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(habits): re-point HabitsScreen mocks from habits.list to listAll (#1555)
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): remove fake SmoothSlider wrapper and fabricated animation props
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): remove fake SmoothSlider wrapper and fabricated animation props (#1556)
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): guard ReauthSheet Android-back dismiss during in-flight login
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): guard ReauthSheet Android-back dismiss during in-flight login (#1557)
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/__tests__/ReauthSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): drop the Journal tab's dead route-param surface
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/hooks.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): drop the Journal tab's dead route-param surface (#1558)
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapJourney.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/hooks.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): add owner-scoped bulk-clear endpoint for habit completions
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): distinguish clear-only failure in start-date reset
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(habits): add owner-scoped bulk-clear endpoint for habit completions (#1560)
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(navigation): add nav destination registry + shared DrawerNavSection
  frontend/src/components/drawer/DrawerItem.tsx
  frontend/src/components/drawer/DrawerNavSection.tsx
  frontend/src/components/drawer/__tests__/DrawerItem.test.tsx
  frontend/src/components/drawer/__tests__/DrawerNavSection.test.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/navigation/__tests__/destinations.test.ts
  frontend/src/navigation/destinations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(navigation): add nav destination registry + shared DrawerNavSection (#1561)
  frontend/src/components/drawer/DrawerItem.tsx
  frontend/src/components/drawer/DrawerNavSection.tsx
  frontend/src/components/drawer/__tests__/DrawerItem.test.tsx
  frontend/src/components/drawer/__tests__/DrawerNavSection.test.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/navigation/__tests__/destinations.test.ts
  frontend/src/navigation/destinations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): render DrawerNavSection at the top of every screen drawer
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawerNav.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): type drawer-nav test mocks and fix import order
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): render DrawerNavSection at the top of every screen drawer (#1562)
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalScreenDrawerNav.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawerNav.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenDrawerNav.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(navigation): retire the bottom tab bar; the drawer becomes primary navigation
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(navigation): retire the bottom tab bar; the drawer becomes primary navigation (#1563)
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): long-press a tier star on the habit tile to fill-to-star and log units
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileStarLongPress.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): long-press a tier star on the habit tile to fill-to-star and log units (#1565)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileStarLongPress.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add UserUiFlags model and /ui-flags GET/PATCH endpoint
  backend/migrations/versions/b4c5d6e7f8a1_add_user_ui_flags.py
  backend/src/domain/ui_flags.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/user.py
  backend/src/models/user_ui_flags.py
  backend/src/routers/ui_flags.py
  backend/src/schemas/ui_flags.py
  backend/tests/test_migrations.py
  backend/tests/test_ui_flags_api.py
Due: backend-tests-coverage

feat(backend): add UserUiFlags model and /ui-flags GET/PATCH endpoint (#1566)
  backend/migrations/versions/b4c5d6e7f8a1_add_user_ui_flags.py
  backend/src/domain/ui_flags.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/user.py
  backend/src/models/user_ui_flags.py
  backend/src/routers/ui_flags.py
  backend/src/schemas/ui_flags.py
  backend/tests/test_migrations.py
  backend/tests/test_ui_flags_api.py
Due: backend-tests-coverage

fix(frontend): hydrate has_seen_welcome from server so the welcome intro shows once per account
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/api/__tests__/uiFlags-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/store/__tests__/useWelcomeStore.test.tsx
  frontend/src/store/useWelcomeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): hydrate has_seen_welcome from server so the welcome intro shows once per account (#1567)
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/welcomeGate.test.tsx
  frontend/src/__tests__/navigation/welcomeLandsOnJournal.test.tsx
  frontend/src/api/__tests__/uiFlags-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/store/__tests__/useWelcomeStore.test.tsx
  frontend/src/store/useWelcomeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): persist energy-scaffolding CTA archived flag via server /ui-flags
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitUI.test.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): stub uiFlags in HabitsScreen render suites for hermeticity
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsPaginationVisibility.test.tsx
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): persist energy-scaffolding CTA archived flag via server /ui-flags (#1568)
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/HabitsPaginationVisibility.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenDrawerNav.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/HabitsSecondLap.test.tsx
  frontend/src/features/Habits/__tests__/HabitsStageColors.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitUI.test.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): remove dead test constant, fix stale comments, drop subsumed seed_stages tests
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_observability.py
  backend/tests/test_seed_stages.py
Due: backend-tests-coverage

test(backend): remove dead test constant, fix stale comments, drop subsumed seed_stages tests (#1569)
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_observability.py
  backend/tests/test_seed_stages.py
Due: backend-tests-coverage

test(invitations): cover useInvitations per-id and unmount guards
  frontend/src/features/Invitations/__tests__/useInvitations.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(invitations): cover useInvitations per-id and unmount guards (#1570)
  frontend/src/features/Invitations/__tests__/useInvitations.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): serialize secure-store token writes to close a stale-token race
  frontend/SECURITY.md
  frontend/src/storage/__tests__/secureStringStore.test.ts
  frontend/src/storage/secureStringStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): serialize secure-store token writes to close a stale-token race (#1572)
  frontend/SECURITY.md
  frontend/src/storage/__tests__/secureStringStore.test.ts
  frontend/src/storage/secureStringStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(botmason): correct stale module docstring for retired chat feature
  backend/src/services/botmason.py
Due: backend-tests-coverage

docs(wallet): correct add_balance audit-provenance docstring
  backend/src/services/wallet.py
Due: backend-tests-coverage

refactor(backend): move compute_next_reset to domain.dates layer
  backend/src/domain/dates.py
  backend/src/models/user.py
  backend/src/services/usage.py
  backend/tests/domain/test_dates.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

refactor(backend): services Low tidy-up round 2 — stale docstrings + compute_next_reset layering (#1573)
  backend/src/domain/dates.py
  backend/src/models/user.py
  backend/src/services/botmason.py
  backend/src/services/usage.py
  backend/src/services/wallet.py
  backend/tests/domain/test_dates.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

test(backend): assert energy-plan offload concurrency deterministically
  backend/tests/test_energy_api.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
