Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

docs(design): state the text-in-order rules and the review protocol (#2955)
  frontend/src/design/DESIGN.md
  prompts/scans/text-order.md
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(feedback): one composer title, hints inside their options, no ring on programmatic focus (#2956)
  frontend/src/components/RadioOption.tsx
  frontend/src/components/__tests__/RadioOption.test.tsx
  frontend/src/design/__tests__/writingFieldFocus.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Feedback/FeedbackComposerScreen.tsx
  frontend/src/features/Feedback/__tests__/FeedbackComposer.test.tsx
  frontend/src/features/Feedback/__tests__/feedbackControls.test.tsx
  frontend/src/features/Feedback/components/CategoryStep.tsx
  frontend/src/features/Feedback/components/optionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): hold the corner X fully opaque so its accent reads
  frontend/e2e/journal-morning-pages-dismiss.browser.e2e.test.ts
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/__tests__/ReflectionDismiss.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): census every text node on every route at both viewports
  .gitignore
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/e2e/routeWalk.ts
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/e2e/textCensus.ts
  frontend/src/design/__tests__/textCensus.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(e2e): publish the text census as a workflow artifact
  .github/workflows/e2e.yml
Due: none

docs(scans): say which tabs the depth rings gate
  prompts/scans/text-order.md
Due: none

fix(journal): keep promoted-quote paging and reloads honest around a remove
  frontend/src/features/Journal/PromotedQuotesScreen.tsx
  frontend/src/features/Journal/__tests__/PromotedQuotesScreen.test.tsx
  frontend/src/features/Journal/__tests__/PromotedQuotesScreenRaces.test.tsx
  frontend/src/features/Journal/usePromotedQuoteSection.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): read a fold-in's landed block from the body, not memory
  frontend/src/features/Journal/__tests__/useReflectionModeFoldIn.test.tsx
  frontend/src/features/Journal/useReflectionMode.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): census every text node on every route at both viewports (#2957)
  .github/workflows/e2e.yml
  .gitignore
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/e2e/routeWalk.ts
  frontend/e2e/text-order.browser.e2e.test.ts
  frontend/e2e/textCensus.ts
  frontend/src/design/__tests__/textCensus.test.ts
  prompts/scans/text-order.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): press the corner X where it is once the shelf settles
  frontend/e2e/journal-morning-pages-dismiss.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): morning-pages tip declines with the corner X (#2860 PR 1) (#2959)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-morning-page-title.browser.e2e.test.ts
  frontend/e2e/journal-morning-pages-dismiss.browser.e2e.test.ts
  frontend/e2e/journal-review-from-shelf.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalPrimaryInvitation.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/__tests__/JournalPrimaryInvitation.test.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionDismiss.test.tsx
  frontend/src/features/Journal/morningPagesCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): focus only a quote the body draws inline
  frontend/src/features/Journal/__tests__/resolveFocusSpan.test.ts
  frontend/src/features/Journal/highlightSegments.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(navigation): extract linking config into navigation/linking
  frontend/__tests__/appStoreIdentity.test.ts
  frontend/src/App.tsx
  frontend/src/navigation/linking.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): re-anchor by edit window, never jump to another copy
  backend/src/domain/marginalia_anchoring.py
  backend/src/routers/journal.py
  backend/src/services/marginalia.py
  backend/tests/test_live_edit_anchor_integrity.py
  backend/tests/test_marginalia_reanchoring.py
  backend/tests/test_promoted_quote_reanchoring.py
Due: backend-tests-coverage

docs(frontend): describe the edit-window re-anchor rule in anchor comments
  frontend/src/features/Journal/StaleQuoteNotes.tsx
  frontend/src/features/Journal/anchorSpan.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(navigation): parse stage-number path params as numbers
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
  frontend/src/navigation/__tests__/deepLinkTestKit.ts
  frontend/src/navigation/__tests__/linking.test.ts
  frontend/src/navigation/__tests__/linkingParams.test.ts
  frontend/src/navigation/linking.ts
  frontend/src/navigation/linkingParams.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): pin stage deep links in the browser lane
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-deep-link.browser.e2e.test.ts
  frontend/e2e/routeWalk.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin re-anchoring when one save carries two edits
  backend/src/domain/marginalia_anchoring.py
  backend/tests/test_marginalia_reanchoring.py
Due: backend-tests-coverage

test(backend): anchor the due-window test on the user's own calendar
  backend/tests/test_reflections_window.py
Due: backend-tests-coverage

test(e2e): read the mirror glyph and the field line in one settled frame
  frontend/e2e/journal-live-markdown.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(navigation): pin contentId digit guard and fix journey wording
  frontend/e2e/journeys.json
  frontend/src/navigation/__tests__/linkingParams.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): grow the quote-selection field, pin its actions, check a folded-in quote
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/QuoteRow.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/QuoteRow.test.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/readingSurfaceStyles.test.ts
  frontend/src/features/Journal/readingSurfaceStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): re-anchor notes and quotes by the edit window, never onto another copy (#2966)
  backend/src/domain/marginalia_anchoring.py
  backend/src/routers/journal.py
  backend/src/services/marginalia.py
  backend/tests/test_live_edit_anchor_integrity.py
  backend/tests/test_marginalia_reanchoring.py
  backend/tests/test_promoted_quote_reanchoring.py
  backend/tests/test_reflections_window.py
  frontend/e2e/journal-live-markdown.browser.e2e.test.ts
  frontend/src/features/Journal/StaleQuoteNotes.tsx
  frontend/src/features/Journal/anchorSpan.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): light a focus rule on the quote-selection field
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): stage 2 free-will archetype follows the course (Pleasure Seeker)
  backend/src/curriculum/archetypal_wavelength.json
  backend/tests/test_curriculum.py
  backend/tests/test_seed_stages.py
  backend/tests/test_vendored_course_copy_pins.py
Due: backend-tests-coverage

fix(frontend): the Map and Journal name Purple's archetype Pleasure Seeker
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(e2e): declare the stage-persona journey as uncovered
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(navigation): parse stage deep-link params as numbers (#2969)
  frontend/__tests__/appStoreIdentity.test.ts
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-deep-link.browser.e2e.test.ts
  frontend/e2e/routeWalk.ts
  frontend/src/App.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenDrawerNav.test.tsx
  frontend/src/features/Course/__tests__/CourseScreenWriteNote.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeScreenRefetchLoop.test.tsx
  frontend/src/navigation/__tests__/deepLinkTestKit.ts
  frontend/src/navigation/__tests__/linking.test.ts
  frontend/src/navigation/__tests__/linkingParams.test.ts
  frontend/src/navigation/linking.ts
  frontend/src/navigation/linkingParams.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: record the stage 2 correction and machine-readable supersessions
  docs/curriculum.md
  graph/ontology-spine.md
Due: none

fix(journal): grow the quote-selection field, pin its actions, check a folded-in quote (#2968)
  frontend/e2e/journeys.json
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/QuoteRow.tsx
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/QuoteRow.test.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/readingSurfaceStyles.test.ts
  frontend/src/features/Journal/readingSurfaceStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): reseed regression tests read back only what was committed
  backend/tests/test_seed_stages.py
Due: backend-tests-coverage

docs: state the ontology spine's dataset_version once
  graph/ontology-spine.md
Due: none

fix(content): stage 2's relationship to free will follows the course (Pleasure Seeker) (#2970)
  backend/src/curriculum/archetypal_wavelength.json
  backend/tests/test_curriculum.py
  backend/tests/test_seed_stages.py
  backend/tests/test_vendored_course_copy_pins.py
  docs/curriculum.md
  frontend/e2e/journeys.json
  frontend/src/features/Map/mapLayout.ts
  graph/ontology-spine.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(journal): extract useStoredDismissal from the resonance explainer
  frontend/src/features/Journal/__tests__/useStoredDismissal.test.tsx
  frontend/src/features/Journal/useResonanceExplainer.ts
  frontend/src/features/Journal/useStoredDismissal.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(journal): share the explainer dialog's checkbox and arm pair
  frontend/src/features/Journal/ExplainerDialogParts.tsx
  frontend/src/features/Journal/ResonanceExplainerDialog.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): explain a promoted quote the first time, and say where it went
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-live-edit-anchors.browser.e2e.test.ts
  frontend/e2e/journal-promote-explainer.browser.e2e.test.ts
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Feedback/FeedbackComposerScreen.tsx
  frontend/src/features/Feedback/components/SubmitStatus.tsx
  frontend/src/features/Journal/ExplainerDialogParts.tsx
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PromoteExplainerDialog.tsx
  frontend/src/features/Journal/__tests__/JournalAnchorPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryPromoteJourney.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromoteExplainer.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/PromoteExplainerDialog.test.tsx
  frontend/src/features/Journal/__tests__/promoteExplainerCopy.test.ts
  frontend/src/features/Journal/__tests__/promoteExplainerTestKit.ts
  frontend/src/features/Journal/__tests__/usePromoteExplainer.test.tsx
  frontend/src/features/Journal/promoteExplainerCopy.ts
  frontend/src/features/Journal/usePromoteExplainer.ts
  frontend/src/storage/__tests__/promoteExplainerStorage.test.ts
  frontend/src/storage/promoteExplainerStorage.ts
  frontend/src/utils/announceOnIos.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): prove the quote selector's focus rule in a real browser
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): keep a failed dismissal write from escaping as a rejection
  frontend/src/features/Journal/__tests__/useStoredDismissalSaveFailure.test.tsx
  frontend/src/storage/__tests__/promoteExplainerStorage.test.ts
  frontend/src/storage/__tests__/resonanceExplainerStorage.test.ts
  frontend/src/storage/promoteExplainerStorage.ts
  frontend/src/storage/resonanceExplainerStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): hand focus to the quote-selection field when it opens
  frontend/e2e/journal-promote-explainer.browser.e2e.test.ts
  frontend/e2e/journal-promote-quote.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/QuoteSelectionSurface.tsx
  frontend/src/features/Journal/__tests__/QuoteSelectionSurface.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
