Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(habits): a habit brought along stops moving the program calendar
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reviewStep.test.tsx
  frontend/src/features/Habits/components/onboardingReview.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): scaffolding again asks about the habits you already have (#2682)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/OnboardingReviewStep.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.reviewStep.test.tsx
  frontend/src/features/Habits/components/__tests__/onboardingReview.test.ts
  frontend/src/features/Habits/components/onboardingReview.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitMerge.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add a "Your private vault" settings surface with one-promise copy
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/vaultCopy.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): connect a vault of your own from the private-vault screen
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/vault-connection.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop a vault key outliving its send, and a failed read from erasing a vault
  frontend/e2e/journeys.json
  frontend/e2e/vault-connection.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultConnectionState.test.ts
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/__tests__/vaultRefusalDrift.test.ts
  frontend/src/features/Settings/vaultConnectionState.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): connect your private vault from Settings (#2683)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/vault-connection.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultConnectionState.test.ts
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/__tests__/vaultRefusalDrift.test.ts
  frontend/src/features/Settings/vaultConnectionState.ts
  frontend/src/features/Settings/vaultCopy.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): surface related Creek pages
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/FromYourCreekPanel.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/FromYourCreekPanel.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonanceCreek.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): surface related Creek pages (#2684)
  frontend/e2e/journeys.json
  frontend/src/api/index.ts
  frontend/src/design/__tests__/interactiveTextFloor.test.ts
  frontend/src/features/Journal/FromYourCreekPanel.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/FromYourCreekPanel.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCreek.test.tsx
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Journal/__tests__/useResonanceCreek.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): isolate provisioning boundaries (#2677)
  backend/scripts/dast/allowlist.toml
  backend/src/main.py
  backend/src/routers/users.py
  backend/src/routers/vault_activation.py
  backend/src/routers/vault_provisioning_internal.py
  backend/src/services/account_deletion.py
  backend/src/services/creek_provisioning.py
  backend/src/services/creek_provisioning_client.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/test_creek_provisioning_client.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

fix(backend): publish handoff conflict contract (#2677)
  backend/openapi.json
  backend/src/routers/vault_provisioning_internal.py
Due: backend-tests-coverage

feat(backend): consume private-vault provisioning jobs (#2677)
  DEPLOYMENT.md
  backend/.env.example
  backend/migrations/versions/e9a4c6d8f0b2_vault_activation_lifecycle.py
  backend/openapi.json
  backend/src/dependencies/creek_vault.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/user_vault_config.py
  backend/src/models/vault_activation.py
  backend/src/routers/admin.py
  backend/src/routers/users.py
  backend/src/routers/vault_activation.py
  backend/src/routers/vault_config.py
  backend/src/schemas/vault_activation.py
  backend/src/services/account_deletion.py
  backend/src/services/creek_provisioning.py
  backend/src/services/user_vault_config.py
  backend/tests/helpers/account_seed.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
  backend/tests/test_creek_provisioning_client.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

test(backend): close provisioning review gaps (#2677)
  backend/src/routers/vault_provisioning_internal.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

fix(backend): unify ceremony rejection contract (#2677)
  backend/src/routers/vault_activation.py
  backend/src/services/creek_provisioning_client.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

feat(backend): consume Creek provisioning jobs after activation (#2685)
  DEPLOYMENT.md
  backend/.env.example
  backend/migrations/versions/e9a4c6d8f0b2_vault_activation_lifecycle.py
  backend/openapi.json
  backend/scripts/dast/allowlist.toml
  backend/src/dependencies/creek_vault.py
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/user_vault_config.py
  backend/src/models/vault_activation.py
  backend/src/routers/admin.py
  backend/src/routers/users.py
  backend/src/routers/vault_activation.py
  backend/src/routers/vault_config.py
  backend/src/routers/vault_provisioning_internal.py
  backend/src/schemas/vault_activation.py
  backend/src/services/account_deletion.py
  backend/src/services/creek_provisioning.py
  backend/src/services/creek_provisioning_client.py
  backend/src/services/user_vault_config.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/helpers/account_seed.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
  backend/tests/test_creek_provisioning_client.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_vault_activation.py
Due: backend-tests-coverage

feat(frontend): add private vault activation ceremony (#2678)
  .secrets.baseline
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/fakeCreekServer.mjs
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-crypto.js
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/keyCeremony.test.ts
  frontend/src/features/Settings/__tests__/saveRecoveryKey.test.ts
  frontend/src/features/Settings/__tests__/vaultActivationPrivacyGuard.test.ts
  frontend/src/features/Settings/key-ceremony-test-vectors.json
  frontend/src/features/Settings/keyCeremony.ts
  frontend/src/features/Settings/saveRecoveryKey.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): reconcile vault completion status (#2678)
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): private-vault activation and user-held recovery-key ceremony (#2686)
  .secrets.baseline
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/fakeCreekServer.mjs
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-crypto.js
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/keyCeremony.test.ts
  frontend/src/features/Settings/__tests__/saveRecoveryKey.test.ts
  frontend/src/features/Settings/__tests__/vaultActivationPrivacyGuard.test.ts
  frontend/src/features/Settings/key-ceremony-test-vectors.json
  frontend/src/features/Settings/keyCeremony.ts
  frontend/src/features/Settings/saveRecoveryKey.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): download data exports on web
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/__tests__/ExportDataScreen.test.tsx
  frontend/src/features/Settings/__tests__/saveDataExport.test.ts
  frontend/src/features/Settings/saveDataExport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): download data exports on web (#2687)
  frontend/src/features/Settings/ExportDataScreen.tsx
  frontend/src/features/Settings/__tests__/ExportDataScreen.test.tsx
  frontend/src/features/Settings/__tests__/saveDataExport.test.ts
  frontend/src/features/Settings/saveDataExport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): release invitation reads before vault dial
  backend/src/services/invitations.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage

fix(backend): release invitation reads before vault dial (#2688)
  backend/src/services/invitations.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/services/test_invitations_service.py
Due: backend-tests-coverage

fix(backend): release essay reads before llm call
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/support/outbound_boundary.py
  backend/tests/test_essay_endpoint.py
Due: backend-tests-coverage

fix(backend): release essay reads before llm call (#2689)
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/support/outbound_boundary.py
  backend/tests/test_essay_endpoint.py
Due: backend-tests-coverage

fix(backend): release auth reads before provider calls
  backend/src/routers/auth.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/support/outbound_boundary.py
Due: backend-tests-coverage

fix(backend): release auth reads before provider calls (#2690)
  backend/src/routers/auth.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
  backend/tests/support/outbound_boundary.py
Due: backend-tests-coverage

test(backend): calibrate pool holds against starvation
  backend/tests/architecture/test_pool_pressure_calibration.py
Due: backend-tests-coverage

test(backend): calibrate pool holds against starvation (#2691)
  backend/tests/architecture/test_pool_pressure_calibration.py
Due: backend-tests-coverage

fix(backend): release pool before resonance handshake
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

fix(backend): release pool before resonance handshake (#2692)
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

fix(backend): release pool before completion detection
  backend/openapi.json
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

fix(backend): release pool before completion detection (#2693)
  backend/openapi.json
  backend/src/routers/journal.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

test(backend): enforce reasoned pool hold exceptions
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

feat(backend): add habit.auto_revealed_at one-shot marker
  backend/migrations/versions/de6c2ca1ab1b_add_habit_auto_revealed_at.py
  backend/openapi.json
  backend/src/models/habit.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

fix(settings): offer the Sangha switch only where its door exists
  frontend/src/features/Settings/ChooseDepthsSection.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.sanghaDoor.test.tsx
  frontend/src/features/Settings/__tests__/ChooseDepthsSection.test.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): enforce reasoned pool hold exceptions (#2694)
  backend/tests/architecture/pool_hold.py
  backend/tests/architecture/pool_hold_census.py
  backend/tests/architecture/test_connection_not_held_across_dial.py
  backend/tests/architecture/test_pool_hold_analysis.py
  backend/tests/security/test_connection_never_held_across_an_outbound_call.py
Due: backend-tests-coverage

test(settings): prove every Choose-your-depths switch has a destination
  frontend/src/features/Settings/__tests__/depthSwitchesHaveEffect.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(settings): record that an unset Sangha invite hides the switch too
  DEPLOYMENT.md
  frontend/README.md
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(backend): auto-reveal the habit the calendar has opened
  backend/src/domain/habit_reveal.py
  backend/src/routers/habits.py
  backend/tests/security/test_idor.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

feat(frontend): carry the habit auto-reveal marker through the API client
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(habits): describe the server-side one-shot reveal invariant
  backend/src/domain/habit_reveal.py
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTileLocked.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/HabitsStatTile.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage
