Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(backend): cors origin validation + health split (bug-app-003/-004)
  backend/src/main.py
  backend/tests/test_cors.py
  backend/tests/test_health.py
Due: backend-tests-coverage

fix(db): add ondelete to every user-id foreign key (bug-db-003 / bug-model-002)
  backend/migrations/versions/f3a4b5c6d7e8_add_user_fk_ondelete.py
  backend/src/models/content_completion.py
  backend/src/models/goal_completion.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/journal_entry.py
  backend/src/models/llm_usage_log.py
  backend/src/models/practice.py
  backend/src/models/practice_session.py
  backend/src/models/prompt_response.py
  backend/src/models/stage_progress.py
  backend/src/models/user_practice.py
  backend/src/models/wallet_audit.py
Due: backend-tests-coverage

feat(backend): user state flags + tightened milestone/checkin schemas
  backend/migrations/versions/a4b5c6d7e8f9_add_user_state_flags.py
  backend/src/models/user.py
  backend/src/schemas/checkin.py
  backend/src/schemas/milestone.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

chore(prompts): mark prompts 07, 08, and 11 as complete
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

refactor(backend): split origin hostname helper
  backend/src/main.py
Due: backend-tests-coverage

fix(db): drop legacy user fk before re-creating with ondelete
  backend/migrations/versions/f3a4b5c6d7e8_add_user_fk_ondelete.py
Due: backend-tests-coverage

fix(backend): preserve audit trail and enforce account-state gates
  backend/migrations/versions/f3a4b5c6d7e8_add_user_fk_ondelete.py
  backend/src/models/user.py
  backend/src/models/wallet_audit.py
  backend/src/routers/auth.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_auth.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

chore(backend): hoist test_cors imports and narrow health-probe except
  backend/src/main.py
  backend/tests/test_cors.py
Due: backend-tests-coverage

refactor(backend): split login + check_user_active for xenon rank a
  backend/src/routers/auth.py
Due: backend-tests-coverage

fix(backend): auth + cors + db + models hardening (Prompt 11) (#275)
  backend/migrations/versions/a4b5c6d7e8f9_add_user_state_flags.py
  backend/migrations/versions/e2f3a4b5c6d7_add_revoked_tokens.py
  backend/migrations/versions/f3a4b5c6d7e8_add_user_fk_ondelete.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/content_completion.py
  backend/src/models/goal_completion.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/journal_entry.py
  backend/src/models/llm_usage_log.py
  backend/src/models/practice.py
  backend/src/models/practice_session.py
  backend/src/models/prompt_response.py
  backend/src/models/revoked_token.py
  backend/src/models/stage_progress.py
  backend/src/models/user.py
  backend/src/models/user_practice.py
  backend/src/models/wallet_audit.py
  backend/src/routers/auth.py
  backend/src/schemas/checkin.py
  backend/src/schemas/milestone.py
  backend/tests/services/test_streaks.py
  backend/tests/services/test_wallet.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_auth.py
  backend/tests/test_botmason_api.py
  backend/tests/test_cors.py
  backend/tests/test_goal_completions.py
  backend/tests/test_health.py
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: backend-tests-coverage

chore(skills): add address-feedback skill from well-worn-tools
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
Due: none

chore(skills): add address-feedback skill from well-worn-tools (#277)
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
Due: none

chore(skills): update address-feedback to v1.1.0 (verdict-comment paradigm)
  .claude/skills/address-feedback/SKILL.md
Due: none

chore(skills): update address-feedback to v1.1.0 (verdict-comment paradigm) (#278)
  .claude/skills/address-feedback/SKILL.md
Due: none

fix(backend): goal completion atomicity + idempotency + milestone hygiene (12a / goal cluster)
  backend/src/domain/milestones.py
  backend/src/routers/goal_completions.py
  backend/tests/domain/test_milestones.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(backend): habit streak cadence + cascade audit + bounds (12a / habit cluster)
  backend/src/dependencies/ownership.py
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/schemas/checkin.py
  backend/tests/domain/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

chore(backend): pr 276 round 2 review (post-commit audit, weekday guard, test fixes)
  backend/src/domain/streaks.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/tests/domain/test_streaks.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

chore(backend): address pr 276 round 1 review (defer streak, drop dead code, tighten audit)
  backend/src/dependencies/ownership.py
  backend/src/domain/habit_stats.py
  backend/src/domain/milestones.py
  backend/src/domain/streaks.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(backend): pr 276 round 3 review (audit gap, dead guard, docstring trim)
  backend/src/dependencies/ownership.py
  backend/src/domain/habit_stats.py
  backend/src/domain/milestones.py
  backend/src/domain/streaks.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/tests/domain/test_milestones.py
  backend/tests/domain/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(db): unique index closes duplicate-name toctou on habit names
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/b5c6d7e8f9a0_habit_unique_user_lower_name.py
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

chore(backend): trim habit class + create_habit docstrings to single line (pr 276 round 5)
  backend/src/models/habit.py
  backend/src/routers/habits.py
Due: backend-tests-coverage

fix(auth): honor anti-enumeration user_id=0 sentinel on signup
  frontend/src/api/errorMessages.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(auth): trim duplicate-signup comments + reconcile BUG ID
  frontend/src/api/errorMessages.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): pr 276 round 6 review (rollback guard, update-habit collision, dedupe log)
  backend/conftest.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(auth): honor anti-enumeration user_id=0 sentinel on signup (#279)
  frontend/src/api/errorMessages.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): 12A wave 1 - habit + goal clusters (11 BUG-IDs) (#276)
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/b5c6d7e8f9a0_habit_unique_user_lower_name.py
  backend/src/dependencies/ownership.py
  backend/src/domain/habit_stats.py
  backend/src/domain/milestones.py
  backend/src/domain/streaks.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/schemas/checkin.py
  backend/tests/domain/test_milestones.py
  backend/tests/domain/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

fix(habits): unblock mobile habit load + add discoverable goal editor + visible log feedback
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): make log-unit failures visible + match backend trailing-slash routes
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): address PR #280 review — drop double-fire onBlur + extract tokens
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): unblock mobile habit load + add discoverable goal editor + visible log feedback (#280)
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): unblock log-units after onboarding + stop modal tap-to-close on inputs
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): apply live-store guard to handleApiError + trim verbose comments
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(habits): trim multi-line comments + drop self-reference in onboardingSave
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(habits): track post-onboarding loadHabits failure + a11y on modal backdrop
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): unblock log-units after onboarding + stop modal tap-to-close (#281)
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(plans): add SPEC.md for password recovery feature
  plans/SPEC.md
Due: none

fix(frontend): pin web viewport to suppress iOS focus-zoom on inputs
  frontend/src/index.ts
  frontend/src/utils/__tests__/webViewport.test.ts
  frontend/src/utils/webViewport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(plans): add SPEC.md for password recovery feature (#283)
  plans/SPEC.md
Due: none

feat(backend): add PasswordResetToken model + password_changed_at column
  backend/migrations/versions/c6d7e8f9a0b1_add_password_reset_token_and_password_changed_at.py
  backend/src/models/__init__.py
  backend/src/models/password_reset_token.py
  backend/src/models/user.py
Due: backend-tests-coverage
