Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

docs(security): add full-stack security audit with 14 actionable issues
  prompts/security/README.md
  prompts/security/sec-01-account-enumeration.md
  prompts/security/sec-02-email-validation.md
  prompts/security/sec-03-input-length-constraints.md
  prompts/security/sec-04-jwt-error-messages.md
  prompts/security/sec-05-prompt-path-traversal.md
  prompts/security/sec-06-llm-api-key-validation.md
  prompts/security/sec-07-push-token-storage.md
  prompts/security/sec-08-http-fallback.md
  prompts/security/sec-09-token-refresh.md
  prompts/security/sec-10-url-validation.md
  prompts/security/sec-11-data-endpoint-rate-limits.md
  prompts/security/sec-12-action-sha-pinning.md
  prompts/security/sec-13-pip-audit-exemption.md
  prompts/security/sec-14-dependency-pinning.md
Due: none

fix(backend): prevent account enumeration via signup endpoint
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): add email format validation to auth endpoints
  .secrets.baseline
  backend/requirements.txt
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): add timing-attack resistance to signup anti-enumeration
  backend/src/routers/auth.py
Due: backend-tests-coverage

fix(backend): restrict BotMason system prompt file reads to allowed directory
  backend/src/prompts/.gitkeep
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(frontend): validate URL schemes before Linking.openURL
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/utils/__tests__/url.test.ts
  frontend/src/utils/url.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): migrate push token storage from AsyncStorage to SecureStore
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): enforce HTTPS for API base URL in production builds
  frontend/src/__tests__/config.test.ts
  frontend/src/config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): unify JWT error responses to prevent token state leakage
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): validate LLM_API_KEY before use in non-stub providers
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(backend): add input length constraints to all user-facing string fields
  backend/src/models/goal.py
  backend/src/models/journal_entry.py
  backend/src/models/practice.py
  backend/src/models/prompt_response.py
  backend/src/schemas/botmason.py
  backend/src/schemas/journal.py
  backend/src/schemas/practice.py
  backend/src/schemas/prompt.py
  backend/tests/test_input_length_constraints.py
Due: backend-tests-coverage

fix(infra): remove unnecessary PYSEC-0000 pip-audit exemption
  .pre-commit-config.yaml
Due: none

fix(full-stack): pin dependency versions for reproducible builds
  .github/dependabot.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  backend/Dockerfile
  backend/requirements-lock.txt
Due: backend-tests-coverage

fix(ci): pin GitHub Actions to immutable commit SHAs
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/frontend-ci.yml
  AGENTS.md
Due: none

fix(full-stack): add token refresh and expiration handling (sec-09)
  .secrets.baseline
  backend/src/routers/auth.py
  backend/tests/test_auth.py
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/utils/__tests__/token.test.ts
  frontend/src/utils/token.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(security): v2 audit — 12/14 fixed, 4 remaining issues
  prompts/security/README.md
  prompts/security/sec-01-account-enumeration.md
  prompts/security/sec-01-remaining-input-constraints.md
  prompts/security/sec-02-data-endpoint-rate-limits.md
  prompts/security/sec-02-email-validation.md
  prompts/security/sec-03-input-length-constraints.md
  prompts/security/sec-03-offering-balance-race-condition.md
  prompts/security/sec-04-jwt-error-messages.md
  prompts/security/sec-04-nginx-security-headers.md
  prompts/security/sec-05-prompt-path-traversal.md
  prompts/security/sec-06-llm-api-key-validation.md
  prompts/security/sec-07-push-token-storage.md
  prompts/security/sec-08-http-fallback.md
  prompts/security/sec-09-token-refresh.md
  prompts/security/sec-10-url-validation.md
  prompts/security/sec-11-data-endpoint-rate-limits.md
  prompts/security/sec-12-action-sha-pinning.md
  prompts/security/sec-13-pip-audit-exemption.md
  prompts/security/sec-14-dependency-pinning.md
Due: none

fix(backend): add global and per-endpoint rate limits to data endpoints
  backend/src/main.py
  backend/src/rate_limit.py
  backend/src/routers/botmason.py
  backend/src/routers/journal.py
  backend/src/routers/practices.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

docs(security): renumber v2 issues to sec-15 through sec-18
  prompts/security/README.md
  prompts/security/sec-15-remaining-input-constraints.md
  prompts/security/sec-16-data-endpoint-rate-limits.md
  prompts/security/sec-17-offering-balance-race-condition.md
  prompts/security/sec-18-nginx-security-headers.md
Due: none

fix(frontend): add security headers to nginx config (sec-18)
  frontend/__tests__/nginx-security-headers.test.ts
  frontend/nginx.conf
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): add input length constraints to remaining schemas and models (sec-15)
  backend/src/models/goal.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/journal_entry.py
  backend/src/models/practice_session.py
  backend/src/schemas/goal_group.py
  backend/src/schemas/habit.py
  backend/tests/test_input_length_constraints.py
Due: backend-tests-coverage

fix(backend): add global and per-endpoint rate limits to data endpoints
  backend/src/main.py
  backend/src/rate_limit.py
  backend/src/routers/botmason.py
  backend/src/routers/practices.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

fix(backend): add max_length constraints to remaining schemas and models (sec-15)
  backend/src/models/goal.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/journal_entry.py
  backend/src/models/practice_session.py
  backend/src/schemas/goal_group.py
  backend/src/schemas/habit.py
  backend/tests/test_input_length_constraints.py
Due: backend-tests-coverage

fix(backend): prevent offering balance race condition with atomic SQL updates (sec-17)
  backend/conftest.py
  backend/src/routers/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(backend): use atomic UPDATE for offering balance operations (sec-17)
  backend/src/routers/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(frontend): add security headers to nginx config (sec-18)
  frontend/nginx.conf
Due: frontend-eslint, frontend-tests

fix(infra): add per-service railway.toml for frontend and backend
  backend/railway.toml
  frontend/railway.toml
Due: frontend-eslint, frontend-tests, backend-tests-coverage

fix(backend): ensure migrations/ dir reaches Railway build context
  backend/migrations/README
Due: backend-tests-coverage

feat(backend): accept user-provided LLM API key via X-LLM-API-Key header
  backend/src/main.py
  backend/src/routers/botmason.py
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

feat(frontend): byok settings screen + X-LLM-API-Key header injection
  frontend/src/App.tsx
  frontend/src/api/__tests__/botmason-byok.test.ts
  frontend/src/api/index.ts
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/RootStack.tsx
  frontend/src/storage/__tests__/llmKeyStorage.test.ts
  frontend/src/storage/llmKeyStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): stop COPYing migrations/ from build context in Dockerfile
  backend/Dockerfile
Due: backend-tests-coverage

fix(backend): drop placeholder migrations/ COPY from Dockerfile
  backend/Dockerfile
  backend/migrations/README
Due: backend-tests-coverage

feat(full-stack): monthly message cap and token wallet for BotMason (#186)
  backend/conftest.py
  backend/src/models/user.py
  backend/src/routers/botmason.py
  backend/src/schemas/botmason.py
  backend/src/services/usage.py
  backend/tests/test_botmason_api.py
  frontend/src/api/__tests__/botmason-byok.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): make Dockerfile work with repo-root build context
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  scripts/pre-deploy-check.sh
Due: backend-tests-coverage

fix(backend): align backend/railway.toml + Dockerfile with repo-root build context
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  backend/railway.toml
  railway.toml
  scripts/pre-deploy-check.sh
Due: backend-tests-coverage

fix(infra): use root-relative dockerfilePath in per-service railway.toml
  backend/railway.toml
  frontend/railway.toml
Due: frontend-eslint, frontend-tests, backend-tests-coverage

fix(frontend): align frontend/railway.toml + Dockerfile with repo-root build context
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dockerignore
  frontend/railway.toml
  scripts/pre-deploy-check.sh
Due: frontend-eslint, frontend-tests

fix(backend): set PYTHONPATH so runtime imports match the test harness
  backend/Dockerfile
Due: backend-tests-coverage

feat(backend): log LLM token usage and estimated cost per chat (#187)
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/llm_usage_log.py
  backend/src/routers/admin.py
  backend/src/routers/botmason.py
  backend/src/schemas/admin.py
  backend/src/services/botmason.py
  backend/src/services/llm_pricing.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_botmason_api.py
  backend/tests/test_llm_pricing.py
  backend/tests/test_llm_usage_log.py
Due: backend-tests-coverage

fix(frontend): surface blank-screen root cause with visible error screens
  frontend/src/App.tsx
  frontend/src/__tests__/config.test.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): stream BotMason responses with retry + error UX (#188)
  backend/src/routers/botmason.py
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
  frontend/src/api/__tests__/botmason-stream.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
