Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(backend): seed 10 BLUE alternative heart presets at stage 4
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(backend): seed 8 ORANGE alternative activation presets at stage 5
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(backend): seed 8 GREEN alternative shadow-work presets at stage 6
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(backend): seed 9 TEAL alternative integration presets at stage 8
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(backend): re-home Love to Past Selves from stage 3 RED to stage 4 BLUE
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat(backend): seed 60 Spiral Dynamics alternative practice presets (BEIGE-TEAL) (#381)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

refactor(frontend): declutter practice catalog rows
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): simplify Practice screen and clarify weekly progress
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/WeeklyProgress.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/__tests__/SenseGroundingView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): replace sense chips with searchable grounding dropdown
  frontend/src/features/Practice/configurator/__tests__/SenseGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/GroundingDropdown.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/GroundingDropdown.test.tsx
  frontend/src/features/Practice/data/__tests__/groundingCatalog.test.ts
  frontend/src/features/Practice/data/groundingCatalog.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): align all screens to one universal course calendar
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore: import Ralph autonomous-loop infrastructure from creek-tools
  .claude/commands/ralph-tick.md
  scripts/ralph/PROMPT.md
  scripts/ralph/pick-next.sh
  scripts/ralph/state.json
Due: none

refactor(frontend): address review — condense comments, clamp helper input
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): address review — condense docs, drop test any-casts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): share one searchable dropdown across grounding + recipe tags
  frontend/src/features/Practice/components/SearchableDropdown.tsx
  frontend/src/features/Practice/components/__tests__/SearchableDropdown.test.tsx
  frontend/src/features/Practice/configurator/forms/GroundingDropdown.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): condense catalog comments, cover fallback path
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): declutter practice catalog rows (#385)
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): align all screens to one universal course calendar (#384)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapHistory.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): raise JournalScreen suite timeout to fix CI flake
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(course): add aptitude-course CMS migration issue specs
  prompts/github-issues/cms-migration/README.md
  prompts/github-issues/cms-migration/content-A-format-and-frontmatter-schema.md
  prompts/github-issues/cms-migration/content-B-normalize-markdown.md
  prompts/github-issues/cms-migration/content-C-add-frontmatter.md
  prompts/github-issues/cms-migration/content-D-manifest-generator.md
  prompts/github-issues/cms-migration/content-E-ci.md
  prompts/github-issues/cms-migration/content-F-consumption-contract-versioning.md
  prompts/github-issues/cms-migration/content-G-site-resources.md
  prompts/github-issues/cms-migration/content-H-authoring-guide.md
  prompts/github-issues/cms-migration/content-I-media-assets.md
Due: none

fix(practice): restore disabled-button feedback + label the dropdown search
  frontend/src/features/Practice/components/SearchableDropdown.tsx
  frontend/src/features/Practice/components/__tests__/SearchableDropdown.test.tsx
  frontend/src/features/Practice/configurator/forms/GroundingDropdown.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/GroundingDropdown.test.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): simplify Practice screen and clarify weekly progress (#383)
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/WeeklyProgress.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/WeeklyProgress.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/SenseGroundingView.tsx
  frontend/src/features/Practice/views/__tests__/SenseGroundingView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): let dropdown consumers phrase the trigger a11y label
  frontend/src/features/Practice/components/SearchableDropdown.tsx
  frontend/src/features/Practice/components/__tests__/SearchableDropdown.test.tsx
  frontend/src/features/Practice/configurator/forms/GroundingDropdown.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/GroundingDropdown.test.tsx
  frontend/src/features/Practice/recipes/TagPicker.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add paginated listPaginated helpers for Page envelope
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): replace active practice instead of 409 on switch
  backend/src/routers/user_practices.py
  backend/tests/test_user_practices_api.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): add paginated listPaginated helpers for Page envelope (#407)
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(course): add aptitude-course CMS migration issue specs (#405)
  prompts/github-issues/cms-migration/README.md
  prompts/github-issues/cms-migration/content-A-format-and-frontmatter-schema.md
  prompts/github-issues/cms-migration/content-B-normalize-markdown.md
  prompts/github-issues/cms-migration/content-C-add-frontmatter.md
  prompts/github-issues/cms-migration/content-D-manifest-generator.md
  prompts/github-issues/cms-migration/content-E-ci.md
  prompts/github-issues/cms-migration/content-F-consumption-contract-versioning.md
  prompts/github-issues/cms-migration/content-G-site-resources.md
  prompts/github-issues/cms-migration/content-H-authoring-guide.md
  prompts/github-issues/cms-migration/content-I-media-assets.md
Due: none

feat(practice): replace sense chips with searchable grounding dropdown (#387)
  frontend/src/features/Practice/components/SearchableDropdown.tsx
  frontend/src/features/Practice/components/__tests__/SearchableDropdown.test.tsx
  frontend/src/features/Practice/configurator/__tests__/SenseGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/GroundingDropdown.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/GroundingDropdown.test.tsx
  frontend/src/features/Practice/data/__tests__/groundingCatalog.test.ts
  frontend/src/features/Practice/data/groundingCatalog.ts
  frontend/src/features/Practice/recipes/TagPicker.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/TagPicker.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): replace active practice instead of 409 on switch (#409)
  backend/src/routers/user_practices.py
  backend/tests/test_user_practices_api.py
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/components/PracticeSwitcherSheet.tsx
  frontend/src/features/Practice/components/__tests__/PracticeSwitcherSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): add PUT /users/me/timezone for post-signup timezone updates
  backend/src/domain/timezone.py
  backend/src/main.py
  backend/src/routers/auth.py
  backend/src/routers/users.py
  backend/src/schemas/timezone.py
  backend/tests/test_users_timezone.py
Due: backend-tests-coverage

feat(frontend): add Time zone settings screen wired to the new endpoint
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/users-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): address PR #410 review feedback
  frontend/src/api/__tests__/users-api.test.ts
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat: allow user to update timezone after signup (#410)
  backend/src/domain/timezone.py
  backend/src/main.py
  backend/src/routers/auth.py
  backend/src/routers/users.py
  backend/src/schemas/timezone.py
  backend/tests/test_users_timezone.py
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/users-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/TimezoneSettingsScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

perf(backend): resolve user timezone once per request via cached dependency
  backend/src/dependencies/timezone.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/user_practices.py
  backend/tests/test_timezone_lookup_caching.py
Due: backend-tests-coverage

perf(backend): resolve user timezone once per request via cached dependency (#413)
  backend/src/dependencies/timezone.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/user_practices.py
  backend/tests/test_timezone_lookup_caching.py
Due: backend-tests-coverage

test(backend): pin T-3d backfill to its calendar day (#269)
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

feat(frontend): forward queued check-in day through offline replay
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): remember last timezone for internal loadHabits re-fetches
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): address PR #414 round-2 nits
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): forward queued check-in day through offline replay (#414)
  backend/tests/test_goal_completions.py
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage
