Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

chore(agents): align subagent model selection to owner policy
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
Due: none

chore(agents): align subagent model selection to owner policy (#1875)
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
Due: none

chore(ralph): record completion of issue 1874 (total 636); cap back to 2
  scripts/ralph/state.json
Due: none

fix(frontend): pin patched transitives to clear npm audit high+ gate
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(backend): pin backend deps to CI-resolved versions (#1871)
  backend/requirements-dev.txt
  backend/requirements.txt
Due: backend-tests-coverage

chore(ralph): record completion of issue 1859 (total 637); cap 2
  scripts/ralph/state.json
Due: none

fix(frontend): pin patched transitives to clear npm audit high+ gate (#1876)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(ralph): record completion of issue 1873 (total 638)
  scripts/ralph/state.json
Due: none

feat(journal): add camera capture to the photograph flow
  frontend/app.json
  frontend/src/__mocks__/expo-image-picker.js
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): drive camera failed capture through the screen
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): recover from removing every page mid-review
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): camera capture in the photograph flow (#1877)
  frontend/app.json
  frontend/src/__mocks__/expo-image-picker.js
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1795 (total 639)
  scripts/ralph/state.json
Due: none

feat(journal): downscale capture pages and clean up transient image files
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/__mocks__/expo-image-manipulator.js
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/captureSession.test.ts
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/capture/__tests__/cleanupPageFiles.test.ts
  frontend/src/features/Journal/capture/__tests__/prepareImage.test.ts
  frontend/src/features/Journal/capture/cleanupPageFiles.ts
  frontend/src/features/Journal/capture/prepareImage.ts
  frontend/src/features/Journal/captureSession.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): bump linkify-it override to patched 5.0.2 (high advisory)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(journal): client-side page downscaling + transient-image cache cleanup (#1878)
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-file-system.js
  frontend/src/__mocks__/expo-image-manipulator.js
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/captureSession.test.ts
  frontend/src/features/Journal/__tests__/pickJournalPhoto.test.ts
  frontend/src/features/Journal/capture/__tests__/cleanupPageFiles.test.ts
  frontend/src/features/Journal/capture/__tests__/prepareImage.test.ts
  frontend/src/features/Journal/capture/cleanupPageFiles.ts
  frontend/src/features/Journal/capture/prepareImage.ts
  frontend/src/features/Journal/captureSession.ts
  frontend/src/features/Journal/pickJournalPhoto.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1796 (total 640)
  scripts/ralph/state.json
Due: none

feat(journal): progressive per-page transcription across a multi-page session (#1872)
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/transcriptionRun.ts
  frontend/src/features/Journal/useTranscriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1794 (total 641)
  scripts/ralph/state.json
Due: none

feat(map): de-duplicate the magnifier lens caption
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): classification choice in the capture flow with an intimate transcription gate
  frontend/src/features/Journal/CaptureClassificationControl.tsx
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/PrivacyTierControl.test.tsx
  frontend/src/features/Journal/saveFinishedEntry.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): assert a retry PATCH never carries the classification tier
  frontend/src/features/Journal/__tests__/saveFinishedEntry.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(map): de-duplicate the magnifier lens caption (#1881)
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): classification choice in the capture flow — intimate tier blocks cloud transcription with a typed-entry offramp (#1882)
  frontend/src/features/Journal/CaptureClassificationControl.tsx
  frontend/src/features/Journal/CapturePagesStrip.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotograph.styles.ts
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/PrivacyTierControl.test.tsx
  frontend/src/features/Journal/__tests__/saveFinishedEntry.test.ts
  frontend/src/features/Journal/saveFinishedEntry.ts
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completions of issues 1839 and 1797 (total 643)
  scripts/ralph/state.json
Due: none

fix(journal): nudge the collapsed search toggle onto the 8px rhythm
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): dismiss tier tooltip when a long-press star log commits
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileStarLongPress.test.tsx
  frontend/src/features/Habits/hooks/useStarFill.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): override fast-uri to patched release for GHSA-v2hh-gcrm-f6hx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(journal): nudge the collapsed search toggle onto the 8px rhythm (#1883)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1770 (total 644)
  scripts/ralph/state.json
Due: none

feat(journal): add pencil icon to the New-entry row in the journal drawer
  frontend/src/components/drawer/DrawerNavSection.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/components/drawer/navIcon.ts
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): dismiss tier tooltip when a long-press star log commits (#1884)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileStarLongPress.test.tsx
  frontend/src/features/Habits/hooks/useStarFill.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completions (1 merged this wake)
  scripts/ralph/state.json
Due: none

chore(ralph): reset groom counter at completion 645
  scripts/ralph/state.json
Due: none

fix(map): fit stage-cell text to width so stage-8 stops overflowing
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add pencil icon to the New-entry row in the journal drawer (#1885)
  frontend/src/components/drawer/DrawerNavSection.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/components/drawer/navIcon.ts
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record 1 completion(s) this wake
  scripts/ralph/state.json
Due: none

fix(map): fit stage-cell text to width so stage-8 stops overflowing (#1886)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/mapLayout.test.ts
  frontend/src/features/Map/mapLayout.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1778 (total 647)
  scripts/ralph/state.json
Due: none

feat(map): magnifier caption shows stage title + subtitle
  frontend/src/features/Map/MagnifierLens.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MagnifierLens.test.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/MapScreenDrawer.test.tsx
  frontend/src/features/Map/__tests__/magnifierGeometry.test.ts
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/magnifierGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
