Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor(backend): route stage advance through domain next_stage_for
  backend/src/routers/stages.py
Due: backend-tests-coverage

refactor(backend): remove unreachable claude-3-5-* rows from LLM pricing table
  backend/src/services/llm_pricing.py
  backend/tests/test_llm_pricing.py
Due: backend-tests-coverage

feat(backend): descriptive contraction detection via a Higher Self reflection (#1092)
  backend/src/domain/contraction.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/contraction.py
  backend/tests/domain/test_contraction.py
  backend/tests/routers/test_contraction_reflection.py
  backend/tests/services/test_contraction_service.py
Due: backend-tests-coverage

test: assert read-path cross-user isolation + pause-revert rejection on Return
  backend/tests/routers/test_metta_return.py
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(backend): route stage advance through domain next_stage_for (#1101)
  backend/src/routers/stages.py
Due: backend-tests-coverage

refactor(backend): remove unreachable claude-3-5-* rows from LLM pricing table (#1102)
  backend/src/services/llm_pricing.py
  backend/tests/test_llm_pricing.py
Due: backend-tests-coverage

feat(frontend): warm, declinable "tend your foundation" contraction reflection
  frontend/src/api/__tests__/contractionSchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/ContractionReflectionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/ContractionReflectionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): warm, declinable "tend your foundation" contraction reflection (#1103)
  frontend/src/api/__tests__/contractionSchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/ContractionReflectionNote.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/ContractionReflectionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/useResonanceContraction.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(full-stack): the "Return" — a declinable five-week Metta arc for a soft landing (#1090)
  backend/migrations/versions/c9d0e1f2a3b4_add_metta_return_arc.py
  backend/src/domain/metta_return.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/metta_return_arc.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/ReturnArcCard.tsx
  frontend/src/features/Today/ReturnOfferCard.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Today/__tests__/ReturnOfferCard.test.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/features/Today/__tests__/returnCopy.test.ts
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/contractionSignal.ts
  frontend/src/features/Today/returnCopy.ts
  frontend/src/features/Today/useMettaReturn.ts
  frontend/src/storage/returnOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(scan): de-duplicate issue-body template and pin check-all.sh paths
  .claude/skills/scan-issue-writer/SKILL.md
  .claude/skills/scan-issue-writer/references/issue-body-template.md
  prompts/templates/scan-issue-body.md
Due: none

refactor(backend): drop stale comments, vestigial param, and log-only COUNT queries
  backend/src/domain/safety.py
  backend/src/routers/course.py
  backend/src/routers/habits.py
  backend/src/routers/journal.py
  backend/src/services/marginalia.py
  backend/tests/test_habits_api.py
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): dedupe stage-range/minutes/int-parse + surface journal load error
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/journeyNarrative.test.ts
  frontend/src/features/Map/journeyNarrative.ts
  frontend/src/features/Practice/__tests__/constants.test.ts
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/constants.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/utils/__tests__/parsePositiveInt.test.ts
  frontend/src/features/Practice/utils/parsePositiveInt.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(scan): complete the autonomous maintenance pipeline
  .github/workflows/_claude-scan.yml
  .github/workflows/hopper.yml
  .github/workflows/labels-bootstrap.yml
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-groom.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-types.yml
  prompts/scans/a11y.md
  prompts/scans/bugs.md
  prompts/scans/complexity.md
  prompts/scans/coverage.md
  prompts/scans/dead-code.md
  prompts/scans/deps.md
  prompts/scans/docs.md
  prompts/scans/groom.md
  prompts/scans/mutation.md
  prompts/scans/perf.md
  prompts/scans/security.md
  prompts/scans/types.md
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
Due: none

refactor(frontend): dedupe stage-range/minutes/int-parse + surface journal load error (#1107)
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/MarginNote.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenLoadError.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/journeyNarrative.test.ts
  frontend/src/features/Map/journeyNarrative.ts
  frontend/src/features/Practice/__tests__/constants.test.ts
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/constants.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/utils/__tests__/parsePositiveInt.test.ts
  frontend/src/features/Practice/utils/parsePositiveInt.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): drop stale comments, vestigial param, and log-only COUNT queries (#1106)
  backend/src/domain/safety.py
  backend/src/routers/course.py
  backend/src/routers/habits.py
  backend/src/routers/journal.py
  backend/src/services/marginalia.py
  backend/tests/test_habits_api.py
  frontend/src/utils/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(scan): autonomous maintenance pipeline (full rollout) (#1105)
  .claude/skills/scan-issue-writer/SKILL.md
  .claude/skills/scan-issue-writer/references/issue-body-template.md
  .github/workflows/_claude-scan.yml
  .github/workflows/hopper.yml
  .github/workflows/labels-bootstrap.yml
  .github/workflows/scan-a11y.yml
  .github/workflows/scan-bugs.yml
  .github/workflows/scan-complexity.yml
  .github/workflows/scan-coverage.yml
  .github/workflows/scan-dead-code.yml
  .github/workflows/scan-deps.yml
  .github/workflows/scan-docs.yml
  .github/workflows/scan-groom.yml
  .github/workflows/scan-mutation.yml
  .github/workflows/scan-perf.yml
  .github/workflows/scan-security.yml
  .github/workflows/scan-todo.yml
  .github/workflows/scan-types.yml
  prompts/scans/a11y.md
  prompts/scans/bugs.md
  prompts/scans/complexity.md
  prompts/scans/coverage.md
  prompts/scans/dead-code.md
  prompts/scans/deps.md
  prompts/scans/docs.md
  prompts/scans/groom.md
  prompts/scans/mutation.md
  prompts/scans/perf.md
  prompts/scans/security.md
  prompts/scans/todo.md
  prompts/scans/types.md
  prompts/templates/scan-issue-body.md
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
  scripts/setup-scan-labels.sh
Due: none

refactor(backend): centralize goal+habit ownership resolution
  backend/src/dependencies/ownership.py
  backend/src/routers/goal_completions.py
  backend/tests/test_ownership_dependencies.py
Due: backend-tests-coverage

refactor(backend): share page_has_more across list endpoints
  backend/src/routers/admin.py
  backend/src/routers/prompts.py
  backend/src/schemas/pagination.py
  backend/tests/schemas/test_pagination.py
Due: backend-tests-coverage

refactor(backend): share the span-overlap check across resonance and detection
  backend/src/domain/detection.py
  backend/src/domain/resonance.py
  backend/tests/domain/test_overlaps_shared.py
Due: backend-tests-coverage

fix(backend): unify mode-config validation gate on 422 with structured detail
  backend/src/routers/practice_recipes.py
  backend/src/routers/user_practices.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

refactor(backend): extract shared _wrap_history in botmason builders
  backend/src/services/botmason.py
Due: backend-tests-coverage

refactor(backend): centralize naive datetime coercion in ensure_aware
  backend/src/domain/course.py
  backend/src/domain/dates.py
  backend/src/domain/practice_insights.py
  backend/src/routers/auth.py
  backend/src/services/usage.py
  backend/tests/domain/test_dates.py
Due: backend-tests-coverage

refactor(backend): extract _unspent_resonance builder in journal router
  backend/src/routers/journal.py
Due: backend-tests-coverage

fix(backend): route create_goal_group through the concurrent-delete-safe refetch
  backend/src/routers/goal_groups.py
Due: backend-tests-coverage

refactor(backend): dedup tidy-up — ownership, pagination, overlaps, mode-config, botmason, dates (#1108)
  backend/src/dependencies/ownership.py
  backend/src/domain/course.py
  backend/src/domain/dates.py
  backend/src/domain/detection.py
  backend/src/domain/practice_insights.py
  backend/src/domain/resonance.py
  backend/src/routers/admin.py
  backend/src/routers/auth.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/journal.py
  backend/src/routers/practice_recipes.py
  backend/src/routers/prompts.py
  backend/src/routers/user_practices.py
  backend/src/schemas/pagination.py
  backend/src/services/botmason.py
  backend/src/services/usage.py
  backend/tests/domain/test_dates.py
  backend/tests/domain/test_overlaps_shared.py
  backend/tests/schemas/test_pagination.py
  backend/tests/test_ownership_dependencies.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

fix(journal): surface classification PATCH failures on tier change
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): surface local crisis care for intimate entries in acute distress
  backend/src/routers/journal.py
  backend/tests/test_intimate_privacy_guard.py
Due: backend-tests-coverage

fix(journal): surface classification PATCH failures on tier change (#1109)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): unify PrivacyTier onto canonical JournalClassification
  frontend/src/api/__tests__/privacySchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/PrivacyTierControl.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): unify PrivacyTier onto canonical JournalClassification (#1111)
  frontend/src/api/__tests__/privacySchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/PrivacyTierControl.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/PrivacyTierControl.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: repoint Candle & Ink DESIGN.md pointer to implemented design doc
  .claude/agents/shared/adepthood-constraints.md
Due: none

docs: repoint Candle & Ink DESIGN.md pointer to implemented design doc (#1112)
  .claude/agents/shared/adepthood-constraints.md
Due: none

feat(backend): surface local crisis care for intimate entries in acute distress (#1110)
  backend/src/routers/journal.py
  backend/tests/test_intimate_privacy_guard.py
Due: backend-tests-coverage

feat(full-stack): chord journaling — tag an entry with a primary + optional secondary Aspect
  backend/migrations/versions/a5b6c7d8e9f0_add_journalentry_chord_aspects.py
  backend/src/domain/wheel.py
  backend/src/models/journal_entry.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/domain/test_wheel_chord.py
  backend/tests/test_journal_chord_model.py
  backend/tests/test_journal_chord_router.py
  backend/tests/test_journal_chord_schema.py
  backend/tests/test_migrations.py
  frontend/src/api/__tests__/privacySchemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/AspectChordControl.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/AspectChordControl.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): prune dead pagination ladder + MAP_STAGE_COLORS
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/index.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): make chord-aspects migration self-contained
  backend/migrations/versions/a5b6c7d8e9f0_add_journalentry_chord_aspects.py
Due: backend-tests-coverage

refactor(frontend): prune dead pagination ladder + MAP_STAGE_COLORS (#1114)
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/index.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/SiteResourcesPanel.tsx
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared Settings feedback-banner + form-state
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/shared/SettingsFeedbackBanner.tsx
  frontend/src/features/Settings/shared/useSettingsForm.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared Settings feedback-banner + form-state (#1115)
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/TimezoneSettingsScreen.tsx
  frontend/src/features/Settings/shared/SettingsFeedbackBanner.tsx
  frontend/src/features/Settings/shared/useSettingsForm.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): vendor the Archetypal Wavelength curriculum as one source of truth
  backend/src/curriculum/__init__.py
  backend/src/curriculum/archetypal_wavelength.json
  backend/src/seed_stages.py
  backend/tests/test_curriculum.py
  backend/tests/test_seed_stages.py
  docs/curriculum.md
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
