Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(habits): share subtractive polarity rule
  backend/src/routers/habits.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

fix(habits): reconcile streaks after check-ins
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): preserve local start dates
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-subtractive-streak.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitMerge.ts
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramStore.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): keep subtractive streaks accurate across timezones (#2848)
  backend/src/routers/habits.py
  backend/src/services/checkin.py
  backend/src/services/streaks.py
  backend/tests/test_goal_completions.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-subtractive-streak.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsEditModeTile.test.tsx
  frontend/src/features/Habits/__tests__/HabitsEmojiPicker.test.tsx
  frontend/src/features/Habits/__tests__/HabitsLockUnstarted.test.tsx
  frontend/src/features/Habits/__tests__/StatsModal.fetch-dedup.test.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/__tests__/habitMerge.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Habits/services/habitMerge.ts
  frontend/src/features/Journal/WritingSessionOffer.tsx
  frontend/src/features/Journal/__tests__/WritingSessionOffer.test.tsx
  frontend/src/store/__tests__/useProgramStore.test.ts
  frontend/src/store/useProgramStore.ts
  frontend/src/utils/__tests__/dateUtils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): keep oversized screens reachable
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/auth-overflow.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Auth/AuthScreenContainer.tsx
  frontend/src/features/Auth/__tests__/AuthScreenContainer.test.tsx
  frontend/src/features/Auth/auth.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): keep oversized screens reachable (#2850)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/auth-overflow.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Auth/AuthScreenContainer.tsx
  frontend/src/features/Auth/__tests__/AuthScreenContainer.test.tsx
  frontend/src/features/Auth/auth.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(resonance): separate task and journal roles
  backend/src/domain/detection.py
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/marginalia.py
  backend/src/services/stub_completions.py
  backend/tests/domain/test_resonance_service.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/services/test_resonance_prompt_roles.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_llm_usage_metering.py
Due: backend-tests-coverage

fix(resonance): separate task and journal roles (#2853)
  backend/src/domain/detection.py
  backend/src/domain/resonance.py
  backend/src/routers/journal.py
  backend/src/services/botmason.py
  backend/src/services/marginalia.py
  backend/src/services/stub_completions.py
  backend/tests/domain/test_resonance_service.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/services/test_resonance_prompt_roles.py
  backend/tests/test_completion_detection_endpoint.py
  backend/tests/test_llm_usage_metering.py
Due: backend-tests-coverage

fix(backend): refuse photograph transcription when no vision model is configured in production
  backend/openapi.json
  backend/src/main.py
  backend/src/routers/transcription.py
  backend/src/services/botmason.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

fix(journal): progress line reflects a finished or failed run
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/__tests__/useTranscriptionRun.test.tsx
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): refuse fake production photo transcription (#2854)
  backend/openapi.json
  backend/src/main.py
  backend/src/routers/transcription.py
  backend/src/services/botmason.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_transcription_endpoint.py
  frontend/e2e/journeys.json
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/__tests__/useTranscriptionRun.test.tsx
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): make cadence edits reliable and readable
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.starLongPress.test.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(e2e): register weekly cadence journey
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(habits): validate the complete cadence draft
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): make cadence edits reliable and readable (#2855)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.starLongPress.test.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(course): await the asynchronous content error state
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(course): await the asynchronous content error state (#2857)
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): check-ins carry a signed amount that accumulates per day
  backend/openapi.json
  backend/src/routers/goal_completions.py
  backend/src/schemas/checkin.py
  backend/src/services/checkin.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

feat(habits): subtract units to correct a log
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): send the typed amount and reconcile the tile to the server's day total
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/__tests__/networkAndRefreshEdgeCases.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): send the typed amount and reconcile the tile to the server's day total
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/completionSuggestions.test.ts
  frontend/src/api/__tests__/flattenGoalCompletions.test.ts
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/__tests__/networkAndRefreshEdgeCases.test.ts
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/flattenGoalCompletions.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/habitCounts.test.ts
  frontend/src/features/Habits/habitCounts.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/__tests__/CompletionSuggestionNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSuggestions.test.tsx
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): check-ins carry a signed amount that accumulates per day
  backend/migrations/versions/b4c8d2e6f0a1_goal_completion_idempotency.py
  backend/openapi.json
  backend/src/domain/account_deletion.py
  backend/src/domain/data_export.py
  backend/src/domain/habit_stats.py
  backend/src/domain/streaks.py
  backend/src/models/__init__.py
  backend/src/models/goal_completion.py
  backend/src/models/goal_completion_idempotency.py
  backend/src/routers/goal_completions.py
  backend/src/routers/journal.py
  backend/src/schemas/checkin.py
  backend/src/schemas/goal.py
  backend/src/services/checkin.py
  backend/src/services/goal_completion_idempotency.py
  backend/src/services/streaks.py
  backend/tests/domain/test_habit_stats.py
  backend/tests/routers/test_goal_completions_streak_dedup.py
  backend/tests/services/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
  backend/tests/test_integration.py
Due: backend-tests-coverage

fix(account): scope vault deletion receipts to owners
  backend/src/dependencies/creek_vault.py
  backend/src/models/account_deletion_audit.py
  backend/src/routers/users.py
  backend/src/services/account_deletion.py
  backend/src/services/user_vault_config.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_vault_activation.py
  frontend/e2e/README.md
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(account): scope vault deletion receipts to owners (#2868)
  backend/src/dependencies/creek_vault.py
  backend/src/models/account_deletion_audit.py
  backend/src/routers/users.py
  backend/src/services/account_deletion.py
  backend/src/services/user_vault_config.py
  backend/tests/test_account_deletion_api.py
  backend/tests/test_vault_activation.py
  frontend/e2e/README.md
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(habits): cycle unit logging operations
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): cycle unit logging operations (#2869)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): reject sanitized-empty entries
  backend/src/routers/journal.py
  backend/src/services/corpus_ingest.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_input_sanitization.py
Due: backend-tests-coverage

test(journal): cover sanitized-empty refusal end to end
  frontend/e2e/journal.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): reject entries emptied by text sanitization (#2873)
  backend/src/routers/journal.py
  backend/src/services/corpus_ingest.py
  backend/src/services/higher_self_grounding.py
  backend/tests/services/test_corpus_ingest.py
  backend/tests/services/test_higher_self_grounding.py
  backend/tests/test_essay_endpoint.py
  backend/tests/test_input_sanitization.py
  frontend/e2e/journal.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): canonicalize names before persistence
  backend/openapi.json
  backend/src/routers/habits.py
  backend/src/schemas/habit.py
Due: backend-tests-coverage

test(habits): pin invisible-name refusal
  backend/tests/test_habits_api.py
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): reject default-ignorable-only names
  backend/src/routers/habits.py
  backend/tests/security/test_unstorable_text_rejected.py
  backend/tests/test_habits_api.py
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): reject whitespace-only names before creating default goals (#2875)
  backend/openapi.json
  backend/src/routers/habits.py
  backend/src/schemas/habit.py
  backend/tests/security/test_unstorable_text_rejected.py
  backend/tests/test_habits_api.py
  frontend/e2e/habits.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): keep follow-up unit logs responsive
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(habits): score progress across cadence periods
  frontend/e2e/journeys.json
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitTileTooltip.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/starFill.test.ts
  frontend/src/features/Habits/starFill.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): await loaded resonance settlement
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): await loaded resonance settlement (#2880)
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(vault): gate managed activation pilot
  backend/.env.example
  backend/openapi.json
  backend/scripts/dast/contract_fuzz.sh
  backend/scripts/dast/schemathesis.toml
  backend/src/main.py
  backend/src/routers/vault_activation.py
  backend/src/schemas/vault_activation.py
  backend/src/services/managed_vault_rollout.py
  backend/tests/scripts/dast/test_contract_fuzz_catches_a_planted_bug.py
  backend/tests/scripts/dast/test_contract_fuzz_script.py
  backend/tests/test_managed_vault_rollout.py
  backend/tests/test_vault_activation.py
  docs/adr/0007-demand-provisioned-confidential-vaults.md
  docs/managed-vault-pilot.md
  frontend/e2e/globalSetup.ts
  frontend/e2e/journeys.json
  frontend/e2e/vault-activation.e2e.test.ts
  frontend/src/api/__tests__/vault-api.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/PrivateVaultActivationScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage
