Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Fix time-dependent test: use future date for DatePicker minDate constraint
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix: update .secrets.baseline to include false positive in auth issue doc
  .secrets.baseline
Due: none

feat(backend): migrate habits router from in-memory to database with auth
  backend/src/models/course_stage.py
  backend/src/models/goal.py
  backend/src/models/goal_completion.py
  backend/src/models/goal_group.py
  backend/src/models/habit.py
  backend/src/models/journal_entry.py
  backend/src/models/practice.py
  backend/src/models/practice_session.py
  backend/src/models/prompt_response.py
  backend/src/models/stage_content.py
  backend/src/models/stage_progress.py
  backend/src/models/user.py
  backend/src/models/user_practice.py
  backend/src/routers/habits.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

style: apply formatter fixes and update secrets baseline
  .secrets.baseline
  backend/src/models/goal.py
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

feat(backend): migrate auth router from in-memory to database with JWT
  .pre-commit-config.yaml
  backend/.env.example
  backend/conftest.py
  backend/requirements.txt
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
  backend/tests/test_habits_api.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

feat(backend): migrate practice router from in-memory to database with auth
  backend/src/models/practice_session.py
  backend/src/routers/practice.py
  backend/src/schemas/__init__.py
  backend/src/schemas/practice.py
  backend/tests/test_practice_sessions.py
Due: backend-tests-coverage

feat(backend): migrate goal_completions router from in-memory to database with auth
  backend/.coveragerc
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

feat(backend): replace unbounded idempotency cache with TTLCache
  .pre-commit-config.yaml
  backend/requirements.txt
  backend/src/routers/energy.py
  backend/tests/test_energy_api.py
Due: backend-tests-coverage

feat(frontend): consolidate API clients into single module
  frontend/__tests__/api.test.ts
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/services/energyApi.ts
  frontend/src/services/habitsApi.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): connect HabitsScreen to habits API with real stats
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitStats.test.ts
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/OnboardingNextStepsAlert.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add AsyncStorage persistence layer for offline habit state
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-secure-store.js
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/authStorage.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/notificationStorage.ts
  frontend/tsconfig.eslint.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add AuthContext, login/signup screens, and auth-gated routing
  frontend/__tests__/api.test.ts
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/BottomTabs.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix: increase timeout for flaky HabitsResponsive CI test
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat: align frontend and backend Habit type definitions (phase-1-11)
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/src/schemas/__init__.py
  backend/src/schemas/habit.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/toLocalHabit.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): extract HabitsScreen state into custom hooks (phase-2-01)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/useHabitNotifications.test.ts
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/__tests__/useModalCoordinator.test.ts
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step1.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
  frontend/src/features/Habits/constants.ts
  frontend/src/features/Habits/hooks.ts
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Habits/hooks/useModalCoordinator.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add Zustand global state layer for cross-screen sharing (phase-2-03)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/context/AppContext.tsx
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/store/__tests__/useHabitStore.test.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/__tests__/useUserStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
  frontend/src/store/useUserStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix: resolve ESLint errors in store files and tests
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/__tests__/useUserStore.test.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
  frontend/src/store/useUserStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

style: fix Prettier formatting in useHabits and useStageStore
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): delete dead/empty files and unused code (phase-2-04)
  frontend/src/__tests__/noDeadFiles.test.ts
  frontend/src/components/Button/Button.styles.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Habits/HabitCard.styles.ts
  frontend/src/features/Habits/HabitCard.tsx
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Practice/Practice.styles.ts
  frontend/src/hooks/useStageColor.ts
  frontend/src/styles/colors.ts
  frontend/src/styles/theme.ts
  frontend/src/utils/helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix: add @jest/globals import to noDeadFiles test for ESLint compliance
  frontend/src/__tests__/noDeadFiles.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): unify design constants into single tokens module (phase-2-05)
  frontend/Sources/design/DesignSystem.ts
  frontend/src/constants/stageColors.ts
  frontend/src/design/DesignSystem.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/design/useResponsive.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/HabitSettingsModal.tsx
  frontend/src/features/Habits/components/MissedDaysModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/StatsModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step4.test.tsx
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/stageData.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix: resolve lint, prettier, and typecheck errors in design tokens refactor
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.styles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore: add SessionStart hook for web environment setup
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

feat(backend): consolidate pytest/coverage config into pyproject.toml (phase-2-06)
  backend/.coveragerc
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/test_config_consolidation.py
Due: backend-tests-coverage

feat(backend): standardize error responses with snake_case details (phase-2-07)
  backend/src/errors.py
  backend/src/routers/auth.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/tests/test_auth.py
  backend/tests/test_energy_api.py
  backend/tests/test_errors.py
Due: backend-tests-coverage

feat(backend): add stages API with progress tracking (phase-3-01)
  backend/src/domain/stage_progress.py
  backend/src/main.py
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/src/seed_stages.py
  backend/tests/test_seed_stages.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

feat(backend): add course content API with drip-feed scheduling (phase-3-02)
  backend/src/domain/course.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/content_completion.py
  backend/src/models/stage_progress.py
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/src/schemas/course.py
  backend/src/seed_content.py
  backend/tests/domain/test_course.py
  backend/tests/test_course_api.py
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

feat(backend): add journal API with chat messages, tagging, and search (phase-3-03)
  .pre-commit-config.yaml
  backend/src/main.py
  backend/src/routers/journal.py
  backend/src/schemas/journal.py
  backend/tests/test_journal_api.py
Due: backend-tests-coverage

fix: make backend test hook work with and without venv
  .pre-commit-config.yaml
Due: none

feat(backend): rebuild practice API with three-table model (phase-3-04)
  .venv
  backend/src/domain/stage_progress.py
  backend/src/main.py
  backend/src/models/practice_session.py
  backend/src/routers/practice.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/user_practices.py
  backend/src/schemas/__init__.py
  backend/src/schemas/practice.py
  backend/tests/test_cors.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_practices_api.py
  backend/tests/test_stages_api.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

feat: add Claude Code ecosystem — CLAUDE.md, 6 skills, improved session hook
  .claude/hooks/session-start.sh
  .claude/skills/continue-epic/SKILL.md
  .claude/skills/preflight/SKILL.md
  .claude/skills/quick-test/SKILL.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/status/SKILL.md
  .claude/skills/triage-and-plan/SKILL.md
  CLAUDE.md
Due: none

feat(backend): add weekly reflection prompts API (phase-3-05)
  .venv
  backend/src/domain/weekly_prompts.py
  backend/src/main.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

feat(frontend): add journal chat UI with message history and weekly prompts (phase-3-06)
  frontend/src/api/index.ts
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/WeeklyPromptBanner.tsx
  frontend/src/features/Journal/__tests__/ChatInput.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
  frontend/src/features/Journal/__tests__/WeeklyPromptBanner.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add journal search, tag filtering, and message tagging UI (phase-3-08)
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/TagFilter.tsx
  frontend/src/features/Journal/__tests__/ChatInput.test.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/SearchBar.test.tsx
  frontend/src/features/Journal/__tests__/TagFilter.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add Course screen with stage navigation and drip-feed content (phase-3-11)
  frontend/src/api/index.ts
  frontend/src/features/Course/ContentCard.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/ContentCard.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): connect Map to real progress with rich stage metadata (phase-3-13)
  frontend/src/api/index.ts
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/stageData.test.ts
  frontend/src/features/Map/stageData.ts
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use STAGE_COLORS lookup for progress bar fill color
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat: add GoalGroup CRUD, shared templates, and frontend integration (phase-3-14)
  backend/src/main.py
  backend/src/routers/goal_groups.py
  backend/src/schemas/goal.py
  backend/src/schemas/goal_group.py
  backend/tests/schemas/test_goal_schema.py
  backend/tests/test_goal_groups_api.py
  frontend/src/api/__tests__/goalGroups-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/OnboardingModal.tsx
  frontend/src/features/Habits/components/__tests__/OnboardingModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat: integrate BotMason AI with offering_balance metering (phase-3-07)
  backend/.env.example
  backend/src/errors.py
  backend/src/main.py
  backend/src/routers/botmason.py
  backend/src/schemas/botmason.py
  backend/src/services/__init__.py
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/Journal.styles.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): add notification persistence and lifecycle management (phase-4-04)
  frontend/src/features/Habits/__tests__/useHabitNotifications.test.ts
  frontend/src/features/Habits/hooks/useHabitNotifications.ts
  frontend/src/features/Habits/hooks/useHabits.ts
  frontend/src/storage/__tests__/notificationStorage.test.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
