Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor(course): split mark_content_read into helpers for xenon A
  backend/src/routers/course.py
Due: backend-tests-coverage

fix(qa): server-derived timestamps + client-value validation (prompt 09) (#264)
  backend/src/routers/practice_sessions.py
  backend/src/schemas/energy.py
  backend/src/schemas/practice.py
  backend/tests/test_cors.py
  backend/tests/test_energy_integration.py
  backend/tests/test_input_length_constraints.py
  backend/tests/test_integration.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_user_practices_api.py
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/__tests__/PracticeTimer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(qa): mark prompt 09 (server-derived timestamps) complete in index
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

docs(qa): mark prompt 09 (server-derived timestamps) complete in index (#267)
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(frontend): migrate journal send + replace Date.now() ids (BUG-FE-JOURNAL-002, -003)
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): migrate habit logUnit to useOptimisticMutation (BUG-FE-HABIT-001, -205)
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add useOptimisticMutation hook + serialized write lane
  frontend/src/hooks/__tests__/useOptimisticMutation.test.ts
  frontend/src/hooks/useOptimisticMutation.ts
  frontend/src/storage/__tests__/serializedWrite.test.ts
  frontend/src/storage/serializedWrite.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): migrate practice + map advance to useOptimisticMutation
  frontend/src/features/Map/hooks/__tests__/useStageAdvance.test.tsx
  frontend/src/features/Map/hooks/useStageAdvance.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): close clearPendingCheckIns lane gap + journal/map polish
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Map/services/stageService.ts
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/habitStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): serialize savePendingCheckIn writes (BUG-FE-STORAGE-002)
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/habitStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add ownership dependency + response DTO base (no user_id)
  backend/src/dependencies/ownership.py
  backend/src/schemas/_base.py
Due: backend-tests-coverage

fix(backend): migrate routers to ownership dep + strip user_id from responses
  backend/src/routers/course.py
  backend/src/routers/goal_groups.py
  backend/src/routers/habits.py
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/user_practices.py
  backend/src/schemas/course.py
  backend/src/schemas/goal_group.py
  backend/src/schemas/habit.py
  backend/src/schemas/practice.py
  backend/tests/test_course_api.py
  backend/tests/test_goal_groups_api.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
  backend/tests/test_integration.py
  backend/tests/test_journal_api.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_practices_api.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

refactor(backend): address Claude review nits on IDOR PR
  backend/src/dependencies/ownership.py
  backend/src/routers/goal_groups.py
  backend/tests/security/test_idor.py
  backend/tests/test_habit_stats_api.py
Due: backend-tests-coverage

test(backend): add IDOR probe matrix
  backend/tests/security/test_idor.py
Due: backend-tests-coverage

test(backend): rebase IDOR matrix onto server-derived practice-session schema
  backend/tests/security/test_idor.py
Due: backend-tests-coverage

feat(frontend): error boundaries + Sentry stub + route reset (BUG-FE-UI-101, -102)
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/observability/sentry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): wallet+cost to Decimal; audit table (BUG-ADMIN-004, BM-008, BM-011)
  backend/migrations/versions/e1f2a3b4c5d6_decimal_cost_and_wallet_audit.py
  backend/src/models/__init__.py
  backend/src/models/llm_usage_log.py
  backend/src/models/wallet_audit.py
  backend/src/routers/admin.py
  backend/src/routers/botmason.py
  backend/src/schemas/admin.py
  backend/src/services/llm_pricing.py
  backend/src/services/wallet.py
  backend/tests/services/test_wallet.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_llm_pricing.py
  backend/tests/test_llm_usage_log.py
Due: backend-tests-coverage

fix(backend): reorder middleware; install trace-id at import (BUG-APP-001, -002, -007)
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/logging.py
  backend/src/middleware/security_headers.py
  backend/src/middleware/trace_id.py
  backend/tests/middleware/__init__.py
  backend/tests/middleware/test_middleware_stack.py
Due: backend-tests-coverage

fix(frontend): distinguish 401 reasons in API client (BUG-API-018)
  frontend/src/api/__tests__/unauthorizedReason.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): global exception handler + error envelope (BUG-OBS-002, -003)
  backend/src/errors.py
  backend/src/main.py
  backend/src/observability.py
  backend/src/sentry.py
  backend/tests/test_global_exception_handler.py
Due: backend-tests-coverage

fix(observability): silence Sentry stub + cover _to_decimal float branch
  backend/src/sentry.py
  backend/tests/routers/__init__.py
  backend/tests/routers/test_admin_to_decimal.py
Due: backend-tests-coverage

fix(migration): drop role-specific GRANTs from wallet_audit migration
  backend/migrations/versions/e1f2a3b4c5d6_decimal_cost_and_wallet_audit.py
  backend/src/models/wallet_audit.py
Due: backend-tests-coverage

refactor(observability): split admin_grant from self_grant; clarify exception comment
  backend/src/middleware/logging.py
  backend/src/models/wallet_audit.py
  backend/src/services/wallet.py
  backend/tests/services/test_wallet.py
Due: backend-tests-coverage

fix(observability): drop frontend TODO + normalize streaming hadToken signal
  backend/src/errors.py
  backend/src/middleware/logging.py
  backend/src/observability.py
  frontend/src/api/index.ts
  frontend/src/observability/sentry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(observability): drop type:ignore + dead stubs + truncate exception path
  backend/src/errors.py
  backend/src/models/wallet_audit.py
  backend/src/sentry.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/test_global_exception_handler.py
  backend/tests/test_llm_pricing.py
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
  frontend/src/observability/sentry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(observability): address review feedback on PR #268
  backend/migrations/versions/e1f2a3b4c5d6_decimal_cost_and_wallet_audit.py
  backend/src/middleware/security_headers.py
  backend/src/models/wallet_audit.py
  backend/src/services/wallet.py
  backend/tests/test_global_exception_handler.py
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(qa): mark prompt 10 (observability-e2e) complete in remediation index
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(idor): normalize 404→403 ordering + strip user_id from responses (#265)
  backend/src/dependencies/ownership.py
  backend/src/routers/course.py
  backend/src/routers/goal_groups.py
  backend/src/routers/habits.py
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/user_practices.py
  backend/src/schemas/_base.py
  backend/src/schemas/course.py
  backend/src/schemas/goal_group.py
  backend/src/schemas/habit.py
  backend/src/schemas/practice.py
  backend/tests/security/test_idor.py
  backend/tests/test_course_api.py
  backend/tests/test_goal_groups_api.py
  backend/tests/test_habit_stats_api.py
  backend/tests/test_habits_api.py
  backend/tests/test_integration.py
  backend/tests/test_journal_api.py
  backend/tests/test_practice_sessions.py
  backend/tests/test_practices_api.py
  backend/tests/test_user_practices_api.py
Due: backend-tests-coverage

fix(migrations): exclude dedup archive tables from alembic check
  backend/migrations/env.py
Due: backend-tests-coverage

fix(observability): expose X-Request-ID + COALESCE NULLS + audit monthly reset
  backend/src/main.py
  backend/src/models/wallet_audit.py
  backend/src/routers/admin.py
  backend/src/services/wallet.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/services/test_wallet.py
  backend/tests/test_admin_usage_stats.py
Due: backend-tests-coverage

fix(security): hash JWT in rate-limit key + drop type:ignore on rate-limit handler
  backend/src/main.py
  backend/src/routers/botmason.py
  backend/tests/middleware/test_middleware_stack.py
Due: backend-tests-coverage

fix(qa): replace assert in add_balance with explicit if/raise
  backend/src/routers/botmason.py
Due: backend-tests-coverage

docs(wallet-audit): document delta sign convention per bucket
  backend/src/models/wallet_audit.py
Due: backend-tests-coverage

fix(observability): end-to-end trace-id + global exception handler + Decimal cost + wallet audit + Sentry-wired error boundaries + structured 401 reasons (#268)
  backend/migrations/versions/e1f2a3b4c5d6_decimal_cost_and_wallet_audit.py
  backend/src/errors.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/logging.py
  backend/src/middleware/security_headers.py
  backend/src/middleware/trace_id.py
  backend/src/models/__init__.py
  backend/src/models/llm_usage_log.py
  backend/src/models/wallet_audit.py
  backend/src/observability.py
  backend/src/routers/admin.py
  backend/src/routers/botmason.py
  backend/src/schemas/admin.py
  backend/src/sentry.py
  backend/src/services/llm_pricing.py
  backend/src/services/wallet.py
  backend/tests/middleware/__init__.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/routers/__init__.py
  backend/tests/routers/test_admin_to_decimal.py
  backend/tests/services/test_wallet.py
  backend/tests/test_admin_usage_stats.py
  backend/tests/test_global_exception_handler.py
  backend/tests/test_llm_pricing.py
  backend/tests/test_llm_usage_log.py
  frontend/src/api/__tests__/unauthorizedReason.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/observability/sentry.ts
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): useOptimisticMutation hook + standardized rollback (#263)
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
  frontend/src/features/Map/hooks/__tests__/useStageAdvance.test.tsx
  frontend/src/features/Map/hooks/useStageAdvance.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/hooks/__tests__/useOptimisticMutation.test.ts
  frontend/src/hooks/useOptimisticMutation.ts
  frontend/src/storage/__tests__/habitStorage.test.ts
  frontend/src/storage/__tests__/serializedWrite.test.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/serializedWrite.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(review): document stage-advance edge case + mark-read unlock assumption
  backend/src/routers/stages.py
  backend/tests/test_course_api.py
Due: backend-tests-coverage

docs(qa): mark prompt 06 (db-unique-constraints-toctou) complete in index
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

fix(db): replace check-then-insert with DB-level unique constraints (T5 TOCTOU) (#266)
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/f1a2b3c4d5e6_contentcompletion_unique_user_content.py
  backend/src/models/content_completion.py
  backend/src/models/user_practice.py
  backend/src/routers/auth.py
  backend/src/routers/course.py
  backend/src/routers/goal_completions.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/tests/test_auth.py
  backend/tests/test_course_api.py
  backend/tests/test_goal_completions.py
  backend/tests/test_prompts_api.py
  backend/tests/test_stages_api.py
  backend/tests/test_user_practices_api.py
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: backend-tests-coverage

fix(backend): auth hardening (bcrypt/lockout/sub/bounds/blank/secret_key)
  backend/src/main.py
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/tests/services/test_streaks.py
  backend/tests/services/test_wallet.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): refresh revokes JWT jti via revokedtoken table (BUG-AUTH-013)
  backend/migrations/versions/e2f3a4b5c6d7_add_revoked_tokens.py
  backend/src/models/__init__.py
  backend/src/models/revoked_token.py
  backend/src/routers/auth.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
