Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(backend): add EmailSender port + console / SMTP adapters
  backend/src/services/email.py
  backend/tests/services/test_email.py
Due: backend-tests-coverage

fix(habits): persist goal edits + auto-create defaults + stuck-user recovery
  backend/src/dependencies/ownership.py
  backend/src/main.py
  backend/src/routers/goals.py
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/tests/test_goals_api.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): password-reset request/confirm/cancel endpoints
  backend/src/routers/auth.py
  backend/src/schemas/password_reset.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/test_password_reset.py
Due: backend-tests-coverage

refactor(frontend): trim webViewport docstrings + inline resolveDocument
  frontend/src/index.ts
  frontend/src/utils/webViewport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): password recovery screens + auth-context + deep linking
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/__tests__/ForgotPasswordScreen.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/ResetPasswordScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(recovery): e2e test + deployment vars + operator runbook
  DEPLOYMENT.md
  RECOVERY-RUNBOOK.md
  backend/src/routers/auth.py
  backend/tests/test_password_reset_e2e.py
Due: backend-tests-coverage

fix(habits): drop noqa-S101 + tighten ownership/forge tests + gt0 + audit split
  backend/src/dependencies/ownership.py
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/tests/test_goals_api.py
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): pin web viewport to suppress iOS focus-zoom on inputs (#284)
  frontend/src/index.ts
  frontend/src/utils/__tests__/webViewport.test.ts
  frontend/src/utils/webViewport.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(habits): document PUT replace semantics + observable recovery + scalar_one_or_none
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): persist goal edits + auto-create default goals + recover stuck users (#285)
  backend/src/dependencies/ownership.py
  backend/src/main.py
  backend/src/routers/goals.py
  backend/src/routers/habits.py
  backend/src/schemas/goal.py
  backend/tests/test_goals_api.py
  backend/tests/test_habits_api.py
  frontend/src/api/__tests__/habits-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): align PasswordResetToken FK with migration cascade
  backend/src/models/password_reset_token.py
Due: backend-tests-coverage

fix(auth): sub-second iat so same-second reset rejects old token
  backend/src/routers/auth.py
  backend/tests/test_password_reset.py
Due: backend-tests-coverage

fix(recovery): address PR #287 review feedback (round 3)
  RECOVERY-RUNBOOK.md
  backend/src/routers/auth.py
  backend/src/services/email.py
  backend/tests/services/test_email.py
  frontend/src/App.tsx
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/__tests__/CancelResetScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(recovery): address PR #287 review feedback (round 4)
  backend/migrations/versions/d7e8f9a0b1c2_add_passwordresettoken_lookup_key.py
  backend/src/models/password_reset_token.py
  backend/src/routers/auth.py
  backend/tests/test_password_reset.py
Due: backend-tests-coverage

fix(recovery): address PR #287 review feedback (round 5)
  backend/src/routers/auth.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/test_password_reset.py
Due: backend-tests-coverage

fix(recovery): close SmtpEmailSender coverage gap + remove review-tracking comments
  backend/src/models/password_reset_token.py
  backend/src/routers/auth.py
  backend/src/services/email.py
  backend/tests/services/test_email.py
Due: backend-tests-coverage

fix(recovery): address PR #287 review feedback (round 7)
  DEPLOYMENT.md
  RECOVERY-RUNBOOK.md
  backend/pyproject.toml
  backend/src/routers/auth.py
  backend/tests/conftest.py
  backend/tests/helpers/__init__.py
  backend/tests/helpers/password_reset.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/test_password_reset.py
  backend/tests/test_password_reset_e2e.py
Due: backend-tests-coverage

fix(recovery): close auto-cancel race + document XFF/STARTTLS constraints (round 8)
  DEPLOYMENT.md
  RECOVERY-RUNBOOK.md
  backend/src/routers/auth.py
Due: backend-tests-coverage

fix(recovery): introduce EmailDeliveryError + drop type:ignore in email tests (round 9)
  backend/src/routers/auth.py
  backend/src/services/email.py
  backend/tests/services/test_email.py
Due: backend-tests-coverage

fix(recovery): drop final E712 noqa + RFC-3207 EHLO ordering (round 10)
  backend/src/routers/auth.py
  backend/src/services/email.py
  backend/tests/services/test_email.py
Due: backend-tests-coverage

chore: remove plans/SPEC.md after recovery feature ships
  plans/SPEC.md
Due: none

fix(recovery): absorb spec matrix + sqlite migration round-trip + drop ARG002 noqa (round 12)
  .pre-commit-config.yaml
  RECOVERY-RUNBOOK.md
  backend/migrations/versions/d7e8f9a0b1c2_add_passwordresettoken_lookup_key.py
  backend/src/services/email.py
  backend/tests/test_migrations.py
Due: backend-tests-coverage

feat(backend): add password recovery flow (#287)
  .pre-commit-config.yaml
  DEPLOYMENT.md
  RECOVERY-RUNBOOK.md
  backend/migrations/versions/c6d7e8f9a0b1_add_password_reset_token_and_password_changed_at.py
  backend/migrations/versions/d7e8f9a0b1c2_add_passwordresettoken_lookup_key.py
  backend/pyproject.toml
  backend/src/models/__init__.py
  backend/src/models/password_reset_token.py
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/src/schemas/password_reset.py
  backend/src/services/email.py
  backend/tests/conftest.py
  backend/tests/helpers/__init__.py
  backend/tests/helpers/password_reset.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/services/test_email.py
  backend/tests/test_migrations.py
  backend/tests/test_password_reset.py
  backend/tests/test_password_reset_e2e.py
  frontend/src/App.tsx
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/__tests__/CancelResetScreen.test.tsx
  frontend/src/features/Auth/__tests__/ForgotPasswordScreen.test.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/ResetPasswordScreen.test.tsx
  plans/SPEC.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): persist emoji + reorder, add goal frequency/unit editor
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): address review — single-rollback reorder, fan-out unit edits, tests
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): cover setEmojiForHabit rollback + tighten goal types
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): restore on-disk snapshot in revertOnFailure
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): persist emoji + reorder, add goal frequency/unit editor (#288)
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): stage_progress drift fix (BUG-STAGE-002 / 12A wave 2 commit 1)
  backend/src/domain/stage_progress.py
  backend/src/routers/stages.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

fix(backend): course router hardening (BUG-COURSE-003/-005 / 12A wave 2 commit 2)
  backend/src/domain/course.py
  backend/src/routers/course.py
  backend/tests/test_course_api.py
Due: backend-tests-coverage

fix(backend): weekly-prompt UX + pagination (BUG-PROMPT-005/-006/-008/-010)
  backend/src/models/journal_entry.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/test_input_sanitization.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

chore(prompts): mark 12A wave 1 complete + register wave 2 branch in INDEX
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: none

refactor(backend): extract list_prompt_history helpers for xenon rank a
  backend/src/routers/prompts.py
Due: backend-tests-coverage

chore(backend): pr 290 round 1 review (drop noqa, strip bug-ids, boundary tests, has_more cap)
  backend/src/domain/course.py
  backend/src/domain/stage_progress.py
  backend/src/models/journal_entry.py
  backend/src/routers/course.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/schemas/prompt.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_course_api.py
  backend/tests/test_prompts_api.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

chore(backend): pr 290 round 2 review (cursor peek, total semantics, tzinfo note, monkeypatch)
  backend/src/domain/course.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

chore(backend): pr 290 round 3 review fixes
  backend/src/domain/stage_progress.py
  backend/src/routers/prompts.py
  backend/src/schemas/prompt.py
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

docs(tests): correct total=0 -> total=None in opt-out test docstring
  backend/tests/test_prompts_api.py
Due: backend-tests-coverage

feat(skills): await-claude-review helper for verdict-comment webhooks
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
  .claude/skills/stay-green/SKILL.md
Due: none

fix(skills): tighten verdict regex, author check, and step labels
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/await-claude-review/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
Due: none

fix(backend): 12A wave 2 - stage / course / prompts (8 BUG-IDs) (#290)
  backend/src/domain/course.py
  backend/src/domain/stage_progress.py
  backend/src/models/journal_entry.py
  backend/src/routers/course.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/schemas/prompt.py
  backend/tests/domain/test_next_stage_for.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_course_api.py
  backend/tests/test_input_sanitization.py
  backend/tests/test_prompts_api.py
  backend/tests/test_stages_api.py
  prompts/2026-04-18-bug-remediation/remediation-plan/00-INDEX.md
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
