Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(practice): add share-link feature (generate, preview, import) (#359)
  backend/migrations/versions/f5b6c7d8e9a0_add_practice_share_link.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/practice_share_link.py
  backend/src/routers/practice_share.py
  backend/src/schemas/practice_share.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_share.py
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/api/practiceShare.ts
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/components/__tests__/ShareSheet.test.tsx
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
  frontend/src/features/Practice/screens/__tests__/SharePreviewScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(roadmap): add grounding-techniques feature epic and sub-issues (#353)
  prompts/github-issues/README.md
  prompts/github-issues/custom-practices-01-random-interval-bell-backend.md
  prompts/github-issues/custom-practices-02-card-meditation-backend.md
  prompts/github-issues/custom-practices-03-share-link-feature.md
  prompts/github-issues/custom-practices-04-rws-deck-content.md
  prompts/github-issues/custom-practices-05-random-interval-bell-frontend.md
  prompts/github-issues/custom-practices-06-card-meditation-frontend.md
  prompts/github-issues/custom-practices-07-catalog-and-create-flow.md
  prompts/github-issues/custom-practices-epic.md
  prompts/github-issues/grounding-techniques-01-tallied-mode-backend.md
  prompts/github-issues/grounding-techniques-02-mindful-anchor-mode-backend.md
  prompts/github-issues/grounding-techniques-03-presets-shapes-and-colors.md
  prompts/github-issues/grounding-techniques-04-presets-touch-grass-and-mindful-eating.md
  prompts/github-issues/grounding-techniques-05-tallied-view-frontend.md
  prompts/github-issues/grounding-techniques-06-mindful-anchor-view-frontend.md
  prompts/github-issues/grounding-techniques-epic.md
Due: none

docs(frontend): collapse multi-paragraph docstrings to one line
  frontend/src/features/Practice/data/assetResolver.ts
  frontend/src/features/Practice/data/decks/index.ts
  frontend/src/features/Practice/data/decks/rws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): write per-card minor arcana symbolism for the RWS deck
  frontend/src/features/Practice/data/decks/index.ts
  frontend/src/features/Practice/data/decks/rws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): derive RWS major arcana from canonical MAJOR_ARCANA
  frontend/src/features/Practice/data/decks/__tests__/rws.test.ts
  frontend/src/features/Practice/data/decks/index.ts
  frontend/src/features/Practice/data/decks/rws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): ship Rider-Waite-Smith deck content + card asset folder (#360)
  frontend/assets/cards/README.md
  frontend/assets/cards/_placeholder.png
  frontend/assets/cards/rws/.gitkeep
  frontend/src/features/Practice/data/assetResolver.ts
  frontend/src/features/Practice/data/decks/__tests__/rws.test.ts
  frontend/src/features/Practice/data/decks/index.ts
  frontend/src/features/Practice/data/decks/rws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): cap sign-in form width for laptop screens
  frontend/src/features/Auth/LoginScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): build CardMeditationView + image-picker configurator form
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-image-picker.js
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/data/__tests__/resolveCard.test.ts
  frontend/src/features/Practice/data/resolveCard.ts
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/utils/__tests__/pickCardPhoto.test.ts
  frontend/src/features/Practice/utils/pickCardPhoto.ts
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): cap sign-in form width for laptop screens (#361)
  frontend/src/features/Auth/LoginScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): suppress unfixable CVE-2025-45768 in pyjwt pip-audit scan
  .pre-commit-config.yaml
Due: none

fix(backend): activate real LLM provider when a BYOK key is supplied
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

chore: suppress unfixable disputed pyjwt advisory in pip-audit
  .pre-commit-config.yaml
Due: none

feat(backend): allow logging a goal completion for a past day
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

feat(frontend): log past days, keep progress bar visible, brighten goal color
  frontend/src/api/index.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): extract date helpers from the completion route
  backend/src/routers/goal_completions.py
Due: backend-tests-coverage

fix(practice): address card_meditation PR review feedback
  frontend/app.json
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/utils/pickCardPhoto.ts
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): drop pyjwt CVE suppression -- advisory withdrawn
  .pre-commit-config.yaml
Due: none

fix(course): provision stage progress on first course access
  backend/src/domain/stage_progress.py
  backend/src/routers/course.py
  backend/tests/test_course_api.py
Due: backend-tests-coverage

chore(deps): suppress unfixable CVE-2025-45768 in pyjwt pip-audit scan (#370)
  backend/src/services/botmason.py
  backend/tests/test_botmason_api.py
Due: backend-tests-coverage

fix(frontend): persist archived Energy Scaffolding CTA across logins
  frontend/src/features/Habits/hooks/__tests__/useHabitUI.test.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/storage/__tests__/energyScaffoldingStorage.test.ts
  frontend/src/storage/energyScaffoldingStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): start energy-scaffolding CTA hidden to avoid mount flash
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitUI.test.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): guard energy-scaffolding storage against transient IO errors
  frontend/src/storage/__tests__/energyScaffoldingStorage.test.ts
  frontend/src/storage/energyScaffoldingStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): seed Touch Grass + Mindful Eating presets (#340)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

test(backend): pin lifespan practice count to PRESET_PRACTICES (#340)
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(practice): build TalliedGroundingView for Find Shapes / Find Colors (#341)
  frontend/src/api/index.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/tallied.test.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/tallied.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
  frontend/src/features/Practice/views/__tests__/TalliedGroundingView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): address PR #364 review code-quality notes
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add random_interval_bell practice mode
  .pre-commit-config.yaml
  backend/migrations/versions/b6c7d8e9a0b1_add_random_interval_bell_mode.py
  backend/src/domain/practice_modes.py
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/domain/test_practice_modes.py
  backend/tests/schemas/test_practice_mode_config.py
  backend/tests/test_migrations.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

fix(backend): cap goal-completion backfill to a 30-day window
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
Due: backend-tests-coverage

docs(frontend): drop task-reference comment from getProgressBarColor
  frontend/src/features/Habits/HabitUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): thread the drawn card and harden the card editor
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/data/__tests__/resolveCard.test.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/utils/__tests__/pickCardPhoto.test.ts
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): tighten random_interval_bell metadata contract
  .pre-commit-config.yaml
  backend/src/schemas/practice_mode_config.py
  backend/src/schemas/practice_session_metadata.py
  backend/tests/test_practice_session_metadata.py
Due: backend-tests-coverage

feat(practice): build TalliedGroundingView for Find Shapes / Find Colors (#341) (#364)
  frontend/src/api/index.ts
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/tallied.test.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/tallied.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/views/TalliedGroundingView.tsx
  frontend/src/features/Practice/views/__tests__/TalliedGroundingView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(practice): assert card_meditation wire/summary metadata agree
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): persist archived Energy Scaffolding CTA across logins (#362)
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/hooks/__tests__/useHabitUI.test.ts
  frontend/src/features/Habits/hooks/useHabitUI.ts
  frontend/src/storage/__tests__/energyScaffoldingStorage.test.ts
  frontend/src/storage/energyScaffoldingStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): drop CLAUDE.md citations from GoalModal comments
  frontend/src/features/Habits/components/GoalModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): derive preset count + guard duplicate names (#340)
  backend/src/seed_practices.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

feat: backfill goal completions for past days + stage-relative victory color (#369)
  .pre-commit-config.yaml
  backend/src/routers/goal_completions.py
  backend/tests/test_goal_completions.py
  frontend/src/api/index.ts
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/__tests__/HabitUtils.test.ts
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
  frontend/src/features/Habits/__tests__/HabitsScreen.test.ts
  frontend/src/features/Habits/components/GoalModal.tsx
  frontend/src/features/Habits/components/__tests__/GoalModal.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): seed Touch Grass + Mindful Eating presets (#371)
  backend/src/seed_practice_copy.py
  backend/src/seed_practices.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_practices.py
Due: backend-tests-coverage

fix(course): scope reader base tag to web, address review nits
  backend/src/domain/stage_progress.py
  backend/tests/test_course_api.py
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(practice): build CardMeditationView + image-picker configurator form (#366)
  frontend/app.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-image-picker.js
  frontend/src/api/index.ts
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.test.ts
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/data/__tests__/resolveCard.test.ts
  frontend/src/features/Practice/data/resolveCard.ts
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/__tests__/reducer.test.ts
  frontend/src/features/Practice/engine/__tests__/validation.test.ts
  frontend/src/features/Practice/engine/cues.ts
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/validation.ts
  frontend/src/features/Practice/insights/__tests__/format.test.ts
  frontend/src/features/Practice/insights/format.ts
  frontend/src/features/Practice/utils/__tests__/pickCardPhoto.test.ts
  frontend/src/features/Practice/utils/pickCardPhoto.ts
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
