Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(practice): stop metronome truncating valid long/fast sessions at 10k ticks
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/cues.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): stop metronome truncating valid long/fast sessions at 10k ticks (#1480)
  frontend/src/features/Practice/engine/__tests__/cues.test.ts
  frontend/src/features/Practice/engine/cues.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): extract pure metadata harvesters into engine layer
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.harvesters.test.ts
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.test.ts
  frontend/src/features/Practice/engine/harvestMetadata.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): extract pure metadata harvesters into engine layer (#1481)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.harvesters.test.ts
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.test.ts
  frontend/src/features/Practice/engine/harvestMetadata.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): unify stage-selector renderers into one primitive
  frontend/src/features/Practice/components/StageSelector.tsx
  frontend/src/features/Practice/components/__tests__/StageSelector.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): unify stage-selector renderers into one primitive (#1482)
  frontend/src/features/Practice/components/StageSelector.tsx
  frontend/src/features/Practice/components/__tests__/StageSelector.test.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): share list-editor chrome and unify configurator row keys
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TarotForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/SenseGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/TarotForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/rowKeys.test.ts
  frontend/src/features/Practice/configurator/forms/rowKeys.ts
  frontend/src/features/Practice/configurator/forms/shared.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): share list-editor chrome and unify configurator row keys (#1483)
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TarotForm.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/CardMeditationForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/MindfulAnchorForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/SenseGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/TarotForm.test.tsx
  frontend/src/features/Practice/configurator/forms/__tests__/rowKeys.test.ts
  frontend/src/features/Practice/configurator/forms/rowKeys.ts
  frontend/src/features/Practice/configurator/forms/shared.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): guard useStageContent against a stale-response race
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(course): guard useStageContent against a stale-response race (#1484)
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(map): tighten coverage-theater assertions and drop dead guards in MapScreen tests
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/stageData.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(map): tighten coverage-theater assertions and drop dead guards in MapScreen tests (#1485)
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/stageData.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): remove dead stage-store scaffolding from HabitsStatTile test
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): remove dead stage-store scaffolding from HabitsStatTile test (#1486)
  frontend/src/features/Journal/__tests__/HabitsStatTile.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(api): remove dead mapDetailToMessage helper
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(api): remove dead mapDetailToMessage helper (#1487)
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(store): extract shared normalized-by-id collection helper
  frontend/src/store/__tests__/normalizedCollection.test.ts
  frontend/src/store/normalizedCollection.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(store): extract shared normalized-by-id collection helper (#1488)
  frontend/src/store/__tests__/normalizedCollection.test.ts
  frontend/src/store/normalizedCollection.ts
  frontend/src/store/useHabitStore.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): add reflection-hierarchy due-schedule and source resolution domain
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/tests/domain/test_reflection_hierarchy.py
Due: backend-tests-coverage

feat(backend): add reflection-hierarchy due-schedule and source resolution domain (#1489)
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/tests/domain/test_reflection_hierarchy.py
Due: backend-tests-coverage

feat(backend): add reflection scope to journal entries and the promoted-quote table
  backend/migrations/versions/c4f7a2b8d9e1_hierarchical_reflection_scope_and_promoted_quote.py
  backend/src/models/__init__.py
  backend/src/models/journal_entry.py
  backend/src/models/promoted_quote.py
  backend/tests/test_migrations.py
  backend/tests/test_promoted_quote_model.py
Due: backend-tests-coverage

feat(backend): add reflection scope to journal entries and the promoted-quote table (#1490)
  backend/migrations/versions/c4f7a2b8d9e1_hierarchical_reflection_scope_and_promoted_quote.py
  backend/src/models/__init__.py
  backend/src/models/journal_entry.py
  backend/src/models/promoted_quote.py
  backend/tests/test_migrations.py
  backend/tests/test_promoted_quote_model.py
Due: backend-tests-coverage

ci(maintenance): gate producer scans on total open-backlog size
  .github/workflows/_claude-scan.yml
  .github/workflows/deslop.yml
  .github/workflows/hopper.yml
Due: none

feat(backend): add reflections API — due, sources feed, and quote promotion
  backend/src/main.py
  backend/src/routers/journal.py
  backend/src/routers/promotions.py
  backend/src/routers/reflections.py
  backend/src/schemas/journal.py
  backend/src/schemas/promotion.py
  backend/src/schemas/reflection.py
  backend/tests/test_journal_scope_api.py
  backend/tests/test_promotions_api.py
  backend/tests/test_reflections_api.py
Due: backend-tests-coverage

feat(backend): add reflections API — due, sources feed, and quote promotion (#1493)
  backend/src/main.py
  backend/src/routers/journal.py
  backend/src/routers/promotions.py
  backend/src/routers/reflections.py
  backend/src/schemas/journal.py
  backend/src/schemas/promotion.py
  backend/src/schemas/reflection.py
  backend/tests/test_journal_scope_api.py
  backend/tests/test_promotions_api.py
  backend/tests/test_reflections_api.py
Due: backend-tests-coverage

fix(journal): persist weekly-prompt title with band-label default and override
  backend/src/domain/weekly_prompts.py
  backend/src/models/journal_entry.py
  backend/src/routers/prompts.py
  backend/src/schemas/journal.py
  backend/src/schemas/prompt.py
  backend/tests/domain/test_weekly_prompts.py
  backend/tests/test_prompts_api.py
  frontend/src/api/__tests__/miscEndpoints-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/promptTitle.test.ts
  frontend/src/features/Journal/promptTitle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(journal): persist weekly-prompt title with band-label default and override (#1494)
  backend/src/domain/weekly_prompts.py
  backend/src/models/journal_entry.py
  backend/src/routers/prompts.py
  backend/src/schemas/journal.py
  backend/src/schemas/prompt.py
  backend/tests/domain/test_weekly_prompts.py
  backend/tests/test_prompts_api.py
  frontend/src/api/__tests__/miscEndpoints-api.test.ts
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
  frontend/src/features/Journal/__tests__/promptTitle.test.ts
  frontend/src/features/Journal/promptTitle.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(frontend): grow ScreenScaffold's scroll content container to restore scrolling
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): grow ScreenScaffold's scroll content container to restore scrolling (#1495)
  frontend/src/components/layout/ContentContainer.tsx
  frontend/src/components/layout/ScreenScaffold.tsx
  frontend/src/components/layout/__tests__/ScreenScaffold.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): promote a selected passage as a quote in journal read mode
  frontend/src/api/__tests__/promotionSchemas.test.ts
  frontend/src/api/__tests__/promotions.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/highlightSegments.ts
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): stabilize removePromotion identity and cover the cancel path
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): promote a selected passage as a quote in journal read mode (#1496)
  frontend/src/api/__tests__/promotionSchemas.test.ts
  frontend/src/api/__tests__/promotions.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/design/__tests__/editorialTokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/__tests__/buildAnchoredSegments.test.ts
  frontend/src/features/Journal/__tests__/usePromotions.test.tsx
  frontend/src/features/Journal/highlightSegments.ts
  frontend/src/features/Journal/usePromotions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): re-anchor or stale-mark promoted quotes on source-entry edit
  backend/migrations/versions/a9b0c1d2e3f4_add_promoted_quote_stale.py
  backend/src/models/promoted_quote.py
  backend/src/routers/journal.py
  backend/src/routers/promotions.py
  backend/src/schemas/promotion.py
  backend/src/services/marginalia.py
  backend/tests/test_promoted_quote_model.py
  backend/tests/test_promoted_quote_reanchoring.py
  backend/tests/test_promotions_api.py
Due: backend-tests-coverage

feat(backend): re-anchor or stale-mark promoted quotes on source-entry edit (#1500)
  backend/migrations/versions/a9b0c1d2e3f4_add_promoted_quote_stale.py
  backend/src/models/promoted_quote.py
  backend/src/routers/journal.py
  backend/src/routers/promotions.py
  backend/src/schemas/promotion.py
  backend/src/services/marginalia.py
  backend/tests/test_promoted_quote_model.py
  backend/tests/test_promoted_quote_reanchoring.py
  backend/tests/test_promotions_api.py
Due: backend-tests-coverage

feat(journal): add 7th-day reflection invitation band + composer with rereadable sources
  frontend/src/api/__tests__/reflections-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionInvitationBand.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/reflectionCopy.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
  frontend/src/features/Journal/useReflectionMode.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/storage/__tests__/reflectionDismissalStorage.test.ts
  frontend/src/storage/reflectionDismissalStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): add 7th-day reflection invitation band + composer with rereadable sources (#1517)
  frontend/src/api/__tests__/reflections-api.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/ReflectionInvitationBand.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionInvitationBand.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/reflectionCopy.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
  frontend/src/features/Journal/useReflectionMode.ts
  frontend/src/navigation/RootStack.tsx
  frontend/src/storage/__tests__/reflectionDismissalStorage.test.ts
  frontend/src/storage/reflectionDismissalStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): merge load-on-open snapshot and clear stale privateMessage
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): reset load-on-open state on entry change so rows don't leak across entries
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): merge load-on-open snapshot and clear stale privateMessage (#1518)
  frontend/src/features/Journal/__tests__/useResonance.test.tsx
  frontend/src/features/Journal/useResonance.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(habits): sync backfillMissedDays/setNewStartDate to the server
  frontend/src/features/Habits/hooks/__tests__/useHabitActions.test.tsx
  frontend/src/features/Habits/hooks/useHabitActions.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
