Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(frontend): re-read connectivity when the browser window comes back online
  frontend/src/context/NetworkStatusContext.tsx
  frontend/src/context/__tests__/NetworkStatusContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove API key removal in a browser and register the journey
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/api-key-remove.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): retry what actually failed from the footer and on reconnect
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
  frontend/src/features/Journal/__tests__/journalSaveRetry.test.ts
  frontend/src/features/Journal/__tests__/netInfoTestKit.ts
  frontend/src/features/Journal/journalSaveRetry.ts
  frontend/src/features/Journal/useSaveRetry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover journal save recovery after reconnect in the browser lane
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-save-retry.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): declare the vault disconnect/replace confirm journey uncovered
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(backend): transcription prompt accepts any image of text and reports refusals
  backend/openapi.json
  backend/src/domain/transcription.py
  backend/src/routers/transcription.py
  backend/src/schemas/transcription.py
  backend/tests/domain/test_transcription.py
  backend/tests/test_transcription_endpoint.py
  backend/tests/test_transcription_privacy.py
  backend/tests/transcription_helpers.py
Due: backend-tests-coverage

feat(journal): capture copy and refusal kinds for non-handwritten pages
  docs/qa/full-stack-qa-runbook.md
  frontend/app.json
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/appendTranscript.ts
  frontend/src/features/Journal/capture/prepareImage.ts
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove a removed key leaves the session getter, not only the pass
  frontend/e2e/api-key-remove.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): follow Alert through aliases and destructuring in the confirm guard
  frontend/src/__tests__/wiring/noAlertConfirm.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(e2e): keep the browser-journey traces when a spec fails
  .github/workflows/e2e.yml
Due: none

test(journal): pin the retry's ordering, Finish lanes and in-flight gate
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): never let the stage budget cancel a vault submit
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

test(backend): force the accepted-submit window in the live HTTP journey
  backend/tests/test_vault_pipeline_live_http.py
Due: backend-tests-coverage

fix(journal): decide each retried tier and chord step when it runs
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
  frontend/src/features/Journal/__tests__/journalSaveRetry.test.ts
  frontend/src/features/Journal/journalSaveRetry.ts
  frontend/src/features/Journal/useSaveRetry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): keep the stage clock on every rung that cannot admit a job
  backend/src/services/creek_vault_pipeline.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

test(backend): hold an accepted embedding job past the background budget
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

fix(backend): judge a refusal by its first sentence, not journal nouns
  backend/src/domain/transcription.py
  backend/tests/domain/test_transcription.py
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

test(journal): make the unusable-read save gate test depend on the kind
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): bound transcription per account as well as per address
  backend/src/routers/transcription.py
  backend/tests/test_rate_limits.py
  backend/tests/test_transcription_endpoint.py
Due: backend-tests-coverage

fix(frontend): take the app offline from the window's own offline event too
  frontend/src/context/NetworkStatusContext.tsx
  frontend/src/context/__tests__/NetworkStatusContext.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): wait for the app to register an outage before reconnecting
  frontend/e2e/journal-save-retry.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(e2e): keep the key-removal spec off the lane's shared fake-provider counters
  frontend/e2e/api-key-remove.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin a per-client overall ceiling on id enumeration
  backend/tests/middleware/test_ambient_rate_limit.py
Due: backend-tests-coverage

Wave 11/12: starlette 1.7, confirms that work on web, and a journal Retry that retries (#2938)
  .github/workflows/backend-ci.yml
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/middleware/rate_limit.py
  backend/src/rate_limit.py
  backend/tests/middleware/test_ambient_rate_limit.py
  backend/tests/scripts/test_backend_compat_matrix.py
  backend/tests/scripts/test_backend_lock_consistency.py
  backend/tests/workflow_text.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/api-key-remove.browser.e2e.test.ts
  frontend/e2e/journal-save-retry.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/noAlertConfirm.test.ts
  frontend/src/context/NetworkStatusContext.tsx
  frontend/src/context/__tests__/NetworkStatusContext.test.tsx
  frontend/src/features/Habits/components/ConfirmDialog.tsx
  frontend/src/features/Habits/components/__tests__/ConfirmDialog.test.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenChord.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPrivacy.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenSaveRetry.test.tsx
  frontend/src/features/Journal/__tests__/journalSaveRetry.test.ts
  frontend/src/features/Journal/__tests__/netInfoTestKit.ts
  frontend/src/features/Journal/journalSaveRetry.ts
  frontend/src/features/Journal/useSaveRetry.ts
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/VaultSettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
  frontend/src/features/Settings/__tests__/VaultSettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): cap each client's overall rate across every path
  backend/src/rate_limit.py
  backend/tests/middleware/test_ambient_rate_limit.py
Due: backend-tests-coverage

docs(backend): state the per-worker budget and close the enumeration residual
  DEPLOYMENT.md
  backend/src/middleware/rate_limit.py
  backend/src/rate_limit.py
  backend/tests/test_rate_limit_deployment_docs.py
Due: backend-tests-coverage

feat(backend): care surface carries a short title and a two-sentence message
  backend/openapi.json
  backend/src/domain/care.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/tests/domain/test_care.py
  backend/tests/schemas/test_care_response.py
  backend/tests/test_intimate_privacy_guard.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_resonance_endpoints.py
  frontend/src/api/__tests__/careSchemas.test.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenContraction.test.tsx
  frontend/src/features/Journal/__tests__/resonanceTestKit.ts
  frontend/src/features/Settings/SupportCareScreen.tsx
  frontend/src/features/Settings/__tests__/SupportCareScreen.test.tsx
  frontend/src/features/Settings/__tests__/careResources.test.ts
  frontend/src/features/Settings/careResources.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(journal): add an icon-only close variant to ReflectionDismiss
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/__tests__/ReflectionDismiss.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(care): give CareResourceCard a compact row
  frontend/src/components/care/CareResourceCard.tsx
  frontend/src/components/care/__tests__/CareResourceCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): crisis-support note dismisses fully to one line and uses a heading-size title
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenCare.test.tsx
  frontend/src/features/Journal/__tests__/noteCards.test.ts
  frontend/src/features/Journal/noteCards.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover the care note's close and reopen in the browser lane
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-care-support.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): match the no-text sentinel in any case
  backend/src/domain/transcription.py
  backend/tests/domain/test_transcription.py
Due: backend-tests-coverage

test(backend): hold every documented ceiling value to CLIENT_CEILING_LIMIT
  backend/tests/test_rate_limit_deployment_docs.py
Due: backend-tests-coverage

fix(backend): match refusal cues as whole words
  backend/src/domain/transcription.py
  backend/tests/domain/test_transcription.py
Due: backend-tests-coverage

test(journal): pin the close variant's X glyph
  frontend/src/features/Journal/__tests__/ReflectionDismiss.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): hand focus on when the care note's X hides it and when it reopens
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
  frontend/src/utils/__tests__/accessibilityFocus.test.ts
  frontend/src/utils/accessibilityFocus.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): prove focus handoff, compact rows and fresh-signal re-show in the care journey
  frontend/e2e/journal-care-support.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Transcribe any image of text without charging refusals, and never resubmit an accepted Creek job (#2940)
  backend/openapi.json
  backend/src/domain/transcription.py
  backend/src/routers/transcription.py
  backend/src/schemas/transcription.py
  backend/src/services/creek_vault_pipeline.py
  backend/tests/domain/test_transcription.py
  backend/tests/test_creek_vault_pipeline.py
  backend/tests/test_rate_limits.py
  backend/tests/test_transcription_endpoint.py
  backend/tests/test_transcription_privacy.py
  backend/tests/test_vault_pipeline_live_http.py
  backend/tests/transcription_helpers.py
  docs/qa/full-stack-qa-runbook.md
  frontend/app.json
  frontend/e2e/journal-entry-controls.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/transcribePage.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalPhotographScreen.tsx
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalPhotographScreen.test.tsx
  frontend/src/features/Journal/appendTranscript.ts
  frontend/src/features/Journal/capture/prepareImage.ts
  frontend/src/features/Journal/transcriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(journal): add pure transcript seam-overlap matcher
  frontend/src/features/Journal/__tests__/transcriptOverlap.test.ts
  frontend/src/features/Journal/transcriptOverlap.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
