Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(backend): list + dismiss invitation endpoints
  backend/src/main.py
  backend/src/routers/invitations.py
  backend/src/schemas/invitations.py
  backend/tests/routers/test_invitations.py
Due: backend-tests-coverage

feat(backend): list + dismiss invitation endpoints (#1055)
  backend/src/main.py
  backend/src/routers/invitations.py
  backend/src/schemas/invitations.py
  backend/tests/routers/test_invitations.py
Due: backend-tests-coverage

feat(frontend): subtle invitation surface — one-tap decline, never shaming
  frontend/src/api/index.ts
  frontend/src/api/invitations.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/InvitationNote.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/InvitationNote.test.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/features/Today/__tests__/useInvitations.test.tsx
  frontend/src/features/Today/invitationCopy.ts
  frontend/src/features/Today/useInvitations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wire invitation press-scale + decouple the hook (review #1056)
  frontend/src/api/invitations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wire invitation press-scale + decouple the hook (review #1056)
  frontend/src/api/__tests__/invitations.test.ts
  frontend/src/features/Journal/motion.ts
  frontend/src/features/Today/InvitationNote.tsx
  frontend/src/features/Today/__tests__/InvitationNote.test.tsx
  frontend/src/hooks/usePressScale.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): subtle invitation surface — one-tap decline, never shaming (#1056)
  frontend/src/api/__tests__/invitations.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Journal/motion.ts
  frontend/src/features/Today/InvitationNote.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/InvitationNote.test.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/features/Today/__tests__/useInvitations.test.tsx
  frontend/src/features/Today/invitationCopy.ts
  frontend/src/features/Today/useInvitations.ts
  frontend/src/hooks/usePressScale.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): calm the Practice tab's stacked umber showcase bands
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): calm the Practice tab's stacked umber showcase bands (#1057)
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop Catalog empty-state cards overlapping and blocking taps
  frontend/src/components/feedback/EmptyState.tsx
  frontend/src/components/feedback/__tests__/EmptyState.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): drop stale RED-phase markers from #930 catalog tests
  frontend/src/components/feedback/__tests__/EmptyState.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop Practice Catalog empty-state cards overlapping and blocking taps (#1058)
  frontend/src/components/feedback/EmptyState.tsx
  frontend/src/components/feedback/__tests__/EmptyState.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(full-stack): let authors assign their own custom practices to a stage
  backend/src/routers/user_practices.py
  backend/tests/test_owner_practice_selection.py
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(agents): harden subagent fleet and route chief-architect to Fable 5
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/dependency-review-specialist.md
  .claude/agents/documentation-specialist.md
  .claude/agents/implementation-specialist.md
  .claude/agents/performance-specialist.md
  .claude/agents/security-specialist.md
  .claude/agents/test-specialist.md
  .claude/commands/ralph-tick.md
Due: none

fix(full-stack): let authors assign their own custom practices to a stage (#1059)
  backend/src/routers/user_practices.py
  backend/tests/test_owner_practice_selection.py
  frontend/src/api/errorMessages.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/navigation/RootStack.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

docs(agents): make repo commit trailer model-agnostic
  .claude/agents/shared/adepthood-constraints.md
Due: none

feat(frontend): reskin the practice authoring flow in Candle & Ink
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): drop stale RED markers + right-size the flaky catalog suite
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): reskin the practice authoring flow in Candle & Ink (#1061)
  frontend/src/features/Practice/components/ModePicker.tsx
  frontend/src/features/Practice/components/__tests__/ModePicker.test.tsx
  frontend/src/features/Practice/configurator/RitualConfiguratorSheet.tsx
  frontend/src/features/Practice/configurator/__tests__/RitualConfiguratorSheet.test.tsx
  frontend/src/features/Practice/configurator/forms/CardMeditationForm.tsx
  frontend/src/features/Practice/configurator/forms/IntervalBellForm.tsx
  frontend/src/features/Practice/configurator/forms/MindfulAnchorForm.tsx
  frontend/src/features/Practice/configurator/forms/SenseGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
  frontend/src/features/Practice/configurator/forms/shared.tsx
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): make edited practice durations reach the timer
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/__tests__/defaults.test.ts
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/engine/__tests__/reducer.configChanged.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.configChanged.test.tsx
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.durationDerive.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ralph): parallelize the loop with worktrees (max 4 workers)
  .claude/agents/README.md
  .claude/agents/ralph-worker.md
  .claude/commands/ralph-tick.md
  .gitignore
  scripts/ralph/FLEET.md
  scripts/ralph/PROMPT.md
  scripts/ralph/fleet.sh
  scripts/ralph/pick-next.sh
  scripts/ralph/state.json
  scripts/ralph/test_fleet.sh
Due: none

docs(agents): harden subagent fleet and route chief-architect to Fable 5 (#1060)
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/dependency-review-specialist.md
  .claude/agents/documentation-specialist.md
  .claude/agents/implementation-specialist.md
  .claude/agents/performance-specialist.md
  .claude/agents/security-specialist.md
  .claude/agents/shared/adepthood-constraints.md
  .claude/agents/test-specialist.md
  .claude/commands/ralph-tick.md
Due: none

docs(frontend): restore useRitualEngine JSDoc placement + simplify guard
  frontend/src/features/Practice/engine/useRitualEngine.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): make edited practice durations reach the timer (#1064)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/configurator/__tests__/defaults.test.ts
  frontend/src/features/Practice/configurator/defaults.ts
  frontend/src/features/Practice/engine/__tests__/reducer.configChanged.test.ts
  frontend/src/features/Practice/engine/__tests__/useRitualEngine.configChanged.test.tsx
  frontend/src/features/Practice/engine/reducer.ts
  frontend/src/features/Practice/engine/types.ts
  frontend/src/features/Practice/engine/useRitualEngine.ts
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.durationDerive.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizardTokens.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(roadmap): add Capability Registry epic for journal-driven pluggable features
  prompts/github-issues/README.md
  prompts/github-issues/capability-registry-01-backend-registry.md
  prompts/github-issues/capability-registry-02-generic-feature-flags.md
  prompts/github-issues/capability-registry-03-action-suggestion-model.md
  prompts/github-issues/capability-registry-04-intent-detection.md
  prompts/github-issues/capability-registry-05-execute-handlers.md
  prompts/github-issues/capability-registry-06-frontend-manifest.md
  prompts/github-issues/capability-registry-07-suggestion-inbox.md
  prompts/github-issues/capability-registry-08-mcp-client-tool-calling.md
  prompts/github-issues/capability-registry-09-creek-vault-binding.md
  prompts/github-issues/capability-registry-epic.md
Due: none

fix(backend): strip YAML frontmatter before serving chapter/resource/intro Markdown
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

fix(backend): strip YAML frontmatter before serving chapter/resource/intro Markdown (#1065)
  backend/src/services/content_repository.py
  backend/tests/test_content_repository.py
Due: backend-tests-coverage

fix(ralph): address PR #1066 review — sync-not-rebase docs, picker tests
  .github/workflows/ralph-recap-tests.yml
  scripts/ralph/FLEET.md
  scripts/ralph/fleet.sh
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
Due: none

fix(frontend): harden the Markdown reader — defensive frontmatter strip + soft-wrap reflow
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripFrontmatter.test.ts
  frontend/src/features/Course/stripFrontmatter.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(ralph): address PR #1066 re-review nits
  scripts/ralph/FLEET.md
  scripts/ralph/fleet.sh
  scripts/ralph/pick-next.sh
  scripts/ralph/test_fleet.sh
  scripts/ralph/test_pick_next.sh
Due: none

test(frontend): drop stale RED comments + add BOM/hard-break guards (#936 review)
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripFrontmatter.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(roadmap): audit Capability Registry epic against creek-vault contract
  prompts/github-issues/README.md
  prompts/github-issues/capability-registry-02-generic-feature-flags.md
  prompts/github-issues/capability-registry-03-action-suggestion-model.md
  prompts/github-issues/capability-registry-04-intent-detection.md
  prompts/github-issues/capability-registry-05-execute-handlers.md
  prompts/github-issues/capability-registry-08-mcp-client-tool-calling.md
  prompts/github-issues/capability-registry-09-creek-vault-binding.md
  prompts/github-issues/capability-registry-10-self-care-capability.md
  prompts/github-issues/capability-registry-11-adepthood-mcp-server.md
  prompts/github-issues/capability-registry-epic.md
Due: none

feat(ralph): parallelize the loop with worktrees (max 4 workers) (#1066)
  .claude/agents/README.md
  .claude/agents/ralph-worker.md
  .claude/commands/ralph-tick.md
  .github/workflows/ralph-recap-tests.yml
  .gitignore
  scripts/ralph/FLEET.md
  scripts/ralph/PROMPT.md
  scripts/ralph/fleet.sh
  scripts/ralph/pick-next.sh
  scripts/ralph/state.json
  scripts/ralph/test_fleet.sh
  scripts/ralph/test_pick_next.sh
Due: none

fix(frontend): harden the Markdown reader — defensive frontmatter strip + soft-wrap reflow (#1067)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripFrontmatter.test.ts
  frontend/src/features/Course/stripFrontmatter.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): make fleet picker worktree detection portable on macOS
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
Due: none

docs(plan): record the 2026-07-01 backlog grooming session
  plan/2026-07-01_BACKLOG_GROOMING.md
Due: none

fix(frontend): make the Course landing scroll as one surface
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ralph): make fleet picker worktree detection portable on macOS (#1069)
  scripts/ralph/pick-next.sh
  scripts/ralph/test_pick_next.sh
Due: none

fix(frontend): make the Course landing scroll as one surface (#1070)
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(adr): record ADR 0002 — intimate-tier content routing
  docs/adr/0002-intimate-content-local-routing.md
Due: none

docs(de-slopify): teach the detector to wire-in dead code, not only delete
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/issue-templates.md
  .claude/skills/de-slopify/references/slop-taxonomy.md
  .github/workflows/weekly-deslop.yml
Due: none
