Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(scripts): make backend check-all.sh green on clean main
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/tests/test_goal_completions.py
  backend/tests/test_users_timezone.py
  scripts/backend/format.sh
  scripts/backend/security.sh
Due: backend-tests-coverage

fix(scripts): make backend check-all.sh green on clean main (#452)
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/tests/test_goal_completions.py
  backend/tests/test_users_timezone.py
  scripts/backend/format.sh
  scripts/backend/security.sh
Due: backend-tests-coverage

fix(frontend): replay goal-group associations in stuck-user recovery
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover the goal-group list failure path in recovery
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replay goal-group associations in stuck-user recovery (#453)
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat: carry days_of_week through goal updates and recovery replay
  backend/src/schemas/goal.py
  backend/tests/schemas/test_goal_schema.py
  backend/tests/test_goals_api.py
  frontend/src/api/index.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat: carry days_of_week through goal updates and recovery replay (#454)
  backend/src/schemas/goal.py
  backend/tests/schemas/test_goal_schema.py
  backend/tests/test_goals_api.py
  frontend/src/api/index.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(ci): grant id-token write to the claude mention workflow
  .github/workflows/claude.yml
Due: none

fix(ci): grant id-token write to the claude mention workflow (#455)
  .github/workflows/claude.yml
Due: none

docs(roadmap): add phase 8 — post-drain hardening epic
  prompts/github-issues/README.md
  prompts/github-issues/phase-8-01-api-module-split-core.md
  prompts/github-issues/phase-8-02-api-module-split-remainder.md
  prompts/github-issues/phase-8-03-goal-modal-decomposition.md
  prompts/github-issues/phase-8-04-page-envelope-completion.md
  prompts/github-issues/phase-8-05-paginate-default-backend.md
  prompts/github-issues/phase-8-06-offline-checkin-polish.md
  prompts/github-issues/phase-8-07-botmason-stream-tests.md
  prompts/github-issues/phase-8-08-content-asset-serving.md
  prompts/github-issues/phase-8-09-theme-context-dark-pilot.md
  prompts/github-issues/phase-8-10-toolchain-version-parity.md
  prompts/github-issues/phase-8-11-jest-hygiene-resetmocks-jsdom.md
  prompts/github-issues/phase-8-epic.md
Due: none

test(backend): un-flake the time-coupled streak tests (audit-testq-01)
  backend/tests/services/test_streaks.py
Due: backend-tests-coverage

test(backend): freeze clock to un-flake time-coupled streak tests
  backend/tests/services/test_streaks.py
Due: backend-tests-coverage

test(backend): freeze clock to un-flake time-coupled streak tests (#524)
  backend/tests/services/test_streaks.py
Due: backend-tests-coverage

perf(backend): offload bcrypt hashing/verification to worker threads
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_async.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/test_password_reset.py
Due: backend-tests-coverage

perf(backend): offload bcrypt hashing/verification to worker threads (#525)
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_async.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/test_password_reset.py
Due: backend-tests-coverage

fix(frontend): import Habits icons from lucide-react-native, not the DOM package
  frontend/eslint.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/no-lucide-react-dom.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): import Habits icons from lucide-react-native, not the DOM package (#526)
  frontend/eslint.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsScreenIconChrome.test.tsx
  frontend/src/features/Habits/__tests__/no-lucide-react-dom.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): paginate the practice-tags list endpoint
  backend/src/routers/practice_tags.py
  backend/tests/test_practice_tags_api.py
Due: backend-tests-coverage

feat(backend): paginate the practice-tags list endpoint (#527)
  backend/src/routers/practice_tags.py
  backend/tests/test_practice_tags_api.py
Due: backend-tests-coverage

perf(backend): add composite index on goalcompletion(goal_id, user_id, timestamp)
  backend/migrations/versions/c1d2e3f4a5b6_add_goalcompletion_composite_index.py
  backend/src/models/goal_completion.py
  backend/tests/models/__init__.py
  backend/tests/models/test_goal_completion_index.py
Due: backend-tests-coverage

perf(backend): add composite index on goalcompletion(goal_id, user_id, timestamp) (#528)
  backend/migrations/versions/c1d2e3f4a5b6_add_goalcompletion_composite_index.py
  backend/src/models/goal_completion.py
  backend/tests/models/__init__.py
  backend/tests/models/test_goal_completion_index.py
Due: backend-tests-coverage

feat(frontend): ship real RWS tarot artwork + a real card resolver
  frontend/assets/cards/rws/.gitkeep
  frontend/assets/cards/rws/MANIFEST.md
  frontend/assets/cards/rws/death.png
  frontend/assets/cards/rws/judgement.png
  frontend/assets/cards/rws/justice.png
  frontend/assets/cards/rws/strength.png
  frontend/assets/cards/rws/temperance.png
  frontend/assets/cards/rws/the_chariot.png
  frontend/assets/cards/rws/the_devil.png
  frontend/assets/cards/rws/the_emperor.png
  frontend/assets/cards/rws/the_empress.png
  frontend/assets/cards/rws/the_fool.png
  frontend/assets/cards/rws/the_hanged_man.png
  frontend/assets/cards/rws/the_hermit.png
  frontend/assets/cards/rws/the_hierophant.png
  frontend/assets/cards/rws/the_high_priestess.png
  frontend/assets/cards/rws/the_lovers.png
  frontend/assets/cards/rws/the_magician.png
  frontend/assets/cards/rws/the_moon.png
  frontend/assets/cards/rws/the_star.png
  frontend/assets/cards/rws/the_sun.png
  frontend/assets/cards/rws/the_tower.png
  frontend/assets/cards/rws/the_world.png
  frontend/assets/cards/rws/wheel_of_fortune.png
  frontend/src/features/Practice/data/__tests__/assetResolver.test.ts
  frontend/src/features/Practice/data/assetResolver.ts
  frontend/src/features/Practice/data/decks/__tests__/rws.test.ts
  frontend/src/features/Practice/data/decks/rwsImages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): ship real RWS tarot artwork + a real card resolver (#530)
  frontend/assets/cards/rws/.gitkeep
  frontend/assets/cards/rws/MANIFEST.md
  frontend/assets/cards/rws/death.png
  frontend/assets/cards/rws/judgement.png
  frontend/assets/cards/rws/justice.png
  frontend/assets/cards/rws/strength.png
  frontend/assets/cards/rws/temperance.png
  frontend/assets/cards/rws/the_chariot.png
  frontend/assets/cards/rws/the_devil.png
  frontend/assets/cards/rws/the_emperor.png
  frontend/assets/cards/rws/the_empress.png
  frontend/assets/cards/rws/the_fool.png
  frontend/assets/cards/rws/the_hanged_man.png
  frontend/assets/cards/rws/the_hermit.png
  frontend/assets/cards/rws/the_hierophant.png
  frontend/assets/cards/rws/the_high_priestess.png
  frontend/assets/cards/rws/the_lovers.png
  frontend/assets/cards/rws/the_magician.png
  frontend/assets/cards/rws/the_moon.png
  frontend/assets/cards/rws/the_star.png
  frontend/assets/cards/rws/the_sun.png
  frontend/assets/cards/rws/the_tower.png
  frontend/assets/cards/rws/the_world.png
  frontend/assets/cards/rws/wheel_of_fortune.png
  frontend/src/features/Practice/data/__tests__/assetResolver.test.ts
  frontend/src/features/Practice/data/assetResolver.ts
  frontend/src/features/Practice/data/decks/__tests__/rws.test.ts
  frontend/src/features/Practice/data/decks/rwsImages.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(frontend): memoize HabitTile and stabilize the renderHabitTile closure
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTile.rendercount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): harden memo optimization per review (#531)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTile.rendercount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(frontend): memoize HabitTile + stabilize renderHabitTile (#531)
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/Habits.types.ts
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitTile.rendercount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(backend): add composite index on journalentry(user_id, sender, deleted_at)
  backend/migrations/versions/e3f4a5b6c7d8_add_journalentry_composite_index.py
  backend/src/models/journal_entry.py
  backend/tests/models/test_journal_entry_index.py
Due: backend-tests-coverage

perf(backend): add composite index on journalentry(user_id, sender, deleted_at) (#532)
  backend/migrations/versions/e3f4a5b6c7d8_add_journalentry_composite_index.py
  backend/src/models/journal_entry.py
  backend/tests/models/test_journal_entry_index.py
Due: backend-tests-coverage

feat(backend): paginate the practice-recipes list endpoint
  backend/src/routers/practice_recipes.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

test(backend): tighten practice-recipes pagination tests per review (#533)
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

feat(backend): paginate the practice-recipes list endpoint (#533)
  backend/src/routers/practice_recipes.py
  backend/tests/test_practice_recipes_api.py
Due: backend-tests-coverage

perf(frontend): memoize Journal MessageBubble
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.rendercount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): tighten MessageBubble memo tests per review (#534)
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.rendercount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(frontend): memoize Journal MessageBubble (#534)
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.rendercount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wire the "Start from a preset" CTA to the catalog picker
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): wire the "Start from a preset" CTA to the catalog picker (#536)
  frontend/src/features/Practice/screens/CreatePracticeWizard.tsx
  frontend/src/features/Practice/screens/__tests__/CreatePracticeWizard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

perf(backend): batch the per-stage progress N+1 in list_stages
  backend/src/domain/stage_progress.py
  backend/src/routers/stages.py
  backend/tests/routers/test_stages_query_count.py
Due: backend-tests-coverage

fix(backend): correct list_stages docstring + restore xenon A-grade (#537)
  backend/src/domain/stage_progress.py
  backend/src/routers/stages.py
Due: backend-tests-coverage

perf(backend): batch the per-stage progress N+1 in list_stages (#537)
  backend/src/domain/stage_progress.py
  backend/src/routers/stages.py
  backend/tests/routers/test_stages_query_count.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
