Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

test(feedback): cover the bounded mint loop, and say why the audit id falls back
  backend/src/routers/feedback.py
  backend/tests/test_feedback_api.py
Due: backend-tests-coverage

fix(feedback): close every rendering channel, and make the gates able to fail
  backend/src/models/__init__.py
  backend/src/models/_prose_repr.py
  backend/src/routers/feedback.py
  backend/src/schemas/_base.py
  backend/tests/security/test_feedback_repr.py
  backend/tests/security/test_prose_redacting_repr.py
  backend/tests/test_feedback_api.py
  backend/tests/test_legal_documents.py
  backend/tests/test_models.py
  backend/tests/test_rate_limits.py
  docs/legal/privacy-policy.md
  docs/your-data.md
Due: backend-tests-coverage

test(feedback): make the reference test kill both wrong implementations
  backend/src/models/_prose_repr.py
  backend/tests/test_feedback_api.py
Due: backend-tests-coverage

test(frontend): assert the bell mapping, timbre and memo the adapter really uses
  frontend/src/features/Practice/engine/adapters/__tests__/audio.test.ts
  frontend/src/features/Practice/engine/adapters/__tests__/bellSynth.test.ts
  frontend/src/features/Practice/engine/adapters/audio.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): reproduce the account-deletion egress race, request and detached
  backend/tests/test_account_egress_barrier.py
  backend/tests/test_account_egress_barrier_continuation.py
  backend/tests/vault_client_doubles.py
Due: backend-tests-coverage

fix(backend): enforce the ambient rate limit without route identity
  DEPLOYMENT.md
  backend/conftest.py
  backend/src/error_responses.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/rate_limit.py
  backend/src/middleware/unhandled_exception.py
  backend/src/rate_limit.py
  backend/src/routers/feedback.py
  backend/tests/middleware/test_ambient_rate_limit.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/scripts/dast/test_rate_limit_override.py
  backend/tests/test_rate_limits.py
  prompts/security/README.md
  prompts/security/sec-16-data-endpoint-rate-limits.md
Due: backend-tests-coverage

feat(backend): order every stored-content egress against account erasure
  backend/src/routers/corpus.py
  backend/src/routers/journal.py
  backend/src/routers/users.py
  backend/src/services/account_egress_barrier.py
  backend/src/services/advisory_lock_namespaces.py
  backend/src/services/creek_vault_pipeline.py
  backend/src/services/voice_draft_privacy.py
  backend/tests/test_account_egress_barrier_continuation.py
  backend/tests/test_creek_vault_pipeline.py
Due: backend-tests-coverage

test(backend): prove the barrier's ordering, asymmetry and totality
  DEPLOYMENT.md
  backend/src/main.py
  backend/src/services/account_deletion.py
  backend/src/services/voice_draft_privacy.py
  backend/tests/integration/test_account_egress_barrier_concurrency.py
  backend/tests/security/test_egress_barrier_totality.py
  backend/tests/support/outbound_boundary.py
  backend/tests/test_account_egress_barrier.py
  backend/tests/test_pg_advisory_lock.py
Due: backend-tests-coverage

docs(backend): record that the DAST rate-limit override only now bites
  backend/scripts/dast/README.md
Due: backend-tests-coverage

fix(backend): seed the account row the egress barrier's liveness read needs
  backend/openapi.json
  backend/tests/test_legal_documents.py
Due: backend-tests-coverage

fix(backend): order the detached ladder per dial, not across its whole climb
  DEPLOYMENT.md
  backend/src/services/creek_vault_pipeline.py
Due: backend-tests-coverage

test(backend): make the barrier's fail-closed and fail-open halves actually assert
  backend/tests/test_account_egress_barrier.py
Due: backend-tests-coverage

fix(backend): bound the ambient floor per client, not across all of them
  DEPLOYMENT.md
  backend/src/main.py
  backend/src/middleware/rate_limit.py
  backend/src/rate_limit.py
  backend/tests/middleware/test_ambient_rate_limit.py
  backend/tests/security/test_throttle_key.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

test(backend): drive the two floor branches no request can reach
  backend/tests/middleware/test_ambient_rate_limit.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

test(backend): pin the ceiling's meaning, its size, and the derived Retry-After
  backend/tests/middleware/test_ambient_rate_limit.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

docs(backend): stop the lock engine's docstring overclaiming
  backend/src/services/voice_draft_privacy.py
Due: backend-tests-coverage

fix(backend): declare the 503 the corpus routes can now send
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/tests/test_openapi_error_contract.py
Due: backend-tests-coverage

fix(backend): order the model dials against erasure, not only the vault ones
  DEPLOYMENT.md
  backend/src/routers/journal.py
  backend/src/services/account_egress_barrier.py
  backend/tests/integration/test_account_egress_barrier_erasure_race.py
  backend/tests/integration/test_completion_detection_concurrency.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

test(backend): derive the egress site list and check every barrier claim
  backend/tests/security/test_egress_barrier_totality.py
  backend/tests/support/egress_call_graph.py
  backend/tests/support/outbound_boundary.py
  backend/tests/test_account_egress_barrier_continuation.py
Due: backend-tests-coverage

fix(backend): order the essay's two dials separately, not across both
  backend/src/routers/journal.py
  backend/tests/security/test_egress_barrier_totality.py
  backend/tests/support/egress_call_graph.py
  backend/tests/test_voice_draft_mirroring.py
Due: backend-tests-coverage

test(backend): drive the private seams by import, not by suppression
  backend/tests/test_account_egress_barrier_continuation.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

fix(backend): order the consent sweep per dial, not across the whole sweep
  backend/openapi.json
  backend/src/routers/corpus.py
  backend/src/services/corpus_backfill.py
  backend/tests/services/test_corpus_backfill.py
  backend/tests/test_account_egress_barrier_consent.py
  backend/tests/test_legal_documents.py
Due: backend-tests-coverage

fix(backend): re-read the essay's tier inside the hold that orders its dial
  backend/src/routers/journal.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

test(backend): make the egress gate fail when its own machinery is broken
  backend/tests/security/test_egress_barrier_totality.py
  backend/tests/support/egress_call_graph.py
Due: backend-tests-coverage

test(backend): isolate the import-idiom control from the name it also binds
  backend/tests/security/test_egress_barrier_totality.py
Due: backend-tests-coverage

refactor(backend): let the sweep wait for its barrier holding no connection
  backend/src/services/corpus_backfill.py
Due: backend-tests-coverage

fix(backend): refuse a fail-open hold as an egress barrier
  backend/tests/security/test_egress_barrier_totality.py
  backend/tests/support/egress_call_graph.py
Due: backend-tests-coverage

fix(backend): scope the ambient throttle's reclaim per client
  backend/src/rate_limit.py
  backend/tests/middleware/test_ambient_rate_limit.py
Due: backend-tests-coverage

feat(backend): review cadence — weekly the day before, stage every stage, sections of three, course
  backend/migrations/versions/e3a9d1c4b6f2_review_cadence_scope_vocabulary.py
  backend/openapi.json
  backend/src/domain/constants.py
  backend/src/domain/program_calendar.py
  backend/src/domain/reflection_hierarchy.py
  backend/src/models/journal_entry.py
  backend/src/schemas/reflection.py
  backend/tests/domain/test_reflection_hierarchy.py
  backend/tests/security/test_idor.py
  backend/tests/test_migrations.py
  backend/tests/test_reflections_api.py
  backend/tests/test_reflections_window.py
  frontend/e2e/journeys.json
  frontend/src/api/__tests__/reflections-api.test.ts
  frontend/src/api/schemas.ts
  frontend/src/constants/__tests__/stageOntologyDrift.test.ts
  frontend/src/constants/program.ts
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/ReflectionInvitationBand.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/reflectionCopy.test.ts
  frontend/src/features/Journal/reflectionCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(frontend): anchor-safe Markdown editor model for the journal
  frontend/e2e/journeys.json
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/codePoints.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdown.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownBlocks.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownCaret.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownEditing.contract.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownLines.test.ts
  frontend/src/features/Journal/__tests__/journalMarkdownPurity.test.ts
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
  frontend/src/features/Journal/codePoints.ts
  frontend/src/features/Journal/journalMarkdown.ts
  frontend/src/features/Journal/journalMarkdownCaret.ts
  frontend/src/features/Journal/journalMarkdownInline.ts
  frontend/src/features/Journal/journalMarkdownLines.ts
  frontend/src/features/Journal/journalMarkdownTypes.ts
  frontend/src/features/Journal/markdownEditing.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(backend): regenerate openapi.json after the reflection schema docstrings
  backend/openapi.json
Due: backend-tests-coverage

test(backend): pin the retired-token refusal on every reader of the key grammar
  backend/tests/domain/test_reflection_hierarchy.py
Due: backend-tests-coverage

fix(frontend): bound an inline span by its own delimiter pair
  frontend/src/features/Journal/__tests__/journalMarkdownCaret.test.ts
  frontend/src/features/Journal/journalMarkdown.ts
  frontend/src/features/Journal/journalMarkdownCaret.ts
  frontend/src/features/Journal/journalMarkdownInline.ts
  frontend/src/features/Journal/journalMarkdownTypes.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin every term of the run comparator
  frontend/src/features/Journal/__tests__/journalMarkdownCaret.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): assert the bullet glyph and the rendered indent
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin markedLineAtCaret's plain-line guard
  frontend/src/features/Journal/__tests__/markdownEditing.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin all five emphasis guards, and drop a dead tie-break
  frontend/src/features/Journal/__tests__/journalMarkdown.test.ts
  frontend/src/features/Journal/journalMarkdownCaret.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): make the purity gate walk the import graph transitively
  frontend/src/features/Journal/__tests__/journalMarkdownPurity.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests
