Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(frontend): flush a macrotask before asserting the unmounted vault read is silent
  frontend/src/features/Settings/__tests__/useVaultConnectionState.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(deps): allowlist node-forge GHSA-86w9-cpqp-85rv until 2026-10-16
  frontend/.audit-allowlist.json
Due: frontend-eslint, frontend-prettier, frontend-tests

docs(legal): say a document you bring in has nowhere to go without a vault
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

fix(backend): keep legacy upload fragments out of every read that reaches a model
  backend/openapi.json
  backend/src/models/corpus_fragment.py
  backend/src/schemas/voice_readiness.py
  backend/src/services/corpus_store.py
  backend/tests/services/test_corpus_consent.py
  backend/tests/services/test_corpus_store.py
  backend/tests/services/test_voice_readiness.py
  backend/tests/test_account_egress_barrier_llm.py
  backend/tests/test_legal_documents.py
  docs/legal/privacy-policy.md
Due: backend-tests-coverage

test(frontend): make the no-vault seeding screen prove it sends nothing
  frontend/src/features/Seed/__tests__/SeedCorpusScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): move useMountedRef to shared hooks
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/hooks/useFrequency.ts
  frontend/src/features/Practice/hooks/usePracticeStats.ts
  frontend/src/features/Practice/hooks/useWeeklyProgress.ts
  frontend/src/hooks/__tests__/useMountedRef.test.tsx
  frontend/src/hooks/useMountedRef.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): tell the user when Google refuses the sign-in redirect
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
  frontend/src/features/Auth/useGoogleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): re-arm Course mounted refs via useMountedRef
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover promoting a passage deep in a long entry on a phone
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-promote-quote-long-entry.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): adopt the shared useMountedRef across features
  frontend/src/features/Invitations/useInvitations.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/usePromoteExplainer.test.tsx
  frontend/src/features/Journal/usePromoteExplainer.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
  frontend/src/features/Return/useMettaReturn.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin drawer sweep-status copy and precedence
  frontend/src/features/Course/__tests__/CourseDrawerSearch.test.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared drawer-search scaffolding
  frontend/src/components/drawer/DrawerSearchField.tsx
  frontend/src/components/drawer/SearchSweepStatus.tsx
  frontend/src/components/drawer/__tests__/DrawerSearchField.test.tsx
  frontend/src/components/drawer/__tests__/SearchSweepStatus.test.tsx
  frontend/src/components/drawer/__tests__/useDrawerSearch.test.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/components/drawer/useDrawerSearch.ts
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Journal/JournalDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): trade native's Google code in the hook so a failed trade frees the button
  frontend/jest.config.js
  frontend/src/__mocks__/expo-auth-session-google.js
  frontend/src/__mocks__/expo-auth-session.js
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
  frontend/src/features/Auth/useGoogleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(e2e): declare the Google sign-in failure surface as an uncovered journey
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-tests

test(frontend): model the Google request loading late and pin the single trade
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Wave 30: shared drawer search and useMountedRef, Google sign-in errors surfaced, long-entry promote proven (#3027)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-promote-quote-long-entry.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/jest.config.js
  frontend/src/__mocks__/expo-auth-session-google.js
  frontend/src/__mocks__/expo-auth-session.js
  frontend/src/components/drawer/DrawerSearchField.tsx
  frontend/src/components/drawer/SearchSweepStatus.tsx
  frontend/src/components/drawer/__tests__/DrawerSearchField.test.tsx
  frontend/src/components/drawer/__tests__/SearchSweepStatus.test.tsx
  frontend/src/components/drawer/__tests__/useDrawerSearch.test.tsx
  frontend/src/components/drawer/index.ts
  frontend/src/components/drawer/useDrawerSearch.ts
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
  frontend/src/features/Auth/useGoogleAuth.ts
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/CourseDrawer.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Course/__tests__/CourseDrawerSearch.test.tsx
  frontend/src/features/Invitations/useInvitations.ts
  frontend/src/features/Journal/JournalDrawer.tsx
  frontend/src/features/Journal/__tests__/JournalDrawerSearch.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenResonanceExplainer.test.tsx
  frontend/src/features/Journal/__tests__/usePromoteExplainer.test.tsx
  frontend/src/features/Journal/usePromoteExplainer.ts
  frontend/src/features/Journal/useResonanceExplainer.ts
  frontend/src/features/Map/hooks/useBeginAgainGuard.ts
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/hooks/useFrequency.ts
  frontend/src/features/Practice/hooks/usePracticeStats.ts
  frontend/src/features/Practice/hooks/useWeeklyProgress.ts
  frontend/src/features/Return/useMettaReturn.ts
  frontend/src/features/Settings/PrivateVaultActivationScreen.tsx
  frontend/src/hooks/__tests__/useMountedRef.test.tsx
  frontend/src/hooks/useMountedRef.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover the section and course review invitations end to end
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journal-section-course-review.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use an em dash in the password-recovery copy
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/__tests__/CancelResetScreen.test.tsx
  frontend/src/features/Auth/__tests__/ResetPasswordScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): use an em dash in reset-email, contraction, export and seed copy
  backend/src/domain/contraction.py
  backend/src/domain/data_export.py
  backend/src/routers/auth.py
  backend/src/seed_practice_recipes.py
  backend/tests/domain/test_contraction.py
  backend/tests/test_data_export_manifest.py
  backend/tests/test_password_reset_email_branding.py
  backend/tests/test_seed_practice_recipes.py
Due: backend-tests-coverage

test(backend): add a forget-past-anchor arrange to the e2e program anchor
  backend/tests/e2e/program_anchor.py
  backend/tests/test_e2e_program_anchor.py
Due: backend-tests-coverage

test(e2e): cover reopening a past-cycle review and its own sources
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journal-past-cycle-review-sources.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): guard displayed strings against an ASCII double-hyphen dash
  frontend/src/__tests__/wiring/noAsciiDoubleHyphen.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): pin the course decomposition to its three named sections
  frontend/e2e/journal-section-course-review.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): pin the past cycle's close to the loop day's exact midnight
  frontend/e2e/journal-past-cycle-review-sources.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Wave 31: section, course and past-cycle reviews proven in the browser, em dashes in user copy (#3028)
  backend/src/domain/contraction.py
  backend/src/domain/data_export.py
  backend/src/routers/auth.py
  backend/src/seed_practice_recipes.py
  backend/tests/domain/test_contraction.py
  backend/tests/e2e/program_anchor.py
  backend/tests/test_data_export_manifest.py
  backend/tests/test_e2e_program_anchor.py
  backend/tests/test_password_reset_email_branding.py
  backend/tests/test_seed_practice_recipes.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/__tests__/journeyLedger.test.ts
  frontend/e2e/journal-past-cycle-review-sources.browser.e2e.test.ts
  frontend/e2e/journal-section-course-review.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/src/__tests__/wiring/noAsciiDoubleHyphen.test.ts
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/__tests__/CancelResetScreen.test.tsx
  frontend/src/features/Auth/__tests__/ResetPasswordScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

feat(backend): vendor the Complete Map CSV alongside the published surface
  backend/scripts/sync_content.py
  backend/tests/scripts/test_sync_content.py
Due: backend-tests-coverage

feat(backend): add the stage-correspondence generator, schema and supersessions
  backend/scripts/build_stage_correspondence.py
  backend/src/curriculum/stage_correspondence.schema.json
  backend/src/curriculum/stage_correspondence_supersessions.json
  backend/tests/scripts/test_build_stage_correspondence.py
Due: backend-tests-coverage

docs(adr): record the temporary Complete Map CSV vendoring in ADR 0001
  docs/adr/0001-git-content-pipeline.md
Due: none

test(backend): make the authority-traversal case reachable only by its own rule
  backend/tests/scripts/test_build_stage_correspondence.py
Due: backend-tests-coverage

chore(content): vendor the Complete Map CSV at the 9d0f896 pin
  backend/content/CONTENT_VERSION
  backend/content/curriculum/aptitude_complete_map.csv
Due: backend-tests-coverage

feat(backend): generate the stage-correspondence artifact from the vendored CSV
  .secrets.baseline
  backend/src/curriculum/stage_correspondence.json
Due: backend-tests-coverage

feat(backend): load the stage-correspondence artifact through one typed seam
  backend/src/curriculum/stage_correspondence.py
  backend/src/domain/constants.py
  backend/src/domain/stage_keys.py
  backend/tests/domain/test_stage_keys.py
  backend/tests/test_stage_correspondence_loader.py
Due: backend-tests-coverage

feat(backend): give CourseStage a stable stage_key and provenance columns
  backend/conftest.py
  backend/migrations/versions/d7f9b1c3e5a2_coursestage_stage_key_provenance.py
  backend/src/models/course_stage.py
  backend/tests/integration/test_coursestage_stage_key_migration.py
  backend/tests/integration/test_schema_provenance.py
  backend/tests/test_course_stage_key_default.py
  backend/tests/test_migration_coursestage_stage_key.py
  backend/tests/test_migration_llmusagelog_generation_key.py
Due: backend-tests-coverage

refactor(frontend): extract navigation-agnostic practice detail content
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): reconcile CourseStage from the artifact by stable stage key
  backend/src/routers/user_practices.py
  backend/src/seed_stages.py
  backend/tests/test_course_vendored_content.py
  backend/tests/test_frequency_endpoint.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_seed_practices.py
  backend/tests/test_seed_race.py
  backend/tests/test_seed_stages.py
Due: backend-tests-coverage

feat(backend): serve GET /stages/correspondence as the stable read contract
  backend/openapi.json
  backend/src/routers/stages.py
  backend/src/schemas/stage.py
  backend/tests/test_rate_limits.py
  backend/tests/test_stages_api.py
Due: backend-tests-coverage

docs(curriculum): record the artifact-sourced stage seed and its read contract
  docs/curriculum.md
Due: none

feat(frontend): open catalog practice details in place on the Practice tab
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journeys.json
  frontend/e2e/practice-catalog-details.browser.e2e.test.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeDetailSheet.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDetailSheet.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useDetailOverlay.test.tsx
  frontend/src/features/Practice/hooks/useDetailOverlay.ts
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeCatalogScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the shared Duplicate & edit prefill
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
