Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(frontend): restore the high+ audit gate with a scoped, expiring allowlist (#1976)
  .github/workflows/frontend-ci.yml
  frontend/.audit-allowlist.json
  frontend/package-lock.json
  frontend/package.json
  scripts/frontend/audit-gate.mjs
  scripts/frontend/check-all.sh
  scripts/frontend/test_audit_gate.mjs
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(frontend): gift-economy onboarding with Gumroad license-key signup (#1972)
  DEPLOYMENT.md
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/networkAndRefreshEdgeCases.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/config.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/GetStartedScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Auth/__tests__/GetStartedScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/licenseKeyValidation.test.ts
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/components/LicenseKeyField.tsx
  frontend/src/features/Auth/licenseKeyValidation.ts
  frontend/src/features/Auth/signupErrorRouting.ts
  frontend/src/features/Auth/useSignupForm.ts
  frontend/src/utils/__tests__/openExternalUrl.test.ts
  frontend/src/utils/openExternalUrl.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): credit offering_balance for Gumroad token-pack sales
  README.md
  backend/.env.example
  backend/migrations/env.py
  backend/migrations/versions/b8c9d0e1f2a3_gumroad_sale_token_pack_credit.py
  backend/src/domain/entitlements.py
  backend/src/models/gumroad_sale.py
  backend/src/models/wallet_audit.py
  backend/src/routers/auth.py
  backend/src/routers/gumroad.py
  backend/src/services/token_packs.py
  backend/src/services/wallet.py
  backend/tests/domain/test_entitlements.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
  backend/tests/routers/test_gumroad_token_pack_concurrency.py
  backend/tests/routers/test_signup_token_pack_claim.py
  backend/tests/services/test_token_packs.py
  backend/tests/services/test_wallet.py
Due: backend-tests-coverage

feat(backend): credit offering_balance for Gumroad token-pack sales (#1983)
  README.md
  backend/.env.example
  backend/migrations/env.py
  backend/migrations/versions/b8c9d0e1f2a3_gumroad_sale_token_pack_credit.py
  backend/src/domain/entitlements.py
  backend/src/models/gumroad_sale.py
  backend/src/models/wallet_audit.py
  backend/src/routers/auth.py
  backend/src/routers/gumroad.py
  backend/src/services/token_packs.py
  backend/src/services/wallet.py
  backend/tests/domain/test_entitlements.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
  backend/tests/routers/test_gumroad_token_pack_concurrency.py
  backend/tests/routers/test_signup_token_pack_claim.py
  backend/tests/services/test_token_packs.py
  backend/tests/services/test_wallet.py
Due: backend-tests-coverage

feat(backend): revoke access and claw back credits on Gumroad reversals
  backend/migrations/versions/d5e6f7a8b9c0_gumroad_sale_revocation_claim.py
  backend/src/domain/entitlements.py
  backend/src/models/gumroad_sale.py
  backend/src/models/wallet_audit.py
  backend/src/routers/gumroad.py
  backend/src/services/gumroad_revocation.py
  backend/src/services/wallet.py
  backend/tests/routers/test_gumroad_cancellation.py
  backend/tests/routers/test_gumroad_refund.py
  backend/tests/services/test_gumroad_revocation.py
Due: backend-tests-coverage

fix(backend): stop a replayed sale ping reinstating reversed access
  backend/src/routers/gumroad.py
  backend/tests/routers/test_gumroad_cancellation.py
  backend/tests/routers/test_gumroad_refund.py
Due: backend-tests-coverage

feat(backend): revoke access and claw back credits on Gumroad reversals (#1984)
  backend/migrations/versions/d5e6f7a8b9c0_gumroad_sale_revocation_claim.py
  backend/src/domain/entitlements.py
  backend/src/models/gumroad_sale.py
  backend/src/models/wallet_audit.py
  backend/src/routers/gumroad.py
  backend/src/services/gumroad_revocation.py
  backend/src/services/wallet.py
  backend/tests/routers/test_gumroad_cancellation.py
  backend/tests/routers/test_gumroad_refund.py
  backend/tests/services/test_gumroad_revocation.py
Due: backend-tests-coverage

feat(backend): add AuthIdentity model and Google OAuth sign-in endpoint
  backend/.env.example
  backend/migrations/versions/e6f7a8b9c0d1_auth_identity_table.py
  backend/src/models/__init__.py
  backend/src/models/auth_identity.py
  backend/src/routers/auth.py
  backend/src/services/oauth_google.py
  backend/src/services/oidc.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

fix(backend): bound the Google JWKS fetch and pin the verified-email guard
  backend/src/routers/auth.py
  backend/src/services/oauth_google.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

feat(backend): AuthIdentity model + POST /auth/oauth/google (#1985)
  backend/.env.example
  backend/migrations/versions/e6f7a8b9c0d1_auth_identity_table.py
  backend/src/models/__init__.py
  backend/src/models/auth_identity.py
  backend/src/routers/auth.py
  backend/src/services/oauth_google.py
  backend/src/services/oidc.py
  backend/tests/routers/test_oauth_google.py
Due: backend-tests-coverage

feat(backend): add POST /auth/oauth/apple with relay-email and first-auth-name handling
  backend/.env.example
  backend/migrations/versions/b0c1d2e3f4a5_add_user_display_name.py
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/src/routers/practice_share.py
  backend/src/services/oauth_apple.py
  backend/src/services/oauth_google.py
  backend/src/services/oidc.py
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
  backend/tests/test_practice_share.py
Due: backend-tests-coverage

feat(backend): add POST /auth/oauth/apple with relay-email and first-auth-name handling (#1988)
  backend/.env.example
  backend/migrations/versions/b0c1d2e3f4a5_add_user_display_name.py
  backend/src/models/user.py
  backend/src/routers/auth.py
  backend/src/routers/practice_share.py
  backend/src/services/oauth_apple.py
  backend/src/services/oauth_google.py
  backend/src/services/oidc.py
  backend/tests/routers/test_oauth_apple.py
  backend/tests/routers/test_oauth_google.py
  backend/tests/test_practice_share.py
Due: backend-tests-coverage

feat(frontend): add Continue with Google sign-in with inline license step
  frontend/README.md
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-auth-session-google.js
  frontend/src/__mocks__/expo-web-browser.js
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/oauthGoogle-api.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/config.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/__tests__/oauthConfig.test.ts
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/oauthConfig.ts
  frontend/src/features/Auth/useGoogleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the two Google sign-in fallback failure paths
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): Continue with Google — expo-auth-session flow with inline needs_license step (#1990)
  frontend/README.md
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-auth-session-google.js
  frontend/src/__mocks__/expo-web-browser.js
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/oauthGoogle-api.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/config.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/LoginScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/__tests__/oauthConfig.test.ts
  frontend/src/features/Auth/__tests__/useGoogleAuth.test.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/oauthConfig.ts
  frontend/src/features/Auth/useGoogleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add Continue with Apple sign-in with inline license step
  frontend/README.md
  frontend/app.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-apple-authentication.js
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/__tests__/useAppleAuth.test.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/socialFlow.ts
  frontend/src/features/Auth/useAppleAuth.ts
  frontend/src/features/Auth/useGoogleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): scope the license step to its provider and harden the flow
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/__tests__/useAppleAuth.test.tsx
  frontend/src/features/Auth/components/LicenseKeyField.tsx
  frontend/src/features/Auth/socialFlow.ts
  frontend/src/features/Auth/useAppleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): Continue with Apple (iOS) — expo-apple-authentication button in the social auth row (#1993)
  frontend/README.md
  frontend/app.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/expo-apple-authentication.js
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/features/Auth/SocialAuthButtons.tsx
  frontend/src/features/Auth/__tests__/SocialAuthButtons.test.tsx
  frontend/src/features/Auth/__tests__/useAppleAuth.test.tsx
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/components/LicenseKeyField.tsx
  frontend/src/features/Auth/socialFlow.ts
  frontend/src/features/Auth/useAppleAuth.ts
  frontend/src/features/Auth/useGoogleAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop the unbounded stage auto-refetch loop on the Map
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
  frontend/src/features/Map/__tests__/MapScreenRefetchLoop.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop the unbounded stage auto-refetch loop on the Map (#1996)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenColdStart.test.tsx
  frontend/src/features/Map/__tests__/MapScreenRefetchLoop.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): honour X-Forwarded-For only behind a trusted proxy
  backend/.env.example
  backend/src/client_ip.py
  backend/src/rate_limit.py
  backend/src/rate_limit_keys.py
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/security/test_client_ip.py
  backend/tests/security/test_password_reset_timing.py
Due: backend-tests-coverage

fix(backend): stop the runtime image forging the client address
  DEPLOYMENT.md
  backend/.env.example
  backend/Dockerfile
  backend/src/client_ip.py
  backend/src/main.py
  backend/tests/security/test_client_ip.py
  backend/tests/test_auth.py
  backend/tests/test_trusted_proxy_startup_config.py
Due: backend-tests-coverage

docs(backend): correct the stale trusted-proxy deployment guidance
  DEPLOYMENT.md
Due: none

fix(backend): honour X-Forwarded-For only behind a trusted proxy (#2001)
  DEPLOYMENT.md
  backend/.env.example
  backend/Dockerfile
  backend/src/client_ip.py
  backend/src/main.py
  backend/src/rate_limit.py
  backend/src/rate_limit_keys.py
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/security/test_client_ip.py
  backend/tests/security/test_password_reset_timing.py
  backend/tests/test_auth.py
  backend/tests/test_trusted_proxy_startup_config.py
Due: backend-tests-coverage

fix(frontend): stop the Map cold-start fetch looping on an empty success
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenRefetchLoop.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop the Map cold-start fetch looping on an empty success (#2005)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreenRefetchLoop.test.tsx
  frontend/src/features/Map/__tests__/mapTestHarness.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
  frontend/src/store/__tests__/useStageStore.test.ts
  frontend/src/store/useStageStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(ci): label Dependabot bridge issues via REST, with the real error
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/ralph-recap-tests.yml
  scripts/ralph/ensure-issue-label.sh
  scripts/ralph/test_ensure_issue_label.sh
Due: none

fix(ci): gate the bridge label on the exit code and pin the request shape
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/ensure-issue-label.sh
  scripts/ralph/test_ensure_issue_label.sh
Due: none

fix(ci): reject dot-only path segments in the --repo guard
  .github/workflows/dependabot-to-ralph-issue.yml
  scripts/ralph/ensure-issue-label.sh
  scripts/ralph/test_ensure_issue_label.sh
Due: none

fix(ci): label Dependabot bridge issues via REST, with the API's real error (#2007)
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/ralph-recap-tests.yml
  scripts/ralph/ensure-issue-label.sh
  scripts/ralph/test_ensure_issue_label.sh
Due: none

fix(backend): key throttles on the IPv6 delegated prefix, not the address
  backend/src/client_ip.py
  backend/src/rate_limit.py
  backend/src/rate_limit_keys.py
  backend/src/routers/auth.py
  backend/tests/routers/test_rate_limit_key_errors.py
  backend/tests/security/test_throttle_key.py
Due: backend-tests-coverage

docs(backend): state the prefix-keying residual and its two failure directions
  DEPLOYMENT.md
  backend/.env.example
  backend/src/client_ip.py
  backend/tests/security/test_throttle_key.py
Due: backend-tests-coverage

fix(backend): key throttles on the IPv6 delegated prefix, not the address (#2011)
  DEPLOYMENT.md
  backend/.env.example
  backend/src/client_ip.py
  backend/src/rate_limit.py
  backend/src/rate_limit_keys.py
  backend/src/routers/auth.py
  backend/tests/routers/test_rate_limit_key_errors.py
  backend/tests/security/test_throttle_key.py
Due: backend-tests-coverage

chore(agents): give security and documentation specialists Bash
  .claude/agents/README.md
  .claude/agents/documentation-specialist.md
  .claude/agents/security-specialist.md
Due: none

chore(agents): give security and documentation specialists Bash (#2012)
  .claude/agents/README.md
  .claude/agents/documentation-specialist.md
  .claude/agents/security-specialist.md
Due: none

refactor(backend): resolve X-Forwarded-Proto in app middleware, not uvicorn
  DEPLOYMENT.md
  backend/.env.example
  backend/Dockerfile
  backend/src/client_ip.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/forwarded_proto.py
  backend/src/middleware/logging.py
  backend/tests/middleware/test_forwarded_proto.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/security/test_client_ip.py
Due: backend-tests-coverage

refactor(backend): resolve X-Forwarded-Proto in app middleware, not uvicorn (#2014)
  DEPLOYMENT.md
  backend/.env.example
  backend/Dockerfile
  backend/src/client_ip.py
  backend/src/main.py
  backend/src/middleware/__init__.py
  backend/src/middleware/forwarded_proto.py
  backend/src/middleware/logging.py
  backend/tests/middleware/test_forwarded_proto.py
  backend/tests/middleware/test_middleware_stack.py
  backend/tests/security/test_client_ip.py
Due: backend-tests-coverage

feat(backend): warn at startup when IPV6_THROTTLE_PREFIX_LEN is unusable
  backend/src/client_ip.py
  backend/src/main.py
  backend/tests/test_ipv6_throttle_prefix_startup_config.py
Due: backend-tests-coverage

fix(backend): adapt lint to ruff 0.16 for the pip-patch-minor bump
  backend/conftest.py
  backend/src/errors.py
  backend/src/seed_practice_copy.py
  backend/tests/test_global_exception_handler.py
Due: backend-tests-coverage

feat(backend): warn at startup when IPV6_THROTTLE_PREFIX_LEN is unusable (#2023)
  backend/src/client_ip.py
  backend/src/main.py
  backend/tests/test_ipv6_throttle_prefix_startup_config.py
Due: backend-tests-coverage

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
