Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(practice): add Practice/Catalog top-tab switcher rendering the catalog in place (#1915)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeCatalogSwitcher.tsx
  frontend/src/features/Practice/components/PracticeDrawer.tsx
  frontend/src/features/Practice/components/__tests__/PracticeCatalogSwitcher.test.tsx
  frontend/src/features/Practice/components/__tests__/PracticeDrawer.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1907 (total 661)
  scripts/ralph/state.json
Due: none

feat(practice): fit + contrast audit for all 11 ritual flavors on the dark player
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/IntervalBellView.test.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionSurface.contrast.test.ts
  frontend/src/features/Practice/views/sessionSurface.ts
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): fit + contrast audit for all 11 ritual flavors on the dark player (#1916)
  frontend/src/features/Practice/views/CardMeditationView.tsx
  frontend/src/features/Practice/views/IntervalBellView.tsx
  frontend/src/features/Practice/views/MindfulAnchorView.tsx
  frontend/src/features/Practice/views/RitualControlsBar.tsx
  frontend/src/features/Practice/views/TarotMeditationView.tsx
  frontend/src/features/Practice/views/__tests__/CardMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/IntervalBellView.test.tsx
  frontend/src/features/Practice/views/__tests__/MindfulAnchorView.test.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
  frontend/src/features/Practice/views/__tests__/TarotMeditationView.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionSurface.contrast.test.ts
  frontend/src/features/Practice/views/sessionSurface.ts
  frontend/src/features/Practice/views/shared/index.ts
  frontend/src/features/Practice/views/shared/sessionStyles.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1908 (total 662)
  scripts/ralph/state.json
Due: none

feat(practice): render embedded Catalog tab on the light ground
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): fade the light ground into the dark player on focus
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/hooks/__tests__/useThresholdFade.test.tsx
  frontend/src/hooks/useThresholdFade.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): render embedded Catalog tab on the light ground (#1926)
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/screens/PracticeCatalogList.tsx
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1919 (total 663)
  scripts/ralph/state.json
Due: none

docs(roadmap): unblock phase-6 gumroad epic and add social-auth epic
  prompts/github-issues/README.md
  prompts/github-issues/phase-6-00-gumroad-business-setup.md
  prompts/github-issues/phase-6-epic.md
  prompts/github-issues/social-auth-01-backend-google.md
  prompts/github-issues/social-auth-02-backend-apple.md
  prompts/github-issues/social-auth-03-frontend-google.md
  prompts/github-issues/social-auth-04-frontend-apple.md
  prompts/github-issues/social-auth-epic.md
Due: none

feat(practice): fade the light ground into the dark player on focus (#1933)
  frontend/src/design/tokens.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/hooks/__tests__/useThresholdFade.test.tsx
  frontend/src/hooks/useThresholdFade.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): record completion of issue 1920 (total 664)
  scripts/ralph/state.json
Due: none

fix(backend): speak MCP streamable-HTTP in the vault client transport
  .pre-commit-config.yaml
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_client.py
Due: backend-tests-coverage

fix(backend): speak MCP streamable-HTTP in the vault client transport (#1953)
  .pre-commit-config.yaml
  backend/requirements-lock.txt
  backend/requirements.txt
  backend/src/services/creek_vault_client.py
  backend/tests/test_creek_vault_client.py
Due: backend-tests-coverage

chore(ralph): record completion of issue 1934 (total 665)
  scripts/ralph/state.json
Due: none

fix(backend): retarget vault write path to creek.journal, drop per-entry classify
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_client.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_journal_vault_write.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

fix(backend): retarget vault write path to creek.journal, drop per-entry classify (#1956)
  backend/src/domain/creek_vault.py
  backend/src/routers/journal.py
  backend/src/services/creek_vault_client.py
  backend/src/services/creek_vault_write.py
  backend/tests/test_creek_vault_client.py
  backend/tests/test_creek_vault_domain.py
  backend/tests/test_creek_vault_write.py
  backend/tests/test_journal_vault_read.py
  backend/tests/test_journal_vault_write.py
  docs/creek-vault-mcp-contract.md
Due: backend-tests-coverage

chore(ralph): record completion of issue 1935 (total 666)
  scripts/ralph/state.json
Due: none

chore(ralph): dispatch de-slop scan matrix at completion 666
  scripts/ralph/state.json
Due: none

feat(backend): add Gumroad client, ping webhook with shared-secret auth, and GumroadSale model
  README.md
  backend/.env.example
  backend/migrations/versions/d0e1f2a3b4c6_add_gumroad_sale.py
  backend/src/integrations/__init__.py
  backend/src/integrations/gumroad.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/gumroad_sale.py
  backend/src/routers/gumroad.py
  backend/src/schemas/gumroad.py
  backend/tests/integrations/__init__.py
  backend/tests/integrations/test_gumroad_client.py
  backend/tests/routers/test_gumroad_webhook.py
Due: backend-tests-coverage

fix(backend): normalize gumroad timeout errors to GumroadUnavailableError
  backend/src/integrations/gumroad.py
  backend/src/routers/gumroad.py
  backend/tests/integrations/test_gumroad_client.py
Due: backend-tests-coverage

feat(backend): add Gumroad client, ping webhook with shared-secret auth, and GumroadSale model (#1959)
  README.md
  backend/.env.example
  backend/migrations/versions/d0e1f2a3b4c6_add_gumroad_sale.py
  backend/src/integrations/__init__.py
  backend/src/integrations/gumroad.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/gumroad_sale.py
  backend/src/routers/gumroad.py
  backend/src/schemas/gumroad.py
  backend/tests/integrations/__init__.py
  backend/tests/integrations/test_gumroad_client.py
  backend/tests/routers/test_gumroad_webhook.py
Due: backend-tests-coverage

chore(ralph): record completion of issue 1941 (total 667)
  scripts/ralph/state.json
Due: none

chore(ralph): reset groom counter at completion 667
  scripts/ralph/state.json
Due: none

feat(backend): gate signup on a verified Gumroad license via course entitlement
  backend/conftest.py
  backend/migrations/versions/a6b7c8d9e0f1_add_entitlement.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/domain/entitlements.py
  backend/src/errors.py
  backend/src/models/__init__.py
  backend/src/models/entitlement.py
  backend/src/rate_limit.py
  backend/src/routers/auth.py
  backend/src/routers/gumroad.py
  backend/tests/domain/test_entitlements.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): enforce aptitude product allowlist on webhook course-access grants
  backend/src/domain/entitlements.py
  backend/src/routers/gumroad.py
  backend/tests/domain/test_entitlements.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
Due: backend-tests-coverage

fix(backend): reject refunded and charged-back gumroad licenses at signup
  backend/conftest.py
  backend/src/domain/entitlements.py
  backend/src/routers/auth.py
  backend/src/schemas/gumroad.py
  backend/tests/integrations/test_gumroad_client.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
Due: backend-tests-coverage

fix(backend): bound signup license_key length before outbound verification
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_signup_license.py
Due: backend-tests-coverage

fix(backend): unify duplicate-email race fallback with the invalid-license rejection shape
  backend/src/routers/auth.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): verify gumroad purchase flags against documented api shape and default them safe
  backend/src/domain/entitlements.py
  backend/src/schemas/gumroad.py
  backend/tests/integrations/test_gumroad_client.py
  backend/tests/routers/test_auth_signup_license.py
Due: backend-tests-coverage

chore(agents): move code-writing tiers to Opus, architect to Fable
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
  scripts/ralph/PROMPT.md
Due: none

chore(agents): move code-writing tiers to Opus, architect to Fable (#1968)
  .claude/agents/README.md
  .claude/agents/chief-architect.md
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
  scripts/ralph/PROMPT.md
Due: none

feat(backend): Entitlement model + Gumroad-license-gated signup (#1966)
  backend/conftest.py
  backend/migrations/versions/a6b7c8d9e0f1_add_entitlement.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/domain/entitlements.py
  backend/src/errors.py
  backend/src/models/__init__.py
  backend/src/models/entitlement.py
  backend/src/rate_limit.py
  backend/src/routers/auth.py
  backend/src/routers/gumroad.py
  backend/src/schemas/gumroad.py
  backend/tests/domain/test_entitlements.py
  backend/tests/integrations/test_gumroad_client.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_sale_dispatch.py
  backend/tests/test_auth.py
Due: backend-tests-coverage

fix(backend): make Gumroad config all-or-nothing so production boots unconfigured
  backend/.env.example
  backend/src/main.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_webhook.py
  backend/tests/test_gumroad_startup_config.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

chore(ralph): give Gate 1 specialists Bash, untrack loop state
  .claude/agents/README.md
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
  .gitignore
  scripts/ralph/FLEET.md
  scripts/ralph/state.example.json
  scripts/ralph/state.json
Due: none

chore(ralph): give Gate 1 specialists Bash, untrack loop state (#1970)
  .claude/agents/README.md
  .claude/agents/implementation-specialist.md
  .claude/agents/test-specialist.md
  .gitignore
  scripts/ralph/FLEET.md
  scripts/ralph/state.example.json
  scripts/ralph/state.json
Due: none

fix(backend): make Gumroad config all-or-nothing so production boots unconfigured (#1969)
  backend/.env.example
  backend/src/main.py
  backend/tests/routers/test_auth_signup_license.py
  backend/tests/routers/test_gumroad_webhook.py
  backend/tests/test_gumroad_startup_config.py
  backend/tests/test_lifespan_seeding.py
Due: backend-tests-coverage

feat(frontend): gift-economy onboarding with Gumroad license-key signup
  DEPLOYMENT.md
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/__tests__/config.test.ts
  frontend/src/__tests__/navigation/authStatusNavigator.test.tsx
  frontend/src/api/__tests__/errorMessages.test.ts
  frontend/src/api/__tests__/networkAndRefreshEdgeCases.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/config.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/features/Auth/GetStartedScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Auth/__tests__/GetStartedScreen.test.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/licenseKeyValidation.test.ts
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/components/LicenseKeyField.tsx
  frontend/src/features/Auth/licenseKeyValidation.ts
  frontend/src/features/Auth/signupErrorRouting.ts
  frontend/src/features/Auth/useSignupForm.ts
  frontend/src/utils/__tests__/openExternalUrl.test.ts
  frontend/src/utils/openExternalUrl.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): restore the high+ audit gate with a scoped, expiring allowlist
  .github/workflows/frontend-ci.yml
  frontend/.audit-allowlist.json
  frontend/package-lock.json
  frontend/package.json
  scripts/frontend/audit-gate.mjs
  scripts/frontend/check-all.sh
Due: frontend-eslint, frontend-prettier, frontend-tests

fix(frontend): make the audit gate fail closed and cover it with tests
  .github/workflows/frontend-ci.yml
  scripts/frontend/audit-gate.mjs
  scripts/frontend/test_audit_gate.mjs
Due: none
