Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix(habits): gate auto-reveal on the stage a laddered habit sits on
  backend/src/models/habit.py
  backend/src/services/habit_auto_reveal.py
  backend/tests/test_habits_api.py
Due: backend-tests-coverage

test(habits): pin the unreached ring at the wire and in the ledger
  backend/tests/test_habits_api.py
  frontend/e2e/habit-auto-reveal.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): let a habit with history be deleted (#2773)
  backend/conftest.py
  backend/openapi.json
  backend/src/models/goal.py
  backend/src/models/habit.py
  backend/src/routers/habits.py
  backend/tests/test_habits_api.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/habit-delete.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits): gate auto-reveal on the stage a laddered habit sits on (#2774)
  backend/src/models/habit.py
  backend/src/services/habit_auto_reveal.py
  backend/tests/test_habits_api.py
  frontend/e2e/habit-auto-reveal.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(e2e): cover beginning a Return from the journal entry
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-return-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): compensate a half-failed habit insert
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin the reconcile the out-of-place insert copy promises
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): cover beginning a Return from the journal entry (#2775)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-return-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): compensate a half-failed habit insert (#2776)
  frontend/e2e/journeys.json
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): stop re-asking for a letter that already came back empty
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin that a Return from Clear Light moves no stage (#1331)
  backend/tests/routers/test_metta_return.py
Due: backend-tests-coverage

test(journal): pin the essay guard's in-flight close and blank-cache paths
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): pin that a late letter cannot spring the closed modal open
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): stop re-asking for a letter that already came back empty (#2777)
  frontend/src/features/Journal/ResonanceEssayModal.tsx
  frontend/src/features/Journal/__tests__/ResonanceEssayModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(backend): pin that a Return from Clear Light moves no stage (#2778)
  backend/tests/routers/test_metta_return.py
Due: backend-tests-coverage

fix(journal): hold a trimmed page's transcription slot until its read settles
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/__tests__/useTranscriptionRun.test.tsx
  frontend/src/features/Journal/transcriptionRun.ts
  frontend/src/features/Journal/useTranscriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): press the Return habit-recovery journey in the browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-return-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/return-recover-habit.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): name the page each transcription editor belongs to
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/TranscriptionPreviewA11y.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): pin that a run a page was trimmed out of still finishes
  frontend/src/features/Journal/__tests__/useTranscriptionRun.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): press the Return habit-recovery journey end to end (#2779)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-return-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
  frontend/e2e/return-recover-habit.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): keep a trimmed page's transcription slot until its read settles (#2780)
  frontend/src/features/Journal/TranscriptionPreview.tsx
  frontend/src/features/Journal/__tests__/TranscriptionPreviewA11y.test.tsx
  frontend/src/features/Journal/__tests__/transcriptionRun.test.ts
  frontend/src/features/Journal/__tests__/useTranscriptionRun.test.tsx
  frontend/src/features/Journal/transcriptionRun.ts
  frontend/src/features/Journal/useTranscriptionRun.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): draw an in-progress mark on the shared Button while busy
  frontend/src/components/Button.tsx
  frontend/src/components/__tests__/Button.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(frontend): record that the Google button now carries the house busy mark
  frontend/src/features/Auth/components/GoogleSignInButton.tsx
  frontend/src/features/Auth/components/__tests__/GoogleSignInButton.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): let one marked prompt leave the stub for a real provider
  backend/src/main.py
  backend/src/services/botmason.py
  backend/src/services/provider_probe.py
  backend/tests/services/test_provider_probe.py
  backend/tests/test_provider_probe_startup_config.py
Due: backend-tests-coverage

test(frontend): pin the gap between the busy mark and the label it sits beside
  frontend/src/components/__tests__/Button.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): show a progress mark while the shared Button is busy (#2781)
  frontend/src/components/Button.tsx
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/features/Auth/components/GoogleSignInButton.tsx
  frontend/src/features/Auth/components/__tests__/GoogleSignInButton.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): give the lane a provider that refuses on the wire the way real ones do
  frontend/e2e/fakeLlmProvider.mjs
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/laneState.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): press a spent provider balance through the browser, both halves
  backend/tests/e2e/wallet_audit.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/journeys.json
  frontend/e2e/resonance-credit-exhausted.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(e2e): cover the spent-provider-balance refusal end to end (#2782)
  backend/src/main.py
  backend/src/services/botmason.py
  backend/src/services/provider_probe.py
  backend/tests/e2e/wallet_audit.py
  backend/tests/services/test_provider_probe.py
  backend/tests/test_provider_probe_startup_config.py
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/fakeLlmProvider.mjs
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/resonance-credit-exhausted.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

test(e2e): make the seed-into-a-vault journey reachable in the lane
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/corpus-import.e2e.test.ts
  frontend/e2e/fakeCreekVault.mjs
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/seed-upload.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): dismiss the stage picker by tapping outside the card
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
  frontend/src/features/Practice/components/__tests__/PracticeIdentityHeader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(e2e): mint the vault owner's licence key through the shared helper
  frontend/e2e/globalSetup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): dismiss the stage picker by tapping outside the card (#2783)
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
  frontend/src/features/Practice/components/__tests__/PracticeIdentityHeader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(practice): title the player with the ritual's own name
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
  frontend/src/features/Practice/components/__tests__/PracticeIdentityHeader.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(practice): describe the header's new title row on the screen
  frontend/src/features/Practice/PracticeScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): guard the active writing timer's geometry in a browser
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-writing-timer.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): make the seed-into-a-vault journey reachable in the lane (#2784)
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/README.md
  frontend/e2e/account-deletion.e2e.test.ts
  frontend/e2e/corpus-import.e2e.test.ts
  frontend/e2e/fakeCreekVault.mjs
  frontend/e2e/globalSetup.ts
  frontend/e2e/globalTeardown.ts
  frontend/e2e/journeys.json
  frontend/e2e/laneState.ts
  frontend/e2e/seed-upload.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(practice): name the one surface the catalog base name survives on
  frontend/src/features/Practice/components/PracticeIdentityHeader.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): make the timer guard's reserve and overlap checks bite
  frontend/e2e/journal-writing-timer.browser.e2e.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(journal): render lightweight markdown
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-markdown.browser.e2e.test.ts
  frontend/e2e/journeys.json
  frontend/src/features/Journal/HighlightedBody.tsx
  frontend/src/features/Journal/__tests__/HighlightedBody.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPromotions.test.tsx
  frontend/src/features/Journal/journalMarkdown.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
