Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(journal,botmason): phase 2 bug remediation — 18 fixes
  backend/src/errors.py
  backend/src/models/journal_entry.py
  backend/src/models/prompt_response.py
  backend/src/routers/botmason.py
  backend/src/routers/journal.py
  backend/src/routers/prompts.py
  backend/src/schemas/journal.py
  backend/src/services/botmason.py
  backend/src/services/chat_stream.py
  backend/src/services/wallet.py
  backend/tests/test_journal_api.py
  backend/tests/test_prompts_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(habits,practices): phase 2 bug remediation
  backend/migrations/versions/a1b2c3d4e5f6_goal_completion_unique_per_day_and_index.py
  backend/migrations/versions/b2c3d4e5f6a7_cascade_goal_habit_id.py
  backend/migrations/versions/c3d4e5f6a7b8_user_practice_active_stage_unique.py
  backend/pyproject.toml
  backend/src/domain/energy.py
  backend/src/models/goal.py
  backend/src/models/goal_completion.py
  backend/src/models/habit.py
  backend/src/models/practice.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/user_practices.py
  backend/src/schemas/habit.py
  backend/src/schemas/practice.py
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_integration.py
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/PracticeSelector.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(botmason): extract helpers to satisfy xenon complexity budget
  backend/src/services/botmason.py
Due: backend-tests-coverage

refactor(backend): reduce cyclomatic complexity in streaks module
  backend/src/services/streaks.py
Due: backend-tests-coverage

fix(journal,botmason): Phase 2 bug remediation (#217)
  backend/src/errors.py
  backend/src/models/journal_entry.py
  backend/src/models/prompt_response.py
  backend/src/routers/botmason.py
  backend/src/routers/journal.py
  backend/src/routers/prompts.py
  backend/src/schemas/journal.py
  backend/src/services/botmason.py
  backend/src/services/chat_stream.py
  backend/src/services/wallet.py
  backend/tests/test_journal_api.py
  backend/tests/test_prompts_api.py
  frontend/src/api/index.ts
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/__tests__/JournalScreen.test.tsx
  frontend/src/features/Journal/__tests__/MessageBubble.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(course,stages,goals): phase 2 bug remediation (#219)
  backend/migrations/versions/a1b2c3d4e5f6_goal_group_id_ondelete_set_null.py
  backend/migrations/versions/b2c3d4e5f6a7_goalgroup_shared_template_check.py
  backend/migrations/versions/c3d4e5f6a7b8_goal_tier_enum.py
  backend/src/domain/goals.py
  backend/src/domain/stage_progress.py
  backend/src/models/goal.py
  backend/src/models/goal_group.py
  backend/src/routers/course.py
  backend/src/routers/stages.py
  backend/src/schemas/goal.py
  backend/src/seed_content.py
  backend/src/seed_stages.py
  backend/tests/domain/test_goals.py
  backend/tests/domain/test_stage_unlock.py
  backend/tests/test_course_api.py
  backend/tests/test_stages_api.py
  frontend/src/features/Course/ContentCard.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Course/__tests__/StageSelector.test.tsx
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): deduplicate case-variant emails before creating unique index (#220)
  backend/migrations/versions/e8376b41c6a1_unique_lower_email_index.py
Due: backend-tests-coverage

fix(habits,practices): phase 2 bug remediation (#218)
  backend/migrations/versions/d4e5f6a7b8c9_goal_completion_unique_per_day_and_index.py
  backend/migrations/versions/e5f6a7b8c9d0_cascade_goal_habit_id.py
  backend/migrations/versions/f6a7b8c9d0e1_user_practice_active_stage_unique.py
  backend/pyproject.toml
  backend/src/domain/energy.py
  backend/src/models/goal.py
  backend/src/models/goal_completion.py
  backend/src/models/habit.py
  backend/src/models/practice.py
  backend/src/routers/goal_completions.py
  backend/src/routers/habits.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/user_practices.py
  backend/src/schemas/habit.py
  backend/src/schemas/practice.py
  backend/src/services/streaks.py
  backend/tests/services/test_streaks.py
  backend/tests/test_goal_completions.py
  backend/tests/test_integration.py
  frontend/src/api/index.ts
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/__tests__/HabitsIntegration.test.ts
  frontend/src/features/Habits/__tests__/OnboardingFlow.test.tsx
  frontend/src/features/Habits/__tests__/useHabits.test.ts
  frontend/src/features/Habits/services/__tests__/habitManager.test.ts
  frontend/src/features/Habits/services/habitManager.ts
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/PracticeSelector.tsx
  frontend/src/features/Practice/PracticeTimer.tsx
  frontend/src/storage/habitStorage.ts
  frontend/src/store/__tests__/storeIntegration.test.ts
  frontend/src/store/__tests__/useHabitStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(backend): dedupe case-variant emails before lowercasing
  backend/migrations/versions/e8376b41c6a1_unique_lower_email_index.py
Due: backend-tests-coverage

chore(backend): phase 3 infra sweep (23 bugs)
  .github/workflows/backend-ci.yml
  backend/conftest.py
  backend/migrations/versions/78b1620cafde_convert_datetime_columns_to_timestamptz.py
  backend/src/database.py
  backend/src/main.py
  backend/src/observability.py
  backend/src/routers/botmason.py
  backend/src/routers/course.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/habits.py
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/src/schemas/__init__.py
  backend/src/schemas/pagination.py
  backend/src/services/chat_stream.py
  backend/tests/test_cors.py
  backend/tests/test_energy_api.py
  backend/tests/test_health.py
  backend/tests/test_migrations.py
  backend/tests/test_observability.py
  backend/tests/test_pagination.py
Due: backend-tests-coverage

refactor(goal-groups): extract _refetch helper to drop complexity rank
  backend/src/routers/goal_groups.py
Due: backend-tests-coverage

fix(backend): replace raw email with hashed fingerprint in auth logs
  backend/src/routers/auth.py
Due: backend-tests-coverage

fix(backend): dedupe case-variant emails before lowercasing (#222)
  backend/migrations/versions/e8376b41c6a1_unique_lower_email_index.py
  backend/src/routers/auth.py
Due: backend-tests-coverage

fix(backend): pin goalcompletion day index to UTC for IMMUTABLE cast
  backend/migrations/versions/d4e5f6a7b8c9_goal_completion_unique_per_day_and_index.py
Due: backend-tests-coverage

fix(backend): unblock Railway deploy migrations + scrub email PII from logs (#224)
  backend/migrations/versions/d4e5f6a7b8c9_goal_completion_unique_per_day_and_index.py
Due: backend-tests-coverage

chore(backend): phase 3 infra sweep (23 bugs) (#223)
  .github/workflows/backend-ci.yml
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/78b1620cafde_convert_datetime_columns_to_timestamptz.py
  backend/migrations/versions/a8b9c0d1e2f3_align_practice_duration_and_promptresponse_unique.py
  backend/src/database.py
  backend/src/main.py
  backend/src/observability.py
  backend/src/routers/botmason.py
  backend/src/routers/course.py
  backend/src/routers/energy.py
  backend/src/routers/goal_completions.py
  backend/src/routers/goal_groups.py
  backend/src/routers/habits.py
  backend/src/routers/journal.py
  backend/src/routers/practice_sessions.py
  backend/src/routers/practices.py
  backend/src/routers/prompts.py
  backend/src/routers/stages.py
  backend/src/routers/user_practices.py
  backend/src/schemas/__init__.py
  backend/src/schemas/pagination.py
  backend/src/services/chat_stream.py
  backend/tests/test_cors.py
  backend/tests/test_energy_api.py
  backend/tests/test_health.py
  backend/tests/test_migrations.py
  backend/tests/test_observability.py
  backend/tests/test_pagination.py
Due: backend-tests-coverage

chore(frontend): phase 3 infra sweep (25 bugs)
  frontend/__tests__/api.test.ts
  frontend/eslint.config.cjs
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__mocks__/netinfo.js
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/OfflineBanner.tsx
  frontend/src/components/ToastProvider.tsx
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/NetworkStatusContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/context/__tests__/NetworkStatusContext.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/TagFilter.tsx
  frontend/src/features/Journal/WeeklyPromptBanner.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/useRouteParams.test.tsx
  frontend/src/navigation/hooks.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(frontend): phase 3 infra sweep (25 bugs) (#225)
  frontend/__tests__/api.test.ts
  frontend/eslint.config.cjs
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__mocks__/netinfo.js
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/errorMessages.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/OfflineBanner.tsx
  frontend/src/components/ToastProvider.tsx
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/NetworkStatusContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/context/__tests__/NetworkStatusContext.test.tsx
  frontend/src/design/__tests__/tokens.test.ts
  frontend/src/design/tokens.ts
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/StageSelector.tsx
  frontend/src/features/Journal/ChatInput.tsx
  frontend/src/features/Journal/JournalScreen.tsx
  frontend/src/features/Journal/MessageBubble.tsx
  frontend/src/features/Journal/SearchBar.tsx
  frontend/src/features/Journal/TagFilter.tsx
  frontend/src/features/Journal/WeeklyPromptBanner.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/navigation/BottomTabs.tsx
  frontend/src/navigation/__tests__/useRouteParams.test.tsx
  frontend/src/navigation/hooks.ts
  frontend/src/storage/habitStorage.ts
  frontend/src/storage/notificationStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): accept user_id=0 sentinel in authResponseSchema
  backend/tests/test_auth.py
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): accept user_id=0 sentinel in authResponseSchema (#226)
  backend/tests/test_auth.py
  frontend/src/api/__tests__/retryAndValidation.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

fix(auth): route auth token storage through AsyncStorage on web
  .github/workflows/backend-ci.yml
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/authStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(auth): route auth token storage through AsyncStorage on web (#227)
  .github/workflows/backend-ci.yml
  frontend/src/storage/__tests__/authStorage.test.ts
  frontend/src/storage/authStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(qa): add 2026-04-18 auth bug remediation report (19 bugs)
  prompts/2026-04-18-bug-remediation/01-auth-signup-login.md
Due: none

docs(qa): add 2026-04-18 frontend auth bug report (19 bugs)
  prompts/2026-04-18-bug-remediation/02-frontend-auth-context.md
Due: none

docs(qa): add 2026-04-18 frontend navigation bug report (14 bugs)
  prompts/2026-04-18-bug-remediation/03-frontend-navigation.md
Due: none

docs(qa): add 2026-04-18 frontend API client bug report (20 bugs)
  prompts/2026-04-18-bug-remediation/04-frontend-api-client.md
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#238)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

docs(qa): add 2026-04-18 backend app/CORS/middleware bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/05-backend-app-cors.md
Due: none

docs(qa): add 2026-04-18 backend database & migrations bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/06-backend-database-migrations.md
Due: none

chore(ci): enhance backend CI, add jest coverage thresholds, remove mutmut
  .claude/skills/mutation-testing/SKILL.md
  .claude/skills/mutation-testing/references/practical-examples.md
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  backend/pyproject.toml
  backend/requirements-dev.txt
  frontend/jest.config.js
  scripts/README.md
  scripts/backend/analyze_mutations.py
  scripts/backend/mutation.sh
  scripts/backend/test.sh
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

docs(qa): add 2026-04-18 backend models & schemas bug report (15 bugs)
  prompts/2026-04-18-bug-remediation/07-backend-models-schemas.md
Due: none

fix(ci): lower branch-coverage threshold from 85% to 80%
  .github/workflows/backend-ci.yml
Due: none

docs(qa): add 2026-04-18 backend observability & admin bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/08-backend-observability-admin.md
Due: none

docs(qa): add 2026-04-18 habits & streaks bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/09-habits-streaks.md
Due: none

docs(qa): add 2026-04-18 goals, completions & groups bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/10-goals-completions-groups.md
Due: none

chore: adopt adepthood-linters (tranche 3/5: CI, jest thresholds, drop mutmut) (#240)
  .claude/skills/mutation-testing/SKILL.md
  .claude/skills/mutation-testing/references/practical-examples.md
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  backend/pyproject.toml
  backend/requirements-dev.txt
  frontend/jest.config.js
  scripts/README.md
  scripts/backend/analyze_mutations.py
  scripts/backend/mutation.sh
  scripts/backend/test.sh
Due: frontend-eslint, frontend-prettier, frontend-tests, backend-tests-coverage

docs(qa): add 2026-04-18 practices, sessions & energy bug report (10 bugs)
  prompts/2026-04-18-bug-remediation/11-practices-sessions.md
Due: none

fix(ci): grant write permissions to Claude Code workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none
