Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(frontend): replace hollow snapshot with named style assertions (#571)
  frontend/src/features/Habits/components/__tests__/OnboardingModal.step2.test.tsx
  frontend/src/features/Habits/components/__tests__/__snapshots__/OnboardingModal.step2.test.tsx.snap
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add map refresh retry and distinct history error state
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): make MapRefreshErrorBanner take an onRetry prop (#572)
  frontend/src/features/Map/MapScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add map refresh retry and distinct history error state (#572)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/__tests__/MapRetry.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci: fail the branch-coverage step on a pytest crash
  .github/workflows/backend-ci.yml
Due: none

ci: fail the branch-coverage step on a pytest crash (#573)
  .github/workflows/backend-ci.yml
Due: none

fix(frontend): per-item Zod schemas for paginated endpoints
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy per-item schema review notes (#574)
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): per-item Zod schemas for paginated endpoints (#574)
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add error + retry states to the Course screen
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): type Course error-test mocks + cover retry-also-fails (#575)
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add error + retry states to the Course screen (#575)
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Course/__tests__/CourseErrorStates.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci: cache uv downloads across backend CI jobs
  .github/workflows/backend-ci.yml
Due: none

ci: cache uv downloads across backend CI jobs (#576)
  .github/workflows/backend-ci.yml
Due: none

fix(frontend): harden token refresh with timeout + in-flight dedupe
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): harden token refresh with timeout + in-flight dedupe (#577)
  frontend/src/api/__tests__/token-refresh.test.ts
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): gate FeatureErrorBoundary's raw error message behind __DEV__
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): correct the __DEV__-gate rationale comment (#579)
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): gate FeatureErrorBoundary's raw error message behind __DEV__ (#579)
  frontend/src/components/FeatureErrorBoundary.tsx
  frontend/src/components/__tests__/FeatureErrorBoundary.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: correct stale version/count/path/import claims across docs
  AGENTS.md
  CLAUDE.md
  README.md
  RECOVERY-RUNBOOK.md
  scripts/README.md
Due: none

docs: fix the ruff-format description accuracy (#580)
  scripts/README.md
  scripts/backend/check-all.sh
  scripts/backend/format.sh
Due: none

docs: correct stale version/count/path/import claims across docs (#580)
  AGENTS.md
  CLAUDE.md
  README.md
  RECOVERY-RUNBOOK.md
  scripts/README.md
  scripts/backend/check-all.sh
  scripts/backend/format.sh
Due: none

fix(frontend): position the toast overlay using safe-area insets
  frontend/__tests__/App.bootstrap.test.tsx
  frontend/jest.setup.js
  frontend/src/components/ToastProvider.tsx
  frontend/src/components/__tests__/ToastProvider.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/__tests__/PracticeSafeArea.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): position the toast overlay using safe-area insets (#581)
  frontend/__tests__/App.bootstrap.test.tsx
  frontend/jest.setup.js
  frontend/src/components/ToastProvider.tsx
  frontend/src/components/__tests__/ToastProvider.test.tsx
  frontend/src/features/Auth/__tests__/AppAuthFlow.test.tsx
  frontend/src/features/Practice/__tests__/PracticeSafeArea.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replace hand-rolled practice validators with Zod
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): cover create/update recipe drift; file practiceTags follow-up (#582)
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): replace hand-rolled practice validators with Zod (#582)
  frontend/src/api/__tests__/pagination-api.test.ts
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(deps): remediate frontend npm advisories to zero critical/high
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): drop needless cacache override + add CI audit gate (#584)
  .github/workflows/frontend-ci.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

chore(deps): remediate frontend npm advisories to zero critical/high (#584)
  .github/workflows/frontend-ci.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-tests

feat(frontend): add an empty state to the Habits screen
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): tidy Habits empty-state per review (#585)
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): use readable text tokens in HabitsEmptyState (#585)
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): meet 44dp touch target on the empty-state CTA (#585)
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add an empty state to the Habits screen (#585)
  frontend/src/features/Habits/HabitsScreen.tsx
  frontend/src/features/Habits/__tests__/HabitsEmptyState.test.tsx
  frontend/src/features/Habits/components/HabitsEmptyState.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): delete stale OpenAPI types.ts and its derived exports
  frontend/src/api/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): repoint index.ts off the deleted OpenAPI types
  frontend/src/api/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): delete stale OpenAPI types.ts and derived exports (#586)
  frontend/src/api/index.ts
  frontend/src/api/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): shared auth styles, keyboard handling, email canonicalization
  frontend/src/features/Auth/AuthScreenContainer.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/canonicalizeEmail.test.ts
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/canonicalizeEmail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): shared auth styles, keyboard handling, email canonicalization (#587)
  frontend/src/features/Auth/AuthScreenContainer.tsx
  frontend/src/features/Auth/CancelResetScreen.tsx
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/SignupScreen.test.tsx
  frontend/src/features/Auth/__tests__/canonicalizeEmail.test.ts
  frontend/src/features/Auth/auth.styles.ts
  frontend/src/features/Auth/canonicalizeEmail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
