Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

feat(design): dress the Markdown reader in candlelit tones
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/Course.styles.test.ts
  frontend/src/features/Course/stripFrontmatter.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(adr): record ADR 0002 — intimate-tier content routing (#1071)
  docs/adr/0002-intimate-content-local-routing.md
Due: none

test(design): cover stripLeadingTitleHeading branches + freshen reader docs (#939 review)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/stripFrontmatter.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(de-slopify): teach the detector to wire-in dead code, not only delete (#1072)
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/issue-templates.md
  .claude/skills/de-slopify/references/slop-taxonomy.md
  .github/workflows/weekly-deslop.yml
Due: none

feat(ralph): make the fleet a non-blocking worker pool
  .claude/agents/README.md
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/PROMPT.md
Due: none

docs(ralph): clarify subscription idempotency + single state commit
  .claude/commands/ralph-tick.md
Due: none

feat(frontend): render the Map center column as a rising sine-wave
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/WaveOverlay.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/waveGeometry.test.ts
  frontend/src/features/Map/waveGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ralph): make the fleet a non-blocking worker pool (#1074)
  .claude/agents/README.md
  .claude/commands/ralph-tick.md
  scripts/ralph/FLEET.md
  scripts/ralph/PROMPT.md
Due: none

feat(design): dress the Markdown reader in candlelit tones + serif eyebrow/heading hierarchy (#1073)
  frontend/src/features/Course/ChapterReader.tsx
  frontend/src/features/Course/Course.styles.ts
  frontend/src/features/Course/__tests__/ChapterReader.test.tsx
  frontend/src/features/Course/__tests__/Course.styles.test.ts
  frontend/src/features/Course/__tests__/stripFrontmatter.test.ts
  frontend/src/features/Course/stripFrontmatter.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(deslop): split weekly audit into targeted per-area matrix scans
  .github/deslop-areas.json
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/deslop.yml
Due: none

fix(ci): restore exact shell escaping in workflow scripts
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/deslop.yml
Due: none

ci(deslop): retire the superseded whole-repo weekly-deslop workflow
  .github/workflows/weekly-deslop.yml
Due: none

docs(skills): add a targeted-scan mode to de-slopify
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/issue-templates.md
Due: none

feat(frontend): render the Map center column as a rising sine-wave (#1075)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/WaveOverlay.tsx
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/waveGeometry.test.ts
  frontend/src/features/Map/waveGeometry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(ralph): dispatch de-slop scans every 30 completed merges
  .claude/commands/ralph-tick.md
  scripts/ralph/state.json
Due: none

fix(course): fail seeding loudly + pin Stage 1 vendored-content regression
  backend/src/seed_content.py
  backend/tests/test_course_vendored_content.py
  backend/tests/test_seed_content.py
  docs/content.md
Due: backend-tests-coverage

docs(map): record balance-not-altitude intent rule + rescope Map copy guards
  NORTH-STAR.md
  docs/adr/0003-balance-not-altitude-intent-rule.md
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/beginAgain.test.ts
  frontend/src/features/Map/__tests__/copyIntentRule.test.ts
  frontend/src/features/Map/__tests__/copyIntentRule.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs(map): record balance-not-altitude intent rule + rescope Map copy guards (#1079)
  NORTH-STAR.md
  docs/adr/0003-balance-not-altitude-intent-rule.md
  frontend/src/features/Map/__tests__/MapScreen.test.tsx
  frontend/src/features/Map/__tests__/beginAgain.test.ts
  frontend/src/features/Map/__tests__/copyIntentRule.test.ts
  frontend/src/features/Map/__tests__/copyIntentRule.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): add opt-in "How the Wavelength works" explainer to the Map
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
  frontend/src/features/Map/wavelengthExplainerContent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: publish adepthood's required Creek Vault MCP contract
  docs/adr/0002-intimate-content-local-routing.md
  docs/creek-vault-mcp-contract.md
Due: none

fix(course): fail seeding loudly + pin Stage 1 vendored-content regression (#1078)
  backend/src/seed_content.py
  backend/tests/test_course_vendored_content.py
  backend/tests/test_seed_content.py
  docs/content.md
Due: backend-tests-coverage

refactor(frontend): trim comment slop on the Wavelength explainer (#948 review)
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/wavelengthExplainerContent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: publish adepthood's required Creek Vault MCP contract (#1087)
  docs/adr/0002-intimate-content-local-routing.md
  docs/creek-vault-mcp-contract.md
Due: none

feat(frontend): "How the Wavelength works" explainer on the Map (#1086)
  frontend/src/features/Map/Map.styles.ts
  frontend/src/features/Map/MapScreen.tsx
  frontend/src/features/Map/WavelengthExplainer.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainer.test.tsx
  frontend/src/features/Map/__tests__/WavelengthExplainerTrigger.test.tsx
  frontend/src/features/Map/wavelengthExplainerContent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): wire ritual haptics adapter into active sessions
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.haptics.test.tsx
  frontend/src/features/Practice/engine/adapters/__tests__/haptics.test.ts
  frontend/src/features/Practice/engine/adapters/haptics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): wire ritual haptics adapter into active sessions (#1088)
  frontend/src/features/Practice/components/ActiveRitualSession.tsx
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.haptics.test.tsx
  frontend/src/features/Practice/engine/adapters/__tests__/haptics.test.ts
  frontend/src/features/Practice/engine/adapters/haptics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(deslop): split the weekly audit into targeted per-area scans with a 30-completion Ralph gate (#1080)
  .claude/commands/ralph-tick.md
  .claude/skills/de-slopify/SKILL.md
  .claude/skills/de-slopify/references/issue-templates.md
  .github/deslop-areas.json
  .github/workflows/dependabot-to-ralph-issue.yml
  .github/workflows/deslop.yml
  .github/workflows/weekly-deslop.yml
  scripts/ralph/state.json
Due: none

refactor(frontend): remove orphaned optimistic stage-advance machinery in Map
  frontend/src/features/Map/hooks/__tests__/useStageAdvance.test.tsx
  frontend/src/features/Map/hooks/useStageAdvance.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): remove orphaned optimistic stage-advance machinery in Map (#1089)
  frontend/src/features/Map/hooks/__tests__/useStageAdvance.test.tsx
  frontend/src/features/Map/hooks/useStageAdvance.ts
  frontend/src/features/Map/services/__tests__/stageService.test.ts
  frontend/src/features/Map/services/stageService.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

ci(scan): wire the autonomous maintenance pipeline tracer thread
  .claude/skills/scan-issue-writer/SKILL.md
  .claude/skills/scan-issue-writer/references/issue-body-template.md
  .github/workflows/_claude-scan.yml
  .github/workflows/scan-todo.yml
  prompts/scans/todo.md
  prompts/templates/scan-issue-body.md
  scripts/setup-scan-labels.sh
Due: none

feat(full-stack): the Return — a declinable five-week Metta arc soft landing
  backend/migrations/versions/c9d0e1f2a3b4_add_metta_return_arc.py
  backend/src/domain/metta_return.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/metta_return_arc.py
  backend/src/routers/metta_return.py
  backend/src/schemas/metta_return.py
  backend/tests/domain/test_metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
  frontend/src/features/Today/ReturnArcCard.tsx
  frontend/src/features/Today/ReturnOfferCard.tsx
  frontend/src/features/Today/TodayScreen.tsx
  frontend/src/features/Today/__tests__/ReturnArcCard.test.tsx
  frontend/src/features/Today/__tests__/ReturnOfferCard.test.tsx
  frontend/src/features/Today/__tests__/TodayScreen.test.tsx
  frontend/src/features/Today/__tests__/returnCopy.test.ts
  frontend/src/features/Today/__tests__/useMettaReturn.test.tsx
  frontend/src/features/Today/contractionSignal.ts
  frontend/src/features/Today/returnCopy.ts
  frontend/src/features/Today/useMettaReturn.ts
  frontend/src/storage/returnOfferStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): prune dead Habits style keys and re-exports
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(backend): descriptive contraction detection via a Higher Self reflection
  backend/src/domain/contraction.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/contraction.py
  backend/tests/domain/test_contraction.py
  backend/tests/routers/test_contraction_reflection.py
  backend/tests/services/test_contraction_service.py
Due: backend-tests-coverage

refactor(frontend): prune dead Habits style keys and re-exports (#1091)
  frontend/src/features/Habits/HabitUtils.ts
  frontend/src/features/Habits/Habits.styles.ts
  frontend/src/features/Habits/HabitsScreen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): make the acute-distress screen negation-aware
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage

refactor(backend): drop the FOR UPDATE lock on the read-only Return GET
  backend/src/routers/metta_return.py
  backend/tests/routers/test_metta_return.py
  frontend/src/api/__tests__/mettaReturn.test.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

refactor(frontend): drop dead unknownRecord + wire 3 response schemas
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/goalGroups-api.test.ts
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/__tests__/practiceSessions-api.test.ts
  frontend/src/api/__tests__/userPractices-api.test.ts
  frontend/src/api/__tests__/userPractices-customize.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): drop dead unknownRecord + wire 3 response schemas (#1096)
  frontend/__tests__/api.test.ts
  frontend/src/api/__tests__/goalGroups-api.test.ts
  frontend/src/api/__tests__/practiceRecipes-api.test.ts
  frontend/src/api/__tests__/practiceSessions-api.test.ts
  frontend/src/api/__tests__/userPractices-api.test.ts
  frontend/src/api/__tests__/userPractices-customize.test.ts
  frontend/src/api/index.ts
  frontend/src/api/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(backend): tighten contraction detection per PR review
  backend/src/domain/contraction.py
  backend/src/routers/journal.py
  backend/src/schemas/marginalia.py
  backend/src/services/contraction.py
  backend/tests/domain/test_contraction.py
Due: backend-tests-coverage

fix(backend): make the acute-distress screen negation-aware (#1093)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
  backend/tests/test_resonance_endpoints.py
Due: backend-tests-coverage
