Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

chore(ralph): state bump — merge #1672 (issue #1571, total 553)
  scripts/ralph/state.json
Due: none

fix(habits): reclaim the retired 49px tab-bar reserve in tile density (#1673)
  frontend/src/design/tokens.ts
  frontend/src/features/Habits/HabitTile.tsx
  frontend/src/features/Habits/__tests__/HabitTileFit.test.tsx
  frontend/src/features/Habits/__tests__/HabitsResponsive.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1673 (issue #1564, total 554)
  scripts/ralph/state.json
Due: none

chore(ralph): groom #55 reset at total 554
  scripts/ralph/state.json
Due: none

fix(storage): serialize recordRecentPractice's read-modify-write
  frontend/src/storage/__tests__/recentPracticesStorage.test.ts
  frontend/src/storage/recentPracticesStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(storage): serialize recordRecentPractice's read-modify-write (#1674)
  frontend/src/storage/__tests__/recentPracticesStorage.test.ts
  frontend/src/storage/recentPracticesStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1674 (issue #1594, total 555)
  scripts/ralph/state.json
Due: none

fix(frontend): clearApiKey returns cleared result so a failed delete shows only the storage warning
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): clearApiKey returns cleared result so a failed delete shows only the storage warning (#1676)
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/context/__tests__/ApiKeyContext.test.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1676 (issue #1665, total 556)
  scripts/ralph/state.json
Due: none

fix(storage): abort recordRecentPractice's write on a transient read
  frontend/src/storage/__tests__/recentPracticesStorage.test.ts
  frontend/src/storage/recentPracticesStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(storage): abort recordRecentPractice's write on a transient read (#1677)
  frontend/src/storage/__tests__/recentPracticesStorage.test.ts
  frontend/src/storage/recentPracticesStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(ralph): state bump — merge #1677 (issue #1675, total 557)
  scripts/ralph/state.json
Due: none

fix(backend): thread user timezone into the prompts week gate
  backend/src/routers/prompts.py
  backend/tests/test_program_gating.py
Due: backend-tests-coverage

fix(backend): thread user timezone into the prompts week gate (#1678)
  backend/src/routers/prompts.py
  backend/tests/test_program_gating.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1678 (issue #1663, total 558)
  scripts/ralph/state.json
Due: none

feat(ci): add weekly playbook-rules curation action (#1554)
  .github/workflows/weekly-playbook.yml
  CLAUDE.md
Due: none

fix(backend): allowlist course dedupe unique indexes to close migration drift
  backend/migrations/env.py
Due: backend-tests-coverage

chore(deps): ignore remaining SDK-tied packages until SDK 53
  .github/dependabot.yml
Due: none

chore(deps): ignore remaining SDK-tied packages until SDK 53 (#1686)
  .github/dependabot.yml
Due: none

chore(ralph): state bump — merge #1686 (issue #1685, total 559)
  scripts/ralph/state.json
Due: none

refactor(backend): keep seed_stages race-safe after the reconcile merge
  backend/src/seed_stages.py
  backend/tests/test_seed_race.py
Due: backend-tests-coverage

chore(ralph): state bump — merge #1679 (deps issue #1680, total 560)
  scripts/ralph/state.json
Due: none

chore(ralph): state bump — merge #1681 (deps issue #1682, total 561)
  scripts/ralph/state.json
Due: none

chore(deps): ignore react-native-screens >=4.5 and react-native-web >=0.20
  .github/dependabot.yml
Due: none

chore(deps): ignore react-native-screens >=4.5 and react-native-web >=0.20 (#1690)
  .github/dependabot.yml
Due: none

chore(ralph): state bump — merge #1690 (issue #1689, total 562)
  scripts/ralph/state.json
Due: none

chore(deps): ignore SDK-managed and toolchain-locked npm majors
  .github/dependabot.yml
Due: none

chore(ralph): state bump — merge #1691 + #1693 (deps issues #1692, #1695; total 564)
  scripts/ralph/state.json
Due: none

chore(deps): ignore SDK-managed and toolchain-locked npm majors (#1714)
  .github/dependabot.yml
Due: none

chore(ralph): state bump — merge #1714 (issue #1713, total 565)
  scripts/ralph/state.json
Due: none

fix(backend): close the multi-worker seeder race that blanked the Course screen (#1612)
  backend/conftest.py
  backend/migrations/env.py
  backend/migrations/versions/e8f9a0b1c2d3_course_stage_content_dedupe_unique.py
  backend/src/main.py
  backend/src/observability.py
  backend/src/seed_content.py
  backend/src/seed_practice_recipes.py
  backend/src/seed_stages.py
  backend/tests/test_course_body_endpoints.py
  backend/tests/test_lifespan_seeding.py
  backend/tests/test_logging_config.py
  backend/tests/test_migrations.py
  backend/tests/test_seed_race.py
  docs/content.md
Due: backend-tests-coverage

chore(ralph): state bump — merge #986 + #985 (deps issues #997, #1408; total 567)
  scripts/ralph/state.json
Due: none

chore(ralph): groom #56 reset at total 567
  scripts/ralph/state.json
Due: none

chore(ralph): state bump — merge #988 + #1694 + #1698 (deps issues #1407, #1697, #1701; total 570)
  scripts/ralph/state.json
Due: none

chore(ralph): correct state over-count — only #988 merged this round (total 568)
  scripts/ralph/state.json
Due: none

chore(deps): ignore chart-kit >=7, testing-library/react-native >=14, babel/core >=8
  .github/dependabot.yml
Due: none

chore(deps): ignore chart-kit >=7, testing-library/react-native >=14, babel/core >=8 (#1724)
  .github/dependabot.yml
Due: none

chore(ralph): state bump — merge #1724 (issue #1723, total 569)
  scripts/ralph/state.json
Due: none

chore(deps): ignore eslint >=10 until plugins support it
  .github/dependabot.yml
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
