Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=250"]
        exclude: |
          ^frontend/package-lock\.json$

  # Python format / lint / type-check
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        files: ^backend/
        args: ["--config=backend/pyproject.toml", "--fix"]
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file=backend/pyproject.toml"]
        additional_dependencies: ["types-requests", "pydantic", "sqlmodel", "fastapi", "starlette"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^backend/
        args: ["--settings-path=backend/pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]

  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt", "--ignore-vuln", "PYSEC-0000"]
        # If you use Poetry/uv instead of requirements.txt, adjust accordingly.

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # Frontend (React Native) checks using local hooks (requires Node in the environment)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        language: system
        entry: bash -lc 'cd frontend && npm run lint'
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-prettier
        name: frontend prettier (write)
        entry: bash -lc 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: frontend-tests
        name: frontend tests
        entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/
        exclude: ^frontend/(?:node_modules|dist|build|coverage)/

      - id: backend-tests-coverage
        name: backend tests (coverage required)
        language: system
        entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
        pass_filenames: false
        files: ^backend/
        stages: [pre-commit, pre-push]

      - id: commitlint
        name: commitlint (conventional commits)
        language: system
        entry: bash -lc 'npx commitlint --cwd frontend --extends @commitlint/config-conventional --edit "$1"'
        stages: [commit-msg]
        # IMPORTANT: commit-msg hooks receive the commit message path as $1
        # so do NOT set pass_filenames: false here.

fix(frontend): stop weekly-prompt title field from silently discarding edits
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop weekly-prompt title field from silently discarding edits (#1421)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): remove dead SHOWCASE_SURFACE and its obsolete migration test
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): remove dead SHOWCASE_SURFACE and its obsolete migration test (#1422)
  frontend/src/features/Practice/views/__tests__/calmSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/__tests__/sessionSurfaceMigration.test.tsx
  frontend/src/features/Practice/views/sessionSurface.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): remove unreachable assign-success banner in PracticeDetailScreen
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): remove unreachable assign-success banner in PracticeDetailScreen (#1423)
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): route TalliedGroundingForm limits through validation constants
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): route TalliedGroundingForm limits through validation constants (#1443)
  frontend/src/features/Practice/configurator/__tests__/TalliedGroundingForm.test.tsx
  frontend/src/features/Practice/configurator/forms/TalliedGroundingForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(safety): clause-scope crisis-screen negation at coordinating conjunctions
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

fix(safety): clause-scope crisis-screen negation at coordinating conjunctions (#1447)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

feat(skills): add flare skill for fast Ralph-ready bug/feature reporting
  .claude/skills/bug-squashing-methodology/SKILL.md
  .claude/skills/flare/SKILL.md
  .claude/skills/flare/references/decomposition.md
  .claude/skills/flare/references/label-guide.md
  .claude/skills/flare/references/report-template.md
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/scan-issue-writer/SKILL.md
Due: none

fix(backend): reconcile StageContent on stable content ref, not title
  backend/src/seed_content.py
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

fix(skills): align flare's readiness label with pick-next.sh's actual exclude set
  .claude/skills/flare/SKILL.md
  .claude/skills/flare/references/label-guide.md
  .claude/skills/flare/references/report-template.md
Due: none

fix(backend): reconcile StageContent on stable content ref, not title (#1452)
  backend/src/seed_content.py
  backend/tests/test_seed_content.py
Due: backend-tests-coverage

fix(journal): grow body input to fill the writing column
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): grow body input to fill the writing column (#1453)
  frontend/src/features/Journal/JournalEntry.styles.ts
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(skills): apply bare epic label alongside epic:<slug> for real exclusion
  .claude/skills/flare/SKILL.md
  .claude/skills/flare/references/decomposition.md
  .claude/skills/flare/references/label-guide.md
Due: none

skill(flare): add fast bug/feature report filing skill (#1451)
  .claude/skills/bug-squashing-methodology/SKILL.md
  .claude/skills/flare/SKILL.md
  .claude/skills/flare/references/decomposition.md
  .claude/skills/flare/references/label-guide.md
  .claude/skills/flare/references/report-template.md
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/scan-issue-writer/SKILL.md
Due: none

fix(journal): persist full body atomically on Finish and surface failures
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): persist full body atomically on Finish and surface failures (#1454)
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenFinish.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): reset CareSupportNote collapse on a fresh care pass
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): reset CareSupportNote collapse on a fresh care pass (#1455)
  frontend/src/features/Journal/CareSupportNote.tsx
  frontend/src/features/Journal/__tests__/CareSupportNote.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

chore(backend): add instrumentation to trace startup seed execution path
  backend/src/main.py
Due: backend-tests-coverage

fix(safety): inherit shared negator across or/nor coordination for denied clauses
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

fix(safety): inherit shared negator across or/nor coordination for denied clauses (#1457)
  backend/src/domain/safety.py
  backend/tests/domain/test_safety.py
Due: backend-tests-coverage

refactor(practice): extract shared loading primitives (useMountedRef, toError, LoadErrorRetry)
  frontend/src/features/Practice/components/LoadErrorRetry.tsx
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/components/__tests__/LoadErrorRetry.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useMountedRef.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/hooks/useFrequency.ts
  frontend/src/features/Practice/hooks/useMountedRef.ts
  frontend/src/features/Practice/hooks/useWeeklyProgress.ts
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
  frontend/src/features/Practice/utils/__tests__/toError.test.ts
  frontend/src/features/Practice/utils/toError.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(practice): extract shared loading primitives (useMountedRef, toError, LoadErrorRetry) (#1472)
  frontend/src/features/Practice/components/LoadErrorRetry.tsx
  frontend/src/features/Practice/components/ShareSheet.tsx
  frontend/src/features/Practice/components/__tests__/LoadErrorRetry.test.tsx
  frontend/src/features/Practice/hooks/__tests__/useMountedRef.test.tsx
  frontend/src/features/Practice/hooks/useActivePractice.ts
  frontend/src/features/Practice/hooks/useFrequency.ts
  frontend/src/features/Practice/hooks/useMountedRef.ts
  frontend/src/features/Practice/hooks/useWeeklyProgress.ts
  frontend/src/features/Practice/screens/PracticeCatalogScreen.tsx
  frontend/src/features/Practice/screens/PracticeDetailScreen.tsx
  frontend/src/features/Practice/screens/SharePreviewScreen.tsx
  frontend/src/features/Practice/utils/__tests__/toError.test.ts
  frontend/src/features/Practice/utils/toError.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(practice): pin exact behavior in coverage-theater tests
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.harvesters.test.ts
  frontend/src/features/Practice/components/__tests__/ShareSheet.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(practice): make clipboard-absence test safe when navigator is undefined
  frontend/src/features/Practice/components/__tests__/ShareSheet.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(practice): pin exact behavior in coverage-theater tests (#1473)
  frontend/src/features/Practice/components/__tests__/ActiveRitualSession.harvesters.test.ts
  frontend/src/features/Practice/components/__tests__/ShareSheet.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipeEditorModal.test.tsx
  frontend/src/features/Practice/recipes/__tests__/RecipePickerModal.test.tsx
  frontend/src/features/Practice/screens/__tests__/PracticeDetailScreen.test.tsx
  frontend/src/features/Practice/views/__tests__/RitualControlsBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): surface ApiKeyContext.loadError as a storage-health banner
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): surface ApiKeyContext.loadError as a storage-health banner (#1475)
  frontend/src/context/ApiKeyContext.tsx
  frontend/src/features/Settings/ApiKeySettingsScreen.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.integration.test.tsx
  frontend/src/features/Settings/__tests__/ApiKeySettingsScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared useAuthSubmit hook across the five Auth screens
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/useAuthSubmit.test.tsx
  frontend/src/features/Auth/useAuthSubmit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): extract shared useAuthSubmit hook across the five Auth screens (#1476)
  frontend/src/features/Auth/ForgotPasswordScreen.tsx
  frontend/src/features/Auth/LoginScreen.tsx
  frontend/src/features/Auth/ReauthSheet.tsx
  frontend/src/features/Auth/ResetPasswordScreen.tsx
  frontend/src/features/Auth/SignupScreen.tsx
  frontend/src/features/Auth/__tests__/useAuthSubmit.test.tsx
  frontend/src/features/Auth/useAuthSubmit.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(journal): assert real encryption-at-rest wiring in the ex-plaintext test
  backend/tests/models/test_journal_entry_no_encryption_flag.py
Due: backend-tests-coverage

test(journal): assert real encryption-at-rest wiring in the ex-plaintext test (#1477)
  backend/tests/models/test_journal_entry_no_encryption_flag.py
Due: backend-tests-coverage

refactor(domain): unify tz normalization on ensure_aware, drop duplicated _normalize
  backend/src/domain/metta_return.py
  backend/src/domain/program_calendar.py
  backend/tests/domain/test_metta_return.py
  backend/tests/test_program_calendar.py
Due: backend-tests-coverage

refactor(domain): unify tz normalization on ensure_aware, drop duplicated _normalize (#1478)
  backend/src/domain/metta_return.py
  backend/src/domain/program_calendar.py
  backend/tests/domain/test_metta_return.py
  backend/tests/test_program_calendar.py
Due: backend-tests-coverage

refactor(backend): collapse duplicated idempotent-seed scaffold into shared helpers
  backend/src/seed_helpers.py
  backend/src/seed_practice_recipes.py
  backend/src/seed_practices.py
  backend/src/seed_stages.py
  backend/tests/test_seed_helpers.py
  backend/tests/test_seed_practice_recipes.py
Due: backend-tests-coverage

refactor(backend): collapse duplicated idempotent-seed scaffold into shared helpers (#1479)
  backend/src/seed_helpers.py
  backend/src/seed_practice_recipes.py
  backend/src/seed_practices.py
  backend/src/seed_stages.py
  backend/tests/test_seed_helpers.py
  backend/tests/test_seed_practice_recipes.py
Due: backend-tests-coverage
