Repository Geoffe-Ga/adepthood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests, backend-tests-coverage

frontend-eslint:
  name: frontend eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

frontend-prettier:
  name: frontend prettier (write)
  entry: bash -lc 'cd frontend && npx prettier --write .'
  language: system

frontend-typecheck:
  name: frontend typecheck
  entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -lc 'cd frontend && npx jest --passWithNoTests'
  language: system
  pass_filenames: false

backend-tests-coverage:
  name: backend tests (coverage required)
  language: system
  entry: bash -c 'cd backend && pytest --cov=. --cov-report=term-missing --cov-fail-under=90'
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test(backend): prove the daily ceiling counts after the row lock on Postgres
  backend/tests/integration/test_generation_daily_ceiling_race.py
  backend/tests/services/test_generation_daily_ceiling.py
Due: backend-tests-coverage

test(backend): exercise the minute refusal that lands after payment
  backend/tests/routers/test_generation_guardrails_api.py
Due: backend-tests-coverage

feat(backend): log essay cache hits with their barrier stage
  backend/src/routers/journal.py
  backend/tests/helpers/log_lines.py
  backend/tests/test_generation_observability_logs.py
Due: backend-tests-coverage

feat(backend): log each landed wallet refund with reason and bucket
  backend/src/services/wallet.py
  backend/tests/services/test_wallet_refund_log.py
Due: backend-tests-coverage

fix(journal): re-read the intimate floor under the detect route's hold
  backend/src/routers/journal.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

feat(backend): add generation key, usage summary and settlement line helpers
  backend/src/services/llm_usage.py
  backend/tests/services/test_generation_settlement.py
Due: backend-tests-coverage

test(architecture): assert the detect route holds no connection across its dial
  backend/tests/architecture/pool_hold_census.py
Due: backend-tests-coverage

feat(backend): key llmusagelog rows by generation and charged flag
  backend/migrations/versions/c4e6a8b0d2f1_llmusagelog_generation_key.py
  backend/src/models/llm_usage_log.py
  backend/tests/test_migration_llmusagelog_generation_key.py
Due: backend-tests-coverage

feat(backend): log one settlement line per resonance, essay and transcription
  backend/src/routers/journal.py
  backend/src/routers/transcription.py
  backend/src/services/llm_usage.py
  backend/tests/test_generation_settlement_lines.py
Due: backend-tests-coverage

test(journal): pin the detect route's pre-hold intimate check as a fast path
  backend/tests/test_completion_detection_endpoint.py
Due: backend-tests-coverage

feat(backend): add the p95 charged-generation cost metric and its warning
  backend/openapi.json
  backend/src/domain/generation_cost.py
  backend/src/routers/admin.py
  backend/src/schemas/admin.py
  backend/src/services/llm_cost_alerts.py
  backend/tests/domain/test_generation_cost.py
  backend/tests/test_admin_generation_cost.py
Due: backend-tests-coverage

docs(prompts): record PR3 delivery and the net-receipts alert gap
  prompts/claude-comms/2026-09-05-resonance-economy-decision.md
Due: none

fix(journal): keep the detect route's pre-hold empty-body 422
  backend/openapi.json
  backend/src/routers/journal.py
Due: backend-tests-coverage

fix(backend): keep usage summary at A complexity and pin the new admin path
  backend/src/services/llm_usage.py
  backend/tests/test_rate_limits.py
Due: backend-tests-coverage

test(backend): pin the p95 window's closed edge, re: #623
  backend/src/services/llm_cost_alerts.py
  backend/tests/test_admin_generation_cost.py
Due: backend-tests-coverage

test(backend): pin the vault care escalation's settlement line, re: #623
  backend/tests/test_generation_settlement_lines.py
Due: backend-tests-coverage

fix(backend): log a refund only after its commit lands, re: #623
  backend/src/routers/journal.py
  backend/src/services/wallet.py
  backend/tests/services/test_wallet.py
  backend/tests/services/test_wallet_refund_log.py
  backend/tests/test_generation_settlement_lines.py
  prompts/claude-comms/2026-09-05-resonance-economy-decision.md
Due: backend-tests-coverage

fix(frontend): hide decorative and leaving UI from web screen readers
  frontend/src/components/__tests__/a11yHidden.test.ts
  frontend/src/components/a11yHidden.ts
  frontend/src/components/feedback/EmptyState.tsx
  frontend/src/components/feedback/__tests__/EmptyState.test.tsx
  frontend/src/features/Auth/components/GoogleSignInButton.tsx
  frontend/src/features/Auth/components/__tests__/GoogleSignInButton.test.tsx
  frontend/src/features/Course/ContentViewer.tsx
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
  frontend/src/features/Feedback/SendFeedbackButton.tsx
  frontend/src/features/Feedback/__tests__/feedbackControls.test.tsx
  frontend/src/features/Habits/components/ReorderHabitsModal.tsx
  frontend/src/features/Habits/components/__tests__/ReorderHabitsModal.test.tsx
  frontend/src/features/Journal/GetResonanceButton.tsx
  frontend/src/features/Journal/QuoteRow.tsx
  frontend/src/features/Journal/WritingTimer.tsx
  frontend/src/features/Journal/__tests__/GetResonanceButton.test.tsx
  frontend/src/features/Journal/__tests__/QuoteRow.test.tsx
  frontend/src/features/Journal/__tests__/WritingTimer.test.tsx
  frontend/src/features/Practice/PracticeScreen.tsx
  frontend/src/features/Practice/__tests__/PracticeScreen.test.tsx
  frontend/src/features/Practice/components/ModeIcon.tsx
  frontend/src/features/Practice/components/__tests__/ModeIcon.test.tsx
  frontend/src/features/Welcome/WelcomeScreen.tsx
  frontend/src/features/Welcome/__tests__/WelcomeScreen.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): stop accessible={false} reaching the DOM on decorative glyphs
  frontend/src/components/drawer/DrawerToggle.tsx
  frontend/src/components/drawer/__tests__/DrawerToggle.test.tsx
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/JournalShelfScreen.tsx
  frontend/src/features/Journal/MarkdownFormatToolbar.tsx
  frontend/src/features/Journal/ReflectionDismiss.tsx
  frontend/src/features/Journal/ReflectionSourcesPanel.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreen.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenClose.test.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenReflection.test.tsx
  frontend/src/features/Journal/__tests__/JournalShelfStagePrompts.test.tsx
  frontend/src/features/Journal/__tests__/MarkdownFormatToolbar.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionDismiss.test.tsx
  frontend/src/features/Journal/__tests__/ReflectionSourcesPanel.test.tsx
  frontend/src/features/Journal/__tests__/VoiceReadinessBand.test.tsx
  frontend/src/features/Map/WaveOverlay.tsx
  frontend/src/features/Map/__tests__/WaveOverlay.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): guard that hiding has one spelling and leaks nothing to a web svg
  frontend/src/__tests__/wiring/decorativeHiddenGuard.test.ts
  frontend/src/design/DESIGN.md
  frontend/src/features/Course/CourseScreen.tsx
  frontend/src/features/Journal/LiveMarkdownMirror.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(frontend): pin decorative glyphs aria-hidden and DOM-clean in the browser
  frontend/e2e/journal-corpus-drawer.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(backend): refuse unreached-cycle reflection scopes in the guard
  backend/src/routers/reflections.py
  backend/tests/test_reflections_api.py
  backend/tests/test_reflections_window.py
Due: backend-tests-coverage

test(frontend): pin the course footer's keyboard reach in both states
  frontend/src/features/Course/__tests__/ContentViewer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(journal): dial the resonance pass's body from the row re-read under the hold
  backend/src/routers/journal.py
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

test(backend): pin the settlement lines of the in-hold blank-body refund
  backend/tests/test_account_egress_barrier_llm.py
Due: backend-tests-coverage

docs(backend): name the raw care screen in the intimate fast path a deliberate departure
  backend/src/routers/journal.py
Due: backend-tests-coverage

fix(frontend): re-measure the body field after a value written from React
  frontend/src/features/Journal/LiveMarkdownBody.tsx
  frontend/src/features/Journal/__tests__/LiveMarkdownBody.test.tsx
  frontend/src/features/Journal/__tests__/useGrowingFieldHeight.test.ts
  frontend/src/features/Journal/__tests__/webFieldMeasure.test.ts
  frontend/src/features/Journal/useGrowingFieldHeight.ts
  frontend/src/features/Journal/webFieldMeasure.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): set the morning-pages tip aside for today only
  frontend/src/features/Journal/JournalPrimaryInvitation.tsx
  frontend/src/features/Journal/MorningPagesTip.tsx
  frontend/src/features/Journal/__tests__/JournalPrimaryInvitation.test.tsx
  frontend/src/features/Journal/__tests__/MorningPagesTip.test.tsx
  frontend/src/features/Journal/__tests__/morningPagesCopy.test.ts
  frontend/src/features/Journal/morningPagesCopy.ts
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/morningPagesTipStorage.ts
  frontend/src/storage/resonanceExplainerStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): re-measure the entry title after a load or merge sets it
  frontend/src/features/Journal/JournalEntryScreen.tsx
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): offer morning pages again from Settings → Journal
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/__tests__/JournalSection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): folded quotes stay inside the body frame at phone width
  frontend/e2e/journal-fold-selected-promoted-quotes.browser.e2e.test.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

test(e2e): pin the morning-pages set-aside day and never-offer restore
  frontend/__tests__/e2eLaneGuard.test.ts
  frontend/e2e/journal-morning-pages-dismiss.browser.e2e.test.ts
  frontend/e2e/journal-morning-pages-never-offer.browser.e2e.test.ts
  frontend/e2e/journal-short-habit-offer.browser.e2e.test.ts
  frontend/e2e/journalHabitsBrowserSupport.ts
  frontend/e2e/journeys.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

refactor(frontend): make every clause of the growth measure load-bearing
  frontend/src/features/Journal/__tests__/JournalEntryScreenPhotograph.test.tsx
  frontend/src/features/Journal/useGrowingFieldHeight.ts
  frontend/src/features/Journal/webFieldMeasure.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): say what saying yes to sorting gives, bounded by the grounding code
  frontend/src/features/Settings/__tests__/higherSelfCopy.test.ts
  frontend/src/features/Settings/higherSelfCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): show what saying yes gives on corpus consent and its invitation
  frontend/src/features/Journal/CorpusInvitationNote.tsx
  frontend/src/features/Journal/__tests__/CorpusInvitationNote.test.tsx
  frontend/src/features/Settings/CorpusConsentScreen.tsx
  frontend/src/features/Settings/__tests__/CorpusConsentScreen.test.tsx
  frontend/src/features/Settings/__tests__/corpusConsentCopy.test.ts
  frontend/src/features/Settings/corpusConsentCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

fix(frontend): keep a morning-pages restore from being undone or lost
  frontend/src/features/Settings/JournalSection.tsx
  frontend/src/features/Settings/__tests__/JournalSection.test.tsx
  frontend/src/storage/__tests__/morningPagesTipStorage.test.ts
  frontend/src/storage/morningPagesTipStorage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

feat(frontend): name the vault plainly and move it into Your corpus
  frontend/src/features/Settings/SettingsHubScreen.tsx
  frontend/src/features/Settings/__tests__/SettingsHubScreen.test.tsx
  frontend/src/features/Settings/__tests__/vaultCopy.test.ts
  frontend/src/features/Settings/vaultCopy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

docs: say what a vault is, how to run one, and that it is not the sorting yes
  docs/your-data.md
  frontend/src/features/Settings/__tests__/vaultLinks.test.ts
  frontend/src/features/Settings/vaultLinks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-tests

Path conditions:
  frontend-eslint: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md|ya?ml)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/|^frontend/(?:tsconfig\.json|package-lock\.json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  frontend-tests: any of: ^frontend/, but not: ^frontend/(?:node_modules|dist|build|coverage)/
  backend-tests-coverage: any of: ^backend/
